Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add cooldown
  package.json
Due: none

Remove individual scripts
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Allow own packages to skip package cooldown window
  .github/workflows/format-code.yml
  .github/workflows/unit-tests.yml
Due: none

Tranche1 switch off (#2280)
  scripts/rollout/prep/20260928/1.sql
  sonar-project.properties
Due: none

Bump ncu
  package-lock.json
  package.json
Due: none

Allow own packages to skip package cooldown window (#2283)
  .github/workflows/format-code.yml
  .github/workflows/unit-tests.yml
Due: none

Remove unneeded node version check
  .github/workflows/update-npm-deps.yml
Due: none

Move status check to the end
  .github/workflows/update-npm-deps.yml
Due: none

Pin eslint plugins
  .ncurc.js
Due: none

Made ncurc files consistent and removed redundant options
  .ncurc.js
  packages/cli/.ncurc.js
  packages/ui/.ncurc.js
  packages/user-service/.ncurc.js
Due: ui-changes, user-service-changes

Pin typescript
  .ncurc.js
Due: none

Update npm dependencies
  package-lock.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Correct version nos
  .github/workflows/unit-tests.yml
Due: none

Correct version no
  .github/workflows/unit-tests.yml
Due: none

Ignore eclipse-temurin
  .github/dependabot.yml
Due: none

Remove whitespace
  .github/dependabot.yml
Due: none

Ignore major JDK version bumps (#2285)
  .github/dependabot.yml
Due: none

BICAWS7-4163 - Remove ncu duplication (#2284)
  .github/workflows/update-npm-deps.yml
  .ncurc.js
  package-lock.json
  package.json
  packages/api/package.json
  packages/cli/.ncurc.js
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/.ncurc.js
  packages/ui/package.json
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Updated has-run
  scripts/rollout/has-run/20260928/1.sql
Due: none

Updated has-run (#2288)
  scripts/rollout/has-run/20260928/1.sql
Due: none

Update npm dependencies
  package-lock.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Match the correct offence to resolve offence matching exception for test 130
  packages/e2e-test/features/130-matching-start-end-dates/test.feature
Due: e2e-test-changes

Improve case summary script
  packages/cli/commands/case-summary/generateCaseSummary.ts
  packages/cli/commands/case-summary/mappers/mapAddDisposalResults.ts
  packages/cli/commands/case-summary/mappers/mapOffence.ts
  packages/cli/commands/case-summary/mappers/mapQuery.ts
  packages/cli/commands/case-summary/mappers/mapRemand.ts
  packages/cli/commands/case-summary/mappers/mapSpi.ts
  packages/cli/commands/case-summary/mappers/mapSubsequentDisposalResults.ts
Due: none

Exclude roles tests to run against real leds API
  packages/e2e-test/features/roles/general-handler.feature
  packages/e2e-test/features/roles/supervisor.feature
  packages/e2e-test/features/roles/trigger-handler.feature
Due: e2e-test-changes

Add message number
  packages/cli/commands/case-summary/generateCaseSummary.ts
Due: none

Update to support PTIURN
  packages/cli/commands/case-summary/generateCaseSummary.ts
  packages/cli/commands/case-summary/index.ts
Due: none

Improve case summary script (#2291)
  packages/cli/commands/case-summary/generateCaseSummary.ts
  packages/cli/commands/case-summary/index.ts
  packages/cli/commands/case-summary/mappers/mapAddDisposalResults.ts
  packages/cli/commands/case-summary/mappers/mapOffence.ts
  packages/cli/commands/case-summary/mappers/mapQuery.ts
  packages/cli/commands/case-summary/mappers/mapRemand.ts
  packages/cli/commands/case-summary/mappers/mapSpi.ts
  packages/cli/commands/case-summary/mappers/mapSubsequentDisposalResults.ts
Due: none

Add a step to match relevant offence when offence matching exception is raised
  packages/e2e-test/features/130-matching-start-end-dates/test.feature
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
Due: e2e-test-changes

Pin cypress to v15
  packages/ui/.ncurc.js
  packages/user-service/.ncurc.js
Due: ui-changes, user-service-changes

Revert cypress to v15
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Regen package-lock.json
  package-lock.json
Due: none

Revert and pin cypres eslint plugin
  .ncurc.js
  package-lock.json
  package.json
Due: none

Pin cypress eslint plugin
  package-lock.json
  package.json
Due: none

Upgrade axios
  packages/nginx-auth-proxy/test/package-lock.json
  packages/nginx-auth-proxy/test/package.json
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#2281)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#2297)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
