Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Rename e2e test
  packages/api/src/useCases/cases/fetchCasesAndFiltersTests/filters/reasonAndResolutionStatus.e2e.test.ts
Due: api-changes

Remove TODO
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
Due: api-changes

Rename variable to make it more readable
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
Due: api-changes

Refactor tests to be next to implementation
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCaseAges.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/allocatedUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/asn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/caseAge.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtDate.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/pagination.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/ptiurn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedByUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedCaseDateRange.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/visibleCourtCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtDateOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/defendantNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ordering.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ptiurnOrder.e2e.test.ts
Due: api-changes

Add API ENV variables to UI
  packages/ui/src/config.ts
  packages/ui/src/services/api/canUseEndpoint.ts
Due: none

Switch to NGINX/supervisord base image (#1358)
  environment/docker-compose.yml
  packages/api/Dockerfile
  packages/api/docker/conf/nginx.conf
  packages/api/docker/conf/supervisord.conf
  packages/api/files/openssl.cnf
  packages/ui/src/config.ts
  scripts/build-api-docker.sh
Due: env-changes, api-changes

Fix sidebar tabs not being keyboard accessible (#1365)
  package-lock.json
  packages/ui/cypress/e2e/case-details/view-case-details/sidebar-tabs.cy.ts
  packages/ui/cypress/support/e2e.ts
  packages/ui/cypress/support/helpers.ts
  packages/ui/package.json
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Enable API image build in buildspec
  buildspec.yml
Due: none

Add API ENV variables to UI (#1372)
  packages/ui/src/config.ts
  packages/ui/src/services/api/canUseEndpoint.ts
Due: none

Fix double focus on link buttons
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/exception-permissions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/manually-resolve-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/redirect-when-resolve-triggers-and-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-headers.cy.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
  packages/ui/cypress/support/helpers.ts
  packages/ui/src/components/Buttons/LinkButton.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: e2e-test-changes

Build api-docker image at the end
  buildspec.yml
Due: none

Fix double focus on link buttons (#1369)
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/exception-permissions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/manually-resolve-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/redirect-when-resolve-triggers-and-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-headers.cy.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
  packages/ui/cypress/support/helpers.ts
  packages/ui/src/components/Buttons/LinkButton.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: e2e-test-changes

Modify conditions to run cypress and cucumber tests
  .circleci/continue_config.yml
Due: circleci-changes

Add getShortAsn method
  packages/common/utils/getShortAsn.test.ts
  packages/common/utils/getShortAsn.ts
Due: common-changes

Update e2e tests to check for correctly formatted ASN
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: none

Use getShortAsn when rendering the asn
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
Due: none

Refactor ASN handling in EditableFieldTableRow and AsnField components
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

API Refactor filters (#1371)
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCaseAges.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/allocatedUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/allocatedUsername.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/asn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/asn.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/caseAge.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtDate.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtDate.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/exceptionsAndTriggers.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/excludedTriggersAndStatusSql.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/filterByResolvedByUsername.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/generateFilters.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/pagination.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/ptiurn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/ptiurn.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedByUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedByUsername.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedCaseDateRange.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedCaseDateRange.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/visibleCourtCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtDateOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/defendantNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ordering.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ptiurnOrder.e2e.test.ts
Due: api-changes

wip wip wip
  .gitignore
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  scripts/analytics/pnc-errors-report/analyse.ts
  scripts/analytics/pnc-errors-report/getPncResponseReceivedEvents.ts
  scripts/analytics/pnc-errors-report/index.ts
Due: api-changes

Add migration for triggers and notes tables replica identity
  environment/postgres/liquibase/migrations/base/036_notes_and_triggers_replica_identity.sql
Due: env-changes

Update standing data dependency (#1375)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Refactor API querystring so the UI can reuse this
  packages/api/src/routes/v1/cases/getCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/checkPermissions.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ordering.ts
  packages/api/src/types/CaseIndexQuerystring.ts
  packages/api/src/useCases/cases/fetchCasesAndFilter.ts
  packages/common/types/ApiCaseQuerystring.ts
Due: api-changes, common-changes

Swap build-api-docker command position to verify doesnt throw error for not able to find ui image
  buildspec.yml
Due: none

Test
  buildspec.yml
Due: none

Add spinner for Case Details
  packages/ui/src/components/Loading.styles.tsx
  packages/ui/src/components/Loading.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: none

Remove conditions
  .circleci/continue_config.yml
Due: circleci-changes

Enable API image build in core buildspec (#1373)
  .circleci/continue_config.yml
  buildspec.yml
Due: circleci-changes

Fix e2e tests by correcting imports
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/allocatedUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/asn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/caseAge.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtDate.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/pagination.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/ptiurn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedByUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedCaseDateRange.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/visibleCourtCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtDateOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/defendantNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ptiurnOrder.e2e.test.ts
Due: api-changes

Fix more tests
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCaseAges.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchTriggers.e2e.test.ts
Due: api-changes

Rename apiQueryString
  packages/api/src/routes/v1/cases/getCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/allocatedUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/asn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/caseAge.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/checkPermissions.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtDate.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/pagination.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/ptiurn.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedByUsername.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/resolvedCaseDateRange.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/visibleCourtCodes.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtDateOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/courtNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/defendantNameOrder.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ordering.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/order/ptiurnOrder.e2e.test.ts
  packages/api/src/types/CaseIndexQuerystring.ts
  packages/api/src/useCases/cases/fetchCasesAndFilter.ts
  packages/common/types/ApiCaseQuery.ts
Due: api-changes, common-changes

Fix ASN with slashes transferred from Common Platform in to the UI (#1368)
  packages/common/utils/getShortAsn.test.ts
  packages/common/utils/getShortAsn.ts
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
Due: common-changes

Update standing data dependency (#1382)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Add spinner for Case Details (#1380)
  packages/ui/src/components/Loading.styles.tsx
  packages/ui/src/components/Loading.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: none

Update Goss test for API
  packages/api/goss.yaml
  scripts/build-api-docker.sh
Due: api-changes

Update Goss test for API (#1383)
  packages/api/goss.yaml
  scripts/build-api-docker.sh
Due: api-changes

Fix goss for AWS
  packages/api/goss.yaml
Due: api-changes
