Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add User Performance Report to UI
  packages/common/types/reports/ReportType.ts
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/ReportTableRow.cy.tsx
  packages/ui/cypress/component/reports/Totals.cy.tsx
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/ReportTableBody.tsx
  packages/ui/src/components/Reports/ReportTableRow.tsx
  packages/ui/src/components/Reports/Totals.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/api/reports/index.ts
  packages/ui/src/services/api/BichardV1Report.test.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/utils/ensureString.test.ts
  packages/ui/src/services/reports/utils/ensureString.ts
  packages/ui/src/services/reports/utils/formatGroupName.test.ts
  packages/ui/src/services/reports/utils/formatGroupName.ts
  packages/ui/src/services/reports/utils/isReportType.test.ts
  packages/ui/src/services/reports/utils/isReportType.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: common-changes, ui-changes

Add User Performance Summary to UI (#1975)
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.ts
  packages/common/types/reports/ReportType.ts
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/ReportTableRow.cy.tsx
  packages/ui/cypress/component/reports/Totals.cy.tsx
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/ReportTableBody.tsx
  packages/ui/src/components/Reports/ReportTableRow.tsx
  packages/ui/src/components/Reports/Totals.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/api/reports/index.ts
  packages/ui/src/services/api/BichardV1Report.test.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/utils/ensureString.test.ts
  packages/ui/src/services/reports/utils/ensureString.ts
  packages/ui/src/services/reports/utils/formatGroupName.test.ts
  packages/ui/src/services/reports/utils/formatGroupName.ts
  packages/ui/src/services/reports/utils/isReportType.test.ts
  packages/ui/src/services/reports/utils/isReportType.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Remove temporary shimps (previously required for xml migration)
  packages/core/schemas/leds/asnQueryResponse.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertPncXmlToJson.ts
Due: core-changes, e2e-test-changes

Add asn conversion to leds format
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAsnQueryResponseMockJsonToLeds.ts
Due: e2e-test-changes

Add acpoOffenceCode to mockOffenceSchema
  packages/e2e-test/types/MockAsnQueryResponse.ts
Due: e2e-test-changes

Updated audit log to allow for XLSX files
  packages/ui/src/pages/api/reports/log.ts
  packages/ui/src/services/reports/auditLogCsvDownload.ts
  packages/ui/src/services/reports/auditLogFileDownload.integration.test.ts
  packages/ui/src/services/reports/auditLogFileDownload.ts
Due: ui-changes

Capitalise test name
  packages/ui/src/services/reports/auditLogFileDownload.integration.test.ts
Due: ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Refactor the Schemas/Types
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.unit.test.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.unit.test.ts
  packages/common/types/reports/UserPerformanceDetail.ts
Due: api-changes, common-changes

Match types from API
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/ReportTable.cy.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/createReportCsv.test.ts
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Typo
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
Due: ui-changes

Added test utils function to get data from dynamo db
  packages/ui/src/services/reports/auditLogFileDownload.integration.test.ts
  packages/ui/test/utils/getFromDynamoTable.ts
Due: ui-changes

User Performance Details Report match types for API and UI (#1978)
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.unit.test.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.unit.test.ts
  packages/common/types/reports/UserPerformanceDetail.ts
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/ReportTable.cy.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/createReportCsv.test.ts
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Add missing satisfies on ReportConfig
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.ts
  packages/api/src/useCases/cases/reports/usersSummary/processUserPerformanceSummaryReport.ts
  packages/common/types/reports/UserPerformanceSummary.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Add missing satisfies on ReportConfig (#1979)
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.ts
  packages/api/src/useCases/cases/reports/usersSummary/processUserPerformanceSummaryReport.ts
  packages/common/types/reports/UserPerformanceSummary.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Add personId, reportId and courtcaseId dynamically
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAsnQueryResponseMockJsonToLeds.ts
Due: e2e-test-changes

Refactor Users in Cypress e2e tests
  packages/ui/cypress.config.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/cypress/e2e/reports/utils.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
Due: ui-changes

Refactor Users in Cypress e2e tests (#1981)
  packages/ui/cypress.config.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/cypress/e2e/reports/utils.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
Due: ui-changes

Bicaws7 4178 UI automated reports- added automation rate and top exceptions (#1965)
  packages/common/types/reports/AutomatedReportType.ts
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/e2e/reports/automation-rate.cy.ts
  packages/ui/cypress/e2e/reports/top-exceptions.cy.ts
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/SelectReportDropdown.tsx
  packages/ui/src/features/ReportSelectionFilter/reducers/filters.ts
  packages/ui/src/pages/api/reports/log.ts
  packages/ui/src/services/reports/auditLogCsvDownload.integration.test.ts
  packages/ui/src/services/reports/auditLogCsvDownload.ts
  packages/ui/src/services/reports/auditLogFileDownload.integration.test.ts
  packages/ui/src/services/reports/auditLogFileDownload.ts
  packages/ui/src/services/reports/utils/xlsxFilename.test.ts
  packages/ui/src/services/reports/utils/xlsxFilename.ts
  packages/ui/src/types/reports/ReportSelectionFilter.ts
  packages/ui/test/utils/getFromDynamoTable.ts
Due: common-changes, ui-changes

Add a new constant
  packages/e2e-test/utils/constants.ts
Due: e2e-test-changes

Initial setup of nested table
  packages/common/types/reports/ReportType.ts
  packages/common/types/reports/UserPerformanceDetail.ts
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/services/reports/utils/formatGroupName.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: common-changes, ui-changes

Add ACH_APCO_OFFENCE_CODE_FIELD_LENGTH and fix typo
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/achSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cchSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
Due: e2e-test-changes

Modify personUrn while mapping to pncIdentifier to match pnc format
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
Due: e2e-test-changes

Finished nested table logic
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Refactor
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Allow reports date range to back 12 months
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/src/components/CustomDateInput/DateInput.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/utils/reports/dateRange.test.ts
  packages/ui/src/utils/reports/dateRange.ts
  packages/ui/src/utils/reports/validateDateField.test.ts
  packages/ui/src/utils/reports/validateDateField.ts
  packages/ui/src/utils/reports/validateDateRange.test.ts
  packages/ui/src/utils/reports/validateDateRange.ts
  packages/ui/src/utils/reports/validationMessages.ts
Due: ui-changes

Add PCR segment
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXE01.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/pcrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertPncXmlToJson.ts
Due: e2e-test-changes

Add penaltyCaseRefNo to the schema and update mock-response
  packages/e2e-test/features/080-fixed-penalty-notice/mock-pnc-responses.ts
  packages/e2e-test/types/MockAsnQueryResponse.ts
Due: e2e-test-changes

Fix acpoOffenceCode mapping
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
Due: e2e-test-changes

Add penaltyCaseRefNo to the mock-response
  packages/e2e-test/features/234-manual-handling-incompatible-types/mock-pnc-responses.ts
Due: e2e-test-changes

Remove comments
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertPncXmlToJson.ts
Due: e2e-test-changes

Fix type APCO => ACPO offence code
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/achSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cchSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatters.ts
Due: e2e-test-changes

Test
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/SimpleTable.tsx
Due: ui-changes

PR feedback
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/src/utils/reports/dateRange.test.ts
  packages/ui/src/utils/reports/dateRange.ts
  packages/ui/src/utils/reports/validateDateRange.ts
Due: ui-changes

Allow reports date range to back 12 months (#1982)
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/src/components/CustomDateInput/DateInput.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/utils/reports/dateRange.test.ts
  packages/ui/src/utils/reports/dateRange.ts
  packages/ui/src/utils/reports/validateDateField.test.ts
  packages/ui/src/utils/reports/validateDateField.ts
  packages/ui/src/utils/reports/validateDateRange.test.ts
  packages/ui/src/utils/reports/validateDateRange.ts
  packages/ui/src/utils/reports/validationMessages.ts
Due: ui-changes

Tests
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/src/types/reports/Columns.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
