Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Update nice diagram from the static site
  docs/architecture/assets/diagrams/HybridBichard.png
Due: none

Add missing DB connection
  docs/architecture/assets/diagrams/HybridBichard.png
  docs/architecture/workspace.dsl
  docs/architecture/workspace.json
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Add Old Bichard back
  docs/architecture/workspace.dsl
  docs/architecture/workspace.json
Due: none

Convert dynamo gateway to use new aws-sdk
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.ts
Due: api-changes

Convert auditlog dynamo gateway to use new aws-sdk
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
Due: api-changes

Convert test dynamo gateway to use new aws-sdk
  packages/api/src/tests/testGateways/TestDynamoGateway/TestDynamoGateway.ts
Due: api-changes

Update test gateway files to use aws-sdk v3
  packages/api/src/tests/testGateways/TestDynamoGateway/getTableAttributes.ts
  packages/api/src/tests/testGateways/TestDynamoGateway/getTableIndexes.ts
Due: api-changes

Update dynamo gateway files to use aws-sdk v3
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.integration.test.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoUpdate.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/IndexSearcher.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/Pagination.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/UpdateOptions.ts
Due: api-changes

Update auditlog gateway test to use aws-sdk v3
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.integration.test.ts
Due: api-changes

Fix side panel tab headers misalignment for smaller windows
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Change media query to fix side panel misalignment on smaller windows
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
Due: none

Resolve conflicts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
Due: none

Fix linting issue
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
Due: none

Remove the problem param
  packages/e2e-test/features/404-fix-exceptions-and-triggers/test.feature
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
  packages/ui/src/utils/updateQueryWithoutResubmitCase.ts
Due: e2e-test-changes

Fix styling of same date button on case resolved date filter
  packages/ui/src/components/CustomDateInput/DateInput.styles.tsx
Due: none

Fix styling of same date button on case resolved date filter (#1481)
  packages/ui/src/components/CustomDateInput/DateInput.styles.tsx
Due: none

Be more specific when resolving a trigger
  packages/e2e-test/features/404-fix-exceptions-and-triggers/test.feature
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Remove the resubmitCase param (#1480)
  packages/e2e-test/features/404-fix-exceptions-and-triggers/test.feature
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
  packages/ui/src/utils/updateQueryWithoutResubmitCase.ts
Due: e2e-test-changes

Move buttons downwards for screensize lower than 1300px
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
Due: none

Fix side panel misalignments on smaller window (#1479)
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Reduce space between lock status tags on a smaller window
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Fix test argument
  packages/api/package.json
  packages/core/package.json
  packages/ui/package.json
Due: api-changes, core-changes

Type changed from jsonwebtoken
  packages/api/src/server/auth/jwtConfig.ts
  packages/api/src/server/auth/verifyJwt.ts
Due: api-changes

Make element grow and shrink based on container size
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
Due: none

Fix jest commands
  packages/api/package.json
  packages/ui/package.json
Due: api-changes

Modify grey summary box (#1482)
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
Due: none

Update standing data dependency (#1484)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update analytics script to use v3
  package-lock.json
  package.json
  scripts/analytics/usage-report/fetchEvents.ts
  scripts/analytics/usage-report/fetchForceOwners.ts
  scripts/analytics/usage-report/getForceOwner.ts
  scripts/analytics/usage-report/index.ts
Due: none

Debugging CI
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
Due: api-changes

Add package-lock
  package-lock.json
Due: none

Revert "Debugging CI"
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
Due: api-changes
