Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Extract sortTriggers into its own test helper file
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/tests/helpers/comparison/e2eComparisonTestsHelpers.ts
  packages/core/tests/helpers/sortTriggers.ts
Due: core-changes

Move ComparisonFile types to tests/types folder
  packages/core/comparison/lib/checkPhase.ts
  packages/core/comparison/lib/comparePhase1.test.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.test.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/comparison/lib/processTestFile.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/scripts/runFileOnBichard.ts
  packages/core/tests/helpers/comparison/checkDatabaseMatches.ts
  packages/core/tests/helpers/comparison/e2eComparisonTestsHelpers.ts
  packages/core/tests/types/ComparisonFile.ts
  packages/core/tsconfig.build.json
Due: core-changes

Move summariseMatching to tests/helpers folder
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/matchOffencesToPnc.test.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/tests/helpers/summariseMatching.ts
  packages/core/tsconfig.build.json
Due: core-changes

Extract normaliseXml into its own test helper file
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/tests/helpers/comparison/checkDatabaseMatches.ts
  packages/core/tests/helpers/comparison/e2eComparisonTestsHelpers.ts
  packages/core/tests/helpers/comparison/normaliseErrorListTriggers.ts
  packages/core/tests/helpers/comparison/normaliseXml.ts
Due: core-changes

Rename file to ComparisonTestDbHelpers.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/tests/helpers/comparison/ComparisonTestDbHelpers.ts
  packages/core/tests/helpers/comparison/checkDatabaseMatches.ts
Due: core-changes

Remove unnecessary files from tsconfig
  packages/core/tsconfig.build.json
Due: core-changes

Move parseIncomingMessage to tests/helpers/comparison folder
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/scripts/testServer.ts
  packages/core/tests/helpers/comparison/parseIncomingMessage.ts
  packages/core/tsconfig.build.json
Due: core-changes, characterisation-test-changes

Move summariseMatching to tests/helpers/comparison folder
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/comparison/lib/isIntentionalDifference/index.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/matchOffencesToPnc.test.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/scripts/summariseRecord.ts
  packages/core/tests/helpers/comparison/summariseMatching.ts
  packages/core/tsconfig.build.json
Due: core-changes

Remove Conductor workflow and tasks for comparison tests
  packages/conductor/e2e-test/compareFiles.e2e.test.ts
  packages/conductor/e2e-test/rerunAll.e2e.test.ts
  packages/conductor/e2e-test/rerunFailures.e2e.test.ts
  packages/conductor/src/task.ts
  packages/conductor/src/worker.ts
  packages/conductor/tasks/compare_files.json
  packages/conductor/tasks/generate_rerun_tasks.json
  packages/conductor/tasks/rerun_period.json
  packages/conductor/workflows/compare-files.json
  packages/conductor/workflows/rerun-all.json
  packages/conductor/workflows/rerun-failures.json
  packages/core/comparison/conductor-tasks/compareFiles.ts
  packages/core/comparison/conductor-tasks/generateRerunTasks.ts
  packages/core/comparison/conductor-tasks/rerunPeriod.ts
Due: conductor-changes, core-changes

Move sortExceptions to tests/helpers folder
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/sortExceptions.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/tests/helpers/sortExceptions.ts
  packages/core/tsconfig.build.json
Due: core-changes

Move generateMockPncQueryResultFromAho to tests/helpers/comparison folder
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/tests/helpers/comparison/generateMockPncQueryResultFromAho.ts
  packages/core/tsconfig.build.json
Due: core-changes

Extract normalisePncOperations test helper function
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/tests/helpers/comparison/normalisePncOperations.ts
  packages/core/tsconfig.build.json
Due: core-changes

Remove compare NPM script command for CLI
  packages/core/package.json
  packages/core/tsconfig.build.json
Due: core-changes

Remove unused test helpers for Conductor E2E tests
  packages/conductor/e2e-test/helpers/e2eHelpers.ts
Due: conductor-changes

Make query return all active users from postgres (#1448)
  packages/cli/commands/user-comms/utils/currentUsersQuery.ts
Due: none

Replace the table component in the defendant details section with the card component
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/BailConditions.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/DefendantDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
Due: none

Make hide and show accordion visible only for collapsable cards
  packages/ui/src/components/Card/Card.styles.tsx
  packages/ui/src/components/Card/Card.tsx
Due: none

Remove redundant code for comparison tables
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
  environment/local-conductor-worker.env
  environment/localstack/init/ready.d/setup.sh
  packages/conductor/e2e-test/helpers/setEnvironmentVariables.ts
  packages/core/phase1/tests/helpers/setEnvironmentVariables.ts
  packages/core/tests/helpers/setEnvironmentVariables.ts
  scripts/batch-summarise.sh
  scripts/build-core-worker-docker.sh
  scripts/check.sh
Due: env-changes, conductor-changes, core-changes

Make Heading optional for CourtCaseDetailsPanel
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsPanels.tsx
Due: none

Remove duplicated setEnvironmentVariables.ts
  packages/core/conductor-tasks/bichard_phase_1/persistPhase1.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/processPhase1.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/processPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_3/persistPhase3.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.integration.test.ts
  packages/core/conductor-tasks/common/deleteS3File.integration.test.ts
  packages/core/conductor-tasks/common/lockS3File.integration.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/alertCommonPlatform.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/convertSpiToAho.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/createAuditLogRecord.integration.test.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/phase1/tests/helpers/setEnvironmentVariables.ts
Due: core-changes

Make startWorkflow Conductor E2E test helper default export
  packages/conductor/e2e-test/bichardPhase1.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase2.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/startWorkflow.ts
Due: conductor-changes

Remove handle_new_comparison_message Conductor event handler
  packages/conductor/event-handlers/handle-new-comparison-message.json
Due: conductor-changes

Replace selectors in tests
  packages/ui/cypress/component/BailConditions.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: none

Remove redundant code related to comparison tables (#1450)
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
  environment/local-conductor-worker.env
  environment/localstack/init/ready.d/setup.sh
  packages/conductor/e2e-test/bichardPhase1.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase2.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/e2eHelpers.ts
  packages/conductor/e2e-test/helpers/setEnvironmentVariables.ts
  packages/conductor/e2e-test/helpers/startWorkflow.ts
  packages/conductor/event-handlers/handle-new-comparison-message.json
  packages/core/conductor-tasks/bichard_phase_1/persistPhase1.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/processPhase1.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/processPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_3/persistPhase3.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.integration.test.ts
  packages/core/conductor-tasks/common/deleteS3File.integration.test.ts
  packages/core/conductor-tasks/common/lockS3File.integration.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/alertCommonPlatform.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/convertSpiToAho.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/createAuditLogRecord.integration.test.ts
  packages/core/phase1/phase1.comparison.test.ts
  packages/core/phase1/tests/helpers/setEnvironmentVariables.ts
  packages/core/tests/helpers/setEnvironmentVariables.ts
  scripts/batch-summarise.sh
  scripts/build-core-worker-docker.sh
  scripts/check.sh
Due: env-changes, conductor-changes, core-changes

Remove EditableFieldTableRow as it's redundant
  packages/ui/src/components/EditableFields/EditableFieldTableRow.styles.tsx
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
Due: none

Remove forceIds check from lockAndFetchCaseDto
  packages/api/src/useCases/cases/lockAndFetchCaseDto.ts
Due: api-changes

Use the card component for the "Defendant" case details tab (#1449)
  packages/ui/cypress/component/BailConditions.cy.tsx
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/components/Card/Card.styles.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/EditableFields/EditableFieldTableRow.styles.tsx
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsPanels.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/BailConditions.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/DefendantDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
Due: none

Replace table componenet in the Hearing details with card component
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/HearingDetails.tsx
Due: none

Update READMEs about comparison tests
  README.md
  packages/core/README.md
Due: core-changes

Replace table componenet in the Hearing details with card component (#1451)
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/HearingDetails.tsx
Due: none

Set isContentVisible default to true
  packages/ui/src/components/Card/Card.tsx
Due: none

Replace table componenet in the Case details with card component
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/CaseInformation.tsx
Due: none

Remove optional isContentVisible prop from Defendant and Hearing details
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/DefendantDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/HearingDetails.tsx
Due: none

Remove deleted event handlers from Conductor
  packages/conductor/deploy/ConductorGateway.ts
  packages/conductor/deploy/EventHandler.ts
  packages/conductor/deploy/deploy.ts
Due: conductor-changes

Replace Case details table component with card component (#1453)
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/CaseInformation.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/DefendantDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/HearingDetails.tsx
Due: none

Fix E2E test step for checking offence data
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
