Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Fix remand condition mapping
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/cleanObjectStrings.test.ts
  packages/core/lib/policeGateway/leds/cleanObjectStrings.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.after.json
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.before.json
Due: core-changes, e2e-test-changes

Fix json files formatting
  packages/e2e-test/features/177-hundred-results/police-data.after.json
  packages/e2e-test/features/177-hundred-results/police-data.before.json
Due: e2e-test-changes

Fix test 502 mock for bail status
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/mock-pnc-responses.ts
Due: e2e-test-changes

Update to use PTIURN's sequential number for refer to court case
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
Due: core-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

pinned undici
  .ncurc.js
Due: none

Update bail conditions mapping when verifying LEDS remand update
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
Due: e2e-test-changes

Update to pass PTIRUN number only for LEDS update verification
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: e2e-test-changes

update python to 3.10
  .circleci/config.yml
Due: circleci-changes

Fix PNCidentifier and personUrn formatting
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.test.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/preProcessPersonUrn.test.ts
  packages/core/lib/policeGateway/leds/preProcessPersonUrn.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
Due: core-changes

Use python 3.10 in CI
  .circleci/config.yml
Due: circleci-changes

update python to 3.14
  .circleci/config.yml
Due: circleci-changes

updated comment
  .ncurc.js
Due: none

Update standing data (#1945)
  .circleci/config.yml
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: circleci-changes, api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Bicaws7 4154 remove axios from common (#1940)
  .ncurc.js
  package-lock.json
  packages/common/AuditLogApiClient/AuditLogApiClient.test.ts
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
  packages/common/AuditLogApiClient/handleApiError.test.ts
  packages/common/aho/parse/parseAhoJson.ts
  packages/common/axiosDateTransformer.ts
  packages/common/package.json
  packages/common/test/pnc/clearPncMocks.ts
  packages/common/test/pnc/uploadPncMock.ts
  packages/common/utils/dateTransformer.test.ts
  packages/common/utils/dateTransformer.ts
  packages/core/conductor-tasks/bichard_phase_1/processPhase1.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/processPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/convertSpiToAho.integration.test.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.integration.test.ts
  packages/core/lib/policeGateway/pnc/PncGateway.ts
  packages/core/phase1/tests/helpers/generateFakeAho.ts
  packages/core/phase2/tests/fixtures/helpers/generateFakePncUpdateDataset.ts
  packages/core/tests/helpers/comparison/processTestFile.ts
Due: common-changes, core-changes

Moved to public folder
  packages/api/src/plugins/v1/health/handlers.ts
  packages/api/src/routes/v1/public/health.e2e.test.ts
  packages/api/src/routes/v1/public/health.integration.test.ts
  packages/api/src/routes/v1/public/health.ts
Due: api-changes

Remove plugins
  packages/api/src/app.ts
Due: api-changes

BICAWS7-4203 - Add API health endpoint to public routes (#1946)
  packages/api/src/app.ts
  packages/api/src/plugins/v1/health/handlers.ts
  packages/api/src/routes/v1/public/health.e2e.test.ts
  packages/api/src/routes/v1/public/health.integration.test.ts
  packages/api/src/routes/v1/public/health.ts
Due: api-changes

Fix appearanceResults
  packages/e2e-test/features/007-split-adjournment/mock-pnc-responses.ts
  packages/e2e-test/features/028-driver-disqualification/mock-pnc-responses.ts
  packages/e2e-test/features/501-carry-forward-for-additional-offence/mock-pnc-responses.ts
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/mock-pnc-responses.ts
Due: e2e-test-changes

add prefix to cli package
  packages/cli/package.json
Due: none

update package-lock with prefix
  package-lock.json
Due: none

Map appearanceResult to remandResult
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
Due: e2e-test-changes

BICAWS7-4207 Add moj-bichard7 prefix to cli package (#1947)
  package-lock.json
  packages/cli/package.json
Due: none

Fix bail conditions mapping
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertRemandRequestMockJsonToLeds.ts
Due: e2e-test-changes

Fix referToCourtCase mapping
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAddDisposalRequestMockJsonToLeds.ts
Due: e2e-test-changes

remove auth token from config
  packages/ui/scripts/zap/zap.config
Due: ui-changes

add env var to script
  packages/ui/scripts/zap/zap-scan.sh
Due: ui-changes

limit zap scan to /bichard
  packages/ui/scripts/zap/zap.config
Due: ui-changes

Force global TS version 6.0.3
  packages/uat-data/buildspec.yml
Due: none

Consolidate typescript dependency to top-level
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Remove early exit, show versions of components in TS toolchain
  packages/uat-data/buildspec.yml
Due: none

Update main typescript version 6.0.3
  package-lock.json
  package.json
  packages/uat-data/buildspec.yml
Due: none

Specify node version 20
  packages/uat-data/buildspec.yml
Due: none

Write out node and typescript version
  packages/uat-data/buildspec.yml
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
