Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Test fix
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
Due: core-changes

BICAWS7-3265 API endpoint for resolving triggers (#2233)
  packages/api/src/routes/v1/cases/[caseId]/_caseId.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/resolveTriggers.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/resolveTriggers.ts
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/fetchCases.ts
  packages/api/src/services/db/cases/getSystemNotesForTriggerCodes.test.ts
  packages/api/src/services/db/cases/getSystemNotesForTriggerCodes.ts
  packages/api/src/types/Case.ts
  packages/api/src/useCases/cases/getCase/getAllTriggers.integration.test.ts
  packages/api/src/useCases/cases/getCase/getAllTriggers.ts
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.integration.test.ts
  packages/api/src/useCases/cases/getCase/markTriggersAsCompleteAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/getCase/markTriggersAsCompleteAndAuditLog.ts
  packages/api/src/useCases/cases/resolve/resolveCaseTriggers.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCaseTriggers.ts
  packages/api/src/useCases/cases/resolve/resolveTriggers.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveTriggers.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/Case.ts
  packages/common/utils/generateTriggersAttributes.test.ts
  packages/common/utils/generateTriggersAttributes.ts
  packages/ui/src/services/resolveTriggers.ts
Due: api-changes, common-changes, ui-changes

Endpoint
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: common-changes

remove test_ui_component from circleci continue_config (#2262)
  .circleci/continue_config.yml
Due: circleci-changes

Update node version in .nvmrc to v24.21.0
  .nvmrc
Due: none

remove test_characterisation from circleci workflow
  .circleci/continue_config.yml
Due: circleci-changes

Update goss to look for node v24.21.0
  packages/conductor/goss.yaml
  packages/message-forwarder/goss.yaml
Due: conductor-changes, message-forwarder-changes

Add .npmrc and configure min release age
  .npmrc
Due: none

Remove redundant .npmignore file
  .npmignore
Due: none

Remove .npmrc from .gitignore
  .gitignore
Due: none

Remove goss test for checking node verison
  packages/conductor/goss.yaml
  packages/message-forwarder/goss.yaml
Due: conductor-changes, message-forwarder-changes

BICAWS7-4448 - Bump node to v24.21.0 (#2268)
  .gitignore
  .npmignore
  .npmrc
  .nvmrc
  packages/conductor/goss.yaml
  packages/message-forwarder/goss.yaml
Due: conductor-changes, message-forwarder-changes

:remove characterisation-test from package filtering parameters in conleci config
  .circleci/config.yml
Due: circleci-changes

Basic setup of endpoint
  packages/api/src/routes/v1/cases/[caseId]/updateAmendments.ts
  packages/api/src/useCases/cases/amendments/amendCourtCase.ts
  packages/api/src/useCases/createForceOwner.test.ts
  packages/api/src/useCases/createForceOwner.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/Amendments.ts
Due: api-changes, common-changes

Remove test_characterisation from circleci workflow (#2267)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Remove checkout step
  .github/actions/code-formatter/action.yml
Due: none

Add fallback for branch on push events
  .github/actions/code-formatter/action.yml
Due: none

Amend Test 413, and generate and add police-data.after.json and police-data.before.json
  packages/e2e-test/features/413-display-triggers-after-resubmission/police-data.after.json
  packages/e2e-test/features/413-display-triggers-after-resubmission/police-data.before.json
  packages/e2e-test/features/413-display-triggers-after-resubmission/test.feature
Due: e2e-test-changes

Change logic for detecting forks on non-branches
  .github/actions/code-formatter/action.yml
Due: none

Move if conditions
  .github/actions/code-formatter/action.yml
Due: none

Add step for changed files
  .github/actions/code-formatter/action.yml
Due: none

Add comment to clarify fallback
  .github/actions/code-formatter/action.yml
Due: none

Stop doing shallow fetch
  .github/workflows/format-code.yml
Due: none

Generate and add police-data.after.json and police-data.before.json for test 431
  packages/e2e-test/features/431-next-hearing-location-bichard7/police-data.after.json
  packages/e2e-test/features/431-next-hearing-location-bichard7/police-data.before.json
Due: e2e-test-changes

Conditionally install formatters
  .github/actions/code-formatter/action.yml
Due: none

Conditionally run prettier
  .github/actions/code-formatter/action.yml
Due: none

Conditionally run python formatting
  .github/actions/code-formatter/action.yml
Due: none

Remove prettier install as it will just use version in package.json
  .github/actions/code-formatter/action.yml
Due: none

Install prettier at root instead of packages
  package-lock.json
  package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: e2e-test-changes, ui-changes

Remove old step
  .github/actions/code-formatter/action.yml
Due: none

Tidy up and update description
  .github/actions/code-formatter/action.yml
Due: none

Format js/ts files
  .github/actions/code-formatter/action.yml
Due: none

Remove redundant pattern
  .github/actions/code-formatter/action.yml
Due: none

Add test files
  test.py
  test.tf
Due: none

Test formatting
  .github/actions/code-formatter/action.yml
  .github/workflows/format-code.yml
  test.js
  test.py
  test.tf
Due: none

Add files to non-needed
  .github/actions/code-formatter/action.yml
Due: none

Fix commit step
  .github/actions/code-formatter/action.yml
Due: none

Get correct branch name
  .github/actions/code-formatter/action.yml
Due: none
