Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Filter by visible forces/courts
  packages/api/src/services/db/audit/fetchAudit.ts
  packages/api/src/services/db/audit/fetchAuditCases.integration.test.ts
  packages/api/src/services/db/audit/fetchAuditCases.ts
Due: api-changes

Handle pagination
  packages/api/src/services/db/audit/fetchAuditCases.integration.test.ts
  packages/api/src/services/db/audit/fetchAuditCases.ts
Due: api-changes

Handle ordering
  packages/api/src/services/db/audit/fetchAuditCases.integration.test.ts
  packages/api/src/services/db/audit/fetchAuditCases.ts
Due: api-changes

Add e2e test
  packages/api/src/routes/v1/audit/[auditId]/cases.e2e.test.ts
Due: api-changes

Fix use case tests
  packages/api/src/useCases/audit/getAuditCases.unit.test.ts
Due: api-changes

Tidy up tests
  packages/api/src/services/db/audit/fetchAuditCases.integration.test.ts
Due: api-changes

Search button and clear search test
  packages/ui/cypress/component/ReportSelectionFilter.cy.tsx
Due: ui-changes

Add Report B7 API Client
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/BichardV1Report.test.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/ReportsApiClient.test.ts
  packages/ui/src/services/api/ReportsApiClient.ts
  packages/ui/src/services/api/generateUrlSearchParams.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/api/utils/generateUrlSearchParams.test.ts
  packages/ui/src/services/api/utils/generateUrlSearchParams.ts
  packages/ui/src/types/ReportType.ts
Due: ui-changes

add user groups to cypress tests
  packages/ui/cypress/e2e/audit/search.cy.ts
Due: ui-changes

Add e2e cypress test
  packages/ui/cypress/e2e/reports/navigateToReportsFilterPage.cy.ts
Due: ui-changes

Fix remandRequest fields mapping
  packages/e2e-test/utils/convertPncXmlToJson/convertRem.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
Due: e2e-test-changes

rename e2e test
  packages/ui/cypress/e2e/audit/search.api.cy.ts
Due: ui-changes

Delete duplicate files
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncUpdateResponseToLeds.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAch.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAdj.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAsr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCch.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCcr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCof.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCou.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCrt.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertDis.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertFsc.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertIds.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPcr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertRcc.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertRem.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertSub.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertTxt.ts
  packages/e2e-test/utils/convertPncXmlToJson/extractSegments.ts
  packages/e2e-test/utils/convertPncXmlToJson/index.ts
  packages/e2e-test/utils/converters/convertPncToLeds.ts
Due: e2e-test-changes

Fix missing data for Exceptions report
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/common/types/reports/Exceptions.ts
Due: api-changes, common-changes

Moved links to components
  packages/user-service/src/pages/index.tsx
Due: user-service-changes

Fix test
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
Due: api-changes

Save feature flags into db
  packages/user-service/testFixtures/database/data/users.js
  packages/user-service/testFixtures/database/insertIntoUsersTable.js
Due: user-service-changes

Add failing e2e test
  packages/user-service/cypress/e2e/home.cy.js
Due: user-service-changes

Add flag to type
  packages/user-service/src/types/FeatureFlags.ts
Due: user-service-changes

Re-order buttons depending on feature flag value
  packages/user-service/src/pages/index.tsx
Due: user-service-changes

Permissions fix
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

Add Report B7 API Client (#1815)
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/BichardV1Report.test.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/ReportsApiClient.test.ts
  packages/ui/src/services/api/ReportsApiClient.ts
  packages/ui/src/services/api/generateUrlSearchParams.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/api/utils/generateUrlSearchParams.test.ts
  packages/ui/src/services/api/utils/generateUrlSearchParams.ts
  packages/ui/src/types/ReportType.ts
Due: ui-changes

Fix tests
  packages/user-service/test/useCases/getFilteredUsers.integration.test.ts
  packages/user-service/testFixtures/database/data/manyUsers.js
Due: user-service-changes

Fix missing data for Exceptions report (#1816)
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/common/types/reports/Exceptions.ts
Due: api-changes, common-changes

BICAWS7-4059 - Swap Access Bichard buttons based on feature flag (#1817)
  packages/user-service/cypress/e2e/home.cy.js
  packages/user-service/src/pages/index.tsx
  packages/user-service/src/types/FeatureFlags.ts
  packages/user-service/test/useCases/getFilteredUsers.integration.test.ts
  packages/user-service/testFixtures/database/data/manyUsers.js
  packages/user-service/testFixtures/database/data/users.js
  packages/user-service/testFixtures/database/insertIntoUsersTable.js
Due: user-service-changes

extracted padding to div
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Extracted inline styling to css props
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Moved report filter component to features folder
  packages/ui/cypress/component/ReportSelectionFilter.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

styling changes
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Update API output so the reports are pretty
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateWarrantType.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateWarrantType.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/hearingOutcomeDetails.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/hearingOutcomeDetails.unit.test.ts
  packages/ui/src/types/reports/ReportType.ts
Due: api-changes, ui-changes

Update the db migration script to use the latest liquibase
  environment/docker-compose.yml
  environment/postgres/liquibase/update.sh
Due: none

Correct the type
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
Due: ui-changes

Update the loading component
  packages/ui/cypress/component/Loading.cy.tsx
  packages/ui/src/components/Loading.tsx
Due: ui-changes

Add types to help dynamically create tables/CSVs
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportType.ts
Due: ui-changes

Add NextJS API endpoint
  packages/ui/src/pages/api/reports/index.ts
Due: ui-changes

Add tests for downloading reports and creating CSVs
  packages/ui/src/services/reports/createReportCsv.test.ts
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/services/reports/downloadReport.test.ts
  packages/ui/src/services/reports/downloadReport.ts
  packages/ui/src/services/reports/utils/csvFilename.test.ts
  packages/ui/src/services/reports/utils/csvFilename.ts
  packages/ui/src/services/reports/utils/csvMetadata.test.ts
  packages/ui/src/services/reports/utils/csvMetadata.ts
  packages/ui/src/services/reports/utils/escapeCsvCell.test.ts
  packages/ui/src/services/reports/utils/escapeCsvCell.ts
  packages/ui/src/services/reports/utils/isRecord.test.ts
  packages/ui/src/services/reports/utils/isRecord.ts
  packages/ui/src/services/reports/utils/isRecordArray.test.ts
  packages/ui/src/services/reports/utils/isRecordArray.ts
Due: ui-changes

Exclude test files
  packages/ui/tsconfig.build.json
Due: ui-changes

Fix disposalText mapping
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: core-changes, e2e-test-changes

Fix appearanceDate mapping and add trim() to all fields in convertSub function
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertSub.ts
Due: e2e-test-changes

Address PR comments WIP
  packages/ui/cypress/e2e/case-list/header.cy.ts
  packages/ui/cypress/e2e/reports/navigateToReportsFilterPage.cy.ts
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/types/NavLinks.ts
Due: ui-changes
