Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Added error check on fetchUserById call
  packages/api/src/useCases/cases/getCase/allocate.ts
  packages/common/contracts/AllocationQuery.ts
Due: api-changes, common-changes

Updated allocate endpoint to use put
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
  packages/ui/src/pages/api/court-cases/[courtCaseId]/allocate.ts
  packages/ui/src/services/api/BichardApiV1.ts
Due: api-changes, ui-changes

Added getUser tests
  packages/api/src/routes/v1/users/getUser.e2e.test.ts
  packages/api/src/routes/v1/users/getUser.integration.test.ts
Due: api-changes

fetchUser and fetchUserById tests
  packages/api/src/services/db/users/fetchUserById.integration.test.ts
  packages/api/src/useCases/users/fetchUser.integration.test.ts
Due: api-changes

refactor: WIP implementing new function, names only in placeholder
  packages/api/src/services/db/cases/abc.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
Due: api-changes

Added new lockAndAudit tests
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.integration.test.ts
Due: api-changes

Added allocate integration tests
  packages/api/src/useCases/cases/getCase/allocate.integration.test.ts
Due: api-changes

Add cypress tests
  packages/ui/cypress/component/AutoSave/AutoSave.cy.tsx
  packages/ui/cypress/component/AutoSave/AutoSaveBase.cy.tsx
  packages/ui/cypress/component/CaseListRow/AllocateUser.cy.tsx
  packages/ui/cypress/component/CaseListRow/generators/generateAllocationComponent.cy.tsx
  packages/ui/cypress/component/Typeaheads/AllocateUserTypeahead.cy.tsx
Due: ui-changes

Remove redundant code
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateExceptionComponents.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateTriggerComponents.tsx
Due: ui-changes

Use .nvmrc
  .github/workflows/publish-architecture.yml
Due: none

Use v6
  .github/workflows/publish-architecture.yml
  .github/workflows/update-npm-deps.yml
Due: none

BICAWS7-4263 - Use Node.js 24 in GitHub action (#2036)
  .github/workflows/publish-architecture.yml
  .github/workflows/update-npm-deps.yml
Due: none

feat: add Zod validation to fetchAudit
  packages/api/src/services/db/audit/fetchAudit.ts
Due: api-changes

Fix failing tests
  packages/e2e-test/features/033-sine-die-results/police-data.after.json
  packages/e2e-test/features/033-sine-die-results/police-data.before.json
  packages/e2e-test/features/033a-sine-die-results/police-data.after.json
  packages/e2e-test/features/033a-sine-die-results/police-data.before.json
  packages/e2e-test/features/149-pnc-force-owner/test.feature
  packages/e2e-test/features/179-multiple-ccr-offence-added-in-court/pnc-data.xml
  packages/e2e-test/features/179-multiple-ccr-offence-added-in-court/police-data.after.json
  packages/e2e-test/features/179-multiple-ccr-offence-added-in-court/police-data.before.json
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/pnc-data.xml
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/police-data.after.json
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/police-data.before.json
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/test.feature
  packages/e2e-test/features/185-multiple-ccr-offences-added-in-court/pnc-data.xml
  packages/e2e-test/features/185-multiple-ccr-offences-added-in-court/police-data.after.json
  packages/e2e-test/features/185-multiple-ccr-offences-added-in-court/police-data.before.json
  packages/e2e-test/features/185-multiple-ccr-offences-added-in-court/test.feature
  packages/e2e-test/features/242-withdrawn-sine-die/police-data.after.json
  packages/e2e-test/features/242-withdrawn-sine-die/police-data.before.json
Due: e2e-test-changes

Add retryRequest function to retry LEDS requests for seeding
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/addDisposalResults.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/initiateRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/waitForResponse.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchArrestSummaries.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchArrestSummons.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchDisposalHistory.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchOffence.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchRemand.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/findDisposalsByAsn.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/retryRequest.ts
Due: e2e-test-changes

Add retry logic for 502 error
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/initiateRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/waitForResponse.ts
Due: e2e-test-changes

Update LEDS npm commands
  packages/e2e-test/package.json
Due: e2e-test-changes

Add leds:test command
  packages/e2e-test/package.json
Due: e2e-test-changes

Refactor initiateRequest function
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/initiateRequest.ts
Due: e2e-test-changes

Add wait for input message when running against real LEDS
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/test.feature
  packages/e2e-test/features/185-multiple-ccr-offences-added-in-court/test.feature
  packages/e2e-test/features/209-court-offence-not-added-to-pnc/test.feature
  packages/e2e-test/utils/message.ts
Due: e2e-test-changes

Revert test steps changes
  packages/e2e-test/features/415-trigger-deletion/test.feature
  packages/e2e-test/features/416-case-with-excluded-trigger/test.feature
  packages/e2e-test/features/417-case-with-excluded-and-non-excluded-triggers/test.feature
Due: e2e-test-changes

refactoring: gave meaningful names to file and function, removed obsolete parts
  packages/api/src/services/db/cases/abc.ts
  packages/api/src/services/db/cases/lockErrorListRow.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
Due: api-changes

refactoring: gave meaningful names to file and function, removed obsolete parts
  package-lock.json
Due: none

refactor: package lock updated
  package-lock.json
Due: none

allocate e2e tests
  packages/api/src/routes/v1/cases/[caseId]/allocate.e2e.test.ts
Due: api-changes

Add MVP for allocation (#2032)
  environment/docker-compose.yml
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/common/types/Permission.ts
  packages/common/utils/userPermissions.test.ts
  packages/common/utils/userPermissions.ts
  packages/ui/cypress/component/AutoSave/AutoSave.cy.tsx
  packages/ui/cypress/component/AutoSave/AutoSaveBase.cy.tsx
  packages/ui/cypress/component/CaseListRow/AllocateUser.cy.tsx
  packages/ui/cypress/component/CaseListRow/generators/generateAllocationComponent.cy.tsx
  packages/ui/cypress/component/Typeaheads/AllocateUserTypeahead.cy.tsx
  packages/ui/scripts/run-dev-with-api.sh
  packages/ui/src/components/EditableFields/AutoSave.tsx
  packages/ui/src/components/EditableFields/AutoSaveBase.tsx
  packages/ui/src/components/Typeaheads/AllocateUserTypeahead.tsx
  packages/ui/src/config.ts
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntry.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateAllocationComponent.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateExceptionComponents.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateTriggerComponents.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/ExceptionsColumns.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/TriggersColumns.tsx
  packages/ui/src/features/CourtCaseList/tags/Allocate/AllocateUser.tsx
  packages/ui/src/pages/api/court-cases/[courtCaseId]/allocate.ts
  packages/ui/src/pages/api/court-cases/allocation/users.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/types/CourtCaseListEntryRowCells.ts
Due: api-changes, common-changes, ui-changes

integration test fixes
  packages/api/src/useCases/cases/getCase/allocate.integration.test.ts
Due: api-changes

error object sonar fix
  packages/api/src/services/db/users/fetchUserById.ts
Due: api-changes

Added caseId NaN check
  packages/api/src/routes/v1/cases/[caseId]/allocate.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
Due: api-changes

Number.isNaN sonar fix
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
Due: api-changes

Added ApiClient and Gateway tests
  packages/ui/src/services/api/ApiClient.test.ts
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: ui-changes

Updated test status type
  packages/ui/src/services/api/ApiClient.test.ts
Due: ui-changes

Removed boolean return type
  packages/api/src/useCases/cases/getCase/allocate.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: api-changes, ui-changes

Test fix
  packages/ui/src/services/api/BichardApiV1.test.ts
Due: ui-changes

Test fix
  packages/api/src/useCases/cases/getCase/allocate.integration.test.ts
Due: api-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

e2e test fix
  packages/api/src/routes/v1/cases/[caseId]/allocate.e2e.test.ts
Due: api-changes

Add feature flag to allow per user access
  packages/ui/cypress/component/CaseListRow/AllocateUser.cy.tsx
  packages/ui/cypress/component/CaseListRow/generators/generateAllocationComponent.cy.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntry.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateAllocationComponent.tsx
  packages/ui/src/features/CourtCaseList/tags/Allocate/AllocateUser.tsx
  packages/ui/src/features/flags/canUseAllocation.test.ts
  packages/ui/src/features/flags/canUseAllocation.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
