Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

fix download button justification
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.styles.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

make DownloadButton reusable for other report types
  packages/ui/src/components/DownloadButton.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

name download file after reportType
  packages/ui/src/components/DownloadButton.tsx
Due: none

remove 401 test
  packages/ui/cypress/e2e/api/reports/getReports.cy.ts
Due: none

First draft of ADR for Naming of Types and Schemas
  docs/architecture/adrs/0009-naming-of-types-schemas.md
  packages/api/src/useCases/dto/fetchCaseDto.ts
  packages/api/src/useCases/dto/fetchCaseDto.unit.test.ts
Due: api-changes

Update ADR from feedback
  docs/architecture/adrs/0009-naming-of-types-schemas.md
Due: none

Follow naming conventions
  packages/api/src/app.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/users/fetchUserByUsername.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/jwtHelper.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.unit.test.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.unit.test.ts
  packages/api/src/types/CaseDataForDto.ts
  packages/api/src/types/NoteUser.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/src/useCases/dto/convertCaseRowToDto.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/api/src/useCases/dto/convertNoteRowToDto.ts
  packages/api/src/useCases/dto/convertNoteToDto.ts
  packages/api/src/useCases/dto/convertTriggerToDto.ts
  packages/api/src/useCases/dto/convertUserRowToDto.ts
  packages/api/src/useCases/dto/convertUserToDto.ts
  packages/api/src/useCases/fetchCaseDto.ts
  packages/api/src/useCases/fetchCaseDto.unit.test.ts
  packages/common/types/Case.ts
  packages/common/types/Note.ts
  packages/common/types/Trigger.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

Fix import
  packages/api/src/routes/v1/cases/case.ts
Due: api-changes

Update file names
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/api/src/useCases/dto/convertResolutionStatus.ts
  packages/api/src/useCases/dto/convertResolutionStatusFrom.unit.test.ts
  packages/api/src/useCases/dto/convertTriggerToDto.ts
Due: api-changes

More files to be corrected
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.unit.test.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.unit.test.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.unit.test.ts
  packages/api/src/useCases/dto/convertResolutionStatusFrom.unit.test.ts
Due: api-changes

PNCID should always be set from the PNC response (#1239)
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.test.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/matchOffencesToPnc.ts
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/DefendantDetails.tsx
Due: core-changes

Update standing data dependency (#1248)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

ADR Accepted
  docs/architecture/adrs/0009-naming-of-types-schemas.md
Due: none

Cypress no longer needs to specify the React version
  packages/ui/cypress/support/component.ts
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Remove decision
  docs/architecture/adrs/0009-naming-of-types-schemas.md
Due: none

Add LockReason enum
  packages/api/src/types/LockReason.ts
Due: api-changes

Add lockException function to the dataStoreGateway interface, and implement in a Postgres class
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/lockException.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/useCases/fetchCaseDto.ts
Due: api-changes

Update return statement for lockCase function
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/lockException.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
Due: api-changes

Update standing data dependency (#1251)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Remove logic to check and throw error when third-level PSA code is not a number
  packages/core/phase3/lib/getPncCourtCode.test.ts
  packages/core/phase3/lib/getPncCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Add tests coverage for locking exceptions
  packages/api/src/routes/v1/cases/case.e2e.test.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/useCases/fetchCaseDto.ts
Due: api-changes

Add retrying for PNC lock errors in Phase 3
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/jest.config.js
  packages/core/jest.setup.ts
  packages/core/lib/exceptions/generatePncExceptionFromMessage.ts
  packages/core/package.json
  packages/core/phase1/tests/jest.d.ts
  packages/core/phase1/tests/jest.setup.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.test.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
  packages/core/phase3/lib/performOperations.test.ts
  packages/core/phase3/lib/performOperations.ts
Due: core-changes

formatting
  packages/ui/cypress/e2e/api/reports/getReports.cy.ts
Due: none

Replace Paragraph component
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/Notes.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseList.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
Due: none

Remove logic to check and throw error when third-level PSA code is not a number (#1255)
  packages/core/phase3/lib/getPncCourtCode.test.ts
  packages/core/phase3/lib/getPncCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Replace Heading component
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsPanels.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/ResultQualifier.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Output correlation IDs when E2E test fails
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/message.ts
  packages/e2e-test/utils/world.ts
Due: e2e-test-changes

Replace Link component
  packages/ui/src/components/Exception/DefaultException.tsx
  packages/ui/src/components/Exception/PncException.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipSection.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.styles.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
Due: none

Replace Main component
  packages/ui/src/components/Layout.styles.tsx
  packages/ui/src/pages/index.tsx
Due: none

Add retrying for PNC lock errors in Phase 3 (#1256)
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/jest.config.js
  packages/core/jest.setup.ts
  packages/core/lib/exceptions/generatePncExceptionFromMessage.ts
  packages/core/package.json
  packages/core/phase1/tests/jest.d.ts
  packages/core/phase1/tests/jest.setup.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.test.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
  packages/core/phase3/lib/performOperations.test.ts
  packages/core/phase3/lib/performOperations.ts
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/message.ts
  packages/e2e-test/utils/world.ts
Due: core-changes, e2e-test-changes

Replace Footer component
  packages/ui/src/components/Layout.tsx
Due: none

Fix cypress tests
  packages/ui/cypress/e2e/case-details/offence-matching/HO100203.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100304.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100310.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100328.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100332.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100333.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100507.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/validation-exceptions/HO100228.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/validation-exceptions/HO100311.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/validation-exceptions/HO100312.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/validation-exceptions/HO100320.cy.ts
Due: none

Replace BackLink component
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Remove the wrong font
  packages/ui/src/components/SwitchingFeedbackHeader/Links.styles.tsx
Due: none

Remove typography
  packages/ui/src/components/EditableFields/ErrorMessage.styles.tsx
  packages/ui/src/components/EditableFields/SuccessMessage.styles.tsx
  packages/ui/src/utils/typography.ts
Due: none

Fix cypress test looking at the copyright
  packages/ui/cypress/e2e/assets.cy.ts
Due: none

Fix correlation IDs output for failed E2E tests
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/auditLogging.ts
  packages/e2e-test/utils/message.ts
Due: e2e-test-changes
