Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add LEDS CI job
  .circleci/continue_config.yml
Due: circleci-changes

Add ccr to relevant offences, fix mappings and handle undefined dates
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
Due: core-changes, e2e-test-changes

Fix mock server and leds gateway
  environment/mock-server/mock-server.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/e2e-test/features/178-partial-match-result-text/mock-pnc-responses.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: core-changes, e2e-test-changes

Add mock server UI
  environment/mock-server/Dockerfile
  environment/mock-server/mock-server.html
  environment/mock-server/mock-server.ts
Due: none

Return relevant response status
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
Due: e2e-test-changes

Implment mockMissingDataForTest function
  packages/e2e-test/utils/LedsApi/LedsApi.ts
Due: e2e-test-changes

Disable DLC
  .circleci/continue_config.yml
Due: circleci-changes

Move convertPncUpdateResponseToLeds into convertPncJsonToLeds folder
  packages/e2e-test/utils/LedsApi/mockGenerators/convertPncUpdateResponseToLeds.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Fix disposalQualifiers mapping
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
Due: core-changes

Update mocks to match request body
  packages/e2e-test/utils/LedsApi/MockServer.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: e2e-test-changes

Remove LEDS_API_URL to continue_config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Check mock hits rather than request existence
  .circleci/scripts/run-infrastructure.sh
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: circleci-changes, e2e-test-changes

Update test 503
  packages/e2e-test/features/503-refer-to-court-case/test.feature
Due: e2e-test-changes

Add ! instead of ? in the url
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
Due: core-changes

Add new e2e tests for crt and rcc
  packages/e2e-test/features/500-carry-forward-for-existing-offence/input-message.xml
  packages/e2e-test/features/500-carry-forward-for-existing-offence/mock-pnc-responses.ts
  packages/e2e-test/features/500-carry-forward-for-existing-offence/pnc-data.xml
  packages/e2e-test/features/500-carry-forward-for-existing-offence/test.feature
  packages/e2e-test/features/501-carry-forward-for-additional-offence/input-message.xml
  packages/e2e-test/features/501-carry-forward-for-additional-offence/mock-pnc-responses.ts
  packages/e2e-test/features/501-carry-forward-for-additional-offence/pnc-data.xml
  packages/e2e-test/features/501-carry-forward-for-additional-offence/test.feature
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/input-message.xml
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/mock-pnc-responses.ts
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/pnc-data.xml
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/test.feature
  packages/e2e-test/features/503-refer-to-court-case/input-message.xml
  packages/e2e-test/features/503-refer-to-court-case/mock-pnc-responses.ts
  packages/e2e-test/features/503-refer-to-court-case/pnc-data.xml
  packages/e2e-test/features/503-refer-to-court-case/test.feature
Due: e2e-test-changes

Fix PNC update error extraction
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncUpdateResponseToLeds.ts
Due: e2e-test-changes

Fix tag in test 327
  packages/e2e-test/features/327-2060-2050-court-2059-result/test.feature
Due: e2e-test-changes

Fix failing tests
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.test.ts
Due: core-changes

handle txt segment conversion
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncUpdateResponseToLeds.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertTxt.ts
Due: e2e-test-changes

Modify mapping disposal quantity
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.ts
Due: core-changes

Exclude e2e tests on leds
  packages/e2e-test/features/408-pnc-update-errors/test.feature
  packages/e2e-test/features/441-phase-2-resubmission/test.feature
Due: e2e-test-changes

Add tests
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/cases/reports/processExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/reportStream.unit.test.ts
  packages/api/src/useCases/dto/convertCaseToDto.unit.test.ts
  packages/common/types/Case.ts
  packages/common/types/Reports.ts
Due: api-changes, common-changes

Split the queries
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/cases/reports/processExceptions.unit.test.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/api/src/useCases/dto/convertCaseToDto.unit.test.ts
  packages/common/types/Case.ts
  packages/common/types/Reports.ts
Due: api-changes, common-changes

Add more useful tests
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
Due: api-changes

Add ExcludedOnLeds flags for the Penalty cases
  packages/e2e-test/features/080-fixed-penalty-notice/test.feature
  packages/e2e-test/features/234-manual-handling-incompatible-types/test.feature
  packages/e2e-test/features/414-display-resolved-exceptions/test.feature
Due: e2e-test-changes

Return correct expected values
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.test.ts
Due: core-changes

Update test 503 description
  packages/e2e-test/features/503-refer-to-court-case/test.feature
Due: e2e-test-changes

Update mock server to add UI for requests
  environment/mock-server/Dockerfile
  environment/mock-server/mock-server-mocks.html
  environment/mock-server/mock-server-requests.html
  environment/mock-server/mock-server.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: e2e-test-changes

Add filter for visible force/courts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
Due: api-changes

Enable DLC
  .circleci/continue_config.yml
Due: circleci-changes

Revert run-infrastructure.sh
  .circleci/scripts/run-infrastructure.sh
Due: circleci-changes

Remove console.log
  packages/e2e-test/utils/config.ts
Due: e2e-test-changes

Disable DLC for e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

Revert "Disable DLC for e2e tests"
  .circleci/continue_config.yml
Due: circleci-changes

refactor display to reuse existing component
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusDisplay.tsx
Due: ui-changes

refactor ordering of variables
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusDisplay.tsx
Due: ui-changes

update audit form to match display
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.tsx
Due: ui-changes

Do more processing in the DB
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/cases/reports/processExceptions.ts
  packages/api/src/useCases/cases/reports/processExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/processUsers.ts
  packages/api/src/useCases/cases/reports/processUsers.unit.test.ts
  packages/api/src/useCases/dto/convertCaseToDto.unit.test.ts
  packages/common/types/Case.ts
  packages/common/types/Reports.ts
Due: api-changes, common-changes

Fix imports
  packages/api/src/useCases/dto/convertCaseToDto.ts
Due: api-changes
