Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Swap Old and Hybrid designs, fix header levels, rename link for Hybrid design
  docs/architecture/docs/002-transitioning-bichard.md
Due: none

Swap Old and Hybrid designs, fix header levels, rename link for Hybrid design (#2225)
  docs/architecture/docs/002-transitioning-bichard.md
Due: none

Make e2e tests to run on both old and new ui
  packages/e2e-test/package.json
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Bump tomcat
  environment/conductor/Dockerfile
Due: none

Patch netty
  environment/conductor/Dockerfile
Due: none

Use shorter var
  environment/conductor/Dockerfile
Due: none

Create unit-test github actions workflow (#2218)
  .github/actions/path-filter/action.yml
  .github/workflows/unit-tests.yml
Due: none

Ignore netty-tcnative
  environment/conductor/Dockerfile
Due: none

Filter to version range
  environment/conductor/Dockerfile
Due: none

Exclude test 040 temporarily
  packages/e2e-test/features/040-user-performance-report/test.feature
Due: e2e-test-changes

Reduce retry to 5
  packages/e2e-test/package.json
Due: e2e-test-changes

Temporary change: Run tests only against old UI
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Added resolveError and checkAllTriggersResolved tests
  packages/api/src/routes/v1/cases/[caseId]/resolve.ts
  packages/api/src/services/db/cases/checkAllTriggersResolved.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
  packages/common/contracts/ResolveBody.ts
Due: api-changes, common-changes

Added unlockTrigger/Exception tests
  packages/api/src/routes/v1/cases/[caseId]/resolve.e2e.test.ts
  packages/api/src/services/db/cases/unlockException.integration.test.ts
  packages/api/src/services/db/cases/unlockException.ts
  packages/api/src/services/db/cases/unlockTrigger.integration.test.ts
  packages/api/src/services/db/cases/unlockTrigger.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
  packages/api/src/useCases/cases/resolve/resolveError.integration.test.ts
Due: api-changes

Added resolveCase test
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
Due: api-changes

Test fixes
  packages/api/src/services/db/cases/unlockException.integration.test.ts
  packages/api/src/services/db/cases/unlockTrigger.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
Due: api-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Fixed tests setup
  packages/api/src/services/db/cases/unlockException.integration.test.ts
  packages/api/src/services/db/cases/unlockTrigger.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveError.integration.test.ts
Due: api-changes

WIP endpoint logic
  packages/api/src/routes/v1/cases/[caseId]/resolveTriggers.ts
  packages/api/src/useCases/cases/resolveTriggers.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: api-changes, common-changes

Exclude test 040 on leds
  packages/e2e-test/features/040-user-performance-report/test.feature
Due: e2e-test-changes

Amend function to handle asn overright
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
Due: e2e-test-changes

Added resolve integration tests, updated logic to check if user has triggers + exceptions perms at beginning
  packages/api/src/routes/v1/cases/[caseId]/resolve.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/resolve.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
Due: api-changes

Removed throws
  packages/api/src/services/db/cases/checkAllTriggersResolved.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveError.integration.test.ts
Due: api-changes

Added missing permissions checks
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
Due: api-changes

Add diagram for future bichard - removing Bichard java app and dependencies, PNC integration, and migrating away from audit log API
  docs/architecture/docs/002-transitioning-bichard.md
  docs/architecture/workspace.dsl
Due: none

Add test for LEDS as PNC and LEDS errors differ
  packages/e2e-test/features/101-record-not-found/test.feature
Due: e2e-test-changes

create test_ui_component github action in unit-tests.yml
  .github/workflows/unit-tests.yml
Due: none

WIP
  packages/api/src/routes/v1/cases/[caseId]/resolveTriggers.ts
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/getSystemNotesForTriggers.test.ts
  packages/api/src/services/db/cases/getSystemNotesForTriggers.ts
  packages/api/src/useCases/cases/getCase/getAllTriggers.ts
  packages/api/src/useCases/cases/getCase/updateTriggers.ts
  packages/api/src/useCases/cases/resolveTriggers.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/common/types/Case.ts
  packages/common/utils/generateTriggersAttributes.ts
  packages/ui/src/services/resolveTriggers.ts
Due: api-changes, common-changes, ui-changes

remove working directories and add prefix to cypress run steps
  .github/workflows/unit-tests.yml
Due: none

Added e2e test
  packages/api/src/routes/v1/cases/[caseId]/resolve.e2e.test.ts
Due: api-changes

Removed switch statement
  packages/api/src/routes/v1/cases/[caseId]/resolve.ts
Due: api-changes

Updated unlockAndAudit logic
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
Due: api-changes

Test fix
  packages/api/src/routes/v1/cases/[caseId]/resolve.integration.test.ts
Due: api-changes

BICAWS7-4516 - Fix Condcutor CVEs (#2227)
  environment/conductor/Dockerfile
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Sonar qube fixes
  packages/api/src/services/db/cases/checkAllTriggersResolved.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.integration.test.ts
Due: api-changes

Update error type
  packages/api/src/useCases/cases/resolve/resolveCase.ts
Due: api-changes

Updated ResolveBody to use existing enums and keys
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/common/contracts/ResolveBody.ts
Due: api-changes, common-changes

add step to install cypress
  .github/workflows/unit-tests.yml
Due: none

remove wait-on from cypress run step
  .github/workflows/unit-tests.yml
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
