Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add feature flag to use API in UI
  environment/docker-compose.yml
Due: env-changes

Some fixes for case list page
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.ts
  packages/api/src/useCases/dto/convertTriggerToDto.ts
  packages/common/types/Trigger.ts
  packages/common/utils/getLongTriggerCode.test.ts
  packages/common/utils/getLongTriggerCode.ts
  packages/common/utils/getTriggerWithDescription.test.ts
  packages/common/utils/getTriggerWithDescription.ts
  packages/ui/src/components/SearchFilters/TriggerCheckbox.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/services/dto/triggerDto.ts
  packages/ui/src/services/entities/Trigger.ts
Due: api-changes, common-changes

Use the new audit log API in CI
  environment/.env
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
  environment/local-conductor-worker.env
  packages/api/.dockerignore
  packages/api/Dockerfile
  packages/api/src/routes/v1/audit-logs/createAuditLog.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  packages/api/src/types/AuditLogEvent.ts
  packages/api/src/useCases/createAuditLog.ts
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: env-changes, api-changes, common-changes

Use https for the audit log api
  environment/docker-compose-worker.yml
Due: env-changes

Run the worker in Docker rather than separately
  .circleci/continue_config.yml
Due: circleci-changes

Accept self-signed certs for the audit log api
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

More API case list fixes
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/caseAge.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.ts
  packages/common/types/ApiCaseQuery.ts
  packages/ui/src/pages/index.tsx
Due: api-changes, common-changes

Enable API powered case list
  .circleci/continue_config.yml
Due: circleci-changes

Fix syntax
  .circleci/continue_config.yml
Due: circleci-changes

Fix note count of case
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/NotePreviewRow.tsx
  packages/ui/src/services/dto/courtCaseDto.ts
  packages/ui/src/types/display/CourtCases.ts
Due: none

Add Submitted
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/exceptionsAndTriggers.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.ts
Due: api-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update standing data dependency (#1392)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Fix not showing all case ages in URL
  packages/ui/cypress/e2e/case-list/filter-cases/filterCases.cy.ts
  packages/ui/src/pages/index.tsx
Due: none

Refactor PaginationNavigation to simplify Link component and improve accessibility
  packages/ui/src/components/Pagination/PaginationNavigation.tsx
Due: none

force screen reader focus on filter changes
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilter.tsx
Due: none

Do not upgrade to react v19.1
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: none

Update to ignore new react version
  package-lock.json
  packages/ui/.ncurc.js
Due: none

Fix not showing all case ages in URL (#1393)
  packages/ui/cypress/e2e/case-list/filter-cases/filterCases.cy.ts
  packages/ui/src/pages/index.tsx
Due: none

Fix problems
  package-lock.json
  packages/core/lib/auditLog/CoreAuditLogger.ts
Due: core-changes

Add ability to use the API for case list (#1390)
  .circleci/continue_config.yml
  environment/docker-compose.yml
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/caseAge.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/exceptionsAndTriggers.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/lockedState.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonAndResolutionStatus.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/reasonCodes.ts
  packages/api/src/useCases/dto/convertTriggerToDto.ts
  packages/common/types/ApiCaseQuery.ts
  packages/common/types/Trigger.ts
  packages/common/utils/getLongTriggerCode.test.ts
  packages/common/utils/getLongTriggerCode.ts
  packages/common/utils/getTriggerWithDescription.test.ts
  packages/common/utils/getTriggerWithDescription.ts
  packages/ui/src/components/SearchFilters/TriggerCheckbox.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/NotePreviewRow.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/services/api/canUseEndpoint.test.ts
  packages/ui/src/services/api/canUseEndpoint.ts
  packages/ui/src/services/dto/courtCaseDto.ts
  packages/ui/src/services/dto/triggerDto.ts
  packages/ui/src/services/entities/Trigger.ts
  packages/ui/src/types/display/CourtCases.ts
Due: circleci-changes, env-changes, api-changes, common-changes

Stop react from updating
  packages/ui/.ncurc.js
Due: none

Stop react from updating (#1394)
  packages/ui/.ncurc.js
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Update e2e tests to use db cluster reader endpoint
  packages/e2e-test/scripts/setup-e2e-tests.sh
Due: e2e-test-changes

Tweak the circleci config to not run test_api
  .circleci/continue_config.yml
Due: circleci-changes

Improve colour contrast in UI
  packages/ui/public/assets/images/lock.svg
  packages/ui/public/assets/images/refresh.svg
  packages/ui/public/assets/images/tick.svg
  packages/ui/src/components/Badge.styles.tsx
  packages/ui/src/components/Buttons/RefreshButton.styles.tsx
  packages/ui/src/components/HintText.tsx
  packages/ui/src/components/Preview.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/BackToAllOffencesLink.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.styles.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedImage.styles.tsx
  packages/ui/src/utils/colours.ts
  packages/ui/styles/form.scss
  packages/ui/styles/globals.scss
  packages/ui/styles/page.scss
  packages/ui/styles/variables.scss
Due: none

Fix double focus on return to case list button
  packages/ui/cypress/e2e/case-details/view-case-details/view-headers.cy.ts
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
Due: none

wip
  packages/ui/src/components/Pagination/PaginationResults.tsx
Due: none

Tweak the circleci config to not run test_api (#1397)
  .circleci/continue_config.yml
Due: circleci-changes

Fix issue with copying template folder to dist
  packages/cli/package.json
Due: none

Improve colour contrast in UI (#1398)
  packages/ui/cypress/e2e/case-details/view-case-details/view-headers.cy.ts
  packages/ui/public/assets/images/lock.svg
  packages/ui/public/assets/images/refresh.svg
  packages/ui/public/assets/images/tick.svg
  packages/ui/src/components/Badge.styles.tsx
  packages/ui/src/components/Buttons/RefreshButton.styles.tsx
  packages/ui/src/components/HintText.tsx
  packages/ui/src/components/Preview.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/BackToAllOffencesLink.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.styles.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedImage.styles.tsx
  packages/ui/src/utils/colours.ts
  packages/ui/styles/form.scss
  packages/ui/styles/globals.scss
  packages/ui/styles/page.scss
  packages/ui/styles/variables.scss
Due: none

Refactor pnc maintenance functions
  packages/cli/commands/user-comms/pncMaintenance.ts
  packages/cli/commands/user-comms/pncMaintenanceExtended.ts
Due: none

Simplify selectOutageType function
  packages/cli/commands/user-comms/selectOutageType.ts
Due: none

Simplify the way we handle different comms types
  packages/cli/commands/user-comms/commsTypes.ts
  packages/cli/commands/user-comms/index.ts
Due: none

Create function to render content in templates
  packages/cli/commands/user-comms/utils/renderTemplate.ts
Due: none

Fix e2e test scripts
  packages/e2e-test/package.json
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Fix e2e test scripts (#1399)
  packages/e2e-test/package.json
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Enhance accessibility in Pagination component with live region announcements and ARIA attributes
  packages/ui/src/components/Pagination/Pagination.tsx
  packages/ui/src/components/Pagination/PaginationResults.tsx
Due: none

Enhance accessibility in CourtCaseList by adding live region announcements and improving focus handling on header clicks
  packages/ui/src/features/CourtCaseList/CourtCaseList.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
  packages/ui/src/types/CaseListQueryParams.ts
Due: none
