Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Use v3 lib-dynamo in integration test
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.integration.test.ts
Due: api-changes

Use v3 aws-sdk in e2e-test
  package-lock.json
  packages/e2e-test/helpers/IncomingMessageBucket.ts
  packages/e2e-test/package.json
Due: e2e-test-changes

Add lib-dynamo to package.json
  package-lock.json
  packages/api/package.json
Due: api-changes

Update pnc errors report script to use aws-sdk v3
  scripts/analytics/pnc-errors-report/getPncResponseReceivedEvents.ts
  scripts/analytics/pnc-errors-report/index.ts
Due: none

Dont negate filtering attributeInIndexes
  packages/api/src/tests/testGateways/TestDynamoGateway/getTableAttributes.ts
Due: api-changes

Undoing of a poor merge commit
  package-lock.json
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
Due: api-changes

Use aws-sdk v3 in core (#1483)
  package-lock.json
  package.json
  packages/api/package.json
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.integration.test.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.integration.test.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoUpdate.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/IndexSearcher.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/Pagination.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/UpdateOptions.ts
  packages/api/src/tests/testGateways/TestDynamoGateway/TestDynamoGateway.ts
  packages/api/src/tests/testGateways/TestDynamoGateway/getTableAttributes.ts
  packages/api/src/tests/testGateways/TestDynamoGateway/getTableIndexes.ts
  packages/e2e-test/helpers/IncomingMessageBucket.ts
  packages/e2e-test/package.json
  scripts/analytics/pnc-errors-report/getPncResponseReceivedEvents.ts
  scripts/analytics/pnc-errors-report/index.ts
  scripts/analytics/usage-report/fetchEvents.ts
  scripts/analytics/usage-report/fetchForceOwners.ts
  scripts/analytics/usage-report/getForceOwner.ts
  scripts/analytics/usage-report/index.ts
Due: api-changes, e2e-test-changes

Change font size on 1024px and realign locked-items
  packages/ui/src/components/LockedTag.styles.tsx
  packages/ui/src/components/LockedTag.tsx
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update standing data dependency (#1486)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update support page in help guidance to remove ServiceNow
  packages/help/site/support/index.md
Due: none

Update support page in help guidance to remove ServiceNow (#1488)
  packages/help/site/support/index.md
Due: none

Change font size on 1024px and realign locked-items (#1485)
  packages/ui/src/components/LockedTag.styles.tsx
  packages/ui/src/components/LockedTag.tsx
Due: none

Fix Docker commands for running Help guidance
  packages/help/Makefile
Due: none

Fix Docker commands for running Help guidance (#1489)
  packages/help/Makefile
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Reduce defendant name font size to 19px for screens smaller than 768px
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
Due: none

Reduce summary box details font size to 16px for screens smaller than 768px
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBoxField.styles.tsx
Due: none

Reduce summary box buttons text font size to 16px for screens smaller than 768px
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
Due: none

Reduce LinkButton text font size to 16px for screens smaller than 768px
  packages/ui/src/components/Buttons/LinkButton.styles.tsx
  packages/ui/src/components/Buttons/LinkButton.tsx
Due: none

Fix linting issue raised by CI
  packages/core/lib/triggers/TRPS0010.test.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncCourtCaseAccordion.tsx
Due: core-changes

Reduce side-panel text font size to 16px and checkbox size for screens smaller than 768px
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.styles.tsx
Due: none

Refactor api dynamodb config
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoDbConfig.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.ts
  packages/api/src/services/gateways/dynamo/createAuditLogDynamoDbConfig.ts
Due: api-changes

Refactor api dynamodb config (#1492)
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoDbConfig.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.ts
  packages/api/src/services/gateways/dynamo/createAuditLogDynamoDbConfig.ts
Due: api-changes

Fix fetchCases returning NaN for full count
  packages/api/src/services/db/cases/fetchCases.ts
Due: api-changes

Implement Responsive Layout for 768px Viewport (#1491)
  packages/ui/src/components/Buttons/LinkButton.styles.tsx
  packages/ui/src/components/Buttons/LinkButton.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBoxField.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.styles.tsx
Due: none

Fix fetchCases returning NaN for full count (#1493)
  packages/api/src/services/db/cases/fetchCases.ts
Due: api-changes

Remove padding from the page layout on smaller screen size
  packages/ui/src/components/Header/Header.styles.tsx
  packages/ui/src/components/NavBar/NavBar.styles.tsx
  packages/ui/src/components/PageTemplate.styles.tsx
Due: none

Update import-vpn-profiles script to import leds vpc vpn
  scripts/get-vpn-config.sh
  scripts/import-openvpn-profiles.sh
Due: none

Update import-vpn-profiles script to import leds vpc vpn (#1496)
  scripts/get-vpn-config.sh
  scripts/import-openvpn-profiles.sh
Due: none

Update standing data dependency (#1494)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

create constant variables for screen sizes
  packages/ui/src/components/Buttons/LinkButton.styles.tsx
  packages/ui/src/components/Header/Header.styles.tsx
  packages/ui/src/components/LockedTag.styles.tsx
  packages/ui/src/components/NavBar/NavBar.styles.tsx
  packages/ui/src/components/PageTemplate.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBoxField.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.styles.tsx
  packages/ui/src/types/breakpoints.ts
Due: none

Remove padding from the page layout on smaller screens (#1495)
  packages/ui/src/components/Buttons/LinkButton.styles.tsx
  packages/ui/src/components/Header/Header.styles.tsx
  packages/ui/src/components/LockedTag.styles.tsx
  packages/ui/src/components/NavBar/NavBar.styles.tsx
  packages/ui/src/components/PageTemplate.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBoxField.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.styles.tsx
  packages/ui/src/types/breakpoints.ts
Due: none

Update readme instructions.
  README.md
Due: none

make error icon SVG accessible to screen readers
  packages/ui/src/components/ErrorIcon.tsx
Due: none

Remove remaining table-rows
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/LegacySequencingRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatcherRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/LegacySequencingBadgeRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/LegacySequencingMessageRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/OffenceMatcherRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/OffenceMatchingBadgeRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatching.tsx
Due: none

make error icon SVG accessible to screen readers (#1499)
  packages/ui/src/components/ErrorIcon.tsx
Due: none
