Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Removed user 4293 from script as they are not part of the switch-off
  scripts/rollout/prep/20260421/1.sql
Due: none

Update postgres package
  .ncurc.js
  package-lock.json
  packages/api/package.json
  packages/api/src/services/db/cases/fetchCases.ts
  packages/api/src/services/gateways/database/Postgres.ts
  packages/api/src/types/DatabaseGateway.ts
  packages/api/src/useCases/audit/createAudit.ts
  packages/api/src/useCases/audit/getAuditCases.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.ts
  packages/api/src/useCases/cases/getCases/fetchCasesAndFilter.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/api/src/useCases/cases/resubmit/resubmitCases.ts
  packages/api/src/useCases/cases/saveAuditResults.ts
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: api-changes, ui-changes

Close DB connections
  packages/api/src/services/db/audit/insertAuditCases.integration.test.ts
Due: api-changes

2026/04/21 bichard switch off prep script (#1932)
  scripts/rollout/prep/20260421/1.sql
Due: none

Remove redundant code
  eslint.config.mjs
Due: none

Remove duplication
  eslint.config.mjs
Due: none

Fix linting
  packages/user-service/cypress/e2e/home.cy.js
  packages/user-service/cypress/e2e/user-management/createUser.cy.js
  packages/user-service/cypress/e2e/user-management/editUser.cy.js
Due: user-service-changes

Refactor DB names
  packages/api/src/services/db/cases/fetchCases.ts
  packages/api/src/services/db/cases/order/ordering.ts
  packages/api/src/types/DatabaseGateway.ts
  packages/api/src/useCases/cases/getCases/fetchCasesAndFilter.ts
Due: api-changes

Expand the script to include CXU01, CXU02, CXU03 and CXU04 operations
  migrateXml.ts
Due: none

Added the deployed switch off script to has-run
  scripts/rollout/has-run/20260421/1.sql
Due: none

Added the deployed switch off script to has-run (#1935)
  scripts/rollout/has-run/20260421/1.sql
Due: none

TEMP: Update remandRequest schema to generate mockJson
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
Due: core-changes, e2e-test-changes

TEMP: Update subsequentDisposalResultsRequest schema to generate mockJson
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
Due: core-changes, e2e-test-changes

Update script with try catch block and rewriting logic
  migrateXml.ts
Due: none

Fix indentation
  migrateXml.ts
Due: none

TEMP: Update addDisposalRequestSchema to generate mockJson
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/mapToAddDisposalResult.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: core-changes, e2e-test-changes

Add expectedRequest conversion from Json to xml to run e2e against pnc
  packages/e2e-test/utils/PncApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Add expectedRequest conversion from mockJson to ledsJson to run e2e against leds
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

Update script to handle all mock-pnc-responses
  migrateXml.ts
Due: none

Remove TEMPORARY data mapping
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/mapToAddDisposalResult.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
Due: core-changes, e2e-test-changes

Add a temporary script to replace asn-query-response xml with mockJson
  migrateXmlCXE01.ts
Due: none

Refactor names
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
  packages/api/src/services/db/audit/insertAudit.ts
  packages/api/src/services/db/audit/insertAuditCases.ts
  packages/api/src/services/db/cases/auditCase.ts
  packages/api/src/services/db/cases/insertNote.ts
  packages/api/src/services/db/cases/lockCase.ts
  packages/api/src/services/db/cases/locking/lockException.ts
  packages/api/src/services/db/cases/locking/lockTrigger.ts
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/services/gateways/database/Postgres.ts
  packages/api/src/types/DatabaseGateway.ts
  packages/api/src/useCases/audit/createAudit.ts
  packages/api/src/useCases/audit/getAuditCases.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.ts
  packages/api/src/useCases/cases/getCase/lockExceptions.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockExceptions.ts
  packages/api/src/useCases/cases/getCase/lockTriggers.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockTriggers.ts
  packages/api/src/useCases/cases/reports/createReportHandler.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/api/src/useCases/cases/resubmit/resubmitCases.ts
  packages/api/src/useCases/cases/saveAuditResults.ts
Due: api-changes

Update postgres package (#1933)
  .ncurc.js
  package-lock.json
  packages/api/package.json
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
  packages/api/src/services/db/audit/insertAudit.ts
  packages/api/src/services/db/audit/insertAuditCases.integration.test.ts
  packages/api/src/services/db/audit/insertAuditCases.ts
  packages/api/src/services/db/cases/auditCase.ts
  packages/api/src/services/db/cases/fetchCases.ts
  packages/api/src/services/db/cases/insertNote.ts
  packages/api/src/services/db/cases/lockCase.ts
  packages/api/src/services/db/cases/locking/lockException.ts
  packages/api/src/services/db/cases/locking/lockTrigger.ts
  packages/api/src/services/db/cases/order/ordering.ts
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/services/gateways/database/Postgres.ts
  packages/api/src/types/DatabaseGateway.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockExceptions.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockExceptions.ts
  packages/api/src/useCases/cases/getCase/lockTriggers.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockTriggers.ts
  packages/api/src/useCases/cases/reports/createReportHandler.ts
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: api-changes, ui-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Re-added test that checks the old bichard button is hidden when onlyAccessToNewBichard flag is true
  packages/user-service/cypress/e2e/home.cy.js
Due: user-service-changes

Update standing data dependency (#1936)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Removed NewUI user group (#1900)
  packages/api/src/routes/v1/cases/[caseId]/resubmit.integration.test.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
  packages/api/src/services/db/users/fetchUserByUsername.ts
  packages/api/src/useCases/cases/resubmit/canUserResubmitCase.integration.test.ts
  packages/common/types/UserGroup.ts
  packages/common/utils/userPermissions.test.ts
  packages/ui/cypress/e2e/audit/search.api.cy.ts
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/utils/userPermissions.test.ts
  packages/ui/test/services/getCourtCaseByOrganisationUnit.integration.test.ts
  packages/ui/test/utils/insertLockUsers.ts
  packages/ui/test/utils/insertNoteUser.ts
  packages/user-service/cypress/e2e/home.cy.js
  packages/user-service/cypress/e2e/user-management/editUser.cy.js
  packages/user-service/src/components/Layout.tsx
  packages/user-service/src/pages/index.tsx
  packages/user-service/src/pages/users/[username]/edit.tsx
  packages/user-service/src/types/UserGroup.ts
  packages/user-service/src/useCases/getUserServiceAccess.ts
  packages/user-service/src/useCases/hasUserAccessToUrl.ts
  packages/user-service/test/useCases/getUserByUsername.integration.test.ts
  packages/user-service/test/useCases/hasNewUIGroup.test.ts
  packages/user-service/test/useCases/hasUserAccessToUrl.test.ts
  packages/user-service/testFixtures/database/data/groups.js
  scripts/analytics/usage-report/findUsersWithAccessToNewUi.ts
  scripts/analytics/usage-report/generateReportData.ts
  scripts/analytics/usage-report/index.ts
Due: api-changes, common-changes, ui-changes, user-service-changes

Cypress now supports TS v6
  packages/ui/cypress/tsconfig.json
Due: ui-changes

Remove conductor check
  packages/api/src/routes/v1/public/connectivity.e2e.test.ts
  packages/api/src/useCases/checkConnectivity.integration.test.ts
  packages/api/src/useCases/checkConnectivity.ts
  packages/common/types/ApiConnectivity.ts
Due: api-changes, common-changes

Cypress now supports TS v6 (#1938)
  packages/ui/cypress/tsconfig.json
Due: ui-changes

Fix test
  packages/api/src/useCases/checkConnectivity.integration.test.ts
Due: api-changes

Add endpoint to client
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
Due: ui-changes

Add ability to add headers
  packages/ui/src/services/api/ApiClient.test.ts
  packages/ui/src/services/api/ApiClient.ts
Due: ui-changes

Set api key
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: ui-changes

Parse dto
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
Due: ui-changes

Add API key
  packages/ui/src/pages/api/connectivity.ts
Due: ui-changes

Add e2e tests
  environment/docker-compose.yml
  packages/ui/cypress/e2e/api/connectivity.api.cy.ts
Due: ui-changes

Add RCC Segement generator to genefrate add disposal request xml
  packages/e2e-test/features/328-2060-2050-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/rccSegmentGenerator.ts
Due: e2e-test-changes

Add tags to swagger
  packages/api/src/server/openapi/setupSwagger.ts
Due: api-changes
