Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Update 0014-analytical-data-store-design.md
  docs/architecture/adrs/0014-analytical-data-store-design.md
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

BICAWS7-4309 - Move nginx auth proxy to core (#2245)
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  environment/boot.sh
  environment/docker-compose.yml
  packages/nginx-auth-proxy/Dockerfile
  packages/nginx-auth-proxy/Makefile
  packages/nginx-auth-proxy/build.sh
  packages/nginx-auth-proxy/buildspec.yml
  packages/nginx-auth-proxy/files/includes/audit-logging-headers.conf
  packages/nginx-auth-proxy/files/includes/headers.conf
  packages/nginx-auth-proxy/files/includes/ui-headers.conf
  packages/nginx-auth-proxy/files/includes/user-service-headers.conf
  packages/nginx-auth-proxy/files/nginx.repo
  packages/nginx-auth-proxy/files/openssl.cnf
  packages/nginx-auth-proxy/files/process_templates.sh
  packages/nginx-auth-proxy/files/supervisord.conf
  packages/nginx-auth-proxy/files/templates/bichard.http.conf.tpl
  packages/nginx-auth-proxy/files/templates/bichard.https.conf.tpl
  packages/nginx-auth-proxy/files/templates/nginx.conf.tpl
  packages/nginx-auth-proxy/goss.yaml
  packages/nginx-auth-proxy/goss_wait.yaml
  packages/nginx-auth-proxy/scripts/build_docker.sh
  packages/nginx-auth-proxy/scripts/wait-for-nginx.sh
  packages/nginx-auth-proxy/test/.dockerignore
  packages/nginx-auth-proxy/test/Dockerfile
  packages/nginx-auth-proxy/test/build.sh
  packages/nginx-auth-proxy/test/jest-mock-server-0.0.6.tgz
  packages/nginx-auth-proxy/test/nginx-auth-proxy.test.js
  packages/nginx-auth-proxy/test/package-lock.json
  packages/nginx-auth-proxy/test/package.json
  packages/nginx-auth-proxy/test/test-nginx-setup.sh
Due: circleci-changes

Exclude test 142 from running on LEDS as 142a already runs on LEDS
  packages/e2e-test/features/142-trigger-reallocation/test.feature
Due: e2e-test-changes

Add content type to generateRequestHeaders
  packages/core/lib/policeGateway/leds/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.ts
  packages/core/schemas/leds/requestHeaders.ts
Due: core-changes

Add generateNiamAuthToken and findDisposalsByAsn functions for LEDS cutover
  scripts/leds-cutover/check-leds-api-connectivity.sh
  scripts/leds-cutover/find-disposals-by-asn.sh
  scripts/leds-cutover/generate-niam-token.sh
  scripts/leds-cutover/lib/common.sh
  scripts/leds-cutover/lib/findDisposalsByAsn.ts
  scripts/leds-cutover/lib/generateNiamAuthToken.ts
Due: none

Add scripts to enable and disable police api
  scripts/leds-cutover/disable-police-api.sh
  scripts/leds-cutover/enable-police-api.sh
  scripts/leds-cutover/lib/common.sh
Due: none

Add script to switch between LEDS and PNC APIs
  scripts/leds-cutover/lib/switch-police-api.sh
  scripts/leds-cutover/switch-to-leds-api.sh
  scripts/leds-cutover/switch-to-pnc-api.sh
Due: none

WIP
  scripts/leds-cutover/process-messages.sh
  scripts/leds-cutover/roll-back-cases.sh
  scripts/leds-cutover/submit-pending-case.sh
  scripts/leds-cutover/view-messages-status.sh
Due: none

Add scripts to enable and disable operations
  scripts/leds-cutover/disable-operation.sh
  scripts/leds-cutover/enable-operation.sh
  scripts/leds-cutover/lib/common.sh
Due: none

LEDS ecosystem smoke testing
  packages/e2e-test/features/000-ecosystem-testing/input-message-1.xml
  packages/e2e-test/features/000-ecosystem-testing/input-message-2.xml
  packages/e2e-test/features/000-ecosystem-testing/mock-pnc-responses.ts
  packages/e2e-test/features/000-ecosystem-testing/pnc-data.xml
  packages/e2e-test/features/000-ecosystem-testing/police-data.after.json
  packages/e2e-test/features/000-ecosystem-testing/police-data.before.json
  packages/e2e-test/features/000-ecosystem-testing/test.feature
Due: e2e-test-changes

Update police before and after data for test 161
  packages/e2e-test/features/161-ignored-offences/police-data.after.json
  packages/e2e-test/features/161-ignored-offences/police-data.before.json
Due: e2e-test-changes

add contents read and checks write permissions to test_ui_component
  .github/workflows/unit-tests.yml
Due: none

add content write permissions to moj code formatter
  .github/workflows/format-code.yml
Due: none

set persist credentials to false
  .github/workflows/format-code.yml
Due: none

Update permissions for Moj code formatter (#2251)
  .github/workflows/format-code.yml
Due: none

Feature flags
  scripts/feature-flags/has-run/20260918/1.sql
  scripts/feature-flags/prep/20260918/1.sql
Due: none

Bicaws7-4426 - Create test UI components GitHub action (#2250)
  .github/workflows/unit-tests.yml
Due: none

Introduce API gateway
  docs/architecture/workspace.dsl
Due: none

Fix bichardApi -> LED/NIAM to be conductor -> LEDS/NIAM
  docs/architecture/workspace.dsl
Due: none

Update LEDS encryption method
  docs/architecture/workspace.dsl
Due: none

Reorder so Old bichard diagram appears last in the Component view
  docs/architecture/workspace.dsl
Due: none

BICAWS7-4513 - Update LEDS components on future Bichard architecture diagram (#2248)
  docs/architecture/workspace.dsl
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

step halt
  .circleci/continue_config.yml
Due: circleci-changes

trying revert halt step change
  .circleci/continue_config.yml
Due: circleci-changes

Skip halt step on any condition
  .circleci/continue_config.yml
Due: circleci-changes

Basic test for resolveTriggers - to be finalised
  packages/api/src/useCases/cases/resolveTriggers.integration.test.ts
Due: api-changes

Always build nginx auth proxy image - required for tests
  .circleci/continue_config.yml
Due: circleci-changes

Update police-data-before and police-data-after jsons
  packages/e2e-test/features/171-stop-list-offence-added-in-court/police-data.after.json
  packages/e2e-test/features/171-stop-list-offence-added-in-court/police-data.before.json
  packages/e2e-test/features/176-date-duration-mismatches/police-data.after.json
  packages/e2e-test/features/176-date-duration-mismatches/police-data.before.json
  packages/e2e-test/features/177-hundred-results/police-data.after.json
  packages/e2e-test/features/177-hundred-results/police-data.before.json
  packages/e2e-test/features/260-non-recordable-bail-conditions/police-data.after.json
  packages/e2e-test/features/260-non-recordable-bail-conditions/police-data.before.json
  packages/e2e-test/features/277-breach-handling/police-data.after.json
  packages/e2e-test/features/277-breach-handling/police-data.before.json
  packages/e2e-test/features/278-breach-handling-admits/police-data.after.json
  packages/e2e-test/features/278-breach-handling-admits/police-data.before.json
  packages/e2e-test/features/298-result-text-different-updates/police-data.after.json
  packages/e2e-test/features/298-result-text-different-updates/police-data.before.json
  packages/e2e-test/features/313-report-multiple-cell-items/police-data.after.json
  packages/e2e-test/features/313-report-multiple-cell-items/police-data.before.json
  packages/e2e-test/features/330-serious-violence-reduction-order-3324/police-data.after.json
  packages/e2e-test/features/330-serious-violence-reduction-order-3324/police-data.before.json
  packages/e2e-test/features/402-cp-bail-conditions-semicolon-split/police-data.after.json
  packages/e2e-test/features/402-cp-bail-conditions-semicolon-split/police-data.before.json
Due: e2e-test-changes

Always build nginx auth proxy image - required for tests (#2253)
  .circleci/continue_config.yml
Due: circleci-changes

BICAWS7-3624 - API endpoint to manually resolve a case (#2228)
  packages/api/src/routes/v1/cases/[caseId]/exceptions/resolve.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/resolve.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/resolve.ts
  packages/api/src/services/db/cases/checkAllTriggersResolved.integration.test.ts
  packages/api/src/services/db/cases/checkAllTriggersResolved.ts
  packages/api/src/services/db/cases/unlockException.ts
  packages/api/src/services/db/cases/unlockExceptions.integration.test.ts
  packages/api/src/services/db/cases/unlockExceptions.ts
  packages/api/src/services/db/cases/unlockTriggers.integration.test.ts
  packages/api/src/services/db/cases/unlockTriggers.ts
  packages/api/src/useCases/cases/getCase/unlockAndAppendAuditEvents.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockAndAppendAuditEvents.ts
  packages/api/src/useCases/cases/getCase/unlockExceptions.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/ExceptionsManualResolveBody.ts
  packages/common/types/ManualResolution.ts
  packages/common/types/UnlockReason.ts
  packages/common/utils/validateManualResolution.test.ts
  packages/common/utils/validateManualResolution.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/services/reallocateCourtCase/reallocateCourtCaseToForce.ts
  packages/ui/src/services/resolveCourtCase.ts
  packages/ui/src/services/resolveError.ts
  packages/ui/src/services/resolveTriggers.ts
  packages/ui/src/services/resubmitCourtCase.ts
  packages/ui/src/services/unlockCourtCase.ts
  packages/ui/src/services/updateLockStatusToUnlocked.ts
  packages/ui/src/utils/validators/validateManualResolution.test.ts
  packages/ui/src/utils/validators/validateManualResolution.ts
  packages/ui/test/services/resolveCourtCase.integration.test.ts
  packages/ui/test/services/unlockCourtCase.integration.test.ts
  packages/ui/test/services/updateLockStatusToUnlocked.integration.test.ts
Due: api-changes, common-changes, ui-changes

removed newlines
  scripts/feature-flags/has-run/20260918/1.sql
  scripts/feature-flags/prep/20260918/1.sql
Due: none

Sonar qube ignore feature-flag sql files
  sonar-project.properties
Due: none

Update resolveTriggers to use unlock logic
  packages/api/src/useCases/cases/resolveTriggers.ts
Due: api-changes

Feature flags (#2254)
  scripts/feature-flags/has-run/20260918/1.sql
  scripts/feature-flags/prep/20260918/1.sql
  sonar-project.properties
Due: none

Add an e2e test to 214 to run on legacy against LEDS api
  packages/e2e-test/features/214-multiple-to-single-ccr-switch/police-data.after.json
  packages/e2e-test/features/214-multiple-to-single-ccr-switch/police-data.before.json
  packages/e2e-test/features/214-multiple-to-single-ccr-switch/test.feature
Due: e2e-test-changes

Rename parameter to accurately reflect purpose
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
