Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Remove deleted event handlers from Conductor (#1454)
  packages/conductor/deploy/ConductorGateway.ts
  packages/conductor/deploy/EventHandler.ts
  packages/conductor/deploy/deploy.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: conductor-changes, e2e-test-changes

Update READMEs about comparison tests
  README.md
  packages/core/README.md
Due: core-changes

Refactor deploy script for Conductor to not use imported isError
  packages/conductor/deploy/deploy.ts
Due: conductor-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Refactor deploy script for Conductor to not use imported isError (#1456)
  packages/conductor/deploy/deploy.ts
Due: conductor-changes

Remove reference to v2 aws-sdk in core
  package-lock.json
  packages/core/package.json
Due: core-changes

Store relevant currentUi on a localStorage
  packages/ui/src/components/Layout.tsx
  packages/ui/src/types/Ui.ts
Due: none

Upgrade aws-sdk to v3 in e2e-test package
  package-lock.json
  packages/e2e-test/helpers/IncomingMessageBucket.ts
  packages/e2e-test/package.json
Due: e2e-test-changes

debuging
  packages/e2e-test/helpers/IncomingMessageBucket.ts
Due: e2e-test-changes

Don't pass large JSON files to the Client
  package-lock.json
  packages/ui/empty.json
  packages/ui/next.config.js
  packages/ui/package.json
Due: none

Use latest packages for aws-sdk
  packages/e2e-test/helpers/IncomingMessageBucket.ts
Due: e2e-test-changes

Bump version of aws-sdk
  package-lock.json
  packages/e2e-test/package.json
Due: e2e-test-changes

We use "result-qualifier-code" in components
  packages/ui/next.config.js
Due: none

Remove redundant referance to aws-sdk v2
  packages/core/package.json
Due: core-changes

Update READMEs about comparison tests (#1452)
  README.md
  packages/core/README.md
Due: core-changes

Add comment
  packages/ui/next.config.js
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Don't pass large JSON files to the Client (#1459)
  package-lock.json
  packages/ui/empty.json
  packages/ui/next.config.js
  packages/ui/package.json
Due: none

Fix a11y issue
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.tsx
Due: none

Fix triggers with any type
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
Due: none

Remove spinner
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: none

Use proper links instead for going to root for tabs
  packages/ui/src/components/Exception/DefaultException.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsSingleTab.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/BackToAllOffencesLink.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
  packages/ui/src/types/CaseDetailsTab.ts
  packages/ui/src/utils/updateTabLink.ts
Due: none

Send user back to the case list page
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.tsx
Due: none

Give the tab links IDs
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsSingleTab.tsx
Due: e2e-test-changes

Refactor to support old UI image
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Add e2e tests
  packages/e2e-test/features/443-error-page-to-case-list/input-message.xml
  packages/e2e-test/features/443-error-page-to-case-list/test.feature
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/e2e-test/utils/urls.ts
Due: e2e-test-changes

Add condition to not to update currentUi from switching feedback page
  packages/ui/src/components/Layout.tsx
Due: none

Fix handling new triggers being generated
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Add more e2e test coverage
  packages/e2e-test/features/443-error-page-to-case-list/test.feature
Due: e2e-test-changes

Add LocalStorageKey enum
  packages/ui/src/components/InfoBanner.tsx
  packages/ui/src/components/Layout.tsx
  packages/ui/src/types/Ui.ts
Due: none

Update test to reflect the data
  packages/ui/cypress/e2e/case-list/filter-cases/triggersExcludedAtForceLevel.cy.ts
Due: none

Fix handling new triggers being generated (#1464)
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Remove links sending the user to route page (#1463)
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/src/components/Exception/DefaultException.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsSingleTab.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/BackToAllOffencesLink.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/types/CaseDetailsTab.ts
  packages/ui/src/utils/updateTabLink.ts
Due: e2e-test-changes

Add new command to run Old Bichard feature files
  packages/e2e-test/package.json
Due: e2e-test-changes

Fix e2e tests
  packages/e2e-test/features/443-error-page-to-case-list/test.feature
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Update standing data (#1462)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/cypress/e2e/case-list/filter-cases/triggersExcludedAtForceLevel.cy.ts
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Add Return-to-case-list button on 404 and 500 error pages (#1458)
  packages/e2e-test/features/443-error-page-to-case-list/input-message.xml
  packages/e2e-test/features/443-error-page-to-case-list/test.feature
  packages/e2e-test/package.json
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/e2e-test/utils/urls.ts
  packages/ui/src/components/InfoBanner.tsx
  packages/ui/src/components/Layout.tsx
  packages/ui/src/types/Ui.ts
Due: e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

Remove redundant DynamoDB environment variables for Core and Conductor
  environment/docker-compose-worker.yml
  environment/local-conductor-worker.env
  packages/conductor/e2e-test/helpers/setEnvironmentVariables.ts
  packages/core/tests/helpers/setEnvironmentVariables.ts
  packages/message-forwarder/src/test/setup/setEnvironmentVariables.ts
  scripts/build-core-worker-docker.sh
Due: env-changes, conductor-changes, core-changes, message-forwarder-changes
