Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Fix unused variable error
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Define CaseAudit end-point
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: common-changes

Add saveAuditResults end-point
  packages/api/src/routes/v1/cases/saveAuditResults.e2e.test.ts
  packages/api/src/routes/v1/cases/saveAuditResults.ts
Due: api-changes

Form errors
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/ExceptionQualityDropdown.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/TriggerQualityDropdown.tsx
Due: none

Test button disabled
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Reset errors on change
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Remove selected prop
  packages/ui/src/components/Select.tsx
Due: none

Tidy up test
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
Due: none

Rename test
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
Due: none

Rename tests
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
Due: none

Fix placeholders
  packages/ui/cypress/component/Select.cy.tsx
  packages/ui/src/components/Select.tsx
Due: none

Test placeholders
  packages/ui/cypress/component/Select.cy.tsx
Due: none

Use modern React 19 form features
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Use useActionState from React 19
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Tidy ups
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Add tests for error messages
  packages/ui/cypress/component/Audit/ExceptionQualityDropdown.cy.tsx
  packages/ui/cypress/component/Audit/TriggerQualityDropdown.cy.tsx
Due: none

Add check DB task
  packages/conductor/src/worker.ts
  packages/conductor/tasks/check_db.json
  packages/conductor/workflows/resubmit.json
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/core/conductor-tasks/resubmit/test_task.ts
Due: conductor-changes, core-changes

Refactor setupCase
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/tests/helpers/setupCase.ts
Due: core-changes

add component tests
  packages/ui/cypress/component/CaseListFilter/CourtDateFilter.cy.tsx
  packages/ui/src/components/SearchFilters/CourtDateFilter.tsx
Due: none

add user without feature flags
  packages/ui/cypress/fixtures/users.ts
Due: none

Add integration tests
  packages/api/src/routes/v1/cases/saveAuditResults.integration.test.ts
Due: api-changes

Minor tweaks
  packages/api/src/routes/v1/cases/saveAuditResults.ts
  packages/api/src/useCases/cases/saveAuditResults.integration.test.ts
Due: api-changes

add e2e tests and remove commented out code on checkbox
  packages/ui/cypress/e2e/case-list/filter-cases/filterCases.cy.ts
  packages/ui/src/components/SearchFilters/CourtDateReceivedDateMismatchCheckbox.tsx
Due: none

Add tests for state updates
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
Due: none

Tidy up type
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Use correct conductor API Env variable
  environment/docker-compose.yml
Due: env-changes

Add process resubmit task
  packages/conductor/tasks/process_resubmit.json
  packages/core/conductor-tasks/resubmit/process_resubmit.integration.test.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
Due: conductor-changes, core-changes

Add the task to the worker and workflow
  packages/conductor/src/worker.ts
  packages/conductor/workflows/resubmit.json
Due: conductor-changes

Use different way to clear the DB
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
Due: core-changes

change config from 001 back to 01
  packages/ui/src/config.ts
Due: none

Update auditCase service to throw NotFoundError if case does not exist
  packages/api/src/services/db/cases/auditCase.ts
Due: api-changes

Update saveAuditResults use case to propagate NotFoundError and UnprocessableEntityError
  packages/api/src/useCases/cases/saveAuditResults.integration.test.ts
  packages/api/src/useCases/cases/saveAuditResults.ts
Due: api-changes

improve error handling in saveAuditResults endpoint
  packages/api/src/routes/v1/cases/saveAuditResults.e2e.test.ts
  packages/api/src/routes/v1/cases/saveAuditResults.integration.test.ts
  packages/api/src/routes/v1/cases/saveAuditResults.ts
  packages/api/src/services/db/cases/auditCase.integration.test.ts
Due: api-changes

Import correct UnprocessableEntityError instance
  packages/api/src/routes/v1/cases/saveAuditResults.ts
Due: api-changes

Remove console
  packages/api/src/routes/v1/cases/saveAuditResults.ts
Due: api-changes

Change to use POST
  packages/ui/cypress/component/Audit/QualityStatusCard.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Changed structure of quality status values
  packages/common/types/ExceptionQuality.ts
  packages/common/types/TriggerQuality.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/ExceptionQualityDropdown.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/TriggerQualityDropdown.tsx
Due: common-changes

Only add aria-describedby in error state
  packages/ui/cypress/component/Audit/ExceptionQualityDropdown.cy.tsx
  packages/ui/cypress/component/Audit/TriggerQualityDropdown.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/ExceptionQualityDropdown.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/TriggerQualityDropdown.tsx
Due: none

Refactor how UI/API prases AHOs
  packages/api/src/services/parseHearingOutcome.ts
  packages/api/src/services/parseHearingOutcome.unit.test.ts
  packages/api/src/tests/helpers/ahoHelper.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/common/aho/parse/fixtures/PNCUpdateDataset.xml
  packages/common/aho/parseAhoXml/fixtures/AnnotatedHO1.json
  packages/common/aho/parseHearingOutcome.test.ts
  packages/common/aho/parseHearingOutcome.ts
  packages/ui/src/services/amendCourtCase/amendCourtCase.ts
  packages/ui/src/services/dto/courtCaseDto.ts
  packages/ui/src/services/reallocateCourtCase/reallocateCourtCaseToForce.ts
  packages/ui/src/utils/parseHearingOutcome.test.ts
  packages/ui/src/utils/parseHearingOutcome.ts
Due: api-changes, common-changes

Add support for Phase 2 resubmission
  packages/conductor/tasks/process_resubmit.json
  packages/conductor/workflows/resubmit.json
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
Due: conductor-changes, core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
