Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Update MOJ Code Formatter GitHub Action version (#1008)
  .github/workflows/format-code.yml
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#1007)
  package-lock.json
  packages/core/package.json
Due: core-changes

Update NPM dependencies for esbuild
  .ncurc.js
  package-lock.json
  package.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Remove esbuild-plugin-pino package
  package-lock.json
  packages/api/build.ts
  packages/api/package.json
Due: api-changes

Regenerate package-lock.json
  package-lock.json
  packages/e2e-test/package.json
Due: e2e-test-changes

Pull latest updates from UI repo
  .eslintrc.js
  package-lock.json
  packages/ui/cypress/e2e/api/reports/getReports.cy.ts
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/Layout.tsx
  packages/ui/src/pages/api/reports/[reportType]/index.ts
  packages/ui/src/pages/index.tsx
  packages/ui/src/services/QueryColumns.ts
  packages/ui/src/utils/deleteQueryParam/removeBlankQueryParams.test.ts
  packages/ui/src/utils/reports/Report.ts
  packages/ui/src/utils/reports/ReportTypes.ts
  packages/ui/src/utils/reports/createReport.ts
  packages/ui/src/utils/reports/createReportCsv.ts
  packages/ui/src/utils/reports/createResolvedExceptionsReportLines.test.ts
  packages/ui/src/utils/reports/createResolvedExceptionsReportLines.ts
  packages/ui/src/utils/setCookie.ts
  packages/ui/src/utils/validateQueryParams.ts
  packages/ui/test/helpers/createAuditLogRecord.ts
  packages/ui/test/services/reports/getCourtCasesForCaseDetailsReport.integration.test.ts
Due: none

Enabled tests again
  .circleci/continue_config.yml
Due: circleci-changes

Update NPM dependencies for esbuild (#1009)
  .ncurc.js
  package-lock.json
  package.json
  packages/api/build.ts
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Fix more eslint issues
  .eslintrc.js
  package-lock.json
  package.json
  packages/core/phase1/tests/helpers/PostgresHelper.ts
  packages/e2e-test/tsconfig.tsbuildinfo
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Rework the symlink script
  package-lock.json
  packages/ui/package.json
  packages/ui/scripts/symlink-node-modules.sh
Due: none

Add missig bash env
  packages/ui/scripts/symlink-node-modules.sh
Due: none

Fix UI docker image
  .circleci/scripts/ui-scripts/build-ui.sh
  packages/ui/Dockerfile
  packages/ui/docker/conf/supervisord.conf
  scripts/build-ui-docker.sh
Due: circleci-changes

Hopefully fix building UI docker in CI
  .circleci/continue_config.yml
  .circleci/scripts/ui-scripts/build-ui.sh
  scripts/build-ui-docker.sh
Due: circleci-changes

Use docker output tag in script
  scripts/build-ui-docker.sh
Due: none

Don't build core when we don't need everything from the monorepo
  .circleci/continue_config.yml
  package.json
Due: circleci-changes

Remove unneeded CI scripts
  .circleci/scripts/ui-scripts/clone-tests-repo.sh
  .circleci/scripts/ui-scripts/hash-package-lock.sh
  .circleci/scripts/ui-scripts/install-playwright.sh
Due: circleci-changes

Removed unneed CI config
  packages/ui/.circleci/config.yml
Due: none

Remove unneed GitHub actions and move CodeQL
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql/paths.yml
  packages/ui/.github/codeql/paths.yml
  packages/ui/.github/workflows/update-npm-deps.yml
Due: none

Do not download the audit log repo twice
  .circleci/continue_config.yml
Due: circleci-changes

Use a narrower build command
  packages/conductor/Dockerfile
  packages/message-forwarder/Dockerfile
Due: conductor-changes, message-forwarder-changes

Build common with e2e tests
  package.json
Due: none

Remove unneeded package
  packages/conductor/package.json
Due: conductor-changes

Remove unneeded packages
  packages/ui/package.json
Due: none

New package-lock
  package-lock.json
Due: none

We need common in cucumber e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

Try to ignore json files
  .github/workflows/format-code.yml
Due: none

wip
  packages/e2e-test/features/814-final/input-message.xml
  packages/e2e-test/features/814-final/mock-pnc-responses.ts
  packages/e2e-test/features/814-final/pnc-data-2.xml
  packages/e2e-test/features/814-final/pnc-data.xml
  packages/e2e-test/features/814-final/test.feature
Due: e2e-test-changes

Remove/edit GitHub actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql/paths.yml
  .github/workflows/format-code.yml
Due: none

Add UI to core buildspec
  buildspec.yml
Due: none

Move seed-data-buildspec to top level
  packages/ui/buildspec.yml
  packages/ui/scripts/build-docker.sh
  scripts/generate-codebuild-vpn.sh
  scripts/setup-e2e-env.sh
  seed-data-buildspec.yml
Due: none

Trim down the size of the docker image
  packages/ui/Dockerfile
Due: none

Add HO200112 exception generator
  packages/core/phase2/exceptions/HO200112.test.ts
  packages/core/phase2/exceptions/HO200112.ts
Due: core-changes

Remove HO200112 from validateOperations function
  packages/core/phase2/lib/generateOperations/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/generateOperations/validateOperations.test.ts
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Fix arguments order call in checkOperationsException
  packages/core/phase2/exceptions/checkOperationsException.test.ts
  packages/core/phase2/exceptions/checkOperationsException.ts
Due: core-changes

Add checkClashingCourtCaseOperationsException function
  packages/core/phase2/exceptions/checkClashingCourtCaseOperationsException.test.ts
  packages/core/phase2/exceptions/checkClashingCourtCaseOperationsException.ts
Due: core-changes

Don't run if there's no change
  .circleci/continue_config.yml
Due: circleci-changes

Just build core
  .github/workflows/publish-architecture.yml
Due: none

Fix schema generation
  scripts/generate-schema-doc.sh
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
