Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add test helpers
  packages/api/src/tests/helpers/auditLogHelper.ts
  packages/api/src/tests/helpers/mockReportHandler.ts
Due: api-changes

Add util to Create AuditLogUserEvent
  packages/api/src/useCases/cases/reports/utils/createReportAuditLog.ts
  packages/api/src/useCases/cases/reports/utils/createReportAuditLog.unit.test.ts
Due: api-changes

Audit Log needs report rows not DB rows
  packages/api/src/useCases/cases/reports/createReportHandler.ts
  packages/api/src/useCases/cases/reports/createReportHandler.unit.test.ts
Due: api-changes

Update Bails report
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/useCases/cases/reports/bails/generateBailsReport.ts
  packages/api/src/useCases/cases/reports/bails/generateBailsReport.unit.test.ts
Due: api-changes

Update Domestic Violence report
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticVlolence.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/useCases/cases/reports/domesticViolence/generateDomesticViolenceReport.ts
  packages/api/src/useCases/cases/reports/domesticViolence/generateDomesticViolenceReport.unit.test.ts
Due: api-changes

Update exceptions report
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.unit.test.ts
Due: api-changes

Update Warrants report
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.unit.test.ts
Due: api-changes

Exclude test 139 until special charecters in bailConditions handled properly
  packages/e2e-test/features/139-bad-characters/test.feature
Due: e2e-test-changes

Fix offence mapping in normaliseForComparison function
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/normaliseForComparison.ts
Due: e2e-test-changes

Resolve build pipeline failures on main
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
Due: core-changes, e2e-test-changes

Pass pncUpdateDataset to convertPncJsonToLedsRemandRequest
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
Due: core-changes, e2e-test-changes

Aggregated filter values
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

report type fix
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Resolve build pipeline failures on main (#1848)
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
Due: e2e-test-changes

Refactored 'has run' state management
  packages/ui/src/features/ReportSelectionFilter/Checkboxes.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Moved select dropdown to separate component
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/SelectReportDropdown.tsx
Due: ui-changes

Report type type assigned
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Moved validation messages to constants file
  packages/ui/src/features/ReportSelectionFilter/Checkboxes.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/features/ReportSelectionFilter/SelectReportDropdown.tsx
  packages/ui/src/features/ReportSelectionFilter/ValidationMessages.ts
Due: ui-changes

whitespace
  packages/ui/src/features/ReportSelectionFilter/Checkboxes.tsx
Due: ui-changes

Rearrange
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

simplified validation check return
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Validation refactor
  packages/ui/src/features/ReportSelectionFilter/Checkboxes.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/SelectReportDropdown.tsx
  packages/ui/src/features/ReportSelectionFilter/ValidationMessages.ts
  packages/ui/src/features/ReportSelectionFilter/validation.ts
Due: ui-changes

Simplified checkboxes error
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/validation.ts
Due: ui-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Fix mock retrieving retry logic
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

Fix psaCourtCode mapping in convertPncJsonToLedsRemandRequest function
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
Due: e2e-test-changes

Fix bailConditions mapping
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
  packages/e2e-test/utils/normaliseForComparison.ts
Due: e2e-test-changes

Exclude plea and adjudication from offences when required to be excluded
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
Due: e2e-test-changes

Move const to global scope from inside the forEach loop
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

Add Audit Log for when a user downloads the CSV of a report
  packages/ui/src/services/reports/auditLogCsvDownload.integration.test.ts
  packages/ui/src/services/reports/auditLogCsvDownload.ts
Due: ui-changes

Add report log UI API page
  packages/ui/src/pages/api/reports/log.ts
Due: ui-changes

Add UI API call when click the CSV Download button
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Fix mapping cjsOffenceCode and add mapping of roleQualifiers
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: e2e-test-changes

Remove logs
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

Fix component test
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
Due: ui-changes

Fix normalising disposalText and locationText for comparison in test
  packages/e2e-test/utils/normaliseForComparison.ts
Due: e2e-test-changes

Correct ENV variable
  packages/ui/cypress/e2e/reports/navigateToReportsFilterPage.cy.ts
  packages/ui/src/config.ts
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

Fix additionalArrestOffences mapping
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/normaliseForComparison.ts
Due: e2e-test-changes

Add fix to remove both Date-cannot-be-after-Date-to and vice versa error messages at the same time
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/validation.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
