Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@a758c73094227ddb9d2b7ce777a211ba6b75a282 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove release github workflow (#1127)
  .github/workflows/release.yml
  package.json
  scripts/build-package.sh
  scripts/fix-imports.js
  scripts/post-install.sh
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b1d1ba9a3c8c99b19aa7477761c7a51cd9b7c7aa 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

sort note table in descending order
  packages/ui/src/components/NotesTable.tsx
Due: none

fix e2e test
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
Due: none

WIP
  packages/ui/src/services/dto/courtCaseDto.ts
Due: none

add test for note order
  packages/ui/cypress/component/NotesTable.cy.tsx
Due: none

test
  packages/ui/src/services/dto/courtCaseDto.ts
Due: none

add e2e test
  packages/ui/cypress/e2e/case-details/view-case-details/view-notes.cy.ts
Due: none

undo previous commits and refactor
  packages/ui/cypress/component/NotesTable.cy.tsx
  packages/ui/src/components/NotesTable.tsx
  packages/ui/src/services/dto/courtCaseDto.ts
Due: none

WIP
  packages/ui/cypress/e2e/case-details/view-case-details/view-notes.cy.ts
Due: none

fix test
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
Due: none

sort notes in ascending order
  packages/ui/src/services/dto/courtCaseDto.ts
Due: none

add test
  packages/ui/cypress/e2e/case-details/view-case-details/view-notes.cy.ts
Due: none

Make test 40 less flaky
  packages/e2e-test/features/040-user-performance-report/test.feature
Due: e2e-test-changes

reverse note order and add test
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-notes.cy.ts
  packages/ui/src/services/dto/courtCaseDto.ts
Due: none

reverse note order and add test (#1131)
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-notes.cy.ts
  packages/ui/src/services/dto/courtCaseDto.ts
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@63c4d0ec1bb86974a1cf963feaf877b8a09bd1e9 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@1cb7ff54f233454d43a88a87feac8f64a9680152 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@eaa2933829fedf90b3da4af9f91dd9f5c16e8670 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Exit if conductor fails
  environment/boot.sh
Due: env-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f89e12127ad2a7c1e87afdb83ec7197f5dc88b37 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@df7965ebf273894cf7b47225603d63107a1cfc21 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@1c3ca62acded125df8c6021bf6d24268e1dcf429 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@3b43d05ecd9fa6910c7c81c7cda4b0ad85a52762 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add perfectionist to packages/common
  .eslintrc.js
Due: none

Fix broken test in common package
  packages/common/AuditLogApiClient/AuditLogApiClient.test.ts
Due: common-changes

Use preferred arguments
  .circleci/scripts/ui-scripts/run-component-tests.sh
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@d53ed5f3eb9884744b7f4602540610cae153bceb 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix ignoring PNC comparisons without outgoing message
  packages/core/comparison/lib/comparePhase3.ts
Due: core-changes

Fix compare:files script to work with no outgoing message
  packages/core/scripts/files-from-comparison.js
Due: core-changes

Fix incorrectly returning 2063 PNC disposal type for disposals
  packages/core/lib/getRecordableOffencesForCourtCase.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/checkRccSegmentApplicability.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/checkRccSegmentApplicability.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/hearingDetails.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
Due: core-changes

Fix getRecordableOffencesForCourtCase
  packages/core/lib/getRecordableOffencesForCourtCase.ts
Due: core-changes

Update comparePhase3 to handle PNC successes and failures together
  packages/core/comparison/lib/MockPncGateway.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/phase3/tests/helpers/mockUpdatesInPnc.ts
Due: core-changes

Fix padding for qualifiers in createPncDisposal
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.test.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
