Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Use consistent version of eslint in user service
  package-lock.json
  packages/user-service/package.json
Due: user-service-changes

Refactor Zod schemas
  packages/common/types/Case.ts
Due: common-changes

Do not include unvalidatedHearingOutcomeSchema
  packages/api/src/routes/v1/cases/[caseId]/_caseId.ts
Due: api-changes

Fix linting issue
  packages/core/lib/triggers/TRPR0004.ts
Due: core-changes

Tweak script
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Fix cypress-circleci-reporter
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: ui-changes

Extract out parseDisposalDuration function so that it can be reused
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.ts
Due: core-changes

Amend toTitleCase function to handle undefined
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.ts
Due: core-changes

Handle undefined in convertDate and convertTime functions
  packages/core/lib/policeGateway/leds/dateTimeConverter.ts
Due: core-changes

Remove dateOfSentence from baseOffenceSchema as it is not required in every offence schema
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
Due: core-changes

Handle undefined values
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
Due: core-changes, e2e-test-changes

Initial implementation of convertPncJsonToLedsAsnQueryResponse function
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
Due: e2e-test-changes

Remove handling undefined in the converDate and convertTime functions
  packages/core/lib/policeGateway/leds/dateTimeConverter.ts
Due: core-changes

Parse disposalQualifiers correctly
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
Due: e2e-test-changes

Make unitMap const
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
Due: core-changes

Revert changes for toTitleCase function as handling undefined is not needed
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.ts
Due: core-changes

Improve if statement following sonar cloud suggestion
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
Due: core-changes

Handle optional offence start and end date and time
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
Due: core-changes, e2e-test-changes

extract out variable
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
Due: core-changes

Extract out unitMap variable
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
Due: core-changes

Move unitMap out of the function
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
Due: core-changes

Add mock-server script
  environment/docker-compose.yml
  environment/mock-server/Dockerfile
  environment/mock-server/mock-server.sh
  environment/mock-server/mock-server.ts
Due: none

Install packages for eslint
  package-lock.json
  package.json
Due: none

Configure eslint
  eslint.config.mjs
Due: none

Fix eslint error for using reserved key words
  .ncurc.js
Due: none

Fix linting
  packages/core/lib/triggers/TRPR0004.ts
Due: core-changes

Dont set the reporter in run-cypress-e2e-tests.sh
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
Due: circleci-changes

WIP
  packages/core/lib/policeGateway/leds/createLedsApiConfig.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/e2e-test/features/027-orphaned-non-recordable/mock-pnc-responses.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/createMockRequest.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/createMockResponse.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/PncApi/PncApi.ts
  packages/e2e-test/utils/config.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/convertPncXmlToJson/extractSegments.ts
Due: core-changes, e2e-test-changes

Trigger jobs when env changes
  .circleci/continue_config.yml
Due: circleci-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Trigger jobs when env changes (#1728)
  .circleci/continue_config.yml
Due: circleci-changes

Update standing data dependency (#1731)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Fix tests
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
Due: core-changes

Update CI to trigger jobs for changes in environment directory
  .circleci/continue_config.yml
Due: circleci-changes

Add new columns for hearing outcome json (#1711)
  .circleci/continue_config.yml
  environment/postgres/liquibase/migrations/base/038_add_hearing_outcome_json_columns.sql
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
Due: circleci-changes, core-changes

Add Crown to UI
  packages/ui/src/components/Layout.styles.tsx
  packages/ui/src/components/Layout.tsx
Due: ui-changes

Add Crown to User Service
  packages/user-service/src/components/Footer.tsx
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: user-service-changes

Add Crown to UI and User Service (#1733)
  packages/ui/src/components/Layout.styles.tsx
  packages/ui/src/components/Layout.tsx
  packages/user-service/src/components/Footer.tsx
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: ui-changes, user-service-changes

New command/script to run UI with API
  packages/ui/package.json
  packages/ui/scripts/run-dev-with-api.sh
Due: ui-changes
