Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Refactor run_test_chunk.sh
  packages/e2e-test/scripts/run_test_chunk.sh
Due: e2e-test-changes

Typo
  packages/user-service/test/useCases/getUserByUsername.integration.test.ts
  scripts/analytics/usage-report/generateReportData.ts
Due: user-service-changes

Removed hasAccessToNewBichard checks
  packages/user-service/src/pages/index.tsx
  packages/user-service/src/useCases/getUserServiceAccess.ts
Due: user-service-changes

Removed test that checks if Access to new bichard button is only displayed if feature flag is present
  packages/user-service/cypress/e2e/home.cy.js
Due: user-service-changes

Removed hasAccessToNewBichard check from user-service
  packages/user-service/src/components/Layout.tsx
  packages/user-service/src/useCases/hasUserAccessToUrl.ts
Due: user-service-changes

Removed tests/test data relating to newUI group
  packages/e2e-test/utils/dummyUserData.ts
  packages/user-service/src/types/UserGroup.ts
  packages/user-service/test/useCases/hasNewUIGroup.test.ts
  packages/user-service/test/useCases/hasUserAccessToUrl.test.ts
Due: e2e-test-changes, user-service-changes

Use toFixed() function to format monetary value
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
Due: e2e-test-changes

Updated test to allow new bichard by default
  packages/user-service/test/useCases/hasUserAccessToUrl.test.ts
Due: user-service-changes

Prepare LEDS e2e-tests for running in the AWS pipeline (#1887)
  .circleci/continue_config.yml
  .gitignore
  environment/leds-environment-variable.sh
  packages/conductor/tsconfig.build.json
  packages/conductor/tsconfig.json
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/convertAsnToLedsFormat.test.ts
  packages/core/lib/policeGateway/leds/convertAsnToLedsFormat.ts
  packages/core/lib/policeGateway/leds/endpoints.test.ts
  packages/core/lib/policeGateway/leds/endpoints.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
  packages/core/schemas/leds/asnQueryResponse.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/e2e-test/e2eTestBuildspec.yml
  packages/e2e-test/features/180-multiple-ccr-multiple-offence-added-in-court/test.feature
  packages/e2e-test/features/185-multiple-ccr-offences-added-in-court/test.feature
  packages/e2e-test/features/202b-breach-further-offence/test.feature
  packages/e2e-test/features/405-fix-exceptions-multiple-attempts/test.feature
  packages/e2e-test/features/438-HO100310-two-pairs-two-ccrs/test.feature
  packages/e2e-test/package.json
  packages/e2e-test/scripts/run-pipeline-tests.sh
  packages/e2e-test/scripts/run_test_chunk.sh
  packages/e2e-test/scripts/setup-api-hosts.sh
  packages/e2e-test/scripts/setup-e2e-tests.sh
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/isRecordableOffence.ts
  packages/e2e-test/utils/LedsApi/fetchCaseDataFromLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/waitForResponse.ts
  packages/e2e-test/utils/LedsApi/snapshotLedsApiData.ts
  packages/e2e-test/utils/LedsApi/verifyRealLedsApiData.ts
  packages/e2e-test/utils/PncApi/checkMocks.ts
  packages/e2e-test/utils/config.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
Due: circleci-changes, conductor-changes, core-changes, e2e-test-changes

Updated findUsersWithAccessToNewUi sql statement to ignore new UI user group condition
  scripts/analytics/usage-report/findUsersWithAccessToNewUi.ts
  scripts/analytics/usage-report/index.ts
Due: none

Amended tests that fail if user has no groups
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-list/roles.cy.ts
Due: ui-changes

reverted test
  packages/ui/cypress/e2e/case-list/roles.cy.ts
Due: ui-changes

reverted test
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Add permission check for audit endpoint
  packages/api/src/routes/v1/cases/[caseId]/audit.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/audit.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/audit.ts
  packages/api/src/useCases/cases/saveAuditResults.integration.test.ts
  packages/api/src/useCases/cases/saveAuditResults.ts
Due: api-changes

Add permission check for audit endpoint (#1905)
  packages/api/src/routes/v1/cases/[caseId]/audit.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/audit.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/audit.ts
  packages/api/src/useCases/cases/saveAuditResults.integration.test.ts
  packages/api/src/useCases/cases/saveAuditResults.ts
Due: api-changes

Remove Forces for Audit
  .circleci/continue_config.yml
  .circleci/scripts/run-infrastructure.sh
  environment/docker-compose.yml
  packages/ui/scripts/run-dev-with-api.sh
  packages/ui/src/config.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.test.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.ts
Due: circleci-changes, ui-changes

Move the test statement at appropriate place to remove flakiness
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
Due: e2e-test-changes

Fix CVE-2025-62718
  package-lock.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Fix CVE-2025-62718 (#1908)
  package-lock.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Reduce flakiness by making appropriate sequence
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
  packages/e2e-test/features/316-2060-disposal-with-2050-result/test.feature
Due: e2e-test-changes

add slsa to format code
  .github/workflows/format-code.yml
Due: none

replace slack notifs step
  .github/workflows/update-npm-deps.yml
Due: none

add slsa to update deps
  .github/workflows/update-npm-deps.yml
Due: none

Convert normal disposal request json to xml (#1890)
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
  packages/e2e-test/features/316-2060-disposal-with-2050-result/test.feature
  packages/e2e-test/types/MockAddDisposalRequest.ts
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAddDisposalRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsRemandRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/achSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegment.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/asrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cchSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/couSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/crtSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXE01.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncDateTime.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncTime.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatters.ts
Due: e2e-test-changes

Remove axios from user service
  package-lock.json
  packages/user-service/package.json
  packages/user-service/src/lib/getAuditLogger/getApiEventLogger.ts
Due: user-service-changes

Update generateAsnQueryFromNcm to map offence start and end times
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
Due: e2e-test-changes

Add test 001 data
  packages/e2e-test/features/001-sexual-offences/police-data.after.json
  packages/e2e-test/features/001-sexual-offences/police-data.before.json
  packages/e2e-test/features/001-sexual-offences/test.feature
Due: e2e-test-changes

Ignore e2e test failures for leds workspace
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Update e2eTestBuildspec.yml to skip LEDS tests if API is unavailable
  packages/e2e-test/e2eTestBuildspec.yml
  packages/e2e-test/scripts/check-leds-api-status.sh
Due: e2e-test-changes

Add MockSubsequentDisposalResultsRequest.ts
  packages/e2e-test/types/MockSubsequentDisposalResultsRequest.ts
Due: e2e-test-changes

Add subSegmentGenerator
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/subSegmentGenerator.ts
Due: e2e-test-changes

Add convertLedsSubsequentDisposalRequestToXmls
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsSubsequentDisposalRequestToXmls.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
Due: e2e-test-changes

Add offence start and end times to arrest offence schema
  packages/core/schemas/leds/addDisposalRequest.ts
Due: core-changes

Format jsons
  packages/e2e-test/features/001-sexual-offences/police-data.after.json
  packages/e2e-test/features/001-sexual-offences/police-data.before.json
  packages/e2e-test/features/007-split-adjournment/police-data.after.json
  packages/e2e-test/features/007-split-adjournment/police-data.before.json
  packages/e2e-test/features/028-driver-disqualification/police-data.after.json
  packages/e2e-test/features/028-driver-disqualification/police-data.before.json
  packages/e2e-test/features/028a-sentence-deferred/police-data.after.json
  packages/e2e-test/features/028a-sentence-deferred/police-data.before.json
  packages/e2e-test/features/033-sine-die-results/police-data.after.json
  packages/e2e-test/features/033-sine-die-results/police-data.before.json
  packages/e2e-test/features/115-withdrawn-dismissed-offences/police-data.after.json
  packages/e2e-test/features/115-withdrawn-dismissed-offences/police-data.before.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.before.json
  packages/e2e-test/features/501-carry-forward-for-additional-offence/police-data.after.json
  packages/e2e-test/features/501-carry-forward-for-additional-offence/police-data.before.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.after.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.before.json
  packages/e2e-test/features/503-refer-to-court-case/police-data.after.json
  packages/e2e-test/features/503-refer-to-court-case/police-data.before.json
Due: e2e-test-changes

Refactor check-leds-api-status.sh
  packages/e2e-test/scripts/check-leds-api-status.sh
Due: e2e-test-changes

Updated fetch by username query to allow users with no groups assigned
  packages/api/src/services/db/users/fetchUserByUsername.ts
Due: api-changes

Implement offenceSegmentsCXU04 and add it to convertLedsSubsequentDisposalRequestToXmls
  packages/e2e-test/types/MockSubsequentDisposalResultsRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsSubsequentDisposalRequestToXmls.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU04.ts
Due: e2e-test-changes

Remove axios from UI
  package-lock.json
  packages/ui/cypress/component/AutoSave.cy.tsx
  packages/ui/package.json
  packages/ui/src/components/EditableFields/AutoSave.tsx
  packages/ui/src/components/Typeaheads/ForceOwnerTypeahead.tsx
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.tsx
  packages/ui/src/hooks/useRefreshCsrfToken.ts
  packages/ui/src/services/api/ApiClient.test.ts
  packages/ui/src/services/api/ApiClient.ts
  packages/ui/src/services/api/ReportsApiClient.test.ts
  packages/ui/src/services/api/ReportsApiClient.ts
  packages/ui/src/services/storeAuditLogEvents.ts
  packages/ui/test/helpers/createAuditLog.ts
  packages/ui/test/helpers/fetchAuditLogEvents.ts
  packages/ui/test/services/lockCourtCase.integration.test.ts
  packages/ui/test/services/resolveCourtCase.integration.test.ts
  packages/ui/test/services/storeAuditLogEvents.integration.test.ts
  packages/ui/test/services/unlockCourtCase.integration.test.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
