Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Remove SonarCloud issues
  packages/api/src/endpoints/versionedEndpoints.ts
Due: api-changes

Use normal for loop instead of forEach()
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename generatedDisposals to pncDisposalsFromResult
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Work out found2050Result at the beginning
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Inline ignore2063Disposal
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Delete V2 demo
  packages/api/src/routes/v2/me.e2e.test.ts
  packages/api/src/routes/v2/me.integration.test.ts
  packages/api/src/routes/v2/me.ts
  packages/api/src/server/openapi/setupSwagger.ts
Due: api-changes

Use nested version endpoints for readability
  packages/api/src/endpoints/versionedEndpoints.ts
  packages/api/src/plugins/v1/health/plugin.e2e.test.ts
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/plugins/v1/health/plugin.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
Due: api-changes

Comment is no longer valid
  packages/api/src/endpoints/versionedEndpoints.ts
Due: api-changes

Add versioning to the api (#1204)
  packages/api/src/endpoints/endpoints.ts
  packages/api/src/endpoints/versionedEndpoints.ts
  packages/api/src/endpoints/versions.ts
  packages/api/src/plugins/health/routes.ts
  packages/api/src/plugins/v1/health/handlers.ts
  packages/api/src/plugins/v1/health/plugin.e2e.test.ts
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/plugins/v1/health/plugin.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/openapi/setupSwagger.ts
Due: api-changes

Add Case endpoint to the list
  packages/api/src/endpoints/endpoints.ts
  packages/api/src/endpoints/versionedEndpoints.ts
  packages/api/src/routes/v1/cases/case.ts
Due: api-changes

Reorder variables
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename boolean variables
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Add integration tests for getting a case endpoint Co-Authored-By: Richard Race <richard.race@madetech.com>
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/tests/helpers/userHelper.ts
Due: api-changes

add unit tests for fetchFullCase
  packages/api/src/useCases/fetchFullCase.ts
  packages/api/src/useCases/fetchFullCase.unit.test.ts
Due: api-changes

Add an edge case
  packages/api/src/services/formatForceNumbers.unit.test.ts
Due: api-changes

Refactor try catch into a simple assertion
  packages/api/src/services/gateways/dataStoreGateways/postgres/canCaseBeResubmitted.unit.test.ts
Due: api-changes

Do not include fakes in dist builds
  packages/api/tsconfig.build.json
Due: api-changes

Correct data types
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/useCases/fetchFullCase.unit.test.ts
Due: api-changes

Add unit test for sql fetchFullCase
  packages/api/src/services/gateways/dataStoreGateways/postgres/fetchFullCase.unit.test.ts
Due: api-changes

Refactor to domain folders
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/canCaseBeResubmitted.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/canCaseBeResubmitted.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchFullCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchFullCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/users/fetchUserByUsername.ts
Due: api-changes

WIP: First go at defining Case DTO's
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchFullCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchFullCase.unit.test.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.unit.test.ts
  packages/api/src/useCases/fetchFullCase.ts
  packages/api/src/useCases/fetchFullCase.unit.test.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Work out hasConverted2060Result at the beginning
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Check recordable results for result and disposal codes
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Revert "Check recordable results for result and disposal codes"
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Check recordable results for only result and disposal codes
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Work out has3027Disposal at the beginning
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Use empty list as default for disposalsFor2060Result
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Update tests
  packages/core/phase3/lib/hearingDetails/__snapshots__/createDisposalsFromOffence.test.ts.snap
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.test.ts
Due: core-changes

Move shouldIgnore2063Disposal closer to usage
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Remove unnecessary else if within for loop
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Refactor shouldIgnore2063Disposal to shouldAdd2063Disposal
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Move variables closer to usage
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
