Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Recommit test file for general handlers to see all resolved cases in force
  packages/ui/cypress/e2e/case-list/relevantResolvedCases.cy.ts
Due: ui-changes

chore: Add debug logs to CI script
  .circleci/continue_config.yml
Due: circleci-changes

Remove ListAllCases from UI logic
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
Due: ui-changes

chore: added express to package.json dependencies
  packages/s3-web-proxy/s3-server/package.json
Due: none

Add new e2e test
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/input-message.xml
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/mock-pnc-responses.ts
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/pnc-data.after.html
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/pnc-data.after.xml
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/pnc-data.before.html
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/pnc-data.before.xml
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/pnc-data.xml
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/police-data.after.json
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/police-data.before.json
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/test-steps.pdf
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/test.feature
Due: e2e-test-changes

chore: added aws-sdk
  packages/s3-web-proxy/s3-server/package.json
Due: none

chore: added rest of missing dependancies
  packages/s3-web-proxy/s3-server/package.json
Due: none

chore: chagned aws version
  packages/s3-web-proxy/s3-server/package.json
Due: none

chore:removed debugging
  .circleci/continue_config.yml
Due: circleci-changes

Remove jest setup
  packages/user-service/jest.config.js
  packages/user-service/jest.setup.ts
Due: user-service-changes

Update filter logic for UI
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
Due: ui-changes

Update integration tests and UI query filter logic
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolutionStatus.integration.test.ts
Due: ui-changes

Added stub test files
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/exceptionHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/filterByReasonAndResolutionStatus.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/generalHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/noGroupUser.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/supervisor.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/triggerHandler.integration.test.ts
Due: ui-changes

chore: removed duplicate goss installation
  .circleci/continue_config.yml
Due: circleci-changes

chore: one more line to remove
  .circleci/continue_config.yml
Due: circleci-changes

chore: creating make for goss
  .circleci/continue_config.yml
  packages/s3-web-proxy/Makefile
Due: circleci-changes

chore: added missing hypens
  packages/s3-web-proxy/Makefile
Due: none

Separated out filterByReasonAndResolutionStatus test into separate files for each user
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/generalHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/noGroups.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/supervisor.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/exceptionHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/filterByReasonAndResolutionStatus.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/generalHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/noGroupUser.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/noGroups.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/supervisor.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/triggerHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/utils.ts
Due: api-changes, ui-changes

Update Next to v16.3 (#2159)
  eslint.config.mjs
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/next-env.d.ts
  packages/ui/next.config.js
  packages/ui/package.json
  packages/user-service/.ncurc.js
  packages/user-service/jest.config.js
  packages/user-service/next-env.d.ts
  packages/user-service/next.config.js
  packages/user-service/package.json
  packages/user-service/src/components/Layout.tsx
  packages/user-service/src/components/Link.tsx
  packages/user-service/src/components/Login/RememberForm.tsx
  packages/user-service/src/components/Login/ResetPasswordFormGroup.tsx
  packages/user-service/src/components/Summary/SummaryItem.tsx
  packages/user-service/src/components/users/UserForm.tsx
  packages/user-service/src/pages/_document.tsx
  packages/user-service/test/components/ResetPasswordFormGroup.test.tsx
  packages/user-service/test/components/ValidateCodeForm.test.tsx
  packages/user-service/test/lib/getAuditLogger/getAuditLogger.integration.test.ts
  packages/user-service/test/lib/token/authenticationToken.test.ts
  packages/user-service/test/pages/403.test.tsx
  packages/user-service/test/pages/500.test.tsx
  packages/user-service/test/useCases/changePassword.integration.test.ts
  packages/user-service/test/useCases/changePassword.test.ts
  packages/user-service/test/useCases/createNewUserEmail.integration.test.ts
  packages/user-service/test/useCases/getFilteredUsers.integration.test.ts
  packages/user-service/test/useCases/sendPasswordChangedEmail.integration.test.ts
  packages/user-service/tsconfig.build.json
  packages/user-service/tsconfig.json
Due: ui-changes, user-service-changes

Make correction to mock response
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/mock-pnc-responses.ts
Due: e2e-test-changes

readme
  packages/spi-transform/README.md
Due: none

Refactor filter logic to be more readable
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/reasonAndResolutionStatus.ts
Due: api-changes

Refactor for UI filter logic
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
Due: ui-changes

Add a relevant feature name
  packages/e2e-test/features/504-different-defendant-name-in-hearing-outcome/test.feature
Due: e2e-test-changes

Added new folder/files for supervisor switch-off
  scripts/rollout/has-run/20260804/1.sql
  scripts/rollout/has-run/20260804/2.sql
  scripts/rollout/has-run/20260804/3.sql
  scripts/rollout/has-run/20260804/4.sql
Due: none

Update reasonCode checks to check for undefined before checking length
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
Due: ui-changes

Added new folder/files for supervisor switch-off (#2161)
  scripts/rollout/has-run/20260804/1.sql
  scripts/rollout/has-run/20260804/2.sql
  scripts/rollout/has-run/20260804/3.sql
  scripts/rollout/has-run/20260804/4.sql
Due: none

chore: adjustments based on PR comments
  .circleci/continue_config.yml
  packages/s3-web-proxy/Makefile
Due: circleci-changes

corrected typo
  .circleci/continue_config.yml
Due: circleci-changes

Remove redundant SQL AND statement
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/reasonAndResolutionStatus.ts
Due: api-changes

removed redundant lines
  .circleci/continue_config.yml
Due: circleci-changes

getting package.json to original state
  packages/s3-web-proxy/s3-server/package.json
Due: none

Bicaws7 4449 in case list we need to allow resolved triggers to show (#2157)
  packages/api/src/services/db/cases/filters/checkPermissions.ts
  packages/api/src/services/db/cases/filters/generateFilters.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/reasonAndResolutionStatus.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/generalHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/noGroups.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/supervisor.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/utils.test.ts
  packages/api/src/services/db/cases/filters/reasonCodes.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonCodes.ts
  packages/ui/cypress/e2e/case-list/relevantResolvedCases.cy.ts
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/exceptionHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/generalHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/noGroups.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/supervisor.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/triggerHandler.integration.test.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolution/utils.ts
  packages/ui/test/services/listCourtCases/filterByReasonAndResolutionStatus.integration.test.ts
Due: api-changes, ui-changes

BICAWS7-4310-Test the container in-CI with Goss (#2139)
  .circleci/continue_config.yml
  packages/s3-web-proxy/Makefile
  packages/s3-web-proxy/s3-server/package.json
Due: circleci-changes

Add missing tests
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
Due: api-changes

updated filtering logic
  packages/api/src/services/db/cases/filters/generateFilters.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonCodes.ts
Due: api-changes

Add conductor to core
  environment/conductor/Dockerfile
  environment/conductor/Makefile
  environment/conductor/build.sh
  environment/conductor/buildspec.yml
  environment/conductor/conductor_version
  environment/conductor/files/config.properties
  environment/conductor/files/nginx.conf
  environment/conductor/files/nginx.repo
  environment/conductor/files/openssl.cnf
  environment/conductor/files/process_templates.sh
  environment/conductor/files/supervisord.conf
  environment/conductor/files/templates/conductor.http.tpl
  environment/conductor/files/templates/conductor.https.tpl
  environment/conductor/goss.yaml
  environment/conductor/goss_wait.yaml
  environment/conductor/scripts/build_docker.sh
Due: none

Removed conductor from images to pull
  environment/boot.sh
Due: none

Adjust docker compose
  environment/docker-compose.yml
Due: none
