Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

add additional ad-hoc sql scripts
  packages/spi-transform/sql/count_result_codes.sql
Due: none

BICAWS7-3622 API endpoint to create notes (#2203)
  packages/api/src/routes/v1/cases/[caseId]/note.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/note.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/note.ts
  packages/api/src/services/db/cases/checkCasePermission.integration.test.ts
  packages/api/src/services/db/cases/checkCasePermission.ts
  packages/api/src/services/db/cases/fetchNotes.ts
  packages/api/src/services/db/cases/insertNotes.integration.test.ts
  packages/api/src/services/db/cases/insertNotes.ts
  packages/api/src/useCases/cases/createNote.integration.test.ts
  packages/api/src/useCases/cases/createNote.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/Note.ts
Due: api-changes, common-changes

add analytical data store design
  docs/architecture/adrs/0014-analytical-data-store-design.md
Due: none

WIP endpoints and usecase
  packages/api/src/routes/v1/cases/[caseId]/reallocate.ts
  packages/api/src/useCases/cases/reallocateCase.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: api-changes, common-changes

rewording
  docs/architecture/adrs/0014-analytical-data-store-design.md
Due: none

CaseResolve rename
  packages/api/src/routes/v1/cases/[caseId]/resolve.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: api-changes, common-changes

Handle subsequentAppearances mapping
  packages/e2e-test/utils/LedsApi/fetchCaseDataFromLedsApi.ts
Due: e2e-test-changes

Add temporary changes
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Revert the changes
  packages/e2e-test/utils/LedsApi/fetchCaseDataFromLedsApi.ts
Due: e2e-test-changes

Add missing field
  packages/e2e-test/features/007-split-adjournment/police-data.after.json
Due: e2e-test-changes

Remove logs
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/createArrestedPerson/createArrestedPerson.ts
Due: e2e-test-changes

Add missing fields
  packages/e2e-test/features/003-stop-list/police-data.after.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.after.json
  packages/e2e-test/features/014-no-offences-match/police-data.after.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.after.json
  packages/e2e-test/features/043-dated-warrant/police-data.after.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.after.json
  packages/e2e-test/features/074-remove-adjudication-values/police-data.after.json
  packages/e2e-test/features/081-no-trigger-duplication/police-data.after.json
  packages/e2e-test/features/088-court-location-from-text/police-data.after.json
  packages/e2e-test/features/089-court-location-from-text-exception/police-data.after.json
  packages/e2e-test/features/091-bail-condition-padding/police-data.after.json
  packages/e2e-test/features/127-matching-court-dates/police-data.after.json
  packages/e2e-test/features/128-start-dates-mismatch/police-data.after.json
  packages/e2e-test/features/129-missing-end-date/police-data.after.json
  packages/e2e-test/features/131a-sendef-newrem-combinations/police-data.after.json
  packages/e2e-test/features/134-multiple-ccr-newrem-sendef/police-data.after.json
  packages/e2e-test/features/139-bad-characters/police-data.after.json
  packages/e2e-test/features/324-2060-court-2059-result/police-data.after.json
  packages/e2e-test/features/417-case-with-excluded-and-non-excluded-triggers/police-data.after.json
  packages/e2e-test/features/425-ignored-no-offences/police-data.after.json
  packages/e2e-test/features/426-ignored-reopened-statutory-declaration/police-data.after.json
  packages/e2e-test/features/431-next-hearing-location-bichard7/police-data.after.json
  packages/e2e-test/features/432-next-hearing-date-bichard/police-data.after.json
Due: e2e-test-changes

chore: replaced axios with fetch
  packages/core/phase1/tests/helpers/addMockToPnc.ts
  packages/core/phase1/tests/helpers/clearMocksInPnc.ts
Due: core-changes

Add @ExcludeOnLegacyUI tag
  packages/e2e-test/package.json
Due: e2e-test-changes

Add missing fields
  packages/e2e-test/features/120-multiple-ccr-overlapping-offences/police-data.after.json
  packages/e2e-test/features/143-breach-bail-denies/police-data.after.json
  packages/e2e-test/features/152-breach-trigger-generation-exceptions/police-data.after.json
  packages/e2e-test/features/157-adjournment-with-judgement/police-data.after.json
  packages/e2e-test/features/160-offences-added-in-court/police-data.after.json
  packages/e2e-test/features/163-ignored-offences/police-data.after.json
  packages/e2e-test/features/166-stop-list/police-data.after.json
  packages/e2e-test/features/181-multiple-ccr-offence-added-in-court-no-adjudication/police-data.after.json
  packages/e2e-test/features/300-results-already-on-pnc/police-data.after.json
  packages/e2e-test/features/303-no-ho100332-and-ho100304/police-data.after.json
  packages/e2e-test/features/322-2060-court-1000-2059-result/police-data.after.json
  packages/e2e-test/features/323-2060-court-1000-result/police-data.after.json
  packages/e2e-test/features/325-2060-court-2059-result/police-data.after.json
  packages/e2e-test/features/326-2060-2063-court-2059-result/police-data.after.json
  packages/e2e-test/features/327-2060-2050-court-2059-result/police-data.after.json
  packages/e2e-test/features/328-2060-2050-court-2059-result/police-data.after.json
  packages/e2e-test/features/402-cp-bail-conditions-semicolon-split/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/501-carry-forward-for-additional-offence-and-convert-2060-to-2063/police-data.after.json
  packages/e2e-test/features/501a-carry-forward-for-additional-offence/police-data.after.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.after.json
Due: e2e-test-changes

Moved UI type to common
  packages/api/src/routes/v1/cases/[caseId]/resolve.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
  packages/common/contracts/ResolveBody.ts
  packages/common/types/ManualResolution.ts
  packages/common/utils/validateManualResolution.test.ts
  packages/common/utils/validateManualResolution.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/services/resolveCourtCase.ts
  packages/ui/src/services/resolveError.ts
  packages/ui/src/utils/validators/validateManualResolution.test.ts
  packages/ui/src/utils/validators/validateManualResolution.ts
  packages/ui/test/services/resolveCourtCase.integration.test.ts
Due: api-changes, common-changes, ui-changes

remove redundant should_run output and update variable name
  .github/actions/path-filter/action.yml
  .github/workflows/unit-tests.yml
Due: none

update dynamic path filter description
  .github/actions/path-filter/action.yml
Due: none

Move relevant files to API and fix imports
  packages/api/src/config.ts
  packages/api/src/services/entities/CourtCase.ts
  packages/api/src/services/entities/Note.ts
  packages/api/src/services/entities/SurveyFeedback.ts
  packages/api/src/services/entities/Trigger.ts
  packages/api/src/services/entities/User.ts
  packages/api/src/services/entities/transformers/booleanIntTransformer.ts
  packages/api/src/services/entities/transformers/dateTransformer.ts
  packages/api/src/services/entities/transformers/jsonTransformer.ts
  packages/api/src/services/entities/transformers/resolutionStatusTransformer.ts
  packages/api/src/services/entities/transformers/resolveFindOperator.ts
  packages/api/src/services/entities/transformers/varcharToNumberTransformer.test.ts
  packages/api/src/services/entities/transformers/varcharToNumberTransformer.ts
  packages/api/src/types/SurveyFeedback.ts
  packages/api/src/types/TriggersOutcome.ts
  packages/api/src/useCases/cases/reallocate/reallocateCase.ts
  packages/api/src/useCases/cases/reallocate/recalculateTriggers.ts
  packages/ui/src/config.ts
Due: api-changes, ui-changes

remove redundant should_run output
  .github/workflows/unit-tests.yml
Due: none

Added resolve update query
  packages/api/src/services/db/cases/checkAllTriggersResolved.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
Due: api-changes

Modify command to run all tests against new ui
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Remove breakpoint
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Add missing fields
  packages/e2e-test/features/069-more-than-three-ccr-groups/police-data.after.json
Due: e2e-test-changes

Add typeorm to API package
  package-lock.json
  packages/api/package.json
Due: api-changes

Added court case error status, insert note
  packages/api/src/routes/v1/cases/[caseId]/resolve.ts
  packages/api/src/services/db/cases/checkAllTriggersResolved.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
  packages/common/contracts/ResolveBody.ts
Due: api-changes, common-changes

chore: replacing in ledsGateway
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
Due: core-changes

Moved all case resolution logic into one transaction
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
Due: api-changes

chore: removed axios
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

remove ci status check step
  .github/workflows/unit-tests.yml
Due: none

remove github actions form filters to test skip logic
  .github/workflows/unit-tests.yml
Due: none

add temporary mock test to trigger common changes in workflow
  packages/common/test/jest/toBeBetween/index.test.ts
Due: common-changes

Reduce retrying from 20 to 5
  packages/e2e-test/package.json
Due: e2e-test-changes

Add missing fields
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/police-data.after.json
Due: e2e-test-changes

remove temporary mock test from common - add tesmporary mock test to core to trigger core changes in workflow
  packages/common/test/jest/toBeBetween/index.test.ts
  packages/core/phase1/phase1.test.ts
Due: common-changes, core-changes

remove temporary mock test from core - add github to workflow filter
  .github/workflows/unit-tests.yml
  packages/core/phase1/phase1.test.ts
Due: core-changes

Moved UnlockReason enum to common. Added unlockAndAuditLog useCase
  packages/api/src/routes/v1/cases/[caseId]/resolve.ts
  packages/api/src/services/db/cases/unlockTrigger.ts
  packages/api/src/types/errors/ForbiddenError.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
  packages/api/src/useCases/cases/getCase/unlockExceptions.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/common/types/UnlockReason.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/services/reallocateCourtCase/reallocateCourtCaseToForce.ts
  packages/ui/src/services/resolveCourtCase.ts
  packages/ui/src/services/resolveTriggers.ts
  packages/ui/src/services/resubmitCourtCase.ts
  packages/ui/src/services/unlockCourtCase.ts
  packages/ui/src/services/updateLockStatusToUnlocked.ts
  packages/ui/test/services/unlockCourtCase.integration.test.ts
  packages/ui/test/services/updateLockStatusToUnlocked.integration.test.ts
Due: api-changes, common-changes, ui-changes

Add missing fields
  packages/e2e-test/features/186-date-range-outside-of-offence-in-pnc/police-data.after.json
  packages/e2e-test/features/190-correcting-invalid-asn/police-data.after.json
  packages/e2e-test/features/191-no-conviction-date/police-data.after.json
  packages/e2e-test/features/194-new-breach-offence-trigger-and-exception/police-data.after.json
  packages/e2e-test/features/196-resentencing-adjourned-new-hearing/police-data.after.json
  packages/e2e-test/features/198-offence-replaced-with-another-offence/police-data.after.json
  packages/e2e-test/features/214-multiple-to-single-ccr-switch/police-data.after.json
  packages/e2e-test/features/218-bail-breach-admits-plea/police-data.after.json
  packages/e2e-test/features/219-warrants-triggers-report/police-data.after.json
  packages/e2e-test/features/221-offences-added-in-court/police-data.after.json
  packages/e2e-test/features/228-adding-updating-offences/police-data.after.json
  packages/e2e-test/features/236-new-offence-existing-adjourned/police-data.after.json
  packages/e2e-test/features/237-new-offence-existing-adjourned/police-data.after.json
  packages/e2e-test/features/243-parent-warrant/police-data.after.json
  packages/e2e-test/features/244-witness-warrants/police-data.after.json
  packages/e2e-test/features/245-adjournment-post-judgement/police-data.after.json
  packages/e2e-test/features/247-existing-offence-no-pnc-adjudication/police-data.after.json
  packages/e2e-test/features/249-bail-granted-appealed/police-data.after.json
  packages/e2e-test/features/251-manual-invalid-data-resolution/police-data.after.json
  packages/e2e-test/features/262-bail-status/police-data.after.json
  packages/e2e-test/features/265-aint-result-offence-added-in-court/police-data.after.json
  packages/e2e-test/features/266-aint-result-stop-list/police-data.after.json
  packages/e2e-test/features/276-adjourned-sine-die-offences/police-data.after.json
  packages/e2e-test/features/318-3052-result-no-update-pre-judgement/police-data.after.json
Due: e2e-test-changes

Added more audit logging
  packages/api/src/services/db/cases/checkAllTriggersResolved.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveError.ts
Due: api-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
