Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Display more fields in case summary script
  packages/cli/commands/case-summary/mappers/mapQuery.ts
Due: none

Display more fields in case summary script (#2298)
  packages/cli/commands/case-summary/mappers/mapQuery.ts
Due: none

Add scripts to enable and disable operations
  scripts/leds-cutover/disable-operation.sh
  scripts/leds-cutover/enable-operation.sh
  scripts/leds-cutover/lib/common.sh
Due: none

Add scripts to enable and disable police api
  scripts/leds-cutover/disable-police-api.sh
  scripts/leds-cutover/enable-police-api.sh
  scripts/leds-cutover/lib/common.sh
Due: none

Add generateNiamAuthToken and findDisposalsByAsn functions for LEDS cutover
  scripts/leds-cutover/check-leds-api-connectivity.sh
  scripts/leds-cutover/find-disposals-by-asn.sh
  scripts/leds-cutover/generate-niam-token.sh
  scripts/leds-cutover/lib/common.sh
  scripts/leds-cutover/lib/findDisposalsByAsn.ts
  scripts/leds-cutover/lib/generateNiamAuthToken.ts
Due: none

WIP
  scripts/leds-cutover/process-messages.sh
  scripts/leds-cutover/roll-back-cases.sh
  scripts/leds-cutover/submit-pending-case.sh
  scripts/leds-cutover/view-messages-status.sh
Due: none

Add content type to generateRequestHeaders
  packages/core/lib/policeGateway/leds/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.ts
  packages/core/schemas/leds/requestHeaders.ts
Due: core-changes

Add script to switch between LEDS and PNC APIs
  scripts/leds-cutover/lib/switch-police-api.sh
  scripts/leds-cutover/switch-to-leds-api.sh
  scripts/leds-cutover/switch-to-pnc-api.sh
Due: none

Add common files to api
  .circleci/continue_config.yml
  package.json
  packages/api/Dockerfile
Due: circleci-changes, api-changes

Formatting
  packages/api/Dockerfile
Due: api-changes

Add common files to api (#2299)
  .circleci/continue_config.yml
  package.json
  packages/api/Dockerfile
Due: circleci-changes, api-changes

Move createForceOwner to common package and update references
  packages/common/utils/createForceOwner.test.ts
  packages/common/utils/createForceOwner.ts
  packages/ui/src/services/amendCourtCase/amendCourtCase.ts
  packages/ui/src/utils/amendments/amendForceOwner/amendForceOwner.ts
  packages/ui/src/utils/createForceOwner/index.ts
  packages/ui/test/services/amendCourtCase.integration.test.ts
Due: common-changes, ui-changes

Move createForceOwner to common package and update references (#2300)
  packages/common/utils/createForceOwner.test.ts
  packages/common/utils/createForceOwner.ts
  packages/ui/src/services/amendCourtCase/amendCourtCase.ts
  packages/ui/src/utils/amendments/amendForceOwner/amendForceOwner.ts
  packages/ui/src/utils/createForceOwner/index.ts
  packages/ui/test/services/amendCourtCase.integration.test.ts
Due: common-changes, ui-changes

Basic setup of endpoint
  packages/api/src/routes/v1/cases/[caseId]/updateAmendments.ts
  packages/api/src/useCases/cases/amendments/amendCourtCase.ts
  packages/api/src/useCases/createForceOwner.test.ts
  packages/api/src/useCases/createForceOwner.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/Amendments.ts
Due: api-changes, common-changes

Move more of the amendCourtCase logic
  packages/api/src/useCases/cases/amendments/amendCourtCase.ts
  packages/ui/src/services/amendCourtCase/amendCourtCase.ts
Due: api-changes, ui-changes

Move all relevant files for applyAmendmentsToAho
  packages/api/src/useCases/cases/amendments/amendCourtCase.ts
  packages/api/src/useCases/cases/amendments/applyAmendmentsToAho.test.ts
  packages/api/src/useCases/cases/amendments/applyAmendmentsToAho.ts
  packages/api/src/useCases/cases/amendments/utils/amendAsn.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendAsn.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtCaseReference.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtCaseReference.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtOffenceSequenceNumber.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtOffenceSequenceNumber.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtReference.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtReference.ts
  packages/api/src/useCases/cases/amendments/utils/amendDefendantOrOffenceResult.ts
  packages/api/src/useCases/cases/amendments/utils/amendForceOwner.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendForceOwner.ts
  packages/api/src/useCases/cases/amendments/utils/amendNextHearingDate.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendNextHearingDate.ts
  packages/api/src/useCases/cases/amendments/utils/amendNextResultSourceOrganisation.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendNextResultSourceOrganisation.ts
  packages/api/src/useCases/cases/amendments/utils/amendOffenceCourtCaseReferenceNumber.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendOffenceCourtCaseReferenceNumber.ts
  packages/api/src/useCases/cases/amendments/utils/amendOffenceReasonSequence.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendOffenceReasonSequence.ts
  packages/api/src/useCases/cases/amendments/utils/amendResultQualifierCode.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendResultQualifierCode.ts
  packages/api/src/useCases/cases/amendments/utils/amendResultVariableText.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendResultVariableText.ts
  packages/api/src/useCases/cases/amendments/utils/defaultStationCode.ts
  packages/api/src/useCases/cases/amendments/utils/exceptions/isAsnFormatValid.test.ts
  packages/api/src/useCases/cases/amendments/utils/exceptions/isAsnFormatValid.ts
  packages/api/src/useCases/cases/amendments/utils/removeEmptyResultQualifierVariable.test.ts
  packages/api/src/useCases/cases/amendments/utils/removeEmptyResultQualifierVariable.ts
  packages/api/src/useCases/cases/amendments/utils/test/createDummyAho.ts
  packages/api/src/useCases/cases/amendments/utils/test/createDummyOffence.ts
  packages/api/src/useCases/cases/amendments/utils/test/createDummyResult.ts
Due: api-changes

Rename tests to include unit suffix
  packages/api/src/useCases/cases/amendments/applyAmendmentsToAho.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendAsn.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtCaseReference.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtOffenceSequenceNumber.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendCourtReference.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendForceOwner.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendNextHearingDate.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendNextResultSourceOrganisation.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendOffenceCourtCaseReferenceNumber.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendOffenceReasonSequence.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendResultQualifierCode.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/amendResultVariableText.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/exceptions/isAsnFormatValid.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/formattedDate.unit.test.ts
  packages/api/src/useCases/cases/amendments/utils/removeEmptyResultQualifierVariable.unit.test.ts
Due: api-changes

Change e2e test port
  packages/api/src/tests/helpers/setupAppEnd2EndHelper.ts
Due: api-changes

Update jest mock path to be correct
  packages/api/src/useCases/cases/amendments/applyAmendmentsToAho.unit.test.ts
Due: api-changes

Revert port back to original
  packages/api/src/tests/helpers/setupAppEnd2EndHelper.ts
Due: api-changes

Use common CreateForceOwner and delete dupe
  packages/api/src/useCases/cases/amendments/amendCourtCase.ts
  packages/api/src/useCases/createForceOwner.test.ts
  packages/api/src/useCases/createForceOwner.ts
Due: api-changes

Get notes logic working with existing functionality
  packages/api/src/routes/v1/cases/[caseId]/updateAmendments.ts
  packages/api/src/useCases/cases/amendments/amendCourtCase.ts
  packages/api/src/useCases/cases/amendments/updateCourtCaseAho.ts
  packages/api/src/useCases/cases/amendments/utils/formattedDate.test.ts
  packages/api/src/useCases/cases/amendments/utils/formattedDate.ts
  packages/api/src/useCases/cases/amendments/utils/getSystemNotes.ts
Due: api-changes

Update npm dependencies
  package-lock.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Added new rollout banner message, updated logic to allow banner to be shown to only certain forces
  packages/ui/src/components/InfoBanner.tsx
  packages/ui/src/components/Layout.tsx
  packages/ui/src/config.ts
Due: ui-changes

Banner lifespan 5 days
  packages/ui/src/config.ts
Due: ui-changes

Add offence description to case summary
  packages/cli/commands/case-summary/mappers/mapSpi.ts
Due: none

Add offence description to case summary (#2304)
  packages/cli/commands/case-summary/mappers/mapSpi.ts
Due: none

Added visibleToForces test
  packages/ui/cypress/e2e/infoBanner.cy.ts
  packages/ui/src/config.ts
  packages/ui/src/utils/bannerFirstShownDate.ts
Due: ui-changes

Updated env vars
  packages/ui/cypress/e2e/infoBanner.cy.ts
  packages/ui/src/components/InfoBanner.tsx
  packages/ui/src/components/Layout.tsx
  packages/ui/src/config.ts
  packages/ui/src/utils/bannerFirstShownDate.ts
Due: ui-changes

increase maxTimeoutSeconds by 5 seconds for test 177
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Enable e2e tests running on new ui against real api
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Remove temporary changes
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Make parameter more readable
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
