Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

BICAWS7-4158 - Add new /connectivity endpoint (#1923)
  environment/docker-compose.yml
  packages/api/setupTests.ts
  packages/api/src/app.ts
  packages/api/src/routes/v1/public/connectivity.e2e.test.ts
  packages/api/src/routes/v1/public/connectivity.ts
  packages/api/src/server/openapi/setupSwagger.ts
  packages/api/src/services/db/checkDbConnectivity.ts
  packages/api/src/services/db/checkDbConnectivity.unit.test.ts
  packages/api/src/useCases/checkConnectivity.integration.test.ts
  packages/api/src/useCases/checkConnectivity.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/ApiConnectivity.ts
  packages/ui/cypress/e2e/api/connectivity.api.cy.ts
  packages/ui/src/pages/api/connectivity.ts
  packages/ui/src/services/api/ApiClient.test.ts
  packages/ui/src/services/api/ApiClient.ts
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: api-changes, common-changes, ui-changes

refactored api error message handling
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

update create pull req to v7 (#1943)
  .github/workflows/update-npm-deps.yml
Due: none

refactor
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Removed unused vars
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

Number.IsNan
  packages/common/utils/dateTransformer.ts
Due: common-changes

Number.IsNan causing parsing issue
  packages/common/utils/dateTransformer.ts
Due: common-changes

Replaced switch with if
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

conditional logic tidy up
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

Error message refactor
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

Fix LEDS e2e test data
  packages/e2e-test/features/001-sexual-offences/police-data.after.json
  packages/e2e-test/features/001-sexual-offences/police-data.before.json
  packages/e2e-test/features/007-split-adjournment/input-message.xml
  packages/e2e-test/features/007-split-adjournment/mock-pnc-responses.ts
  packages/e2e-test/features/007-split-adjournment/police-data.after.json
  packages/e2e-test/features/007-split-adjournment/police-data.before.json
  packages/e2e-test/features/028-driver-disqualification/input-message-1.xml
  packages/e2e-test/features/028-driver-disqualification/mock-pnc-responses.ts
  packages/e2e-test/features/028-driver-disqualification/police-data.after.json
  packages/e2e-test/features/028-driver-disqualification/police-data.before.json
  packages/e2e-test/features/028a-sentence-deferred/police-data.after.json
  packages/e2e-test/features/028a-sentence-deferred/police-data.before.json
  packages/e2e-test/features/033-sine-die-results/police-data.after.json
  packages/e2e-test/features/033-sine-die-results/police-data.before.json
  packages/e2e-test/features/033a-sine-die-results/police-data.after.json
  packages/e2e-test/features/033a-sine-die-results/police-data.before.json
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.after.json
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.before.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/input-message.xml
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.before.json
  packages/e2e-test/features/501-carry-forward-for-additional-offence/input-message.xml
  packages/e2e-test/features/501-carry-forward-for-additional-offence/mock-pnc-responses.ts
  packages/e2e-test/features/501-carry-forward-for-additional-offence/police-data.after.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/input-message.xml
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.after.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.before.json
  packages/e2e-test/features/503-refer-to-court-case/police-data.after.json
  packages/e2e-test/features/503-refer-to-court-case/police-data.before.json
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/mapNcmToCourtCases.ts
Due: e2e-test-changes

Fix formatting
  packages/e2e-test/features/001-sexual-offences/police-data.after.json
  packages/e2e-test/features/001-sexual-offences/police-data.before.json
  packages/e2e-test/features/007-split-adjournment/police-data.after.json
  packages/e2e-test/features/007-split-adjournment/police-data.before.json
  packages/e2e-test/features/028-driver-disqualification/police-data.after.json
  packages/e2e-test/features/028-driver-disqualification/police-data.before.json
  packages/e2e-test/features/028a-sentence-deferred/police-data.after.json
  packages/e2e-test/features/028a-sentence-deferred/police-data.before.json
  packages/e2e-test/features/033-sine-die-results/police-data.after.json
  packages/e2e-test/features/033-sine-die-results/police-data.before.json
  packages/e2e-test/features/033a-sine-die-results/police-data.after.json
  packages/e2e-test/features/033a-sine-die-results/police-data.before.json
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.after.json
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.before.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.before.json
  packages/e2e-test/features/501-carry-forward-for-additional-offence/police-data.after.json
  packages/e2e-test/features/501-carry-forward-for-additional-offence/police-data.before.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.after.json
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/police-data.before.json
  packages/e2e-test/features/503-refer-to-court-case/police-data.after.json
  packages/e2e-test/features/503-refer-to-court-case/police-data.before.json
Due: e2e-test-changes

Add test 177 before and after data
  packages/e2e-test/features/177-hundred-results/police-data.after.json
  packages/e2e-test/features/177-hundred-results/police-data.before.json
  packages/e2e-test/features/177-hundred-results/test.feature
Due: e2e-test-changes

Remove personUrn formatting logic
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.test.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/preProcessPersonUrn.test.ts
  packages/core/lib/policeGateway/leds/preProcessPersonUrn.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
Due: core-changes

Fix json files formatting
  packages/e2e-test/features/177-hundred-results/police-data.after.json
  packages/e2e-test/features/177-hundred-results/police-data.before.json
Due: e2e-test-changes

Fix remand condition mapping
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/cleanObjectStrings.test.ts
  packages/core/lib/policeGateway/leds/cleanObjectStrings.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.after.json
  packages/e2e-test/features/204-removal-of-qualifiers/police-data.before.json
Due: core-changes, e2e-test-changes

Update to use PTIURN's sequential number for refer to court case
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
Due: core-changes

update types in error list notes
  packages/core/lib/database/insertErrorListNotes.ts
Due: core-changes

Date validation fix
  packages/common/utils/dateTransformer.ts
Due: common-changes

Revert temporary change: Remove leading slashes
  packages/core/lib/policeGateway/leds/endpoints.ts
Due: core-changes

simplified timeout
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

Fix test 502 mock for bail status
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/mock-pnc-responses.ts
Due: e2e-test-changes

Added handleApiError tests
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
  packages/common/AuditLogApiClient/handleApiError.test.ts
Due: common-changes

removed unnecessary cast
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

removed switch
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

comment
  packages/common/AuditLogApiClient/handleApiError.test.ts
Due: common-changes

Updated timeout assignment
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: common-changes

dateTransformer rename
  packages/common/utils/dateTransformer.ts
Due: common-changes

undici v6
  package-lock.json
  packages/common/package.json
Due: common-changes

Simplified to use date-fns
  packages/common/utils/dateTransformer.ts
Due: common-changes

Added dateTransformer unit tests
  packages/common/utils/dateTransformer.test.ts
  packages/common/utils/dateTransformer.ts
Due: common-changes

Added dateTransformer exception handling
  packages/common/utils/dateTransformer.test.ts
  packages/common/utils/dateTransformer.ts
Due: common-changes

Added type casts
  packages/common/utils/dateTransformer.test.ts
Due: common-changes

Remove temporary changes (required to migrate xmls)
  migrateXml.ts
  migrateXmlCXE01.ts
  packages/core/lib/policeGateway/leds/endpoints.test.ts
  packages/ui/tsconfig.json
  tsconfig.json
Due: core-changes, ui-changes
