Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Reorder workspaces to match dependency chain, included `npm run build` for uat-data buildspec
  package-lock.json
  package.json
  packages/uat-data/buildspec.yml
Due: none

Use build:core in uat-data buildspec to speed up build (not running ui build)
  packages/uat-data/buildspec.yml
Due: none

Make expectedRequest type safe
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/types/PncMock.ts
  packages/e2e-test/types/PoliceApi.ts
Due: e2e-test-changes

include plea and adjudication fields to ledsJason in the relevant scenarios
  packages/e2e-test/features/027-orphaned-non-recordable/mock-pnc-responses.ts
  packages/e2e-test/features/074-remove-adjudication-values/mock-pnc-responses.ts
  packages/e2e-test/features/115-withdrawn-dismissed-offences/mock-pnc-responses.ts
  packages/e2e-test/features/116b-multiple-ccr-no-overlaps/mock-pnc-responses.ts
  packages/e2e-test/features/119-multiple-ccr-no-overlaps-withdrawn-offences/mock-pnc-responses.ts
  packages/e2e-test/features/131a-sendef-newrem-combinations/mock-pnc-responses.ts
  packages/e2e-test/features/160-offences-added-in-court/mock-pnc-responses.ts
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/mock-pnc-responses.ts
  packages/e2e-test/features/198-offence-replaced-with-another-offence/mock-pnc-responses.ts
  packages/e2e-test/features/228-adding-updating-offences/mock-pnc-responses.ts
  packages/e2e-test/features/236-new-offence-existing-adjourned/mock-pnc-responses.ts
  packages/e2e-test/features/237-new-offence-existing-adjourned/mock-pnc-responses.ts
  packages/e2e-test/features/278-breach-handling-admits/mock-pnc-responses.ts
  packages/e2e-test/features/322-2060-court-1000-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/323-2060-court-1000-result/mock-pnc-responses.ts
  packages/e2e-test/features/324-2060-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/325-2060-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/326-2060-2063-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/327-2060-2050-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/328-2060-2050-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/utils/PncApi/checkMocks.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAddDisposalRequestMockJsonToLeds.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/index.ts
Due: e2e-test-changes

Fix seed-uat (#1949)
  package-lock.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/buildspec.yml
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

add / to url
  packages/ui/scripts/zap/zap-scan.sh
Due: ui-changes

restrict spider scanning
  packages/ui/scripts/zap/zap.config
Due: ui-changes

Use arrayContaining to match request at any index
  packages/e2e-test/utils/PncApi/checkMocks.ts
Due: e2e-test-changes

add additional spider limits
  packages/ui/scripts/zap/zap.config
Due: ui-changes

revert spider config
  packages/ui/scripts/zap/zap-scan.sh
  packages/ui/scripts/zap/zap.config
Due: ui-changes

BICAWS7-3975 Zap Auth Config (#1950)
  packages/ui/scripts/zap/zap-scan.sh
  packages/ui/scripts/zap/zap.config
Due: ui-changes

Check all requests instead of just one element
  packages/e2e-test/utils/PncApi/checkMocks.ts
Due: e2e-test-changes

Add delays when dealing with multiple messages
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
  packages/e2e-test/features/143-breach-bail-denies/test.feature
Due: e2e-test-changes

Clear conductor workflows before each test (excluded for aws codebuild)
  package-lock.json
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/e2e-test/package.json
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/conductor.ts
Due: e2e-test-changes

Make a correction to conductor url
  packages/e2e-test/utils/conductor.ts
Due: e2e-test-changes

Add a function to find running conductor workflows
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/e2e-test/utils/conductor.ts
Due: e2e-test-changes

Add wait until message is processed step to wait until all workflows are completed in conductor
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Refactor convertAddDisposalRequestMockJsonToLeds
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAddDisposalRequestMockJsonToLeds.ts
Due: e2e-test-changes

Fix import statement
  packages/e2e-test/steps/hooks.ts
Due: e2e-test-changes

Add type to convertRemandRequestMockJsonToLeds
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertRemandRequestMockJsonToLeds.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/index.ts
Due: e2e-test-changes

Add waiti until all workflows in conductor completed in the step 'When input-message is received'
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/e2e-test/utils/message.ts
Due: e2e-test-changes

Add exponential backoff
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Add cache cleanup command to dockerfiles
  packages/api/Dockerfile
  packages/conductor/Dockerfile
  packages/message-forwarder/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, conductor-changes, message-forwarder-changes, ui-changes, user-service-changes

Remove exponential back off and make it linear
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Refactor areAllWorkflowsCompleted
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Fix flaky e2e tests (#1952)
  package-lock.json
  packages/e2e-test/features/027-orphaned-non-recordable/test.feature
  packages/e2e-test/features/143-breach-bail-denies/test.feature
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/e2e-test/package.json
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/PncApi/checkMocks.ts
  packages/e2e-test/utils/conductor.ts
  packages/e2e-test/utils/message.ts
Due: e2e-test-changes

Fix tests
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.ts
  packages/core/lib/policeGateway/leds/processors/remand.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/subSegmentGenerator.ts
Due: core-changes, e2e-test-changes

Update LEDS update request schemas
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
Due: core-changes

Update LEDS update request schemas (#1951)
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.ts
  packages/core/lib/policeGateway/leds/processors/remand.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/subSegmentGenerator.ts
Due: core-changes, e2e-test-changes

Fix bailConditions mapping
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertRemandRequestMockJsonToLeds.ts
Due: e2e-test-changes

Make expectedRequest type safe (#1953)
  packages/e2e-test/features/027-orphaned-non-recordable/mock-pnc-responses.ts
  packages/e2e-test/features/074-remove-adjudication-values/mock-pnc-responses.ts
  packages/e2e-test/features/115-withdrawn-dismissed-offences/mock-pnc-responses.ts
  packages/e2e-test/features/116b-multiple-ccr-no-overlaps/mock-pnc-responses.ts
  packages/e2e-test/features/119-multiple-ccr-no-overlaps-withdrawn-offences/mock-pnc-responses.ts
  packages/e2e-test/features/131a-sendef-newrem-combinations/mock-pnc-responses.ts
  packages/e2e-test/features/160-offences-added-in-court/mock-pnc-responses.ts
  packages/e2e-test/features/183-multiple-ccr-offences-added-in-court/mock-pnc-responses.ts
  packages/e2e-test/features/198-offence-replaced-with-another-offence/mock-pnc-responses.ts
  packages/e2e-test/features/228-adding-updating-offences/mock-pnc-responses.ts
  packages/e2e-test/features/236-new-offence-existing-adjourned/mock-pnc-responses.ts
  packages/e2e-test/features/237-new-offence-existing-adjourned/mock-pnc-responses.ts
  packages/e2e-test/features/278-breach-handling-admits/mock-pnc-responses.ts
  packages/e2e-test/features/322-2060-court-1000-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/323-2060-court-1000-result/mock-pnc-responses.ts
  packages/e2e-test/features/324-2060-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/325-2060-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/326-2060-2063-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/327-2060-2050-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/features/328-2060-2050-court-2059-result/mock-pnc-responses.ts
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/types/PncMock.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/PncApi/checkMocks.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAddDisposalRequestMockJsonToLeds.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertRemandRequestMockJsonToLeds.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/index.ts
Due: e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

update jest paths
  packages/core/jest.config.js
Due: core-changes

Update standing data dependency (#1955)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

update package lock
  package-lock.json
Due: none

Update npm dependencies
  package-lock.json
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
