Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#1877)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Add failing test
  packages/api/src/services/db/audit/getPotentialCasesToAudit.integration.test.ts
Due: api-changes

Add organisationUnitSql
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
Due: api-changes

Handle ISO date format
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncDate.ts
Due: e2e-test-changes

Rename Types to give more meaningful names
  packages/e2e-test/types/AsnQueryResponseExtended.ts
  packages/e2e-test/types/MockAsnQueryResponse.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegments.ts
Due: e2e-test-changes

Hardcode value to true
  packages/ui/src/config.ts
Due: ui-changes

Remove updateType from schema and hard code as they are not dynamic
  packages/e2e-test/types/MockAsnQueryResponse.ts
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegments.ts
Due: e2e-test-changes

Fix court and forces filtering on audit cases (#1878)
  packages/api/src/services/db/audit/getPotentialCasesToAudit.integration.test.ts
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
Due: api-changes

Remove APCO code from schema as NPCC is set as APCO
  packages/e2e-test/types/MockAsnQueryResponse.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
Due: e2e-test-changes

Handle life qtyDuration for life imprisonment
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
Due: e2e-test-changes

Create component for Audit Case List summary
  packages/ui/cypress/component/AuditCaseList/AuditCaseListSummary.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseListSummary.tsx
Due: ui-changes

Reduce prominence of summary heading by dropping the heading bold style and make it similar to the "Showing x to y of z cases"
  packages/ui/src/features/AuditCaseList/AuditCaseListSummary.tsx
Due: ui-changes

Use h2 instead of span
  packages/ui/cypress/component/AuditCaseList/AuditCaseListSummary.cy.tsx
Due: ui-changes

Add Audit Case List summary component to Audit Case List page
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
  packages/ui/src/features/AuditCaseList/AuditCaseList.styles.tsx
  packages/ui/src/pages/audit/[auditId]/index.tsx
Due: ui-changes

Change wording in summary from "shows" to "showing"
  packages/ui/cypress/component/AuditCaseList/AuditCaseListSummary.cy.tsx
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
  packages/ui/src/features/AuditCaseList/AuditCaseListSummary.tsx
Due: ui-changes

Remove workaround for Date serialisation limitation with Nextjs
  packages/ui/src/pages/audit/[auditId]/index.tsx
Due: ui-changes

Remove "th" "st" "nd" date suffix to match GDS guidance
  packages/ui/cypress/component/AuditCaseList/AuditCaseListSummary.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseListSummary.tsx
Due: ui-changes

Wrap in new date to handle potential string values
  packages/ui/src/services/dto/noteDto.ts
Due: ui-changes

Wrap in new date to handle potential string values (#1880)
  packages/ui/src/services/dto/noteDto.ts
Due: ui-changes

Hardcode value to true (#1879)
  packages/ui/src/config.ts
Due: ui-changes

Convert Leds ASN response query to PNC XML (#1867)
  packages/e2e-test/types/MockAsnQueryResponse.ts
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/commonSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegments.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncDate.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncTime.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatCourtCaseReference.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatFixedLength.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/generateRow.ts
Due: e2e-test-changes

Add Rollout directories and README (#1873)
  scripts/rollout/README.md
  scripts/rollout/has-run/.gitkeep
  scripts/rollout/not-needed/.gitkeep
  scripts/rollout/prep/.gitkeep
Due: none

Add remSegmentGenerator and asrSegmentGenerator
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/asrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
Due: e2e-test-changes

Add convertLedsRemandRequestToXml
  packages/e2e-test/types/MockRemandRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsRemandRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
Due: e2e-test-changes

BICAWS7-4012 - Audit Page Summary (#1876)
  packages/ui/cypress/component/AuditCaseList/AuditCaseListSummary.cy.tsx
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
  packages/ui/src/features/AuditCaseList/AuditCaseList.styles.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseListSummary.tsx
  packages/ui/src/pages/audit/[auditId]/index.tsx
Due: ui-changes

Refactor
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
Due: e2e-test-changes

Remove unnecessary optional Chaining.
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
Due: e2e-test-changes

Convert remand request json to xml (#1886)
  packages/e2e-test/types/MockRemandRequest.ts
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsRemandRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/asrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
Due: e2e-test-changes

Add COU, CCH and CRT segments
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cchSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/couSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/crtSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/extractCourtDetails.ts
Due: e2e-test-changes

Group date and time converter functions in one file
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/couSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/crtSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncDateTime.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertToPncTime.ts
Due: e2e-test-changes

Update leds-environment-variable.sh to also fetch from SSM and ECS
  environment/leds-environment-variable.sh
Due: none

Update generateUrl to support path with or without leading and trailing slash
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Remove leading slash from LEDS endpoints
  packages/core/lib/policeGateway/leds/endpoints.ts
Due: core-changes

Add description to bailConditions field in remand request
  packages/core/schemas/leds/remandRequest.ts
Due: core-changes

Add return type to isRecordableOffence
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/isRecordableOffence.ts
Due: e2e-test-changes

Update run_test_chunk to exclude PNC tests when running against PNC
  packages/e2e-test/scripts/run_test_chunk.sh
Due: e2e-test-changes

Add logic to verify LEDS updates using the snapshot
  packages/e2e-test/utils/LedsApi/fetchCaseDataFromLedsApi.ts
  packages/e2e-test/utils/LedsApi/snapshotLedsApiData.ts
  packages/e2e-test/utils/LedsApi/verifyRealLedsApiData.ts
Due: e2e-test-changes

Update setup-e2e-tests script to include LEDS env vars
  packages/e2e-test/scripts/setup-e2e-tests.sh
Due: e2e-test-changes

Ignore e2e-test/workspaces
  .gitignore
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
