Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Use dockerfile
  environment/docker-compose.yml
Due: none

Go back a dir
  environment/conductor/scripts/build_docker.sh
Due: none

Correct filepath
  environment/conductor/buildspec.yml
Due: none

Make install_goss a reusable command
  .circleci/continue_config.yml
Due: circleci-changes

Add build_conductor_image job
  .circleci/continue_config.yml
Due: circleci-changes

Pull down amazon linux base
  .circleci/continue_config.yml
Due: circleci-changes

Inline CONDUCTOR_VERSION
  environment/conductor/Dockerfile
  environment/conductor/build.sh
  environment/conductor/conductor_version
Due: none

Populate missing arg values
  environment/conductor/Dockerfile
Due: none

Add deps
  .circleci/continue_config.yml
Due: circleci-changes

Updated reasonCodes tests
  packages/api/src/services/db/cases/filters/reasonCodes.e2e.test.ts
Due: api-changes

Case list filtering change (#2162)
  packages/api/src/services/db/cases/filters/generateFilters.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonCodes.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonCodes.ts
Due: api-changes

Fixed dummy exception typo
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/utils.test.ts
Due: api-changes

Update tests to reflect ignored exception/trigger reason codes
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
Due: api-changes

Update test to include both triggers as reason codes
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
Due: api-changes

Load conductor image where needed
  .circleci/continue_config.yml
Due: circleci-changes

Load conductor image where needed (missed 2 jobs)
  .circleci/continue_config.yml
Due: circleci-changes

Correct README
  README.md
Due: none

BICAWS7-4311 - Move conductor to core monorepo (#2164)
  .circleci/continue_config.yml
  README.md
  environment/boot.sh
  environment/conductor/Dockerfile
  environment/conductor/Makefile
  environment/conductor/build.sh
  environment/conductor/buildspec.yml
  environment/conductor/files/config.properties
  environment/conductor/files/nginx.conf
  environment/conductor/files/nginx.repo
  environment/conductor/files/openssl.cnf
  environment/conductor/files/process_templates.sh
  environment/conductor/files/supervisord.conf
  environment/conductor/files/templates/conductor.http.tpl
  environment/conductor/files/templates/conductor.https.tpl
  environment/conductor/goss.yaml
  environment/conductor/goss_wait.yaml
  environment/conductor/scripts/build_docker.sh
  environment/docker-compose.yml
Due: circleci-changes

Clear exceptions for updated hearing outcome JSON in UI and Core
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/database/convertResultToErrorListRecord.ts
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/ui/src/services/updateCourtCaseAho.ts
  packages/ui/test/services/__snapshots__/amendCourtCase.integration.test.ts.snap
  packages/ui/test/services/__snapshots__/updateCourtCaseAho.integration.test.ts.snap
  packages/ui/test/services/amendCourtCase.integration.test.ts
  packages/ui/test/services/updateCourtCaseAho.integration.test.ts
  packages/ui/test/utils/insertCourtCases.ts
Due: core-changes, ui-changes

Fix file paths
  environment/conductor/scripts/build_docker.sh
Due: none

Use new script
  environment/conductor/scripts/build_docker.sh
Due: none

Correct variable
  environment/conductor/scripts/build_docker.sh
Due: none

Adjust buildspec
  environment/conductor/buildspec.yml
  environment/conductor/scripts/build_docker.sh
Due: none

Correct type
  environment/conductor/buildspec.yml
Due: none

chmod
  scripts/build_and_push_image.sh
Due: none

Remove unneeded script
  environment/conductor/scripts/build_docker.sh
Due: none

Clear exceptions for updated hearing outcome JSON in UI and Core (#2165)
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/database/convertResultToErrorListRecord.ts
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/ui/src/services/updateCourtCaseAho.ts
  packages/ui/test/services/__snapshots__/amendCourtCase.integration.test.ts.snap
  packages/ui/test/services/__snapshots__/updateCourtCaseAho.integration.test.ts.snap
  packages/ui/test/services/amendCourtCase.integration.test.ts
  packages/ui/test/services/updateCourtCaseAho.integration.test.ts
  packages/ui/test/utils/insertCourtCases.ts
Due: core-changes, ui-changes

Fix Dockerfile paths
  environment/conductor/buildspec.yml
Due: none

Handle different types of filepaths
  environment/conductor/buildspec.yml
  scripts/build_and_push_image.sh
Due: none

Handle different types of filepaths
  scripts/build_and_push_image.sh
Due: none

Seperate build and push, running goss manually
  environment/conductor/buildspec.yml
  scripts/build-image.sh
  scripts/push-image.sh
Due: none

Use phases correctly
  environment/conductor/buildspec.yml
Due: none

chore: adjusted path
  packages/s3-web-proxy/buildspec.yml
Due: none

BICAWS7-4311 - Fix build conductor codebuild job (#2166)
  environment/conductor/buildspec.yml
  environment/conductor/scripts/build_docker.sh
  scripts/build-image.sh
  scripts/push-image.sh
Due: none

Add missing tests
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
Due: api-changes

Change general feedback to send via email instead of save in the DB
  packages/ui/cypress/e2e/generalFeedback.cy.ts
  packages/ui/src/pages/feedback.tsx
Due: ui-changes
