Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

update dependencies
  package-lock.json
  package.json
Due: none

remove import
  packages/ui/src/utils/deleteQueryParam/removeBlankQueryParams.test.ts
Due: none

comment out typescript-eslint/ban-types
  .eslintrc.js
Due: none

add correct directory name
  .circleci/continue_config.yml
Due: circleci-changes

add '@typescript-eslint/consistent-type-imports': 'error' to eslintrc
  .eslintrc.js
Due: none

add node/install-packages step to cucumber_e2e_tests
  .circleci/continue_config.yml
Due: circleci-changes

fix syntax error of incorrect quotations
  .eslintrc.js
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f8a1eb88b814e82b977e19a2db92b7f8e1b5366d 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

add Install browsers for puppeteer step to cucumber_e2e_tests
  .circleci/continue_config.yml
Due: circleci-changes

Refactor resubmit endpoint and related functions
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/services/formatForceNumbers.ts
  packages/api/src/services/formatForceNumbers.unit.test.ts
  packages/api/useCases/canUserResubmitCase.ts
  packages/api/useCases/canUserResubmitCase.unit.test.ts
Due: api-changes

WIP
  packages/core/phase2/exceptions/HO200108.ts
Due: core-changes

refactor if statement
  packages/core/phase2/exceptions/HO200108.ts
Due: core-changes

mock functions in test
  packages/core/phase2/exceptions/HO200108.test.ts
Due: core-changes

Add test
  packages/core/phase2/exceptions/HO200108.test.ts
Due: core-changes

merge if statements
  packages/core/phase2/exceptions/HO200108.ts
Due: core-changes

update test description
  packages/core/phase2/exceptions/HO200108.test.ts
Due: core-changes

move old test
  packages/core/phase2/exceptions/HO200108.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
Due: core-changes

Update packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200108.ts
Due: core-changes

move exception logic
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Add HO200108 (#987)
  packages/core/phase2/exceptions/HO200108.test.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@3b85fe0394bb3f4566aef8aa45b25a0f37d8f0c3 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#992)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b5adb3b6dbd024d500aafe9c717199d33b0f11a9 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

rerun to see if e2e test is flakey
  .eslintrc.js
Due: none

Fix remand operation type in test
  packages/core/phase2/lib/areNewremTypesEqual.test.ts
Due: core-changes

Move use case into 'src' directory
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
Due: api-changes

Fix sql to work
  packages/api/src/services/gateways/postgres/fetchUserByUsername.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.ts
Due: api-changes

Update fastify autoload to latest version
  package-lock.json
  packages/api/package.json
Due: api-changes

Refactor operation types and refreshOperationSequence (#994)
  packages/core/phase2/lib/areNewremTypesEqual.test.ts
  packages/core/phase2/lib/areRemandOperationsEqual.ts
  packages/core/phase2/lib/generateOperations/createOperation.ts
  packages/core/phase2/lib/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/generateOperations/operationCourtCaseReference.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/phase2.ts
  packages/core/types/PncUpdateDataset.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@4cf55bca10c33c179145424918504a2293526cb8 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix e2eTestBuildspec to ensure right current directory
  packages/e2e-test/e2eTestBuildspec.yml
Due: none

Fix e2eTestBuildspec to ensure right current directory (#996)
  packages/e2e-test/e2eTestBuildspec.yml
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@17d9be116f6c45f24d5ae29818e1a9d16c67ac96 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Don't use relative paths for imports
  packages/api/jest.config.js
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/plugins/health/plugin.integration.test.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.integration.test.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtParser.unit.test.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/server/createFastify.ts
  packages/api/src/server/schemas/auth.unit.test.ts
  packages/api/src/services/formatForceNumbers.unit.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.test.ts
  packages/api/src/services/gateways/postgresGateway.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/tsconfig.json
Due: api-changes

Remove console logging
  packages/api/src/useCases/canUserResubmitCase.ts
Due: api-changes

Add package for registering paths from tsconfig
  package-lock.json
  packages/api/nodemon.json
  packages/api/package.json
Due: api-changes

Fix e2eTestBuildspec
  packages/e2e-test/e2eTestBuildspec.yml
Due: none

Update the paths from feedback
  packages/api/jest.config.js
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/plugins/health/plugin.integration.test.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.integration.test.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtParser.unit.test.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/server/createFastify.ts
  packages/api/src/server/logger.unit.test.ts
  packages/api/src/server/schemas/auth.unit.test.ts
  packages/api/src/services/formatForceNumbers.unit.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/postgresGateway.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/tsconfig.json
Due: api-changes
