Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add ExcludeOnLegacyUI tags
  packages/e2e-test/features/416-case-with-excluded-trigger/test.feature
  packages/e2e-test/features/417-case-with-excluded-and-non-excluded-triggers/test.feature
Due: e2e-test-changes

Cucumber tests need branch UI image
  .circleci/continue_config.yml
Due: circleci-changes

Update areAllResultsOnPnc and checkResultsMatchingPncDisposalsExceptions (#1068)
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.ts
  packages/core/phase2/lib/areAllResultsOnPnc.test.ts
  packages/core/phase2/lib/areAllResultsOnPnc.ts
  packages/core/phase2/lib/areResultsMatchingAPncDisposal.test.ts
  packages/core/phase2/lib/areResultsMatchingAPncDisposal.ts
  packages/core/phase2/lib/areResultsMatchingPncAdjudication.test.ts
  packages/core/phase2/lib/areResultsMatchingPncAdjudication.ts
  packages/core/phase2/lib/areResultsMatchingPncAdjudicationAndDisposals.test.ts
  packages/core/phase2/lib/areResultsMatchingPncAdjudicationAndDisposals.ts
  packages/core/phase2/lib/findPncCourtCase.ts
  packages/core/phase2/lib/isMatchToPncAdjudication.test.ts
  packages/core/phase2/lib/isMatchToPncAdjudication.ts
  packages/core/phase2/lib/isMatchToPncAdjudicationAndDisposals.test.ts
  packages/core/phase2/lib/isMatchToPncAdjudicationAndDisposals.ts
  packages/core/phase2/lib/isResultMatchingAPncDisposal.test.ts
  packages/core/phase2/lib/isResultMatchingAPncDisposal.ts
Due: core-changes

Move getDisposalTextFromResult to root of lib folder
  packages/core/comparison/lib/isIntentionalDifference/ho200200AndMultilineResultVariableText.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.test.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/phase2/lib/getDisposalTextFromResult/disqualifiedFromKeepingDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/disqualifiedFromKeepingDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionOrderDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionOrderDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionRequirementsDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionRequirementsDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.ts
  packages/core/phase2/lib/getDisposalTextFromResult/index.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.ts
  packages/core/phase2/lib/getDisposalTextFromResult/licencedPremisesExclusionOrderDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/licencedPremisesExclusionOrderDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/penaltyPointsDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/penaltyPointsDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/untilFurtherOrderDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/untilFurtherOrderDisposalText.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f19dbedc35aa9e6d548b8af328f9447e6d30bc09 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

WIP
  packages/ui/src/components/SearchFilters/CaseStateFilter.tsx
  packages/ui/src/features/CourtCaseFilters/AppliedFilters.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilter.tsx
  packages/ui/src/features/CourtCaseFilters/reducers/handleRemovingFilters.ts
  packages/ui/src/utils/filterChips.ts
Due: none

Move getDisposalTextFromResult to root of lib folder (#1069)
  packages/core/comparison/lib/isIntentionalDifference/ho200200AndMultilineResultVariableText.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.test.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/phase2/lib/getDisposalTextFromResult/disqualifiedFromKeepingDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/disqualifiedFromKeepingDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionOrderDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionOrderDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionRequirementsDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/exclusionRequirementsDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.ts
  packages/core/phase2/lib/getDisposalTextFromResult/index.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.ts
  packages/core/phase2/lib/getDisposalTextFromResult/licencedPremisesExclusionOrderDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/licencedPremisesExclusionOrderDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/penaltyPointsDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/penaltyPointsDisposalText.ts
  packages/core/phase2/lib/getDisposalTextFromResult/untilFurtherOrderDisposalText.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/untilFurtherOrderDisposalText.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@207f430addca988229051c12ddc66f51624f7117 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@d24b01da373dcda5588ea6b5ca33870b62386a76 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove seed-data-buildspec.yml
  seed-data-buildspec.yml
Due: none

Remove seed_data CircleCI job
  .circleci/continue_config.yml
Due: circleci-changes

Remove seed data CircleCI and CodeBuild jobs (#1071)
  .circleci/continue_config.yml
  seed-data-buildspec.yml
Due: circleci-changes

Remove generateOperations/index.test.ts
  packages/core/phase2/lib/generateOperations/index.test.ts
Due: core-changes

Rename isAintCase to isAncillaryInterimCase
  packages/core/phase2/lib/isAintCase.ts
  packages/core/phase2/lib/isAncillaryInterimCase.test.ts
  packages/core/phase2/lib/isAncillaryInterimCase.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Remove unnecessary operations variable in handleJudgementWithFinalResult
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Update handleAdjournmentWithJudgement tests
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
Due: core-changes

Update outdated handleJudgementWithFinalResult tests
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
Due: core-changes

Remove duplicated list of non-recordable results
  packages/core/lib/nonRecordableResults.ts
  packages/core/lib/resultCodeIsOnStopList.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/offencesHaveEqualResults.ts
  packages/core/phase2/lib/isRecordableResult.ts
Due: core-changes

Remove unnecessary else if in handleJudgementWithFinalResult
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Update outdated handleSentence tests
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
Due: core-changes

Rename resultStopList to nonRecordableResults
  packages/core/phase2/lib/isRecordableResult.ts
Due: core-changes

Rename exported function for exception generators to match code
  packages/core/phase2/exceptions/HO200100.ts
  packages/core/phase2/exceptions/HO200101.ts
  packages/core/phase2/exceptions/HO200103.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200110.ts
  packages/core/phase2/exceptions/HO200112.ts
  packages/core/phase2/exceptions/HO200113.ts
  packages/core/phase2/exceptions/HO200114.ts
  packages/core/phase2/exceptions/HO200115.ts
  packages/core/phase2/exceptions/HO200116.ts
  packages/core/phase2/exceptions/HO200117.ts
  packages/core/phase2/exceptions/HO200118.ts
  packages/core/phase2/exceptions/HO200121.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/exceptions/HO200201.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200205.ts
  packages/core/phase2/exceptions/HO200212.ts
Due: core-changes

Rename ccrId to court case reference
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
Due: core-changes

Fix createOperation tests
  packages/core/phase2/lib/generateOperations/createOperation.test.ts
Due: core-changes

Rename acc variable in deduplicateOperations
  packages/core/phase2/lib/generateOperations/deduplicateOperations.ts
Due: core-changes

Rename nonRecordableResults to nonRecordableResultCodes
  packages/core/lib/nonRecordableResultCodes.ts
  packages/core/lib/parse/transformSpiToAho/populateOffences.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/offencesHaveEqualResults.ts
  packages/core/phase1/exceptions/HO100305.ts
  packages/core/phase2/lib/isRecordableResult.ts
Due: core-changes

Remove unnecessary resultCodeIsOnStopList
  packages/core/lib/parse/transformSpiToAho/populateOffences.ts
  packages/core/lib/resultCodeIsOnStopList.ts
  packages/core/phase1/exceptions/HO100305.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ba1f9565ae7c7aac0a9116422a98a7aa62aebdd2 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@44b9482d9789d87d766e282860b1dfbe8b4606e5 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add suggested changes on PR
  packages/ui/package.json
  packages/ui/src/services/listCourtCases.ts
  packages/ui/test/services/listCourtCases/listCourtCases.integration.test.ts
Due: none

add package-lock.json
  package-lock.json
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@bbff5f04d89830d783db8716535938d7257c3ff9 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update DB_SSL in base config for database
  packages/common/db/baseConfig.ts
Due: common-changes

Update DB_SSL in base config for database (#1073)
  packages/common/db/baseConfig.ts
Due: common-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ed609bae0d674e280a26c180fd46c3359098ebea 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update notes
  packages/api/src/services/gateways/auditLogGateways/auditLogging.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
Due: api-changes

fix date input labels
  packages/ui/src/components/CustomDateInput/DateInput.tsx
Due: none

WIP
  packages/ui/src/components/SearchFilters/CaseStateFilter.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipSection.tsx
  packages/ui/src/utils/validateQueryParams.ts
Due: none

Fix usage-report
  scripts/analytics/usage-report/index.ts
Due: none
