Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Re-organise Include search section to match mockup
  packages/ui/src/features/AuditSearch/AuditSearch.styles.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Allow toggling of include triggers and exceptions input
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Arrange search fields into 4 grid columns
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Verify audit volume percents are listed in UI with 20% selected by default
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Add initial AuditSearch component to search page
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Remove unneeded key prop from RadioButton
  packages/ui/src/components/Radios/RadioButton.tsx
Due: ui-changes

Verify specified triggers are listed in UI
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Toggle all resolvers when All is clicked
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Extract inline styles
  packages/ui/src/features/AuditSearch/AuditSearch.styles.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Replace id with data-testid on from date and to date
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Add missing govuk-fieldset__legend and adjusted legends to use small instead of medium font face
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Replace id with data-testid on "All" resolved by checkbox
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Remove returns to improve readability
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Remove unneeded id from Triggers and Exceptions checkbox
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

BICAWS7-3998 - Audit search component (#1789)
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/cypress/component/Checkbox.cy.tsx
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.styles.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Resolve linting errors identified by sonarqube
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Resolve linting errors identified by sonarqube (#1795)
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

add integration test for supervised users
  packages/ui/src/services/getSupervisedUser.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

update casing on test
  packages/ui/src/services/getSupervisedUser.ts
  packages/ui/src/services/getSupervisedUsers.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

Add audit cases
  packages/api/src/services/db/audit/insertAuditCases.integration.test.ts
  packages/api/src/services/db/audit/insertAuditCases.ts
Due: api-changes

Update use case
  packages/api/src/useCases/audit/createAudit.ts
Due: api-changes

Make resolved by users mandatory
  packages/api/src/routes/v1/audit/index.integration.test.ts
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
  packages/api/src/services/db/audit/insertAudit.ts
  packages/common/contracts/CreateAudit.ts
  packages/common/types/Audit.ts
Due: api-changes, common-changes

Put fields (mostly) in place
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

Handle empty cases
  packages/api/src/services/db/audit/insertAuditCases.ts
  packages/api/src/useCases/audit/createAudit.unit.test.ts
Due: api-changes

Fix unit tests
  packages/api/src/useCases/audit/createAudit.unit.test.ts
Due: api-changes

retrieve users with matching force
  packages/ui/src/services/getSupervisedUsers.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

show supervised users in audit UI
  packages/ui/src/pages/audit/search.tsx
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

Fix insert
  packages/api/src/services/db/audit/insertAuditCases.integration.test.ts
  packages/api/src/services/db/audit/insertAuditCases.ts
Due: api-changes

Add missing await
  packages/api/src/useCases/audit/createAudit.ts
Due: api-changes

Test for audit cases
  packages/api/src/routes/v1/audit/index.integration.test.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
Due: api-changes

Add bottom functionality WIP
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

Improve inserting audit cases
  packages/api/src/services/db/audit/insertAuditCases.integration.test.ts
  packages/api/src/services/db/audit/insertAuditCases.ts
Due: api-changes

Add e2e tests
  packages/api/src/routes/v1/audit/index.e2e.test.ts
  packages/api/src/routes/v1/audit/index.integration.test.ts
Due: api-changes

Fix tests
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/services/db/audit/insertAudit.integration.test.ts
Due: api-changes

Add supervisor test
  packages/api/src/routes/v1/me.integration.test.ts
Due: api-changes

Use Permission to make tests more readable
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
Due: api-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Rearrange all the converter functions in the relevant folders
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncUpdateResponseToLeds.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertAch.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertAdj.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertAsr.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertCch.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertCcr.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertCof.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertCou.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertCrt.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertDis.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertFsc.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertIds.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertPcr.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertRcc.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertRem.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertSub.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/convertTxt.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/extractSegments.ts
  packages/e2e-test/utils/converters/convertPncXmlToJson/index.ts
Due: e2e-test-changes

Remove receivedRequest add expectedRequest field
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateDummyUpdate.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
