Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

Update characterisation tests to use same image as other CircleCI jobs (#906)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@6ce5d286b2296e30257574e062b8acb5fac38737 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

write tests
  packages/core/lib/triggers/TRPR0030.test.ts
Due: core-changes

write tests (#907)
  packages/core/lib/triggers/TRPR0030.test.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@e5c42aa2dc2ad20542b6f958a2a92963c7225f24 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove pinned version for wait-port for characterisation tests in CI
  .circleci/continue_config.yml
Due: circleci-changes

Remove pinned version for wait-port for characterisation tests in CI (#908)
  .circleci/continue_config.yml
Due: circleci-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@d055631488d0ae265ce40400825542d620281560 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

introduce DLC parameter
  .circleci/config.yml
  .circleci/continue_config.yml
Due: circleci-changes

introduce DLC parameter
  .circleci/config.yml
Due: circleci-changes

test when nothing changes
  .circleci/config.yml
Due: circleci-changes

update base revision branch
  .circleci/config.yml
Due: circleci-changes

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#905)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@7cc4f2fca8deb6d818536af438f67cb17d8b7534 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Tidy up processPhase2
  packages/core/conductor-tasks/bichard_phase_2/processPhase2.ts
Due: core-changes

Update persistePhase2 function
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.ts
Due: core-changes

Add early return to saveErrorListRecord when phase 2 result has no triggers
  packages/core/lib/database/saveErrorListRecord.ts
Due: core-changes

Add MS Edge to E2E tests
  .circleci/continue_config.yml
  .circleci/scripts/install-ms-edge-on-linux.sh
Due: circleci-changes

Make sure we cache in a step before we run e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

Update standing data dependency (#910)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@d820f5b5dd1f883fa7637f621dd326568892de00 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency (#912)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@7581a5099863e1675b2b07d9415789c474cd5b30 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

testing
  README.md
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@e2c0ca41b1c5814261cfd9044a55c3c7772b2d99 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency (#913)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@3200a2064d313589cdbb71d161732d0efc773bbb 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix casing warning issue in Dockerfile
  packages/message-forwarder/Dockerfile
Due: message-forwarder-changes

Fix casing warning issue in Dockerfile (#918)
  packages/message-forwarder/Dockerfile
Due: message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@e0d53234f4c85e5370520af92b8d0ec95811b8b3 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update parseAhoXml to include Duration for ResultQualifierVariable
  packages/core/lib/parse/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/core/lib/parse/parseAhoXml/parseAhoXml.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1.xml
  packages/core/types/AhoXml.ts
Due: core-changes

Fix type in mapXmlResultQualifierVariableToAho
  packages/core/lib/parse/parseAhoXml/parseAhoXml.ts
Due: core-changes

Update parseAhoXml to include Duration for ResultQualifierVariable (#919)
  packages/core/lib/parse/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/core/lib/parse/parseAhoXml/parseAhoXml.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1.xml
  packages/core/types/AhoXml.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
