Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

BICAWS7-4457 Add missing tests for TriggerHandler search filters (#2163)
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/exceptionHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/triggerHandler.e2e.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus/tests/utils.test.ts
Due: api-changes

create test_common github actions workflow
  .github/workflows/test_common.yml
Due: none

remove working directory from install dependencies
  .github/workflows/test_common.yml
Due: none

Removed canUseApi folder
  packages/ui/src/pages/api/court-cases/[courtCaseId]/audit.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/services/api/canUseApi/canUseEndpoint.test.ts
  packages/ui/src/services/api/canUseApi/canUseEndpoint.ts
  packages/ui/src/services/api/canUseApi/canaryCheck.test.ts
  packages/ui/src/services/api/canUseApi/canaryCheck.ts
  packages/ui/src/services/api/canUseApi/canaryConfig.ts
  packages/ui/src/services/api/canUseApi/createHash.test.ts
  packages/ui/src/services/api/canUseApi/createHash.ts
  packages/ui/src/services/api/canUseApi/hasApiEnabledByForce.test.ts
  packages/ui/src/services/api/canUseApi/hasApiEnabledByForce.ts
  packages/ui/src/services/api/canUseApi/isEndpointEnabled.test.ts
  packages/ui/src/services/api/canUseApi/isEndpointEnabled.ts
  packages/ui/src/services/unlockCourtCase.ts
  packages/ui/src/services/updateLockStatusToUnlocked.ts
Due: ui-changes

Remove unused helper method and update email subject
  packages/ui/cypress/support/helpers.ts
  packages/ui/src/pages/feedback.tsx
Due: ui-changes

add path filtering to build and test workflow
  .github/workflows/test_common.yml
Due: none

add conditonal to test common runs on file change only
  .github/workflows/test_common.yml
Due: none

add checkout repository step before path filtering
  .github/workflows/test_common.yml
Due: none

remove investigation comment
  .github/workflows/test_common.yml
Due: none

Move test common to GitHub actions (#2170)
  .github/workflows/test_common.yml
Due: none

remove test_common from circleci workflow
  .circleci/continue_config.yml
Due: circleci-changes

remove test_common from circleci workflow (#2172)
  .circleci/continue_config.yml
Due: circleci-changes

integration test fix
  packages/ui/test/services/unlockCourtCase.integration.test.ts
Due: ui-changes

updateLockStatusToUnlocked integration test fix
  packages/ui/test/services/updateLockStatusToUnlocked.integration.test.ts
Due: ui-changes

Abort if install or build have errors
  environment/conductor/buildspec.yml
Due: none

Use --no-daemon to fix race condition
  environment/conductor/Dockerfile
Due: none

Remove redundant cleanup
  environment/conductor/Dockerfile
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Fix Conductor build race condition (#2174)
  environment/conductor/Dockerfile
  environment/conductor/buildspec.yml
Due: none

Removed api vars
  .circleci/continue_config.yml
  .circleci/scripts/run-infrastructure.sh
  environment/docker-compose.yml
  packages/ui/next-env.d.ts
  packages/ui/scripts/run-dev-with-api.sh
  packages/ui/src/config.ts
Due: circleci-changes, ui-changes

Stand up old data
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

create characterisation test github action
  .github/workflows/test_characterisation.yml
Due: none

create test-ui-component github action
  .github/workflows/test-ui-component.yml
Due: none

add pull_request types
  .github/workflows/test_characterisation.yml
Due: none

trying minimal change
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: ui-changes

revert
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: ui-changes

trying just api gateway setup
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: ui-changes

Removed first useApiForCaseResubmit condition
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: ui-changes

chore: added buildspec to env and moved dockerfile from packages/s3
  environment/s3-web-build/Dockerfile
  environment/s3-web-build/buildspec.yml
Due: none

chore: moved Makefile and goss* over to environment
  environment/s3-web-build/Makefile
  environment/s3-web-build/goss.yaml
  environment/s3-web-build/goss_wait.yaml
Due: none

Basic setup to send email via Bichard
  packages/ui/src/config.ts
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/services/getEmailer.ts
  packages/ui/src/services/sendEmailFeedback.ts
  packages/ui/src/types/Email.ts
  packages/ui/src/types/EmailContent.ts
  packages/ui/src/types/Emailer.ts
  packages/ui/src/utils/getFormattedDateForEmailHeader.ts
  packages/ui/styles/globals.scss
Due: ui-changes

Unneccessary errorMessage prop removed
  packages/ui/src/pages/feedback.tsx
Due: ui-changes

removed cypress non-api e2e test trigger
  .circleci/continue_config.yml
Due: circleci-changes

Add triggers here
  packages/core/lib/triggers/TRPR0031.ts
  packages/core/lib/triggers/index.ts
  packages/ui/test/helpers/createDummyTriggers.ts
Due: core-changes, ui-changes

Removed non-api tests from yml config
  .circleci/continue_config.yml
Due: circleci-changes

removed api var
  .circleci/continue_config.yml
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

tmp
  .circleci/continue_config.yml
Due: circleci-changes

reverted parameters
  .circleci/continue_config.yml
Due: circleci-changes

revert infra
  .circleci/scripts/run-infrastructure.sh
Due: circleci-changes

revert script
  packages/ui/scripts/run-dev-with-api.sh
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
