Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

add courtDateReceivedDateMismatchFilter logic to the CourtCaseFilter
  packages/ui/src/components/SearchFilters/CourtDateFilter.tsx
  packages/ui/src/types/CourtCaseFilter.ts
Due: ui-changes

Add LEDS update support to e2e tests
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Fix map CXE01 function to only map LEDS fields when they have value
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
Due: common-changes

Update LedsGateway to handle updating remand
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/types/RemandPncUpdateRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/types/leds/RemandRequest.ts
Due: common-changes, core-changes

Fix LEDS update error message
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Add reportId to police query result mapper
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/types/RemandPncUpdateRequest.ts
Due: common-changes, core-changes

Fix mapToPoliceQueryResult test
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
Due: core-changes

Add test for AHO serialiseToXml
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/lib/serialise/ahoXml/serialiseToXml.test.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-leds-fields.xml
Due: core-changes

Rename remand request types and schemas
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/types/leds/RemandRequest.ts
Due: core-changes

Update snpashots
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-exceptions.xml
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-pnc-errors.xml
Due: core-changes

Add test for parseAhoXml
  packages/common/aho/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/common/aho/parseAhoXml/fixtures/AnnotatedHO3-LEDS.xml
  packages/common/aho/parseAhoXml/parseAhoXml.test.ts
Due: common-changes

Add test for mapToRemandRequest
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
Due: core-changes

Add OffenceId and DisposalId attributes to serialised XML output
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-pnc-errors.xml
  packages/core/schemas/ledsPoliceOffence.ts
  packages/core/types/LedsPoliceOffence.ts
Due: common-changes, core-changes

Fix tests
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
Due: core-changes

Tidy up code
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
Due: core-changes

Make reportId and personId optional in remand generator
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/types/RemandPncUpdateRequest.ts
Due: core-changes

Infra improvements
  .circleci/continue_config.yml
  environment/boot.sh
  environment/docker-compose.ci.yml
  environment/docker-compose.yml
  package.json
Due: circleci-changes, env-changes

Add offeceId attribute and disposal element to LEDS AHO and remove from PNC AHO
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-exceptions.xml
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-leds-fields.xml
Due: core-changes

Update LEDS gateway to support remand operation (#1668)
  packages/common/aho/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/common/aho/parseAhoXml/fixtures/AnnotatedHO3-LEDS.xml
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
  packages/common/aho/parseAhoXml/parseAhoXml.test.ts
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/lib/serialise/ahoXml/serialiseToXml.test.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-leds-fields.xml
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-pnc-errors.xml
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/types/RemandPncUpdateRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/schemas/ledsPoliceOffence.ts
  packages/core/types/LedsPoliceOffence.ts
  packages/core/types/leds/RemandRequest.ts
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: common-changes, core-changes, e2e-test-changes

set value of checkbox saved to filters
  package-lock.json
  packages/ui/src/components/SearchFilters/CourtDateFilter.tsx
  packages/ui/src/components/SearchFilters/CourtDateReceivedDateMismatchCheckbox.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilter.tsx
  packages/ui/src/features/CourtCaseFilters/reducers/handleAddingFilters.ts
  packages/ui/src/features/CourtCaseFilters/reducers/handleRemovingFilters.ts
  packages/ui/src/types/CourtCaseFilter.ts
Due: ui-changes

Add initial instance of mapToNormalDisposalRequest function
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToNormalDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToNormalDisposalRequest.ts
  packages/core/types/leds/DisposalRequest.ts
Due: core-changes

Remove old node_install
  .circleci/continue_config.yml
Due: circleci-changes

Test using node/install-packages
  .circleci/continue_config.yml
Due: circleci-changes

Infra improvements (#1676)
  .circleci/continue_config.yml
  environment/boot.sh
  environment/docker-compose.ci.yml
  environment/docker-compose.yml
  package.json
Due: circleci-changes, env-changes

Replace install_dependencies with node/install-packages
  .circleci/continue_config.yml
Due: circleci-changes

Fix job
  .circleci/continue_config.yml
Due: circleci-changes

Make sure to use correct node version
  .circleci/continue_config.yml
Due: circleci-changes

Install node in lint job
  .circleci/continue_config.yml
Due: circleci-changes

Test cached .npm directory
  .circleci/continue_config.yml
Due: circleci-changes

Adjust step names
  .circleci/continue_config.yml
Due: circleci-changes

Ignore scripts
  .circleci/continue_config.yml
Due: circleci-changes

Manually install cypress
  .circleci/continue_config.yml
Due: circleci-changes

Add name to step
  .circleci/continue_config.yml
Due: circleci-changes

Run more steps in between Cypress start/end
  .circleci/continue_config.yml
Due: circleci-changes

Install Cypress on user service e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

Add missing npx
  .circleci/continue_config.yml
Due: circleci-changes

Run from correct package
  .circleci/continue_config.yml
Due: circleci-changes

Persist node_modules to workspace
  .circleci/continue_config.yml
Due: circleci-changes

Add dependency
  .circleci/continue_config.yml
Due: circleci-changes

Fix error
  .circleci/continue_config.yml
Due: circleci-changes
