Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Remove margin-bottom from Banner for improved layout consistency
  packages/ui/src/components/Layout.styles.tsx
Due: none

Remove version specification from Docker Compose files (#1338)
  docs/docker-compose-arch.yml
  environment/docker-compose-bichard-debug.yml
  environment/docker-compose-bichard.yml
  environment/docker-compose-e2e-tests.yml
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
Due: env-changes

Add cases endpoint to API (#1335)
  packages/api/src/routes/v1/cases/getCase.e2e.test.ts
  packages/api/src/routes/v1/cases/getCase.integration.test.ts
  packages/api/src/routes/v1/cases/getCase.ts
  packages/api/src/routes/v1/cases/getCases.ts
  packages/api/src/routes/v1/cases/getCasesTests/pagination.e2e.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchNotes.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchTriggers.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/ordering.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/types/Case.ts
  packages/api/src/types/CaseIndexQuerystring.ts
  packages/api/src/useCases/cases/fetchCasesAndFilter.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/pagination.e2e.test.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/sorting/courtDateOrder.e2e.test.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/sorting/courtNameOrder.e2e.test.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/sorting/defendantNameOrder.e2e.test.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/sorting/ptiurnOrder.e2e.test.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/api/tsconfig.build.json
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Use the API client throughout core and enable the base path to be configured
  packages/common/AuditLogApiClient/AuditLogApiClient.test.ts
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
  packages/common/AuditLogApiClient/createApiConfig.ts
  packages/conductor/e2e-test/helpers/getAuditLogs.ts
  packages/conductor/e2e-test/incomingMessageHandler.e2e.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.ts
  packages/core/conductor-tasks/incomingMessageHandler/createAuditLogRecord.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/createAuditLogRecord.ts
Due: common-changes, conductor-changes, core-changes

Refactor performOperations to extract generatePncUpdateRequests function
  packages/core/phase3/lib/performOperations.ts
  packages/core/types/PncUpdateDataset.ts
Due: core-changes

Use the API client throughout core and enable the base path to be configured (#1339)
  packages/common/AuditLogApiClient/AuditLogApiClient.test.ts
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
  packages/common/AuditLogApiClient/createApiConfig.ts
  packages/conductor/e2e-test/helpers/getAuditLogs.ts
  packages/conductor/e2e-test/incomingMessageHandler.e2e.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.ts
  packages/core/conductor-tasks/incomingMessageHandler/createAuditLogRecord.integration.test.ts
  packages/core/conductor-tasks/incomingMessageHandler/createAuditLogRecord.ts
Due: common-changes, conductor-changes, core-changes

Add more context to convertToYouthCourtIfRequired
  packages/core/phase3/lib/getPncCourtCode.test.ts
  packages/core/phase3/lib/getPncCourtCode.ts
Due: core-changes

Remove params in FakeDataStore
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
Due: api-changes

Create Filter type
  packages/api/src/types/CaseIndexQuerystring.ts
Due: api-changes

Add defendant name filter
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/generateFilters.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/useCases/cases/fetchCasesAndFilter.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/filters/defendantName.e2e.test.ts
Due: api-changes

Fix flaky test
  packages/api/src/useCases/cases/lockAndFetchCase.e2e.test.ts
Due: api-changes

Fix test name
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/filters/defendantName.e2e.test.ts
Due: api-changes

Fix failing test
  packages/e2e-test/features/414-display-resolved-exceptions/test.feature
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: e2e-test-changes

Bicaws7 3354 when navigating between offences the page should automatically scroll back up to the top of the offence (#1332)
  packages/ui/cypress/e2e/case-details/view-case-details/view-offences.cy.ts
  packages/ui/src/components/Exception/DefaultException.tsx
  packages/ui/src/components/Layout.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Header.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceNavigation.tsx
  packages/ui/src/styles/index.styles.tsx
Due: none

Add filter for court name
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/courtName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/generateFilters.ts
  packages/api/src/types/CaseIndexQuerystring.ts
  packages/api/src/useCases/cases/fetchCasesAndFilter.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/filters/courtName.e2e.test.ts
Due: api-changes

Fix failing test
  packages/e2e-test/features/190-correcting-invalid-asn/test.feature
Due: e2e-test-changes

Revert the change in submit the record definition
  packages/e2e-test/features/190-correcting-invalid-asn/test.feature
  packages/e2e-test/features/404-fix-exceptions-and-triggers/test.feature
  packages/e2e-test/features/414-display-resolved-exceptions/test.feature
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Modify submitRecord definition
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Fix intentional difference for non-matching triggers
  packages/core/comparison/lib/comparePhase3.ts
Due: core-changes

add helper function to format ASN with dividers
  packages/ui/src/helpers/formatAsn.ts
Due: none

format ASN with dividers in CourtCaseDetailsSummaryBox and AsnField components
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
Due: none

format ASN display in case details for improved readability
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: none

use formatAsnWithDivider helper in DefendantDetails tests for ASN display
  packages/ui/cypress/component/DefendantDetails.cy.tsx
Due: none

Make submitRecord function to click either leave-and-unlock or return-to-case-list depending on scenarios
  packages/e2e-test/features/190-correcting-invalid-asn/test.feature
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

add undefined check to formatAsnWithDivider helper for improved robustness
  packages/ui/src/helpers/formatAsn.ts
Due: none

Fix false positives when running comparison tests in Conductor
  packages/core/comparison/lib/isPass.ts
Due: core-changes

update ASN display in case details summary box for accurate representation
  packages/ui/cypress/e2e/case-details/view-case-details/view-summary-box.cy.ts
Due: none

Update Phase 3 functions and comparison tests (#1342)
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/isPass.ts
  packages/core/phase3/lib/getPncCourtCode.test.ts
  packages/core/phase3/lib/getPncCourtCode.ts
  packages/core/phase3/lib/performOperations.ts
  packages/core/types/PncUpdateDataset.ts
Due: core-changes

wip
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
Due: none

Use the new audit log API in CI
  environment/.env
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
  environment/local-conductor-worker.env
  packages/api/.dockerignore
  packages/api/Dockerfile
  packages/api/src/routes/v1/audit-logs/createAuditLog.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  packages/api/src/types/AuditLogEvent.ts
  packages/api/src/useCases/createAuditLog.ts
  packages/common/AuditLogApiClient/AuditLogApiClient.ts
Due: env-changes, api-changes, common-changes

add logic to check updated value is equal to value
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
Due: none

update test to match displated ASN with slashes
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
Due: none

update test to reflect formatted ASN with slashes in defendant details table
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
Due: none

Add a sql statement to fetch case on the basis of users visible courts
  packages/api/src/routes/v1/cases/case.e2e.test.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/organisationUnitSql.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/visibleCourtsSql.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.ts
Due: api-changes

Add generatedOrganisationUnitSql at class level to be utilised by all other members
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/lockException.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/lockTrigger.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/selectMessageId.ts
Due: api-changes

Remove extra argument from fetchCase function
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
Due: api-changes

PR feedback
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/filters/defendantName.e2e.test.ts
Due: api-changes

API add filter defendant name (#1340)
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCases.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/defendantName.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/filters/generateFilters.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/types/CaseIndexQuerystring.ts
  packages/api/src/useCases/cases/fetchCasesAndFilter.ts
  packages/api/src/useCases/cases/fetchCasesAndFlitersTests/filters/defendantName.e2e.test.ts
  packages/api/src/useCases/cases/lockAndFetchCase.e2e.test.ts
Due: api-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
