Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Remove HO100333 as ASN exception
  packages/ui/src/utils/exceptions/isException/isAsnException.ts
Due: none

Add tests for ASN exceptions HO100300 and HO100314
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/test/test-data/HO100206.json
  packages/ui/test/test-data/HO100300.json
  packages/ui/test/test-data/HO100301.json
  packages/ui/test/test-data/HO100314.json
  packages/ui/test/test-data/HO100321.json
Due: none

Add HO100300 and HO100314 to ASN editable field
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/src/utils/exceptions/isException/isAsnException.ts
  packages/ui/test/test-data/HO100206.json
  packages/ui/test/test-data/HO100300.json
  packages/ui/test/test-data/HO100301.json
  packages/ui/test/test-data/HO100314.json
  packages/ui/test/test-data/HO100321.json
Due: none

Add test case for handling users with no associated forces in fetchCaseDto
  packages/api/src/useCases/fetchCaseDto.unit.test.ts
Due: api-changes

Add attribution for test fixtures
  packages/ui/test/test-data/HO100300.json
  packages/ui/test/test-data/HO100314.json
Due: none

Update unit tests for fetchCaseDto to set forceIds in fakeDataStore
  packages/api/src/useCases/fetchCaseDto.unit.test.ts
Due: api-changes

Add generatePncUpdatedLogAttributes function
  packages/core/lib/auditLog/generatePncUpdatedLogAttributes.test.ts
  packages/core/lib/auditLog/generatePncUpdatedLogAttributes.ts
Due: core-changes

Add PNC Update applied successfully audit log event in Phase 3
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.integration.test.ts
  packages/core/phase3/phase3.test.ts
  packages/core/phase3/phase3.ts
Due: core-changes

Remove open-conductor.sh as replaced in cli tool
  scripts/open-conductor.sh
Due: none

Update names to use camel case as per comment
  packages/cli/commands/conductor/open.ts
Due: none

Update imports for exception fixtures
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-resolved-message.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/submit-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/tabs.cy.ts
Due: none

Remove HO100300 and HO100314 as ASN exceptions
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/src/utils/exceptions/isException/isAsnException.ts
Due: none

Separate the concept of editable and having exceptions, add editable ASN exceptions
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
  packages/ui/src/utils/exceptions/isAsnAmended.ts
  packages/ui/src/utils/exceptions/isException/isEditableAsnException.ts
Due: none

Fix checkOffenceData E2E action
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Update excluded audit log events for comparison tests
  packages/core/comparison/lib/comparePhase3.ts
Due: core-changes

Bicaws7 3321 Store the visible forces as an instance variable on DataStoreGateways (#1283)
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/routes/v1/audit-logs/createAuditLog.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvents.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/getAuditLog.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/searchAuditLogs.e2e.test.ts
  packages/api/src/routes/v1/cases/case.e2e.test.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/helpers/setupAppEnd2EndHelper.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/src/useCases/fetchCaseDto.ts
  packages/api/src/useCases/fetchCaseDto.unit.test.ts
Due: api-changes

Add PNC Update applied successfully audit log event in Phase 3 (#1285)
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.integration.test.ts
  packages/core/lib/auditLog/generatePncUpdatedLogAttributes.test.ts
  packages/core/lib/auditLog/generatePncUpdatedLogAttributes.ts
  packages/core/phase3/phase3.test.ts
  packages/core/phase3/phase3.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: core-changes, e2e-test-changes

Fix dataStore variable name
  packages/api/src/routes/v1/cases/case.e2e.test.ts
Due: api-changes

Add AuditLogging for Locked cases (Exceptions only)
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/lockException.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/selectMessageId.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/transaction.ts
  packages/api/src/services/gateways/dynamo/createAuditLogDynamoDbConfig.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/types/Case.ts
  packages/api/src/types/EventCode.ts
  packages/api/src/useCases/auditLog/auditLogEventLookup.ts
  packages/api/src/useCases/auditLog/buildAuditLogEvent.ts
  packages/api/src/useCases/cases/lock.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/api/src/useCases/fetchCaseDto.ts
  packages/api/src/useCases/fetchCaseDto.unit.test.ts
Due: api-changes

Add readme for cli to cover a few basics
  packages/cli/README.md
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

Rename 'sql' to be more context relevant
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/transaction.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/useCases/cases/lock.ts
Due: api-changes

Use the correct type
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
Due: api-changes

Rename file
  packages/api/src/useCases/cases/lockAndFetchCase.ts
  packages/api/src/useCases/fetchCaseDto.ts
Due: api-changes

Update packages/cli/README.md
  packages/cli/README.md
Due: none

Bichard cli (#1263)
  packages/cli/README.md
  packages/cli/commands/cloudwatch/index.ts
  packages/cli/commands/cloudwatch/postfix.ts
  packages/cli/commands/cloudwatch/userService.ts
  packages/cli/commands/conductor/index.ts
  packages/cli/commands/conductor/open.ts
  packages/cli/commands/devSgs.ts
  packages/cli/commands/fetchImage.ts
  packages/cli/commands/message-processing/disable.ts
  packages/cli/commands/message-processing/enable.ts
  packages/cli/commands/message-processing/index.ts
  packages/cli/commands/message-processing/wiki.ts
  packages/cli/commands/status.ts
  packages/cli/config.ts
  packages/cli/env.ts
  packages/cli/index.ts
  packages/cli/jest.config.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/cli/tsconfig.ref.json
  packages/cli/utils/awsVault.ts
  packages/cli/utils/checkConnection.ts
  packages/cli/utils/exec.ts
  packages/cli/utils/getDefaultBrowserForOSAScript.ts
  packages/cli/utils/globalOptionsHook.ts
  packages/cli/utils/watch.ts
  scripts/open-conductor.sh
Due: none

WIP use rowspan attribute in court case list
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntry.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/ExtraReasonRow.tsx
Due: none

Rename test files to be runnable
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/CalculateMessageStatusUseCase.unit.test.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/shouldLogForAutomationReport.unit.test.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/shouldLogForTopExceptionsReport.unit.test.ts
Due: api-changes

Rename and relocate files
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/useCases/cases/lockAndFetchCaseDto.ts
  packages/api/src/useCases/cases/lockAndFetchCaseDto.unit.test.ts
Due: api-changes

Remove unneeded files
  packages/api/src/services/gateways/auditLogGateways/auditLogging.ts
  packages/api/src/services/gateways/auditLogGateways/fakeAuditLogging.ts
Due: api-changes

fix boarder bottom issue for rowspanned cells
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/styles/page.scss
Due: none

Refactor locking exceptions
  packages/api/src/useCases/cases/lockAndFetchCase.ts
  packages/api/src/useCases/cases/lockAndFetchCaseDto.unit.test.ts
  packages/api/src/useCases/cases/lockExceptions.ts
Due: api-changes
