Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Exclude tests on legacy UI
  packages/e2e-test/features/418-sign-out-remembers-case-list/test.feature
  packages/e2e-test/features/419-sign-out-remembers-case-details/test.feature
Due: e2e-test-changes

add e2e tests and refactor insertCourtCasesWithNotes
  packages/ui/cypress.config.ts
  packages/ui/cypress/e2e/case-list/notePreview.cy.ts
  packages/ui/test/utils/insertCourtCases.ts
Due: none

Move eslint-plugin-perfectionist to top level
  package-lock.json
  package.json
  packages/ui/package.json
Due: none

Update workspace settings
  .vscode/settings.json
Due: none

Add recommended extensions to install
  .vscode/extensions.json
Due: none

Add more settings
  .vscode/settings.json
Due: none

Add delay for API request
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

WIP
  packages/ui/cypress/e2e/case-list/notePreview.cy.ts
Due: none

Remove extentions that are more personal choice
  .vscode/extensions.json
Due: none

Note preview for cases in the case list should include the note username (#1102)
  packages/ui/cypress.config.ts
  packages/ui/cypress/e2e/case-list/notePreview.cy.ts
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/NotePreviewButton.tsx
  packages/ui/test/utils/insertCourtCases.ts
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ffd3b7c5740183825a1fe96913673bc211b33355 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix failing integration test in core
  packages/core/conductor-tasks/bichard_phase_1/persistPhase1.integration.test.ts
Due: core-changes

Fix failing UI unit test
  packages/ui/src/utils/amendments/getSystemNotes.test.ts
Due: none

Cypress component tests don't need the docker image to run
  .circleci/continue_config.yml
Due: circleci-changes

Make the cucumber e2e job run on a large instance
  .circleci/continue_config.yml
Due: circleci-changes

Make the zap scanner job run on a large instance
  .circleci/continue_config.yml
Due: circleci-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f77f6209cd02f7eca5ef2a97c26bcaa5b5696920 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@4b8a174636a179ba8b6eaed53be9df5acc4e3e26 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@117938adb440493cbed78458232a62e9b9959f96 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove commented out delay
  packages/e2e-test/utils/auth.ts
Due: e2e-test-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@91701ccdf803be648a097a337d88d392cb1d3bca 🚀
  main/bichard/component/message-transfer-lambda/index.html
  main/bichard/component/message-transfer-lambda/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix broken audit log API client tests
  packages/common/AuditLogApiClient/AuditLogApiClient.test.ts
Due: common-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@61c05840341d00ea6e462fb13f1cea7d3d7bc91e 🚀
  main/bichard/component/message-transfer-lambda/index.html
  main/bichard/component/message-transfer-lambda/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix broken amendCourtCase integration test
  packages/ui/test/services/amendCourtCase.integration.test.ts
Due: none

Remove duplicate addExceptionsToAhoXml file
  packages/core/phase1/serialise/ahoXml/addExceptionsToAhoXml.ts
Due: core-changes

Update PNCErrorMessage to be an array of strings
  packages/core/lib/parse/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/core/lib/parse/parseAhoXml/parseAhoXml.ts
  packages/core/lib/serialise/ahoXml/addExceptionsToAhoXml.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/phase1/exceptions/pncExceptions.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1.xml
  packages/core/schemas/unvalidatedHearingOutcome.ts
  packages/core/types/AhoXml.ts
Due: core-changes

Update PncGateway to return PncApiError
  packages/core/comparison/lib/MockPncGateway.ts
  packages/core/comparison/lib/generateMockPncQueryResultFromAho.ts
  packages/core/lib/PncGateway.ts
  packages/core/types/PncGatewayInterface.ts
Due: core-changes

Move PNC error messages to exceptions
  packages/core/comparison/lib/generateMockPncQueryResultFromAho.ts
  packages/core/lib/PncGateway.ts
  packages/core/lib/parse/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/core/lib/parse/parseAhoXml/extractExceptionsFromXml.test.ts
  packages/core/lib/parse/parseAhoXml/extractExceptionsFromXml.ts
  packages/core/lib/parse/parseAhoXml/parseAhoXml.ts
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/lib/serialise/ahoXml/serialiseToXml.test.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.test.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/phase1/exceptions/generate.ts
  packages/core/phase1/exceptions/generatePncExceptionFromMessage.test.ts
  packages/core/phase1/exceptions/generatePncExceptionFromMessage.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-pnc-errors.xml
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/__snapshots__/parseAnnotatedPncUpdateDatasetXml.test.ts.snap
  packages/core/phase2/parse/parsePncUpdateDataSetXml/__snapshots__/parsePncUpdateDataSetXml.test.ts.snap
  packages/core/schemas/exception.ts
  packages/core/schemas/unvalidatedHearingOutcome.ts
  packages/core/types/Exception.ts
  packages/core/types/PncGatewayInterface.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/ExceptionsList.tsx
  packages/ui/test/helpers/exceptions/HO100301.ts
  packages/ui/test/helpers/exceptions/HO100302.ts
  packages/ui/test/helpers/exceptions/HO100314.ts
  packages/ui/test/helpers/exceptions/HO100402.ts
  packages/ui/test/helpers/exceptions/HO100404.ts
  packages/ui/test/services/__snapshots__/amendCourtCase.integration.test.ts.snap
  packages/ui/test/services/__snapshots__/resubmitCourtCase.integration.test.ts.snap
Due: core-changes

Check if AHO is ignored before adding PNC exceptions
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.test.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/phase1/enrichAho/index.ts
  packages/core/phase1/phase1.ts
  packages/core/schemas/exception.ts
Due: core-changes

Remove unnecessary adding of PNC error messages
  packages/core/lib/serialise/ahoXml/addExceptionsToAhoXml.ts
Due: core-changes

Update Cypress tests for PNC exceptions in UI
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/pnc-exceptions.cy.ts
Due: none

Update addExceptionsToAho to keep PNC exceptions
  packages/core/lib/exceptions/addExceptionsToAho.test.ts
  packages/core/lib/exceptions/addExceptionsToAho.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
