Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Add cypress tests
  packages/ui/cypress/e2e/case-details/view-case-details/collapsable-sections.cy.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.tsx
Due: none

Add missing props in a component test
  packages/ui/cypress/component/HearingResult.cy.tsx
Due: none

Add ARIA attributes
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
Due: none

Fix cypress tests (#1435)
  packages/ui/cypress/e2e/infoBanner.cy.ts
  packages/ui/src/components/InfoBanner.tsx
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Remove console.log
  packages/cli/commands/user-comms/index.ts
Due: none

Rename functions to be more descriptive
  packages/cli/commands/user-comms/utils/currentUsersQuery.ts
  packages/cli/commands/user-comms/utils/getUsersDetails.ts
Due: none

Update path in aws vault command
  packages/cli/commands/user-comms/utils/prepareComms.ts
Due: none

Minor refactor
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.tsx
Due: none

Add courtCaseId to errors for better debuging
  packages/ui/src/services/resolveTriggers.ts
Due: none

Update tests to use court case id in expect
  packages/ui/test/services/resolveTriggers.integration.test.ts
Due: none

Fix info-banner expiring logic
  packages/ui/cypress/e2e/infoBanner.cy.ts
  packages/ui/src/components/InfoBanner.tsx
Due: none

Update default answer for commands
  packages/cli/commands/user-comms/utils/pncMaintenance.ts
  packages/cli/commands/user-comms/utils/prepareComms.ts
Due: none

Add check for database connection
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/utils/getUsersFromDb.ts
  packages/cli/utils/testDbConnection.ts
Due: none

Update user comms templates
  packages/cli/commands/user-comms/templates/outage-resolved.txt
  packages/cli/commands/user-comms/templates/outage.txt
  packages/cli/commands/user-comms/templates/pnc-maintenance-extended.txt
  packages/cli/commands/user-comms/templates/pnc-maintenance.txt
Due: none

Rename template types
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/utils/userCommsTypes.ts
Due: none

Remove redundant getUsersDetails file
  packages/cli/commands/user-comms/utils/getUsersDetails.ts
Due: none

Add user comms command to CLI (#1407)
  packages/cli/README.md
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/outageComms.ts
  packages/cli/commands/user-comms/pncMaintenance.ts
  packages/cli/commands/user-comms/pncMaintenanceExtended.ts
  packages/cli/commands/user-comms/templates/outage-resolved.txt
  packages/cli/commands/user-comms/templates/outage.txt
  packages/cli/commands/user-comms/templates/pnc-maintenance-extended.txt
  packages/cli/commands/user-comms/templates/pnc-maintenance.txt
  packages/cli/commands/user-comms/utils/currentUsersQuery.ts
  packages/cli/commands/user-comms/utils/getUsersFromDb.ts
  packages/cli/commands/user-comms/utils/pncMaintenance.ts
  packages/cli/commands/user-comms/utils/pncMaintenanceExtended.ts
  packages/cli/commands/user-comms/utils/prepareComms.ts
  packages/cli/commands/user-comms/utils/renderTemplate.ts
  packages/cli/commands/user-comms/utils/selectOutageType.ts
  packages/cli/commands/user-comms/utils/selectTemplate.ts
  packages/cli/commands/user-comms/utils/sendUserComms.ts
  packages/cli/commands/user-comms/utils/userCommsTypes.ts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/utils/testDbConnection.ts
Due: none

Extract out Card component
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Card.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Card.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/HearingResult.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Increase wait time
  packages/ui/cypress/e2e/infoBanner.cy.ts
Due: none

Update standing data dependency (#1439)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Fix spacing on outage resolved template
  packages/cli/commands/user-comms/templates/outage-resolved.txt
Due: none

Pass hostname in to remove uncessary aws-sdk code
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/utils/getUsersFromDb.ts
  packages/cli/commands/user-comms/utils/prepareComms.ts
Due: none

Add update to README for installing postgres
  packages/cli/README.md
Due: none

User comms cli improvments (#1440)
  packages/cli/README.md
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/templates/outage-resolved.txt
  packages/cli/commands/user-comms/utils/getUsersFromDb.ts
  packages/cli/commands/user-comms/utils/prepareComms.ts
Due: none

Amend selectors in cypress e2e tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/collapsable-sections.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-offence-matching-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-offences.cy.ts
  packages/ui/src/utils/offenceDetails/initialOffencesVisibility.test.ts
Due: none

Replace px with rem
  packages/ui/src/components/EditableFields/EditableFieldRow.styles.tsx
  packages/ui/src/components/ExceptionFieldRow.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/InfoRow.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Card.styles.tsx
Due: none

Fix comparison logic
  packages/ui/cypress/e2e/infoBanner.cy.ts
  packages/ui/src/components/InfoBanner.tsx
Due: none

Fix info-banner (#1438)
  packages/ui/cypress/e2e/infoBanner.cy.ts
  packages/ui/src/components/InfoBanner.tsx
Due: none

Add courtCaseId to errors for better debuging (#1437)
  packages/ui/src/services/resolveTriggers.ts
  packages/ui/test/services/resolveTriggers.integration.test.ts
Due: none

Updated package-lock
  package-lock.json
Due: none

Fix linting issue
  packages/core/lib/auditLog/CoreAuditLogger.ts
Due: core-changes

Remove commented code
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
Due: none

Move MockPncGateway to tests/helpers folder
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.test.ts
  packages/core/phase1/phase1.test.ts
  packages/core/phase1/scripts/compareResults.ts
  packages/core/phase1/tests/helpers/processMessage.ts
  packages/core/phase3/lib/performOperations.test.ts
  packages/core/phase3/lib/updatePnc.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/phase3/phase3.test.ts
  packages/core/scripts/testServer.ts
  packages/core/tests/helpers/MockPncGateway.ts
  packages/core/tsconfig.build.json
Due: core-changes, characterisation-test-changes

Extract ParseIncomingMessageResult type in tests/types folder
  packages/core/comparison/lib/parseIncomingMessage.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/tests/types/ParseIncomingMessageResult.ts
  packages/core/tsconfig.build.json
Due: core-changes

Move ComparisonFile types to tests/types folder
  packages/core/comparison/lib/checkPhase.ts
  packages/core/comparison/lib/comparePhase1.test.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.test.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/comparison/lib/processTestFile.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/scripts/runFileOnBichard.ts
  packages/core/tests/helpers/e2eComparisonTestsHelpers.ts
  packages/core/tests/types/ComparisonFile.ts
Due: core-changes

Move parseIncomingMessage to tests/helpers folder
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/comparison/lib/comparePncMatching.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/scripts/testServer.ts
  packages/core/tests/helpers/parseIncomingMessage.ts
  packages/core/tsconfig.build.json
Due: core-changes, characterisation-test-changes

Move processTestFile to tests/helpers folder
  packages/core/comparison/cli/checkPncMatching.ts
  packages/core/comparison/cli/processFile.ts
  packages/core/comparison/lib/compareFile.ts
  packages/core/comparison/lib/comparePhase1.test.ts
  packages/core/comparison/lib/comparePhase2.test.ts
  packages/core/phase2/phase2.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
  packages/core/tests/helpers/processTestFile.ts
Due: core-changes

Move normalisePncOperations into phase3.comparison.test.ts
  packages/core/phase3/phase3.comparison.test.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
