Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add Bails report
  packages/api/src/routes/v1/cases/reports/bails.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/types/reports/Bails.ts
  packages/api/src/useCases/cases/reports/bails/generateBailsReport.ts
  packages/api/src/useCases/cases/reports/bails/processCasesForBailsReport.ts
  packages/api/src/useCases/cases/reports/bails/reportLogic.ts
  packages/api/src/useCases/dto/caseToBailsReportDto.ts
  packages/api/src/useCases/dto/caseToBailsReportDto.unit.test.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/BailsReport.ts
Due: api-changes, common-changes

Add DV report
  packages/api/src/routes/v1/cases/reports/domesticViolence.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticVlolence.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/types/reports/DomesticViolence.ts
  packages/api/src/useCases/cases/reports/domesticViolence/generateDomesticViolenceReport.ts
  packages/api/src/useCases/cases/reports/domesticViolence/processCasesForDomesticViolenceReport.ts
  packages/api/src/useCases/dto/caseToDomesticViolenceReportDto.ts
  packages/api/src/useCases/dto/caseToDomesticViolenceReportDto.unit.test.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/DomesticViolenceReport.ts
Due: api-changes, common-changes

Refactor exception report
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/types/reports/Exceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/exceptions/processExceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/processExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/common/contracts/ExceptionReportDto.ts
  packages/common/types/reports/ExceptionReport.ts
Due: api-changes, common-changes

Rename test suite
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
Due: api-changes

Refactor DTOs
  packages/api/src/useCases/cases/reports/bails/processCasesForBailsReport.ts
  packages/api/src/useCases/cases/reports/domesticViolence/processCasesForDomesticViolenceReport.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.unit.test.ts
Due: api-changes

BICAWS7-4041 - Add ADR for API testing strategies (#1806)
  docs/architecture/adrs/0011-define-use-of-e2e-and-integration-tests-on-api-routes.md
Due: none

added missing property to layout component
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

add e2e ui tests
  packages/ui/cypress.config.ts
  packages/ui/cypress/e2e/audit/search.cy.ts
Due: ui-changes

Refactor helper utils
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/useCases/cases/reports/bails/reportLogic.ts
  packages/api/src/useCases/cases/reports/bails/utils/bailConditionsImposed.ts
  packages/api/src/useCases/cases/reports/bails/utils/bailConditionsImposed.unit.test.ts
  packages/api/src/useCases/cases/reports/bails/utils/caseAutomatedToPNC.ts
  packages/api/src/useCases/cases/reports/bails/utils/caseAutomatedToPNC.unit.test.ts
  packages/api/src/useCases/cases/reports/utils/dateOfBirth.ts
  packages/api/src/useCases/cases/reports/utils/defendantAddress.ts
  packages/api/src/useCases/cases/reports/utils/formatDate.ts
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/api/src/useCases/cases/reports/utils/hearingTime.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/index.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateBailStatus.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateBailStatus.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateWarrantType.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateWarrantType.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/hearingOutcomeDetails.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/hearingOutcomeDetails.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/utils/findNextHearing.ts
  packages/api/src/useCases/cases/reports/warrants/utils/gender.ts
  packages/api/src/useCases/cases/reports/warrants/utils/pncIdentifier.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
Due: api-changes

Correct filename
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/exceptions/processExceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/processExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/common/contracts/ExceptionReport.ts
Due: api-changes, common-changes

Amend mapper function and assertion statement to ignore fields with undefined values
  packages/e2e-test/utils/LedsApi/MockServer.ts
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: e2e-test-changes

WIP
  packages/e2e-test/types/LedsTestApi/CourtCase.ts
  packages/e2e-test/types/LedsTestApi/LedsAsyncRequest.ts
  packages/e2e-test/types/LedsTestApi/OffenceDetails.ts
  packages/e2e-test/types/LedsTestApi/OffenceIdAndVersion.ts
  packages/e2e-test/types/LedsTestApi/PersonDetails.ts
  packages/e2e-test/types/LedsTestApi/Requests/AddOffenceRequest.ts
  packages/e2e-test/types/LedsTestApi/Requests/CreateArrestedPersonRequest.ts
  packages/e2e-test/types/LedsTestApi/Requests/Disposals.ts
  packages/e2e-test/types/ParsedNcm.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToAddOffenceRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToCreateArrestedPersonRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToDisposalRequest.ts
Due: e2e-test-changes

WIP
  environment/mock-server/mock-server.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/convertLongAsnToLedsFormat.ts
  packages/core/lib/policeGateway/leds/endpoints.ts
  packages/core/phase3/lib/preProcessPncIdentifier.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/PncApi/PncApi.ts
  packages/e2e-test/utils/message.ts
Due: core-changes, e2e-test-changes

WIP
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/core/types/leds/AddDisposalRequest.ts
  packages/e2e-test/types/LedsTestApi/CourtCase.ts
  packages/e2e-test/types/LedsTestApi/OffenceDetails.ts
  packages/e2e-test/types/LedsTestApi/PersonDetails.ts
  packages/e2e-test/types/ParsedNcm.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToAddDisposalResult.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToCreateDisposalRequest.ts
Due: core-changes, e2e-test-changes

remove header imports
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Set dates correctly
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
Due: api-changes

User correct type
  packages/api/src/services/db/cases/reports/warrants.ts
Due: api-changes

revert changes
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

remove header, update test
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

BICAWS7-4058 Remove Audit Search Title (#1813)
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Fix curosr; wasn't moving past the initial rows
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/useCases/cases/reports/createReportHandler.ts
  packages/api/src/useCases/cases/reports/createReportHandler.unit.test.ts
  packages/api/src/useCases/cases/reports/domesticViolence/generateDomesticViolenceReport.ts
  packages/api/src/useCases/cases/reports/exceptions/generateExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/exceptions/processExceptions.unit.test.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.unit.test.ts
  packages/api/src/useCases/cases/reports/reportStream.ts
  packages/api/src/useCases/cases/reports/reportStream.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.unit.test.ts
Due: api-changes

PR feedback
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/bails.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticVlolence.ts
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/services/db/cases/reports/bails.ts
  packages/api/src/services/db/cases/reports/domesticViolence.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/useCases/cases/reports/bails/processCasesForBailsReport.ts
  packages/api/src/useCases/cases/reports/domesticViolence/processCasesForDomesticViolenceReport.ts
  packages/api/src/useCases/cases/reports/exceptions/processExceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.ts
  packages/api/src/useCases/cases/reports/warrants/processCases.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/contracts/BailsReport.ts
  packages/common/contracts/DomesticViolenceReport.ts
  packages/common/contracts/ExceptionReport.ts
  packages/common/contracts/WarrantsReport.ts
  packages/common/types/reports/Bails.ts
  packages/common/types/reports/DomesticViolence.ts
  packages/common/types/reports/Exceptions.ts
  packages/common/types/reports/Warrants.ts
Due: api-changes, common-changes

Add sanitiseMockRequest to omit some of the fields from comparision
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
  packages/e2e-test/utils/converters/convertPncToLeds.ts
  packages/e2e-test/utils/sanitiseMockRequest.ts
Due: core-changes, e2e-test-changes

Reports url update
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

header test fix
  packages/ui/cypress/e2e/case-list/header.cy.ts
Due: ui-changes

test fix
  packages/ui/cypress/component/ReportSelectionFilter.cy.tsx
  packages/ui/cypress/e2e/case-list/header.cy.ts
Due: ui-changes

BICAWS7-4040 - Add ADR for API contract types (#1805)
  docs/architecture/adrs/0010-api-contract-naming-conventions.md
Due: none

Refactor and rename sanitiseForComparison function
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
  packages/e2e-test/utils/mormaliseForComparison.ts
  packages/e2e-test/utils/sanitiseMockRequest.ts
Due: e2e-test-changes

Add endpoint
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: common-changes

component testing
  packages/ui/cypress/component/ReportSelectionFilter.cy.tsx
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Contracts
  packages/common/contracts/AuditCasesQuery.ts
  packages/common/contracts/CaseOrderingQuery.ts
  packages/common/contracts/PaginationQuery.ts
Due: common-changes

Use .shape instead of extends
  packages/common/contracts/AuditCasesQuery.ts
Due: common-changes

Basic route with intergration tests
  packages/api/src/routes/v1/audit/[auditId]/cases.integration.test.ts
  packages/api/src/routes/v1/audit/[auditId]/cases.ts
  packages/common/types/AuditCase.ts
Due: api-changes, common-changes

Add use case with user permissions
  packages/api/src/routes/v1/audit/[auditId]/cases.ts
  packages/api/src/useCases/audit/getAuditCases.ts
  packages/api/src/useCases/audit/getAuditCases.unit.test.ts
Due: api-changes

Add use case with user permissions
  packages/api/src/routes/v1/audit/[auditId]/cases.ts
  packages/api/src/services/db/audit/getAudit.integration.test.ts
  packages/api/src/services/db/audit/getAudit.ts
  packages/api/src/useCases/audit/getAuditCases.ts
Due: api-changes

Test for 404 when audit exists for another user
  packages/api/src/routes/v1/audit/[auditId]/cases.integration.test.ts
Due: api-changes

Rename
  packages/api/src/routes/v1/audit/[auditId]/cases.integration.test.ts
  packages/api/src/services/db/audit/fetchAudit.integration.test.ts
  packages/api/src/services/db/audit/fetchAudit.ts
Due: api-changes

Map to dto
  packages/api/src/useCases/dto/convertAuditCaseToDto.ts
  packages/common/types/AuditCase.ts
Due: api-changes, common-changes

Get audit cases without pagination/ordering
  packages/api/src/routes/v1/audit/[auditId]/cases.integration.test.ts
  packages/api/src/routes/v1/audit/[auditId]/cases.ts
  packages/api/src/services/db/audit/fetchAuditCases.integration.test.ts
  packages/api/src/services/db/audit/fetchAuditCases.ts
  packages/api/src/useCases/audit/getAuditCases.ts
Due: api-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
