Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Make e2e depend on node install
  .circleci/continue_config.yml
Due: circleci-changes

Persist package node_modules
  .circleci/continue_config.yml
Due: circleci-changes

Attack before build
  .circleci/continue_config.yml
Due: circleci-changes

Increase resource class
  .circleci/continue_config.yml
Due: circleci-changes

Expand test coverage for mapToNormalDisposalRequest
  packages/core/lib/policeGateway/leds/mapToNormalDisposalRequest.test.ts
Due: core-changes

Remove unneeded script
  .circleci/scripts/hash-package-lock.sh
Due: circleci-changes

BICAWS7-3859 - Make CI job names consistent and pull repeated steps into reusable commands (#1665)
  .circleci/continue_config.yml
  .circleci/scripts/hash-package-lock.sh
Due: circleci-changes

Update user-comms script to handle Gov Notify rate limit error
  packages/cli/commands/user-comms/utils/sendUserComms.ts
Due: none

Update user-comms script to handle Gov Notify rate limit error (#1678)
  packages/cli/commands/user-comms/utils/sendUserComms.ts
Due: none

add to selected filters
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilter.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipSection.tsx
  packages/ui/src/features/CourtCaseFilters/reducers/handleAddingFilters.ts
  packages/ui/src/utils/filterChips.ts
Due: ui-changes

Map disposalDuration, disposalFine and disposalEffectiveDate
  packages/core/lib/policeGateway/leds/mapToNormalDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToNormalDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/types/leds/DisposalRequest.ts
Due: core-changes

Extract out parseDisposalQuantity from offences function for readability
  packages/core/lib/policeGateway/leds/mapToNormalDisposalRequest.ts
Due: core-changes

Remove jq
  packages/ui/Dockerfile
Due: ui-changes

Copy tsconfig during build step
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, ui-changes, user-service-changes

Remove dev tools
  packages/user-service/Dockerfile
Due: user-service-changes

add to applied filters; add to URL
  packages/ui/src/components/SearchFilters/CourtDateReceivedDateMismatchCheckbox.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilter.tsx
  packages/ui/src/types/CaseListQueryParams.ts
  packages/ui/src/utils/validateQueryParams.ts
Due: ui-changes

Dockerfile improvements (#1679)
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, ui-changes, user-service-changes

Use multi-stage builds
  packages/message-forwarder/Dockerfile
Due: message-forwarder-changes

Build user service if env or message forwarder as this is needed for e2e legacy tests
  .circleci/continue_config.yml
Due: circleci-changes

Attempt to remove some build_core steps
  .circleci/continue_config.yml
Due: circleci-changes

Use build_common in API tests
  .circleci/continue_config.yml
Due: circleci-changes

Improve message forwarder Dockerfile (#1680)
  .circleci/continue_config.yml
  packages/message-forwarder/Dockerfile
Due: circleci-changes, message-forwarder-changes

New build_core_package_only command
  .circleci/continue_config.yml
Due: circleci-changes

Build common in e2e tests and zap
  .circleci/continue_config.yml
Due: circleci-changes

Remove old commands
  .circleci/continue_config.yml
Due: circleci-changes

Only build core on cucumber e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

Build core for Zap scanner
  .circleci/continue_config.yml
Due: circleci-changes

add cypress tests
  packages/ui/cypress/e2e/case-list/filter-cases/filterByCourtDateReceivedDateMismatch.cy.ts
Due: ui-changes

BICAWS7-3879 - Remove redundant package builds in CI (#1681)
  .circleci/continue_config.yml
Due: circleci-changes

update component test
  packages/ui/cypress/component/CaseListFilter/CourtDateFilter.cy.tsx
Due: ui-changes

Docker file improvements
  packages/conductor/Dockerfile
Due: conductor-changes

Fix CI need build user service for e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

update type in sendVerificationCodeEmail to loginStage instead of login to satisfy the type check in sendVerificationCodeEmail
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

restrict type from string to "loginStage" | "resetStage"
  packages/user-service/src/useCases/sendVerificationCodeEmail.ts
Due: user-service-changes

update sendVerificationCodeEmail call in reset-password.tsx
  packages/user-service/src/pages/login/reset-password.tsx
Due: user-service-changes

BICAWS7-3891 verification email shows incorrect text content (#1684)
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/src/useCases/sendVerificationCodeEmail.ts
Due: user-service-changes

Fix linting
  .ncurc.js
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/.ncurc.js
  packages/ui/package.json
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Forgot the package lock
  package-lock.json
Due: none

Conductor Client has breaking changes
  .ncurc.js
  package-lock.json
  packages/common/package.json
Due: common-changes

Do not update packages
  .ncurc.js
  packages/ui/.ncurc.js
  packages/user-service/.ncurc.js
  packages/user-service/scripts/automatic-login/.ncurc.js
Due: ui-changes, user-service-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
