Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Update standing data dependency (#1467)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Remove redundant DynamoDB environment variables for Core and Conductor (#1466)
  environment/docker-compose-worker.yml
  environment/local-conductor-worker.env
  packages/conductor/e2e-test/helpers/setEnvironmentVariables.ts
  packages/core/tests/helpers/setEnvironmentVariables.ts
  packages/message-forwarder/src/test/setup/setEnvironmentVariables.ts
  scripts/build-core-worker-docker.sh
Due: env-changes, conductor-changes, core-changes, message-forwarder-changes

Use correct date/time for PNC Offences
  packages/ui/cypress/component/PncDetails.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncOffenceDetails.tsx
Due: none

Use correct date/time for PNC Offences (#1468)
  packages/ui/cypress/component/PncDetails.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncOffenceDetails.tsx
Due: none

Fix heading hierarchy
  packages/ui/cypress/component/PncDetails.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncCourtCaseAccordion.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Replace anchor tags with button elements
  packages/ui/cypress/e2e/case-list/index.cy.ts
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.styles.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
Due: none

Add a hidden caption
  packages/ui/src/features/CourtCaseList/CourtCaseList.tsx
Due: none

Make accessibility violations clearer in the console
  packages/ui/cypress/support/logAccessibilityViolations.ts
Due: none

Fix a11y tests
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Add URL to POST to
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Fix heading hierarchy (#1469)
  packages/ui/cypress/component/PncDetails.cy.tsx
  packages/ui/cypress/support/logAccessibilityViolations.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncCourtCaseAccordion.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/PncDetails/PncDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Add URL to POST to (#1471)
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
Due: none

Fix selectors in cypress tests
  packages/ui/cypress/e2e/case-list/filter-cases/filterCasesWithExceptionsAndTriggers.cy.ts
Due: none

Fix selectors in cypress tests
  packages/ui/cypress/e2e/case-list/filter-cases/filterByTriggerGroups.cy.ts
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Add aria-labels to announce current sorted state of columns
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
Due: none

Update analytics script to use v3
  package-lock.json
  package.json
  scripts/analytics/usage-report/fetchEvents.ts
  scripts/analytics/usage-report/fetchForceOwners.ts
  scripts/analytics/usage-report/getForceOwner.ts
  scripts/analytics/usage-report/index.ts
Due: none

Fix trigger without offence number being removed when reallocating
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/src/services/reallocateCourtCase/recalculateTriggers.ts
Due: none

Fix trigger without offence number being removed when reallocating (#1473)
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/src/services/reallocateCourtCase/recalculateTriggers.ts
Due: none

Update standing data dependency (#1472)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Remove camel-casing for column names
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
Due: none

Fix case list sortable column headers (#1470)
  packages/ui/cypress/e2e/case-list/filter-cases/filterByTriggerGroups.cy.ts
  packages/ui/cypress/e2e/case-list/filter-cases/filterCasesWithExceptionsAndTriggers.cy.ts
  packages/ui/cypress/e2e/case-list/index.cy.ts
  packages/ui/src/features/CourtCaseList/CourtCaseList.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.styles.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
Due: none

Fix tests
  packages/api/src/routes/v1/cases/getCase.e2e.test.ts
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
  packages/api/src/services/db/cases/filters/reasonAndResolutionStatus.e2e.test.ts
  packages/api/src/useCases/cases/lockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/lockAndFetchCaseDto.integration.test.ts
Due: api-changes

Add reader host env var to docker compose
  environment/docker-compose.yml
  packages/common/db/createDbConfig.ts
Due: env-changes, common-changes

Fix more tests
  packages/api/src/useCases/canUserResubmitCase.integration.test.ts
  packages/api/src/useCases/cases/lockAndFetchCaseDto.integration.test.ts
  packages/api/src/useCases/cases/lockExceptions.integration.test.ts
Due: api-changes

Update test api job to run postgres before tests
  .circleci/continue_config.yml
Due: circleci-changes

Update horizontal line for tabs on case details page
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsTabs.styles.tsx
Due: none

Fix misalignment of components with summary box on case details page
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
Due: none

Fix misalignment of components with summary box on case details page (#1475)
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsTabs.styles.tsx
Due: none

Fix note user conversion
  packages/api/src/services/db/cases/fetchNotes.ts
  packages/api/src/services/db/mapNoteRowToNote.ts
  packages/api/src/services/db/mapNoteToNoteRow.ts
  packages/api/src/useCases/dto/convertNoteToDto.ts
  packages/api/src/useCases/dto/convertUserToDto.ts
  packages/common/types/Note.ts
Due: api-changes, common-changes

Fix parseHearingOutcome
  packages/api/src/services/parseHearingOutcome.ts
  packages/api/src/services/parseHearingOutcome.unit.test.ts
  packages/api/src/tests/fixtures/AnnotatedPNCUpdateDataset.xml
  packages/api/src/tests/fixtures/PNCUpdateDataset.xml
Due: api-changes

Update monitoring
  docs/architecture/workspace.dsl
Due: none

Update URL
  docs/architecture/workspace.dsl
Due: none

Update Hybrid Bichard diagram
  docs/architecture/workspace.dsl
  docs/architecture/workspace.json
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
