Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add REAL_POLICE_API env var support to e2e-test config
  packages/e2e-test/utils/config.ts
Due: e2e-test-changes

Tidy up LedsGateway
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Refactor setup-e2e-tests.sh
  packages/e2e-test/scripts/setup-e2e-tests.sh
Due: e2e-test-changes

Update e2e-test pipeline script
  packages/e2e-test/package.json
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Fetch public NIAM url and LEDS API vpce dns in CI
  environment/leds-environment-variable.sh
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Update waitForResponse to retry 30 times
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/waitForResponse.ts
Due: e2e-test-changes

WIP
  packages/e2e-test/types/MockAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAddDisposalRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cchSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/couSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegments.ts
Due: e2e-test-changes

Fix api hosts in codebuild
  environment/leds-environment-variable.sh
  packages/e2e-test/e2eTestBuildspec.yml
  packages/e2e-test/scripts/setup-api-hosts.sh
Due: e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Extract out offenceSegment functions according to operations
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAddDisposalRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXE01.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
Due: e2e-test-changes

Improve generator functions to handle data correctly
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cchSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/couSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/crtSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/disSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/remSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatters.ts
Due: e2e-test-changes

Added switchoff and rollback scripts in prep
  scripts/rollout/prep/20260401/1.sql
Due: none

Modify adjSegmentGenerator to handle both AsnQueryResponseOffence and AddDisposalOffence
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegment.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXE01.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
Due: e2e-test-changes

comment
  scripts/rollout/prep/20260401/1.sql
Due: none

Add updateType to CRT segment
  packages/e2e-test/utils/converters/convertJsonToXml/generators/crtSegmentGenerator.ts
Due: e2e-test-changes

Add ACH segment
  packages/e2e-test/utils/constants.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/achSegmentGenerator.ts
Due: e2e-test-changes

Fix setup-e2e-tests when there are more than workspaces in an account
  packages/e2e-test/scripts/setup-e2e-tests.sh
Due: e2e-test-changes

add cooldown to update deps script
  package.json
Due: none

Set incoming message queue name using an env var
  packages/conductor/deploy/EventHandler.ts
  packages/conductor/deploy/deploy.ts
Due: conductor-changes

Set incoming message queue name using an env var (#1893)
  packages/conductor/deploy/EventHandler.ts
  packages/conductor/deploy/deploy.ts
Due: conductor-changes

WIP
  packages/e2e-test/types/MockAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/achSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/adjSegment.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/asrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
Due: e2e-test-changes

Fix audit log api key value in setup-e2e-tests script
  packages/e2e-test/scripts/setup-e2e-tests.sh
Due: e2e-test-changes

Update LEDS endpoints in tests
  packages/core/lib/policeGateway/leds/endpoints.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
Due: core-changes

Refactor
  environment/leds-environment-variable.sh
Due: none

Use String.raw
  packages/core/schemas/leds/remandRequest.ts
Due: core-changes

Update leds preprod test command
  packages/e2e-test/package.json
Due: e2e-test-changes

Add functions to normalise the force codes
  packages/ui/src/utils/forceNormalisation.test.ts
  packages/ui/src/utils/forceNormalisation.ts
Due: ui-changes

Use the function
  packages/ui/src/config.ts
  packages/ui/src/features/flags/canUseCourtDateReceivedDateMismatchFilters.test.ts
  packages/ui/src/features/flags/canUseCourtDateReceivedDateMismatchFilters.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.test.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.ts
  packages/ui/src/services/api/canUseApi/hasApiEnabledByForce.test.ts
  packages/ui/src/services/api/canUseApi/hasApiEnabledByForce.ts
Due: ui-changes

Added /bichard redirect if new bichard flag is true
  packages/user-service/src/lib/getRedirectPath.ts
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

Added tests
  packages/user-service/cypress/e2e/redirectLoginWithNewBichardFlag.cy.js
  packages/user-service/src/lib/getRedirectPath.ts
  packages/user-service/test/lib/getRedirectPath.test.ts
Due: user-service-changes

removed comment
  packages/user-service/cypress/e2e/redirectLoginWithNewBichardFlag.cy.js
Due: user-service-changes

UI make sure audit feature flags handle 0 and 00 prefixed force codes (#1894)
  packages/ui/src/config.ts
  packages/ui/src/features/flags/canUseCourtDateReceivedDateMismatchFilters.test.ts
  packages/ui/src/features/flags/canUseCourtDateReceivedDateMismatchFilters.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.test.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.ts
  packages/ui/src/services/api/canUseApi/hasApiEnabledByForce.test.ts
  packages/ui/src/services/api/canUseApi/hasApiEnabledByForce.ts
  packages/ui/src/utils/forceNormalisation.test.ts
  packages/ui/src/utils/forceNormalisation.ts
Due: ui-changes

Fix leds-environment-variable script to check if it's CI
  environment/leds-environment-variable.sh
Due: none

Fix 000 padding with empty string
  packages/ui/src/utils/forceNormalisation.test.ts
  packages/ui/src/utils/forceNormalisation.ts
Due: ui-changes

update ncu in root
  package.json
  packages/common/package.json
Due: common-changes

update ncu script in core
  packages/core/package.json
Due: core-changes

update ncu script in conductor
  packages/conductor/package.json
Due: conductor-changes

update ncu script in api
  packages/api/package.json
Due: api-changes

update ncu script in message-forwarder
  packages/message-forwarder/package.json
Due: message-forwarder-changes
