Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Specified defendant name element index check
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/domestic-violence.api.cy.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
Due: ui-changes

UI Cypress E2E tests for Reports (#1857)
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/domestic-violence.api.cy.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/cypress/e2e/reports/utils.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Fix CVE-2026-29057
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Add initial iteration of convertLedsAsnQueryResponseJsonToXml function
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseJsonToXml.ts
Due: e2e-test-changes

Fix CVE-2026-29057 (#1866)
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Add AsnQueryResponseExtended type
  packages/e2e-test/types/AsnQueryResponseExtended.ts
Due: e2e-test-changes

Add missing fields
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseJsonToXml.ts
Due: e2e-test-changes

Extract out helper functions in a helpers directory
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertDate.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/convertTime.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatCourtCaseReference.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/formatFixedLength.ts
  packages/e2e-test/utils/converters/convertJsonToXml/helpers/generateRow.ts
Due: e2e-test-changes

Add constants
  packages/e2e-test/utils/constants.ts
Due: e2e-test-changes

Add generator functions
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrCofSegments.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/ccrSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/cofSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/fscSegmentGenerator.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/idsSegmentGenerator.ts
Due: e2e-test-changes

Refactor convertLedsAsnQueryResponseJsonToXml function
  packages/e2e-test/types/AsnQueryResponseExtended.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseJsonToXml.ts
Due: e2e-test-changes

Show error message next to audit search form submit button
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Verify submitForm behaviour
  packages/ui/src/services/audit/submitForm.test.ts
  packages/ui/src/services/audit/submitForm.ts
Due: ui-changes

Verify redirection to the audit page when submitting audit search form
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Show error message to user if server fails to create audit, or provide audit response
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Extract parseDate function from AuditSearch file into its own
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/utils/parseDate.test.ts
  packages/ui/src/utils/parseDate.ts
Due: ui-changes

Verify audit search page form submit e2e behaviour
  packages/ui/cypress/e2e/audit/search.api.cy.ts
Due: ui-changes

Remove unused errorMessage form field
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Extract createRequest function from AuditSearch file into its own
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/services/audit/createRequest.test.ts
  packages/ui/src/services/audit/createRequest.ts
  packages/ui/src/types/audit/FormState.ts
Due: ui-changes

Verify request body for audit search form submission
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
Due: ui-changes

Consolidate multiple type imports from the same file
  packages/ui/src/services/api/BichardApiV1.ts
Due: ui-changes

Use correct regex to verify redirect path when audit search form submission succeeds
  packages/ui/cypress/e2e/audit/search.api.cy.ts
Due: ui-changes

Extend parseDate capability to handle undefined date string input
  packages/ui/src/utils/parseDate.test.ts
  packages/ui/src/utils/parseDate.ts
Due: ui-changes

Use Number.parseInt with radix
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Include credentials in fetch request
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Use Button component inside AuditSearchSubmitButton
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Move router.push to outside useActionState
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Drive Audit Search form using FormState via useActionState
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Use useFormStatus to prevent double form submission
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Send request for audit search creation to api, proxied via UI
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/pages/api/audit.ts
  packages/ui/src/services/api/BichardApiV1.ts
Due: ui-changes

Consolidate AuditSearch checkbox component fields into common Checkbox
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Introduce useRef for resolved by checkboxes instead of using qsa
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Split AuditSearchSubmitButton into its own file
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/features/AuditSearch/AuditSearchSubmitButton.tsx
Due: ui-changes

Use default credentials option for fetch
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
Due: ui-changes

Extract readFormState and submitForm functions from AuditSearch
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/services/audit/createRequest.ts
  packages/ui/src/services/audit/readFormState.ts
  packages/ui/src/services/audit/submitForm.ts
Due: ui-changes

Remove forwardRef from Checkbox component and simplify props interface
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseList.tsx
Due: ui-changes

Add missing force id to e2e test configuration env var
  .circleci/continue_config.yml
Due: circleci-changes

Simplify control flow and error handling in audit form submit handler
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/types/audit/FormState.ts
Due: ui-changes

Verify readFormState behaviour
  packages/ui/src/services/audit/readFormState.test.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
