Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Fix convert PNC to LEDS date time function
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.ts
Due: core-changes

Add test coverage for mapping sentence deferred (SENDEF) request
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
Due: core-changes

Fix mapping issues
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/tests/fixtures/addDisposalRequests/buildNormalDisposalRequest.ts
  packages/core/tests/fixtures/addDisposalRequests/buildUpdatedRequest.ts
Due: core-changes

Add tests for LEDS gateway update function
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/index.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/types/leds/SubsequentDisposalResultsRequest.ts
Due: core-changes

Update request generators to skip pre processing CCR when using LEDS
  packages/core/phase3/lib/preProcessCourtCaseReferenceNumber.test.ts
  packages/core/phase3/lib/preProcessCourtCaseReferenceNumber.ts
Due: core-changes

Add function to convert PNC date time to LEDS date time
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.ts
Due: core-changes

Fix empty disposal qualifiers mapping
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
Due: core-changes

Fix tests
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/tests/fixtures/addDisposalRequests/buildUpdatedRequest.ts
Due: core-changes

Fix test data to match zod schemas
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/tests/fixtures/addDisposalRequests/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/addDisposalRequests/buildNormalDisposalRequest.ts
  packages/core/tests/fixtures/addDisposalRequests/buildPncUpdateDataset.ts
Due: core-changes

Resolve conflict
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Add normalDisposal operation
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.ts
Due: core-changes

Add remand and subsequentDisposal operations
  packages/core/lib/policeGateway/leds/processors/remand.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
Due: core-changes

Add a test to verify zod schema throwing error when invalid value is found
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
Due: core-changes

Add relevant error messages
  packages/core/lib/policeGateway/leds/processors/normalDisposal.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
Due: core-changes

Various tweaks
  packages/ui/cypress/component/Reallocation/ForceOwnerTypeahead.cy.tsx
  packages/ui/src/components/EditableFields/NewForceOwnerField.tsx
  packages/ui/src/components/ForceOwnerTypeahead.tsx
  packages/ui/src/components/OrganisationUnitTypeahead.styles.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/pages/api/force-owner.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/services/searchForceOwners.ts
  packages/ui/test/services/searchForceOwners.test.ts
Due: ui-changes

Extract out buildRemandRequest into test fixtures to make it reusable
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/tests/fixtures/buildRemandRequest.ts
Due: core-changes

Remove unnecessary folder layer
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
  packages/core/tests/fixtures/buildUpdatedRequest.ts
Due: core-changes

Replace gds js logic with useState in passwordInput component
  packages/user-service/src/components/Login/PasswordInput.tsx
  packages/user-service/test/components/PasswordInput.test.tsx
  packages/user-service/test/components/__snapshots__/PasswordInput.test.tsx.snap
  packages/user-service/test/components/__snapshots__/ResetPasswordFormGroup.test.tsx.snap
Due: user-service-changes

Place typeahead in their own folder
  packages/ui/cypress/component/Reallocation/ForceOwnerTypeahead.cy.tsx
  packages/ui/src/components/EditableFields/NewForceOwnerField.tsx
  packages/ui/src/components/Typeaheads/ForceOwnerTypeahead.tsx
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/components/Typeaheads/Typeahead.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingLocationField.tsx
Due: ui-changes

Add test coverage for remand operation
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/tests/fixtures/buildRemandRequest.ts
Due: core-changes

Handle entering the code / force name (not selecting)
  packages/ui/cypress/component/Reallocation/ForceOwnerTypeahead.cy.tsx
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/src/components/Typeaheads/ForceOwnerTypeahead.tsx
Due: ui-changes

Fix test data to match zod schemas
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/tests/fixtures/buildUpdatedRequest.ts
Due: core-changes

Add test coverage for subsequentDisposal operation
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
Due: core-changes

Refactor subsequentDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
Due: core-changes

Refactor normalDisposal, remand and subsequentDisposal tests to make them more readable
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
Due: core-changes

Fix e2e tests
  package.json
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Refactor buildPncUpdateDataset to use object params instead of positional args
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
Due: core-changes

Expand test coverage for normalDisposal operation
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
Due: core-changes

Replace gds js logic with useState in passwordInput component (#1702)
  packages/user-service/src/components/Login/PasswordInput.tsx
  packages/user-service/test/components/PasswordInput.test.tsx
  packages/user-service/test/components/__snapshots__/PasswordInput.test.tsx.snap
  packages/user-service/test/components/__snapshots__/ResetPasswordFormGroup.test.tsx.snap
Due: user-service-changes

Fix test
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
Due: core-changes

Remove redundant tests
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
Due: core-changes

Update LEDS gateway to support subsequent disposal operation (#1697)
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/index.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
  packages/core/phase3/lib/preProcessCourtCaseReferenceNumber.test.ts
  packages/core/phase3/lib/preProcessCourtCaseReferenceNumber.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
  packages/core/tests/fixtures/buildRemandRequest.ts
  packages/core/tests/fixtures/buildUpdatedRequest.ts
  packages/core/types/leds/SubsequentDisposalResultsRequest.ts
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: core-changes, e2e-test-changes

Add initial instance of convertFsc function
  packages/e2e-test/utils/pncSegmentConverters/convertFsc.ts
Due: e2e-test-changes

Implement convertFsc function
  packages/e2e-test/utils/pncSegmentConverters/convertFsc.ts
Due: e2e-test-changes

Revert to medium
  .circleci/continue_config.yml
Due: circleci-changes

Add converter for adj, dis, pcr, and rem segments
  packages/e2e-test/utils/pncSegmentConverters/convertAdj.ts
  packages/e2e-test/utils/pncSegmentConverters/convertDis.ts
  packages/e2e-test/utils/pncSegmentConverters/convertPcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertRem.ts
Due: e2e-test-changes

Add rcc segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertRcc.ts
Due: e2e-test-changes

Add asr segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertAsr.ts
Due: e2e-test-changes

Add convertIds function
  packages/e2e-test/utils/pncSegmentConverters/convertIds.ts
Due: e2e-test-changes

Rename update type field
  packages/e2e-test/utils/pncSegmentConverters/convertAdj.ts
  packages/e2e-test/utils/pncSegmentConverters/convertDis.ts
  packages/e2e-test/utils/pncSegmentConverters/convertFsc.ts
  packages/e2e-test/utils/pncSegmentConverters/convertPcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertRcc.ts
Due: e2e-test-changes
