Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add missing parameter for check user service
  .circleci/continue_config.yml
Due: circleci-changes

Add test user service job
  .circleci/continue_config.yml
Due: circleci-changes

Add postgres to user service job
  .circleci/continue_config.yml
Due: circleci-changes

Update services for user service job
  .circleci/continue_config.yml
Due: circleci-changes

Court Case would either be an Entity or DTO object
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: none

Add helper function to parse env variables
  packages/ui/src/config.ts
Due: none

Add audit fields to case details data (#1627)
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.integration.test.ts
  packages/ui/cypress/component/Audit/QualityStatusForm.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusDisplay.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.tsx
  packages/ui/src/services/dto/courtCaseDto.ts
  packages/ui/src/services/entities/CourtCase.ts
  packages/ui/src/types/display/CourtCases.ts
  packages/ui/test/services/getCourtCase.integration.test.ts
Due: api-changes

add body to saveAuditResults as a second argument
  packages/ui/src/pages/api/court-cases/[courtCaseId]/audit.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: none

amend courtCase being passed to allIssuesCleared
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: none

remove bichard from post path
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusCard.tsx
Due: none

Add filter for visible courts
  packages/api/src/services/db/cases/canCaseBeResubmitted.integration.test.ts
  packages/api/src/services/db/cases/canCaseBeResubmitted.ts
Due: api-changes

Add number
  packages/ui/src/config.ts
Due: none

Build Audit API
  .circleci/continue_config.yml
Due: circleci-changes

Fix test
  packages/api/src/useCases/cases/resubmit/canUserResubmitCase.integration.test.ts
Due: api-changes

Fix e2e tests in pipeline (#1634)
  .circleci/continue_config.yml
  packages/api/src/services/db/cases/canCaseBeResubmitted.integration.test.ts
  packages/api/src/services/db/cases/canCaseBeResubmitted.ts
  packages/api/src/useCases/cases/resubmit/canUserResubmitCase.integration.test.ts
  packages/ui/src/config.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: circleci-changes, api-changes

Save audit note (#1617)
  packages/api/src/routes/v1/cases/saveAuditResults.e2e.test.ts
  packages/api/src/routes/v1/cases/saveAuditResults.ts
  packages/api/src/services/db/cases/auditCase.ts
  packages/api/src/services/db/cases/insertNote.integration.test.ts
  packages/api/src/services/db/cases/insertNote.ts
  packages/api/src/useCases/cases/saveAuditResults.integration.test.ts
  packages/api/src/useCases/cases/saveAuditResults.ts
Due: api-changes

Add Leds ASN query response mapping (#1632)
  environment/local-conductor-worker.env
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
  packages/core/lib/policeGateway/leds/endpoints.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.test.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposal.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/asnQueryResponse.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/requestHeaders.ts
  packages/core/schemas/ledsPoliceOffence.ts
  packages/core/tests/fixtures/leds-asn-query-response-001.json
  packages/core/types/LedsPoliceOffence.ts
  packages/core/types/PoliceGateway.ts
  packages/core/types/leds/AsnQueryResponse.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
Due: env-changes, core-changes, e2e-test-changes

Add user service e2e test job
  .circleci/continue_config.yml
  .circleci/scripts/install-cypress.sh
  packages/user-service/package.json
Due: circleci-changes

Add audit log api to services
  .circleci/continue_config.yml
Due: circleci-changes

Upload results correctly
  packages/user-service/scripts/run-test-ui.sh
Due: none

add content type
  packages/ui/src/services/api/ApiClient.ts
Due: none

amend exception quality to error quality
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.tsx
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: none

Use diff script to run and add ms edge
  .circleci/continue_config.yml
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
Due: circleci-changes

Fix edge param and start service before tests
  .circleci/continue_config.yml
Due: circleci-changes

fix BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.test.ts
Due: none

Default ms edge to false
  .circleci/continue_config.yml
Due: circleci-changes

Start service in cypress test script
  .circleci/continue_config.yml
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
Due: circleci-changes

Remove old e2e test script
  packages/user-service/package.json
  packages/user-service/scripts/run-test-ui.sh
Due: none

Test no manual cypress install
  .circleci/continue_config.yml
Due: circleci-changes

Fix quote expansion issue
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
Due: circleci-changes

Clean up config
  .circleci/continue_config.yml
Due: circleci-changes

Fix reporter
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
Due: circleci-changes

Handle invalid UUID
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
Due: api-changes, core-changes

Handle invalid UUID (#1635)
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
Due: api-changes, core-changes

Unlock happens in conductor
  packages/ui/src/services/unlockCourtCase.ts
  packages/ui/src/services/updateLockStatusToUnlocked.ts
Due: none

Update architecture diagram
  docs/architecture/lib/hmcts.dsl
  docs/architecture/lib/home-office.dsl
  docs/architecture/lib/ministry-of-justice.dsl
  docs/architecture/workspace.dsl
  docs/architecture/workspace.json
Due: none

Set turbo flag
  packages/user-service/package.json
Due: none

Fix CSS issues
  packages/user-service/src/styles/components.scss
  packages/user-service/src/styles/form.scss
  packages/user-service/src/styles/globals.scss
  packages/user-service/src/styles/page.scss
Due: none

Fix font-family issue
  packages/user-service/src/styles/globals.scss
Due: none

Compile SCSS to CSS
  packages/user-service/package.json
  packages/user-service/src/pages/_app.tsx
  packages/user-service/src/styles/globals.css
  packages/user-service/src/styles/globals.css.map
  sonar-project.properties
Due: none
