Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add cch segment generator
  packages/e2e-test/utils/pncSegmentConverters/convertCch.ts
Due: e2e-test-changes

Add ccr segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertCcr.ts
Due: e2e-test-changes

Add cof segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertCof.ts
Due: e2e-test-changes

Add cou segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertCou.ts
Due: e2e-test-changes

Add failing tests for 0 padded forces
  packages/ui/src/services/api/canUseEndpoint.test.ts
Due: ui-changes

Handle 0 padded forces
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Handle 0 padded forces and non-padded forces
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Renamed to be visibleForces
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Explicitly check for leading 0
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Correct test
  packages/ui/src/services/api/canUseEndpoint.test.ts
Due: ui-changes

Add ach segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertAch.ts
Due: e2e-test-changes

Add crt segment converter
  packages/e2e-test/utils/pncSegmentConverters/convertCrt.ts
Due: e2e-test-changes

Rename parameters
  packages/e2e-test/utils/pncSegmentConverters/convertAch.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCof.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCou.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCrt.ts
  packages/e2e-test/utils/pncSegmentConverters/convertFsc.ts
  packages/e2e-test/utils/pncSegmentConverters/convertIds.ts
Due: e2e-test-changes

Add types
  packages/e2e-test/utils/pncSegmentConverters/convertAch.ts
  packages/e2e-test/utils/pncSegmentConverters/convertAdj.ts
  packages/e2e-test/utils/pncSegmentConverters/convertAsr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCch.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCof.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCou.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCrt.ts
  packages/e2e-test/utils/pncSegmentConverters/convertDis.ts
  packages/e2e-test/utils/pncSegmentConverters/convertFsc.ts
  packages/e2e-test/utils/pncSegmentConverters/convertIds.ts
  packages/e2e-test/utils/pncSegmentConverters/convertPcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertRcc.ts
  packages/e2e-test/utils/pncSegmentConverters/convertRem.ts
Due: e2e-test-changes

Add date time converter functions
  packages/core/lib/policeGateway/leds/dateTimeConverter.test.ts
  packages/core/lib/policeGateway/leds/dateTimeConverter.ts
Due: core-changes

Update LEDS functions to use date time converter functions
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
Due: core-changes

Implement convertToPncJson and extractSegments functions
  packages/e2e-test/utils/pncSegmentConverters/convertToPncJson.ts
  packages/e2e-test/utils/pncSegmentConverters/extractSegments.ts
Due: e2e-test-changes

Remove updateType from all the converter functions
  packages/e2e-test/utils/pncSegmentConverters/convertAch.ts
  packages/e2e-test/utils/pncSegmentConverters/convertAdj.ts
  packages/e2e-test/utils/pncSegmentConverters/convertAsr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCch.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCof.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCou.ts
  packages/e2e-test/utils/pncSegmentConverters/convertCrt.ts
  packages/e2e-test/utils/pncSegmentConverters/convertDis.ts
  packages/e2e-test/utils/pncSegmentConverters/convertFsc.ts
  packages/e2e-test/utils/pncSegmentConverters/convertIds.ts
  packages/e2e-test/utils/pncSegmentConverters/convertPcr.ts
  packages/e2e-test/utils/pncSegmentConverters/convertRcc.ts
  packages/e2e-test/utils/pncSegmentConverters/convertRem.ts
Due: e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Refactor convertToPncJson.ts
  packages/e2e-test/utils/pncSegmentConverters/convertToPncJson.ts
Due: e2e-test-changes

BICAWS7-3868 - Compress Docker images in CI (#1696)
  .circleci/continue_config.yml
Due: circleci-changes

rename folder and function to convertPncXmlToJson and add index export
  packages/e2e-test/utils/convertPncXmlToJson/convertAch.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAdj.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAsr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCch.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCcr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCof.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCou.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCrt.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertDis.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertFsc.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertIds.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPcr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertRcc.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertRem.ts
  packages/e2e-test/utils/convertPncXmlToJson/extractSegments.ts
  packages/e2e-test/utils/convertPncXmlToJson/index.ts
Due: e2e-test-changes

Implement PNC segments to JSON helper functions (#1705)
  packages/e2e-test/utils/convertPncXmlToJson/convertAch.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAdj.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertAsr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCch.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCcr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCof.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCou.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertCrt.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertDis.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertFsc.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertIds.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPcr.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertRcc.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertRem.ts
  packages/e2e-test/utils/convertPncXmlToJson/extractSegments.ts
  packages/e2e-test/utils/convertPncXmlToJson/index.ts
Due: e2e-test-changes

Add all mapping function to mappers directory
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/findCourtCaseId.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/findCourtCaseId.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/findOffenceId.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/findOffenceId.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/index.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapCourt.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapCourt.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapDefendant.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapDefendant.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/parseDisposalQuantity.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/parseDisposalQuantity.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/toTitleCase.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/toTitleCase.ts
  packages/core/lib/policeGateway/leds/mappers/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
Due: core-changes

Fix leds date and time (#1707)
  packages/core/lib/policeGateway/leds/dateTimeConverter.test.ts
  packages/core/lib/policeGateway/leds/dateTimeConverter.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/convertPncDateTimeToLedsDateTime.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
Due: core-changes

Add new columns for hearing outcome json
  environment/postgres/liquibase/migrations/base/038_add_hearing_outcome_json_columns.sql
Due: env-changes

Move mapToRemandRequest files into mappers directory
  packages/core/lib/policeGateway/leds/mappers/mapToRemandRequest/index.ts
  packages/core/lib/policeGateway/leds/mappers/mapToRemandRequest/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToRemandRequest/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/processors/remand.ts
Due: core-changes

Remove unnecessary directory wrappers
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mappers/mapToPoliceQueryResult.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mappers/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mappers/mapToRemandRequest/index.ts
  packages/core/lib/policeGateway/leds/mappers/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mappers/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/processors/remand.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.ts
Due: core-changes

Renamed variable for clarity/readability
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Rename SubsequentDisposal to generateSubsequentDisposalRequest for clarity and readability
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/processors/generateSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/generateSubsequentDisposalRequest.ts
Due: core-changes

Rename normalDisposal to GenerateDisposalResultsRequest for clarity and readability
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/processors/GenerateDisposalResultsRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/GenerateDisposalResultsRequest.ts
Due: core-changes

Rename remand to generateRemandRequest for clarity and readability
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/processors/GenerateDisposalResultsRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/generateRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/generateRemandRequest.ts
Due: core-changes

Rename processors directory to generators
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/generators/generateDisposalResultsRequest.test.ts
  packages/core/lib/policeGateway/leds/generators/generateDisposalResultsRequest.ts
  packages/core/lib/policeGateway/leds/generators/generateRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/generators/generateRemandRequest.ts
  packages/core/lib/policeGateway/leds/generators/generateSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/generators/generateSubsequentDisposalRequest.ts
Due: core-changes

Move remaining generator functions into the generators directory
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/generators/generateCheckName.test.ts
  packages/core/lib/policeGateway/leds/generators/generateCheckName.ts
  packages/core/lib/policeGateway/leds/generators/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/generators/generateRequestHeaders.ts
Due: core-changes

Fix typescript error
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
Due: core-changes

Discard DisposalRequest and add all the types in AddDisposalRequest
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapCourt.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapDefendant.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mappers/mapToAddDisposalRequest/parseDisposalQuantity.ts
  packages/core/types/leds/AddDisposalRequest.ts
  packages/core/types/leds/DisposalRequest.ts
Due: core-changes

Create and utilise type EndpointPayload
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/generators/generateDisposalResultsRequest.ts
  packages/core/lib/policeGateway/leds/generators/generateRemandRequest.ts
  packages/core/lib/policeGateway/leds/generators/generateSubsequentDisposalRequest.ts
  packages/core/types/leds/EndpointPayload.ts
Due: core-changes

Add non-null assertion operator.
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
Due: core-changes

Add .ncurc.js to pin @inquirer/prompts in cli
  packages/cli/.ncurc.js
Due: none

Roll back @inquirer/prompts to a older version
  packages/cli/package.json
Due: none
