Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add --only-binary=:all:
  environment/conductor/Dockerfile
Due: none

Check supervisor programmes
  environment/conductor/goss_wait.yaml
Due: none

Correct exit status checks
  environment/conductor/goss_wait.yaml
Due: none

Re-add tag
  environment/conductor/Dockerfile
Due: none

Add dependabot config
  .github/dependabot.yml
Due: none

BICAWS7-4460 - Improve security on conductor image (#2192)
  .github/dependabot.yml
  environment/conductor/Dockerfile
  environment/conductor/goss.yaml
  environment/conductor/goss_wait.yaml
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Ignore maintainability rule - dependabot manages the tag + sha256 updates for us
  sonar-project.properties
Due: none

Ignore maintainability rule - dependabot manages the tag + sha256 updates for us (#2197)
  sonar-project.properties
Due: none

add conditionals for changes to each step
  .github/workflows/test-common.yml
Due: none

add mock test to test conditions
  packages/common/utils/searchCourtOrganisationUnits.test.ts
Due: common-changes

add mock-script to package.json
  packages/common/package.json
Due: common-changes

add mock-script to package.json
  package.json
  packages/common/package.json
Due: common-changes

add fetch depth to checkout repository
  .github/workflows/test-common.yml
Due: none

add evaluate run condition
  .github/workflows/test-common.yml
Due: none

update mock-script
  package.json
Due: none

testing evaluate run condition - temporarily remove github from condition and remove mock test from test-common
  .github/workflows/test-common.yml
  packages/common/utils/searchCourtOrganisationUnits.test.ts
Due: common-changes

add github path filter to evaluate run condition
  .github/workflows/test-common.yml
Due: none

remove mock script from package.json
  package.json
Due: none

WIP: adding goss to circle CI
  .circleci/continue_config.yml
Due: circleci-changes

add conditionals for changes to each step (#2198)
  .github/workflows/test-common.yml
Due: none

chore: adding goss to cirleCI in user images
  .circleci/continue_config.yml
  packages/user-service/Makefile
Due: circleci-changes, user-service-changes

Changed bouncycastle version
  environment/conductor/Dockerfile
Due: none

create path-filter reusable workflow and update test-common to use new reusable workflow
  .github/actions/path-filter/action.yml
  .github/workflows/test-common.yml
Due: none

Changed bouncycastle version (#2201)
  environment/conductor/Dockerfile
Due: none

remove github from filters to test workflow skips
  .github/workflows/test-common.yml
Due: none

add github back to filters
  .github/workflows/test-common.yml
Due: none

fix: removed redundant job note
  .circleci/continue_config.yml
Due: circleci-changes

Create reusable path-filter for workflows (#2202)
  .github/actions/path-filter/action.yml
  .github/workflows/test-common.yml
Due: none

WIP notes endpoint
  packages/api/src/routes/v1/cases/[caseId]/note.ts
  packages/api/src/types/Note.ts
  packages/api/src/useCases/cases/note.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/user-service/next-env.d.ts
  packages/user-service/src/lib/config.ts
Due: api-changes, common-changes, user-service-changes

fix: the image compiles automatically before tests run
  packages/user-service/Makefile
Due: user-service-changes

chore: added goss to ui_image in circleCi
  .circleci/continue_config.yml
Due: circleci-changes

refactor test-characterisation to use reusable dynamic-path-filter workflow
  .github/workflows/test-characterisation.yml
Due: none

Linked up insert notes into db
  packages/api/src/routes/v1/cases/[caseId]/note.ts
  packages/api/src/services/db/cases/insertNotes.ts
  packages/api/src/useCases/cases/note.ts
Due: api-changes

update filter paths to include core
  .github/workflows/test-characterisation.yml
Due: none

remove github from filters to test workflow skips
  .github/workflows/test-characterisation.yml
Due: none

add github back to filters
  .github/workflows/test-characterisation.yml
Due: none

chore: fixed makebuild goss for ui
  packages/ui/Makefile
Due: ui-changes

chore: added goss to message fwd image
  .circleci/continue_config.yml
Due: circleci-changes

Add tests for note api route
  packages/api/src/routes/v1/cases/[caseId]/note.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/note.integration.test.ts
Due: api-changes
