Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Replace index with unique constraint
  environment/postgres/liquibase/migrations/base/039_add_audit_tables.sql
Due: none

Add foreign keys cascade deletes
  environment/postgres/liquibase/migrations/base/039_add_audit_tables.sql
Due: none

Remove explicit naming to use default
  environment/postgres/liquibase/migrations/base/039_add_audit_tables.sql
Due: none

BICAWS-4001 - Create audit tables (#1778)
  environment/postgres/liquibase/migrations/base/039_add_audit_tables.sql
Due: none

Remove duplicate testing of nav item visibility
  packages/ui/cypress/e2e/case-list/header.cy.ts
Due: ui-changes

Add bichard/ prefix to Audit Url
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

Add blank audit search page
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Correct naming of test scenario for Audit nav item visibility
  packages/ui/cypress/e2e/case-list/header.cy.ts
Due: ui-changes

Use isProduction check instead of environment variable - it is functionally identical to the behaviour we need
  packages/ui/src/config.ts
Due: ui-changes

Pass canUseTriggerAndExceptionQualityAuditing feature flag into reallocate and resolve page Layout
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
Due: ui-changes

Check user permissions and feature flag when loading search page
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/src/components/Layout.tsx
  packages/ui/src/config.ts
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Add Audit NavLink item
  packages/ui/src/components/Layout.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

Verify Audit navigation item visibility - should only be accessible to Supervisors (w/ feature flag)
  packages/ui/cypress/e2e/case-list/header.cy.ts
Due: ui-changes

Use correct name in Audit Search page header
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

Verify /audit/search csrf check
  packages/ui/cypress/e2e/csrf.cy.ts
Due: ui-changes

Show Audit navigation item only if feature flag and CAN_VIEW_AUDIT_SECTION env var are set
  packages/ui/src/components/Layout.tsx
  packages/ui/src/config.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: ui-changes

Verify path to audit search page
  packages/ui/cypress/e2e/audit/search.cy.ts
Due: ui-changes

Add common types for UI and API
  packages/common/types/Case.ts
  packages/common/types/Reports.ts
Due: common-changes

Use the correct data for Exceptions Report
  packages/api/src/routes/v1/cases/reports/exceptions.ts
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/types/Case.ts
  packages/api/src/types/Reports.ts
  packages/api/src/useCases/cases/reports/processExceptions.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
Due: api-changes

Correct the output
  packages/api/src/routes/v1/cases/reports/exceptions.ts
Due: api-changes

BICAWS7-3997 - New audit section (#1773)
  packages/ui/cypress/e2e/audit/search.cy.ts
  packages/ui/cypress/e2e/case-list/header.cy.ts
  packages/ui/cypress/e2e/csrf.cy.ts
  packages/ui/src/components/Layout.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/config.ts
  packages/ui/src/pages/audit/search.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/switching-feedback.tsx
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

Add PNC update response to LEDS converter
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/convertPncUpdateResponseToLeds.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Add USE_LEDS to worker docker compose env vars
  environment/docker-compose-worker.yml
Due: none

Add mockAsnQuery to PoliceApi in e2e-tests
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/PncApi/PncApi.ts
Due: e2e-test-changes

Tidy up PoliceApi
  packages/e2e-test/types/PoliceApi.ts
Due: e2e-test-changes

Update run_test_chunk to exclude excluded LEDS tests
  packages/e2e-test/scripts/run_test_chunk.sh
Due: e2e-test-changes

Fix generateUpdate in PncApi
  packages/e2e-test/types/PncMock.ts
  packages/e2e-test/utils/PncApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Update e2e-test types
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
Due: e2e-test-changes

Fix tests
  packages/e2e-test/features/158-breach-results/mock-pnc-responses.ts
  packages/e2e-test/features/438-HO100310-two-pairs-two-ccrs/mock-pnc-responses.ts
  packages/e2e-test/features/440-HO100332-one-court-offence-three-pnc-ccrs/mock-pnc-responses.ts
  packages/e2e-test/features/442-phase-2-reallocation/mock-pnc-responses.ts
Due: e2e-test-changes

Fix types
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/PncApi/PncApi.ts
Due: e2e-test-changes

Add function to extract ASN from input message files
  packages/e2e-test/utils/extractAsnFromInputXml.ts
Due: e2e-test-changes

Add temporary log to check Leds base url on circle ci
  packages/e2e-test/utils/config.ts
Due: e2e-test-changes

Add logs
  packages/e2e-test/scripts/run_test_chunk.sh
  packages/e2e-test/utils/LedsApi/LedsApi.ts
Due: e2e-test-changes

Add LEDS_API_URL to continue_config.yml
  .circleci/continue_config.yml
Due: circleci-changes

add LEDS_API_URL to docker-compose-worker.yml
  environment/docker-compose-worker.yml
Due: none

Fix tests
  packages/e2e-test/features/078-invalid-offence-codes/mock-pnc-responses.ts
  packages/e2e-test/features/439-HO100332-two-court-offences-two-pnc-ccrs/mock-pnc-responses.ts
Due: e2e-test-changes

Update LEDS mock-server to limit number of hits using count
  environment/mock-server/mock-server.ts
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
