Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@e859f0cbdfabb7c0346e4210f1c82cba9c6d3e97 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f4cd28ea30a0d8e0d7562e90558db76b11211bc2 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#920)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@cab10a45a134285fd11887e9f55a8c5b62d3e5a7 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove unused import isAdjournedNoNextHearing
  packages/core/phase1/enrichAho/enrichFunctions/enrichOffenceResultsPostPncEnrichment/populateResultClass.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
Due: core-changes

Refactor createRemandOperation to remove isAdjournedNoNextHearing (always returns false)
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
Due: core-changes

Delete isAdjournedNoNextHearing (always returns false)
  packages/core/lib/isAdjournedNoNextHearing.ts
Due: core-changes

BICAWS7-2978 - remove isAdjournedNoNextHearing (#921)
  packages/core/lib/isAdjournedNoNextHearing.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichOffenceResultsPostPncEnrichment/populateResultClass.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ce33744c91aa5181edf6347a333e59825e791a03 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add PncOperationCodes and OperationDescriptions enums
  packages/core/phase2/types/PncOperationCodes.ts
Due: core-changes

Rename OperationDescriptions to PncOperationDescriptions
  packages/core/phase2/types/PncOperationCodes.ts
Due: core-changes

Extract the system ID from the correct field in the XML
  packages/core/lib/parse/transformSpiToAho/extractIncomingMessageData.ts
  packages/core/schemas/incomingMessage.ts
Due: core-changes

Move PncOperationCodes to core/types folder
  packages/core/types/PncOperationCodes.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b60167aee4565d70ad68811866c1916703f53f8b 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove some of the CI test runs because they're not needed here
  .circleci/continue_config.yml
Due: circleci-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@60eaef47fac24d205aecf9b20c8243d77924723d 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Move PNC Update Dataset serialisation to lib directory
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.ts
  packages/core/lib/serialise/pnc-update-dataset-xml/serialiseToXml.test.ts
  packages/core/lib/serialise/pnc-update-dataset-xml/serialiseToXml.ts
Due: core-changes

Remove redundant functions
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.ts
  packages/core/phase2/lib/getAnnotatedDatasetFromDataset.test.ts
  packages/core/phase2/lib/getAnnotatedDatasetFromDataset.ts
  packages/core/phase2/persist/getRecordID.ts
  packages/core/phase2/persist/insertPncUpdateError.ts
  packages/core/phase2/persist/markErrorAsResolved.ts
  packages/core/phase2/persist/putPncUpdateError.ts
  packages/core/phase2/persist/putTriggerEvent.ts
  packages/core/phase2/persist/revisePncUpdateError.ts
Due: core-changes

Add serialiser for Annotated PNC Update Dataset
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/serialise/pnc-update-dataset-xml/serialiseToXml.ts
  packages/core/phase2/parse/parseAnnotatedPNCUpdateDatasetXml/parseAnnotatedPNCUpdateDatasetXml.test.ts
  packages/core/phase2/parse/parseAnnotatedPNCUpdateDatasetXml/parseAnnotatedPNCUpdateDatasetXml.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/types/AnnotatedPNCUpdateDatasetXml.ts
  packages/core/phase2/types/AnnotatedPncUpdateDatasetParsedXml.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/types/AnnotatedPNCUpdateDataset.ts
  packages/core/types/AnnotatedPncUpdateDatasetXml.ts
  packages/core/types/PncUpdateDatasetXml.ts
Due: core-changes

Rename PNC to Pnc
  packages/core/lib/parse/parseAhoXml/extractExceptionsFromXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/__snapshots__/parseAnnotatedPncUpdateDatasetXml.test.ts.snap
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.test.ts
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.ts
  packages/core/phase2/schemas/annotatedPncUpdateDataset.ts
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset.xml
  packages/core/schemas/annotatedPncUpdateDataset.ts
  packages/core/types/AnnotatedPNCUpdateDataset.ts
  packages/core/types/AnnotatedPncUpdateDataset.ts
Due: core-changes

Fix Annotated PNC Update Dataset schema
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/schemas/annotatedPncUpdateDataset.ts
Due: core-changes

Fix exception paths in AnnotatedHearingOutcome
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/__snapshots__/parseAnnotatedPncUpdateDatasetXml.test.ts.snap
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.ts
Due: core-changes

Fix issue with AnnotatedPNCUpdateDataset serialiser
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset-with-exception.xml
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset-without-exception.xml
Due: core-changes

Rename pnc-update-dataset-xml directory to pncUpdateDatasetXml
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
Due: core-changes

Annotated PNC update dataset serialiser (#924)
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.ts
  packages/core/lib/parse/parseAhoXml/extractExceptionsFromXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getAnnotatedDatasetFromDataset.test.ts
  packages/core/phase2/lib/getAnnotatedDatasetFromDataset.ts
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/__snapshots__/parseAnnotatedPncUpdateDatasetXml.test.ts.snap
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.test.ts
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/persist/getRecordID.ts
  packages/core/phase2/persist/insertPncUpdateError.ts
  packages/core/phase2/persist/markErrorAsResolved.ts
  packages/core/phase2/persist/putPncUpdateError.ts
  packages/core/phase2/persist/putTriggerEvent.ts
  packages/core/phase2/persist/revisePncUpdateError.ts
  packages/core/phase2/schemas/annotatedPncUpdateDataset.ts
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset-with-exception.xml
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset-without-exception.xml
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset.xml
  packages/core/phase2/types/AnnotatedPNCUpdateDatasetXml.ts
  packages/core/phase2/types/AnnotatedPncUpdateDatasetParsedXml.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/schemas/annotatedPNCUpdateDataset.ts
  packages/core/schemas/annotatedPncUpdateDataset.ts
  packages/core/types/AnnotatedPNCUpdateDataset.ts
  packages/core/types/AnnotatedPncUpdateDataset.ts
  packages/core/types/AnnotatedPncUpdateDatasetXml.ts
  packages/core/types/PncUpdateDatasetXml.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@65956501ab8074640f3721a7a41a10f3a20e25e1 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/message-forwarder/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

Fix issue with spying conductor's WorkflowResourceService class
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ae5aafacd7bb53efb696fda4962884b967e6ff78 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
Due: api-changes, common-changes, conductor-changes, core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@8aff8993d76eaf0a73c673ed115f7d387df16e0c 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@74a7a42aa5a10fa8fea27e246aa460889a514fff 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update Phase 2 condition to only check for AINT case for AHO
  packages/core/phase2/phase2.test.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Update Phase 2 condition to only check for AINT case for AHO (#928)
  packages/core/phase2/phase2.test.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b82679075aac72cd8482594ca3e9fd8ac728a348 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

DEBUG CI
  .circleci/continue_config.yml
Due: circleci-changes
