Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

add config-file location to cypress run and run ui component tests steps
  .github/workflows/unit-tests.yml
Due: none

Re-added service user unlock check
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
Due: api-changes

Rename unlock triggers/exceptions
  packages/api/src/services/db/cases/unlockExceptions.integration.test.ts
  packages/api/src/services/db/cases/unlockExceptions.ts
  packages/api/src/services/db/cases/unlockTriggers.integration.test.ts
  packages/api/src/services/db/cases/unlockTriggers.ts
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
  packages/api/src/useCases/cases/getCase/unlockExceptions.ts
Due: api-changes

Test renaming, removed old unlockExceptions file
  packages/api/src/routes/v1/cases/[caseId]/resolve.integration.test.ts
  packages/api/src/services/db/cases/checkAllTriggersResolved.integration.test.ts
  packages/api/src/services/db/cases/unlockExceptions.integration.test.ts
  packages/api/src/services/db/cases/unlockTriggers.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockExceptions.ts
Due: api-changes

merge cypress run and run ui component tests into one step
  .github/workflows/unit-tests.yml
Due: none

add debug step to locate xml files
  .github/workflows/unit-tests.yml
Due: none

Refactor
  packages/api/src/useCases/cases/getCase/unlockAndAuditLog.ts
Due: api-changes

Allow publish architecture workflow to be triggered manually to fix github pages deployment
  .github/workflows/publish-architecture.yml
Due: none

Style fix
  .github/workflows/publish-architecture.yml
Due: none

Add error_count to case rows
  packages/api/src/types/Case.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
Due: api-changes

Bump tomcat
  environment/conductor/Dockerfile
Due: none

BICAWS7-4573 Fix Conductor CVEs (#2236)
  environment/conductor/Dockerfile
Due: none

update run ui component tests step to use npx cypress run command and values
  .github/workflows/unit-tests.yml
Due: none

update run ui component tests command
  .github/workflows/unit-tests.yml
Due: none

Add github actions to dependabot updates
  .github/dependabot.yml
Due: none

Add cooldown
  .github/dependabot.yml
Due: none

specify packages/ui in run ui component test command
  .github/workflows/unit-tests.yml
Due: none

fix spec file path
  .github/workflows/unit-tests.yml
Due: none

update run ui component tests step command spec file path
  .github/workflows/unit-tests.yml
Due: none

Allow architecture doc workflow build (#2235)
  .github/workflows/publish-architecture.yml
Due: none

Publish GitHub pages using new GitHub action flow - classic branch deployment is not available
  .github/workflows/publish-architecture.yml
Due: none

Update resolveTriggers to use new useCases
  packages/api/src/routes/v1/cases/[caseId]/resolveTriggers.ts
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/types/Case.ts
  packages/api/src/useCases/cases/getCase/markTriggersAsCompleteAndAuditLog.ts
  packages/api/src/useCases/cases/resolveTriggers.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
  packages/common/types/Case.ts
  packages/ui/src/services/resolveTriggers.ts
Due: api-changes, common-changes, ui-changes

Remove unneeded step id
  .github/workflows/publish-architecture.yml
Due: none

Add required permissions for page deployment
  .github/workflows/publish-architecture.yml
Due: none

Renamed endpoint
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: api-changes, common-changes

Test rename, updated status query to use enum
  packages/api/src/services/db/cases/checkAllTriggersResolved.integration.test.ts
  packages/api/src/services/db/cases/checkAllTriggersResolved.ts
Due: api-changes

Basic integration test for endpoint
  packages/api/src/routes/v1/cases/[caseId]/resolveTriggers.integration.test.ts
Due: api-changes

Test rename
  packages/api/src/services/db/cases/unlockExceptions.integration.test.ts
  packages/api/src/services/db/cases/unlockTriggers.integration.test.ts
Due: api-changes

Rename test scripts for better readability
  packages/e2e-test/package.json
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Add a test to run on legacy ui against real leds api
  packages/e2e-test/features/113b-1508-pnc-error/police-data.after.json
  packages/e2e-test/features/113b-1508-pnc-error/police-data.before.json
  packages/e2e-test/features/113b-1508-pnc-error/test.feature
Due: e2e-test-changes

Exclude on PNC
  packages/e2e-test/features/101-record-not-found/test.feature
Due: e2e-test-changes

BICAWS7-4573 - Update GitHub actions with dependabot (#2237)
  .github/dependabot.yml
Due: none

Rename exceptions api body schema
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.integration.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.ts
  packages/common/contracts/ExceptionsManualResolveBody.ts
Due: api-changes, common-changes

Simplified test defaultRequest
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.integration.test.ts
Due: api-changes

BICAWS7-4583 - Publish GitHub pages using Github Action (#2234)
  .github/workflows/publish-architecture.yml
Due: none

Updated tests to use correct api body type
  packages/api/src/routes/v1/cases/[caseId]/exceptions/manualResolve.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveExceptions.integration.test.ts
Due: api-changes

temporarily update test to fail to trigger upload cypress artifacts step
  packages/ui/cypress/component/Audit/ExceptionQualityDropdown.cy.tsx
Due: ui-changes

Update unlockAndAuditLog name
  packages/api/src/useCases/cases/getCase/unlockAndAppendAuditEvents.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockAndAppendAuditEvents.ts
  packages/api/src/useCases/cases/resolve/resolveCase.integration.test.ts
  packages/api/src/useCases/cases/resolve/resolveCase.ts
Due: api-changes

Add tests for trigger attributes
  packages/common/utils/generateTriggersAttributes.test.ts
Due: common-changes
