Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

update failing component tests
  packages/ui/cypress/component/Audit/QualityStatusForm.cy.tsx
Due: ui-changes

add component tests for audit display
  packages/ui/cypress/component/Audit/QualityStatusDisplay.cy.tsx
Due: ui-changes

update e2e test for audit display
  packages/ui/cypress/e2e/case-details/audit/audit-case.api.cy.ts
Due: ui-changes

remove redundant router and context from tests
  packages/ui/cypress/component/Audit/QualityStatusDisplay.cy.tsx
Due: ui-changes

update test assertions for quality display
  packages/ui/cypress/component/Audit/QualityStatusDisplay.cy.tsx
Due: ui-changes

Initial implementation of convertPncJsonToLedsAddDisposalRequest
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
Due: core-changes, e2e-test-changes

Create empty page
  eslint.config.mjs
  package-lock.json
  package.json
  packages/ui/package.json
  packages/ui/src/pages/report-selection.tsx
  packages/ui/src/types/NavLinks.ts
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Update ESLint
  package.json
Due: none

Remove nextjs eslint packages
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Remove eslint packages from UI
  package-lock.json
  packages/ui/package.json
Due: ui-changes

Remove eslint packages
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, user-service-changes

Add @eslint/compat
  package-lock.json
  package.json
Due: none

Remove eslint from ncurc
  packages/user-service/.ncurc.js
Due: user-service-changes

Map additionalArrestOffences
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: e2e-test-changes

BICAWS7-4026 - Improve audit display accessibility (#1783)
  packages/ui/cypress/component/Audit/QualityStatusDisplay.cy.tsx
  packages/ui/cypress/component/Audit/QualityStatusForm.cy.tsx
  packages/ui/cypress/e2e/case-details/audit/audit-case.api.cy.ts
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusDisplay.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.tsx
Due: ui-changes

Fix eslint (#1786)
  package-lock.json
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Consolidate (almost) duplicated mock router creation
  packages/ui/cypress/support/MockNextRouter.tsx
  packages/ui/src/utils/nav/isNavLinkForRoute.test.ts
  packages/ui/test/helpers/createMockRouter.ts
Due: ui-changes

Show underline on nav item depending on path + navLink rule
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/utils/nav/isNavLinkForPath.test.ts
  packages/ui/src/utils/nav/isNavLinkForPath.ts
Due: ui-changes

Verify navigation link highlighting when viewing a case details page
  packages/ui/cypress/e2e/case-details/view-case-details/view-navigation.cy.ts
Due: ui-changes

Use NextRouter for determining if the route is for a particular NavLink.
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/utils/nav/isNavLinkForPath.test.ts
  packages/ui/src/utils/nav/isNavLinkForPath.ts
  packages/ui/src/utils/nav/isNavLinkForRoute.test.ts
  packages/ui/src/utils/nav/isNavLinkForRoute.ts
Due: ui-changes

Remove unneeded pathname check with query separator ?
  packages/ui/src/utils/nav/isNavLinkForRoute.test.ts
  packages/ui/src/utils/nav/isNavLinkForRoute.ts
Due: ui-changes

Rename isNavLinkForRoute to make it clearer it's only intended for use with the current route via useRouter
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/utils/nav/isNavLinkForCurrentRoute.test.ts
  packages/ui/src/utils/nav/isNavLinkForCurrentRoute.ts
Due: ui-changes

Use more specific NavLink for parameter instead of string
  packages/ui/src/utils/nav/isNavLinkForPath.ts
Due: ui-changes

Reducing branching when checking path
  packages/ui/src/utils/nav/isNavLinkForPath.ts
Due: ui-changes

Exclude slash in audit string search as it may be escaped
  packages/ui/src/utils/nav/isNavLinkForPath.test.ts
  packages/ui/src/utils/nav/isNavLinkForPath.ts
Due: ui-changes

Use NavLink as link property type in NavItemProps
  packages/ui/src/components/NavBar/NavBar.tsx
Due: ui-changes

Refactor convertPncJsonToLedsAddDisposalRequest
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
Due: e2e-test-changes

Test push. Change link to Reports.
  package-lock.json
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

BICAWS7-4010 - Show underline on nav item depending on path + navLink rule (#1782)
  packages/ui/cypress/e2e/case-details/view-case-details/view-navigation.cy.ts
  packages/ui/cypress/support/MockNextRouter.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/utils/nav/isNavLinkForCurrentRoute.test.ts
  packages/ui/src/utils/nav/isNavLinkForCurrentRoute.ts
  packages/ui/test/helpers/createMockRouter.ts
Due: ui-changes

Create empty page for the Report Search
  packages/ui/src/pages/report-selection.tsx
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

Map remaining disposalResults fields to additionalArrestOffences
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
Due: core-changes

Ad Authorization and Reference Id to request headers zod schema
  packages/core/schemas/leds/requestHeaders.ts
Due: core-changes

Add LedsActionCode enum
  packages/core/types/leds/LedsActionCode.ts
Due: core-changes

Update request headers to use correct keys and values
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.ts
Due: core-changes

Add endpoint
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
Due: common-changes

Add schema
  packages/common/types/CreateAuditSchema.ts
Due: common-changes

Renamed
  packages/common/types/CreateAudit.ts
Due: common-changes

Audit schema
  packages/common/types/Audit.ts
Due: common-changes

Basic route
  packages/api/src/routes/v1/audit/index.ts
Due: api-changes

Set to array
  packages/common/types/Audit.ts
  packages/common/types/CreateAudit.ts
Due: common-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
