Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Fix Report Page refreshing (#1826)
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

Clear filters now clears the report select
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Fix toTitleCase function to handle empty string
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.ts
Due: core-changes

Update map offences to exclude plea and verdict if carried forward or referred to court case
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/shouldExcludePleaAndAdjudication.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
Due: core-changes

Add mapDisposalResult test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.ts
Due: core-changes

Fix audit cell props
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
  packages/ui/src/features/CaseList/CaseListRow/AuditQualityCell.tsx
Due: ui-changes

Remove checkName from comparision objects
  packages/e2e-test/utils/mormaliseForComparison.ts
Due: e2e-test-changes

Update the Loading spinner
  packages/ui/src/components/Loading.tsx
Due: ui-changes

Add a11y to the tables
  packages/ui/src/components/Reports/GroupTable.styles.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/ReportTableHeader.tsx
  packages/ui/src/components/Reports/ReportTableHeaderCell.tsx
  packages/ui/src/components/Reports/ReportTableHeaderRow.tsx
  packages/ui/src/components/Reports/SimpleTable.tsx
Due: ui-changes

Refactor component and add a11y
  packages/ui/src/features/ReportSelectionFilter/ActionBar.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/utils/colours.ts
Due: ui-changes

Fix note types
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Fix toTitleCase failing test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.test.ts
Due: core-changes

Added 'no results found' message
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Refactor complex rendering
  packages/ui/src/features/ReportSelectionFilter/ReportResults.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Delete prototype
  packages/ui/cypress/component/reports/FetchReport.cy.tsx
  packages/ui/src/components/Reports/FetchReport.tsx
Due: ui-changes

Add mergeOffenceDetails test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mergeOffenceDetails.test.ts
Due: core-changes

Add shouldExcludePleaAndAdjudication test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/shouldExcludePleaAndAdjudication.test.ts
Due: core-changes

Row tests
  packages/ui/cypress/component/AuditCaseList/AuditCaseRow.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseList.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Trigger status logic
  packages/ui/cypress/component/AuditCaseList/AuditCaseRow.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Add error status
  packages/api/src/services/db/audit/fetchAuditCases.ts
  packages/api/src/useCases/dto/convertAuditCaseToDto.ts
  packages/common/types/AuditCase.ts
Due: api-changes, common-changes

Error status logic
  packages/ui/cypress/component/AuditCaseList/AuditCaseRow.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Header tests
  packages/ui/cypress/component/AuditCaseList/AuditCaseListTableHeader.cy.tsx
Due: ui-changes

Table tests
  packages/ui/cypress/component/AuditCaseList/AuditCaseList.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseList.tsx
Due: ui-changes

Add court ref
  packages/api/src/services/db/audit/fetchAuditCases.ts
  packages/api/src/useCases/dto/convertAuditCaseToDto.ts
  packages/common/types/AuditCase.ts
  packages/ui/cypress/component/AuditCaseList/AuditCaseList.cy.tsx
  packages/ui/cypress/component/AuditCaseList/AuditCaseRow.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: api-changes, common-changes, ui-changes

Add field placeholders
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Add resolved date
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Add notes to test data
  packages/ui/cypress/component/AuditCaseList/AuditCaseList.cy.tsx
Due: ui-changes

Move sorting logic into new hook
  packages/ui/src/features/AuditCaseList/AuditCaseListTableHeader.tsx
  packages/ui/src/hooks/useColumnSorting.ts
Due: ui-changes

Use new hook on court case list header
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
Due: ui-changes

Clear filters now clears the report select (#1827)
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Pin @ministryofjustice/frontend to v8
  packages/ui/.ncurc.js
  packages/user-service/.ncurc.js
Due: ui-changes, user-service-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Fix component tests
  packages/ui/cypress/component/Loading.cy.tsx
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/ReportSelectionFilter.cy.tsx
  packages/ui/cypress/component/reports/SimpleTable.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
Due: ui-changes

Add more component tests
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/ReportResults.cy.tsx
  packages/ui/cypress/component/reports/ReportTable.cy.tsx
Due: ui-changes

pinned moj frontend to v8
  packages/ui/.ncurc.js
  packages/user-service/.ncurc.js
Due: ui-changes, user-service-changes

Remove resolution action
  packages/ui/src/features/AuditCaseList/AuditCaseListTableHeader.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Removed no results message
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Remove unneeded fragment
  packages/ui/src/features/CaseList/CaseListRow/NotePreviewButton.tsx
Due: ui-changes

Refactor and add Accessibility for Reports (#1828)
  packages/ui/cypress/component/Loading.cy.tsx
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/FetchReport.cy.tsx
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/ReportResults.cy.tsx
  packages/ui/cypress/component/reports/ReportSelectionFilter.cy.tsx
  packages/ui/cypress/component/reports/ReportTable.cy.tsx
  packages/ui/cypress/component/reports/SimpleTable.cy.tsx
  packages/ui/src/components/Loading.tsx
  packages/ui/src/components/Reports/FetchReport.tsx
  packages/ui/src/components/Reports/GroupTable.styles.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/ReportTableHeader.tsx
  packages/ui/src/components/Reports/ReportTableHeaderCell.tsx
  packages/ui/src/components/Reports/ReportTableHeaderRow.tsx
  packages/ui/src/components/Reports/SimpleTable.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportResults.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/utils/colours.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
