Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

Refactor checkRccSegmentApplicability to return a boolean (#945)
  packages/core/phase2/lib/getOperationSequence/generateOperations/checkCaseRequiresRccButHasNoReportableOffences.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/checkCaseRequiresRccButHasNoReportableOffences.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Remove APPHRD PNC operation and appeal outcome result class
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/types/PncOperation.ts
  packages/core/types/PncUpdateDatasetXml.ts
  packages/core/types/ResultClass.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@57e969a673430ffbcf3ea1c3b2f24ac918ae2967 🚀
  main/bichard/component/message-transfer-lambda/index.html
  main/bichard/component/message-transfer-lambda/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove APPHRD PNC operation and appeal outcome result class (#956)
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/types/PncOperation.ts
  packages/core/types/PncUpdateDatasetXml.ts
  packages/core/types/ResultClass.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@7eeeefdc2a0a44ab27c058252288180374448313 🚀
  main/bichard/component/message-transfer-lambda/index.html
  main/bichard/component/message-transfer-lambda/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove the file extension
  packages/api/src/app.ts
Due: api-changes

To run a dev server we can't have tests with the code
  packages/api/test/plugins/health/plugin.integration.test.ts
Due: api-changes

Core uses express but didn't require it
  package-lock.json
  packages/core/package.json
Due: core-changes

Missing ready call
  packages/api/src/index.ts
Due: api-changes

Use a better type to remove code complexity
  packages/api/src/plugins/health/plugin.ts
Due: api-changes

Setup fastify (#953)
  .circleci/continue_config.yml
  .vscode/settings.json
  docs/architecture/adrs/0006-use-fastify-api-framework.md
  package-lock.json
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/controllers/health.ts
  packages/api/src/index.ts
  packages/api/src/plugins/health/handlers.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/plugins/health/routes.ts
  packages/api/src/routes/health.ts
  packages/api/test/plugins/health/plugin.integration.test.ts
  packages/api/tests/health.integration.test.ts
  packages/api/tests/health.unit.test.ts
  packages/api/tsconfig.json
  packages/core/package.json
Due: circleci-changes, api-changes, core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@dd4eb90fffc9627b438a1893a8c90c9ce4cbb795 🚀
  main/decisions/6/index.html
  main/decisions/6/index.html.md5
  main/decisions/index.html
  main/decisions/index.html.md5
  main/search/index.html
  main/search/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove COMSEN PNC operation
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/types/PncOperation.ts
  packages/core/types/PncUpdateDatasetXml.ts
Due: core-changes

WIP
  package-lock.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/plugins/hello/plugin.ts
  packages/api/tsconfig.json
Due: api-changes

Remove COMSEN PNC operation (#958)
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/types/PncOperation.ts
  packages/core/types/PncUpdateDatasetXml.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f061cd36733851b4a06d222bc8a7e73dfe982b5b 🚀
  main/bichard/component/message-transfer-lambda/index.html
  main/bichard/component/message-transfer-lambda/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@84cdf79b84a1e6b95cf202ace18fecb606806c6d 🚀
  main/bichard/component/message-transfer-lambda/index.html
  main/bichard/component/message-transfer-lambda/index.html.md5
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Don't build API whilst we are refactoring it
  buildspec.yml
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@9159afdb944147a2a988afb45a6d1fd4994d4532 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add phase 2 exception generators
  packages/core/phase2/exceptions/HO200100.ts
  packages/core/phase2/exceptions/HO200103.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200109.ts
  packages/core/phase2/exceptions/HO200110.ts
  packages/core/phase2/exceptions/HO200112.ts
  packages/core/phase2/exceptions/HO200113.ts
  packages/core/phase2/exceptions/HO200114.ts
  packages/core/phase2/exceptions/HO200115.ts
  packages/core/phase2/exceptions/HO200116.ts
  packages/core/phase2/exceptions/HO200117.ts
  packages/core/phase2/exceptions/HO200118.ts
  packages/core/phase2/exceptions/HO200121.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/exceptions/HO200201.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200205.ts
  packages/core/phase2/exceptions/generateExceptions.ts
Due: core-changes

Update phase2.ts to call generateExceptions
  packages/core/phase2/phase2.ts
Due: core-changes

Fix import errors
  packages/core/phase2/exceptions/HO200100.ts
  packages/core/phase2/exceptions/HO200103.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200109.ts
  packages/core/phase2/exceptions/HO200110.ts
  packages/core/phase2/exceptions/HO200112.ts
  packages/core/phase2/exceptions/HO200113.ts
  packages/core/phase2/exceptions/HO200114.ts
  packages/core/phase2/exceptions/HO200115.ts
  packages/core/phase2/exceptions/HO200116.ts
  packages/core/phase2/exceptions/HO200117.ts
  packages/core/phase2/exceptions/HO200118.ts
  packages/core/phase2/exceptions/HO200121.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/exceptions/HO200201.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200205.ts
Due: core-changes

Move ExceptionGenerator type to phase 2 types
  packages/core/phase1/exceptions/HO100300.ts
  packages/core/phase1/exceptions/HO100305.ts
  packages/core/phase1/exceptions/HO100306.ts
  packages/core/phase1/exceptions/HO100321.ts
  packages/core/phase1/exceptions/HO100322.ts
  packages/core/phase1/exceptions/HO100323.ts
  packages/core/phase1/exceptions/HO100324.ts
  packages/core/phase1/exceptions/HO100325.ts
  packages/core/phase1/exceptions/HO100326.ts
  packages/core/phase1/exceptions/HO100331.ts
  packages/core/phase1/exceptions/pncExceptions.ts
  packages/core/types/ExceptionGenerator.ts
Due: core-changes

Phase2 exception generators (#961)
  packages/core/phase1/exceptions/HO100300.ts
  packages/core/phase1/exceptions/HO100305.ts
  packages/core/phase1/exceptions/HO100306.ts
  packages/core/phase1/exceptions/HO100321.ts
  packages/core/phase1/exceptions/HO100322.ts
  packages/core/phase1/exceptions/HO100323.ts
  packages/core/phase1/exceptions/HO100324.ts
  packages/core/phase1/exceptions/HO100325.ts
  packages/core/phase1/exceptions/HO100326.ts
  packages/core/phase1/exceptions/HO100331.ts
  packages/core/phase1/exceptions/pncExceptions.ts
  packages/core/phase2/exceptions/HO200100.ts
  packages/core/phase2/exceptions/HO200103.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200109.ts
  packages/core/phase2/exceptions/HO200110.ts
  packages/core/phase2/exceptions/HO200112.ts
  packages/core/phase2/exceptions/HO200113.ts
  packages/core/phase2/exceptions/HO200114.ts
  packages/core/phase2/exceptions/HO200115.ts
  packages/core/phase2/exceptions/HO200116.ts
  packages/core/phase2/exceptions/HO200117.ts
  packages/core/phase2/exceptions/HO200118.ts
  packages/core/phase2/exceptions/HO200121.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/exceptions/HO200201.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200205.ts
  packages/core/phase2/exceptions/generateExceptions.ts
  packages/core/phase2/phase2.ts
  packages/core/types/ExceptionGenerator.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f3d85d42e0b91a096b623b01c2a3b2fa854affd6 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Get auth working on API routes and disabled on health route Make swagger UI work with authentication
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/plugins/hello/plugin.ts
  packages/api/src/routes/hello/route.ts
Due: api-changes

npm audit fix
  package-lock.json
Due: none

Add HO200110
  packages/core/phase2/exceptions/HO200110.test.ts
  packages/core/phase2/exceptions/HO200110.ts
Due: core-changes

Add pino pretty for better logs in development
  package-lock.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/logger.ts
Due: api-changes

Correct logging out
  packages/api/src/app.ts
Due: api-changes

Add empty HO200212
  packages/core/phase2/exceptions/HO200212.ts
Due: core-changes

Update generateExceptions to return if HO200212 is generated
  packages/core/phase2/exceptions/generateExceptions.ts
Due: core-changes

Update phase2 function to check generated exceptions for early return
  packages/core/phase2/phase2.ts
Due: core-changes

Remove old HO200110 code
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
Due: core-changes

Refactor HO200110 test
  packages/core/phase2/exceptions/HO200110.test.ts
Due: core-changes

Update generateExceptions to return if HO200110, HO200116, or HO200117 are generated
  packages/core/phase2/exceptions/generateExceptions.ts
Due: core-changes

Remove unused import
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
Due: core-changes
