Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Move localstack into the start services
  .circleci/continue_config.yml
Due: circleci-changes

Pin zod and zod related packages
  .ncurc.js
Due: none

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update standing data dependency (#1504)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Move localstack into the start services (#1511)
  .circleci/continue_config.yml
Due: circleci-changes

Fix audit log always exceptions locked (#1510)
  packages/api/src/services/parseHearingOutcome.unit.test.ts
  packages/api/src/tests/helpers/dynamoDbConfig.ts
  packages/api/src/useCases/cases/lockExceptions.ts
  packages/api/src/useCases/createAuditLogEvents.ts
Due: api-changes

Fix listener (#1508)
  packages/ui/src/components/Buttons/RefreshButton.tsx
Due: none

Pin zod and zod related packages (#1513)
  .ncurc.js
Due: none

Update E2E tests for spike
  packages/e2e-test/features/00-spike-basic/input-message.xml
  packages/e2e-test/features/00-spike-basic/mock-leds-responses.ts
  packages/e2e-test/features/00-spike-basic/pnc-data.xml
  packages/e2e-test/features/00-spike-basic/test.feature
  packages/e2e-test/features/01-spike-adjudication-and-disposals/input-message-2.xml
  packages/e2e-test/features/01-spike-adjudication-and-disposals/mock-leds-responses.ts
  packages/e2e-test/features/01-spike-adjudication-and-disposals/pnc-data.xml
  packages/e2e-test/features/01-spike-adjudication-and-disposals/test.feature
Due: e2e-test-changes

Update LEDS gateway to handle adjudication and disposals
  packages/core/lib/leds/LedsGateway.ts
  packages/core/schemas/ledsApiResult.ts
  packages/e2e-test/utils/ledsMocks.ts
Due: core-changes, e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Tweak comms cli tool (#1509)
  package-lock.json
  package.json
  packages/cli/README.md
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/utils/getUsersFromDb.ts
  packages/cli/commands/user-comms/utils/prepareComms.ts
  packages/cli/commands/user-comms/utils/sendUserComms.ts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/utils/testDbConnection.ts
  packages/e2e-test/helpers/IncomingMessageBucket.ts
Due: e2e-test-changes

Fix jest
  package-lock.json
  package.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

Fix package lock
  package-lock.json
Due: none

Use the old version of @cucumber/pretty-formatter
  .ncurc.js
  package-lock.json
  packages/e2e-test/package.json
Due: e2e-test-changes

Get rid off legacy deps
  package-lock.json
  packages/ui/package.json
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
  packages/ui/src/hooks/useBeforeunload.ts
Due: none

Remove unnecessary jest package
  package-lock.json
  package.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

Update React
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: none

update ledsGateway to handle qtyDuration
  packages/core/lib/leds/LedsGateway.ts
  packages/core/schemas/ledsApiResult.ts
  packages/e2e-test/features/00-spike-basic/test.feature
  packages/e2e-test/features/01a-spike-adjudication-and-disposals/input-message-2.xml
  packages/e2e-test/features/01a-spike-adjudication-and-disposals/mock-leds-responses.ts
  packages/e2e-test/features/01a-spike-adjudication-and-disposals/pnc-data.xml
  packages/e2e-test/features/01a-spike-adjudication-and-disposals/test.feature
  packages/e2e-test/features/01b-spike-disposal-quantity-duration/input-message-2.xml
  packages/e2e-test/features/01b-spike-disposal-quantity-duration/mock-leds-responses.ts
  packages/e2e-test/features/01b-spike-disposal-quantity-duration/mock-pnc-responses.ts
  packages/e2e-test/features/01b-spike-disposal-quantity-duration/pnc-data.xml
  packages/e2e-test/features/01b-spike-disposal-quantity-duration/test.feature
  packages/e2e-test/utils/ledsMocks.ts
Due: core-changes, e2e-test-changes

Update E2E test description for quanity duration
  packages/core/lib/leds/LedsGateway.ts
  packages/e2e-test/features/01a-spike-adjudication-and-disposals/mock-leds-responses.ts
  packages/e2e-test/features/01b-spike-disposal-quantity-duration/test.feature
Due: core-changes, e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Update React (#1516)
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: none

Update LedsGateway to get the latest adjudication
  packages/core/lib/leds/LedsGateway.ts
Due: core-changes

Remove running characterisation tests against legacy Bichard in CI
  .circleci/continue_config.yml
Due: circleci-changes

Remove unused errorPaths functions
  packages/core/characterisation-tests/helpers/errorPaths.ts
Due: core-changes, characterisation-test-changes

Remove unused generateMockPncQueryResultFromAho file
  packages/core/characterisation-tests/helpers/generateMockPncQueryResultFromAho.ts
Due: core-changes, characterisation-test-changes

Remove running characterisation tests for legacy Bichard in README
  packages/core/README.md
Due: core-changes

Rename characterisation tests CI job
  .circleci/continue_config.yml
Due: circleci-changes

Remove scripts for running characterisation tests against legacy Bichard
  packages/core/package.json
Due: core-changes

Remove unused config file
  packages/core/characterisation-tests/helpers/config.ts
Due: core-changes, characterisation-test-changes

Move ProcessMessageOptions types into its own file
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/characterisation-tests/types/ProcessMessageOptions.ts
Due: core-changes, characterisation-test-changes

Remove unused processTestFile file
  packages/core/characterisation-tests/helpers/processTestFile.ts
Due: core-changes, characterisation-test-changes

Refactor processPhase3Message to remove processMessageCorePhase3
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
Due: core-changes, characterisation-test-changes

Refactor processPhase2Message to remove processMessageCorePhase2
  packages/core/characterisation-tests/exceptions/HO200100.test.ts
  packages/core/characterisation-tests/exceptions/HO200101.test.ts
  packages/core/characterisation-tests/exceptions/HO200103.test.ts
  packages/core/characterisation-tests/exceptions/HO200104.test.ts
  packages/core/characterisation-tests/exceptions/HO200106.test.ts
  packages/core/characterisation-tests/exceptions/HO200108.test.ts
  packages/core/characterisation-tests/exceptions/HO200110.test.ts
  packages/core/characterisation-tests/exceptions/HO200112.test.ts
  packages/core/characterisation-tests/exceptions/HO200113.test.ts
  packages/core/characterisation-tests/exceptions/HO200114.test.ts
  packages/core/characterisation-tests/exceptions/HO200115.test.ts
  packages/core/characterisation-tests/exceptions/HO200116.test.ts
  packages/core/characterisation-tests/exceptions/HO200117.test.ts
  packages/core/characterisation-tests/exceptions/HO200121.test.ts
  packages/core/characterisation-tests/exceptions/HO200202.test.ts
  packages/core/characterisation-tests/exceptions/HO200205.test.ts
  packages/core/characterisation-tests/exceptions/HO200212.test.ts
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/characterisation-tests/triggers/TRPS0002.test.ts
  packages/core/characterisation-tests/triggers/TRPS0003.test.ts
  packages/core/characterisation-tests/triggers/TRPS0008.test.ts
  packages/core/characterisation-tests/triggers/TRPS0010.test.ts
  packages/core/characterisation-tests/triggers/TRPS0011.test.ts
  packages/core/characterisation-tests/triggers/TRPS0013.test.ts
Due: core-changes, characterisation-test-changes

Refactor processPhase1Message to remove processMessageCorePhase1
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
Due: core-changes, characterisation-test-changes

Remove unused reformatDate file
  packages/core/characterisation-tests/helpers/reformatDate.ts
Due: core-changes, characterisation-test-changes

Remove skipped characterisation tests
  packages/core/characterisation-tests/exceptions/HO100233.test.ts
  packages/core/characterisation-tests/exceptions/HO100236.test.ts
Due: core-changes, characterisation-test-changes

Rename template message file
  packages/core/characterisation-tests/helpers/generatePhase2Message.ts
  packages/core/characterisation-tests/helpers/generatePhase3Message.ts
  packages/core/characterisation-tests/test-data/Message.xml.njk
Due: core-changes, characterisation-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
