Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

Remove unnecessary bang
  packages/api/src/server/auth/jwtHelper.ts
Due: api-changes

Extract auth schema
  packages/api/src/routes/me.ts
  packages/api/src/server/auth/authSchema.ts
Due: api-changes

Add test for authSchema
  packages/api/src/server/auth/authSchema.unit.test.ts
Due: api-changes

Add missing types
  packages/api/src/server/auth/authSchema.ts
  packages/api/src/server/auth/jwtHelper.ts
Due: api-changes

remove scripts from packages ui as they are not at top level
  packages/ui/.circleci/scripts/build-ui.sh
  packages/ui/.circleci/scripts/clone-tests-repo.sh
  packages/ui/.circleci/scripts/hash-package-lock.sh
  packages/ui/.circleci/scripts/install-cypress.sh
  packages/ui/.circleci/scripts/install-playwright.sh
  packages/ui/.circleci/scripts/run-component-tests.sh
  packages/ui/.circleci/scripts/run-cypress-e2e-tests.sh
Due: none

update scripts to cd into packages/ui
  .circleci/scripts/ui-scripts/build-ui.sh
  .circleci/scripts/ui-scripts/run-component-tests.sh
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

update circleci config file now that UI is merged with core
  .circleci/continue_config.yml
Due: circleci-changes

Create error resasons file and use them in responses
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/openapi/errorReasons.ts
  packages/api/src/server/openapi/setupSwagger.ts
Due: api-changes

indent workflow 'requires'
  .circleci/continue_config.yml
Due: circleci-changes

update workflows to fix 'mapping values are not allowed in this context' error
  .circleci/continue_config.yml
Due: circleci-changes

Add a schema folder for generic schema files
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/auth/authSchema.unit.test.ts
  packages/api/src/server/schemas/auth.ts
  packages/api/src/server/schemas/auth.unit.test.ts
  packages/api/src/server/schemas/errorReasons.ts
Due: api-changes

add node to config.yml orbs
  .circleci/config.yml
Due: circleci-changes

WIP
  package-lock.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/withTypeProvider.ts
Due: api-changes

remove duplicated fetch images
  .circleci/continue_config.yml
Due: circleci-changes

update IMAGES to images so its consistant with fetch_images command
  .circleci/continue_config.yml
Due: circleci-changes

comment out node/install
  .circleci/continue_config.yml
Due: circleci-changes

add cypress.config.ts to ui tsconfig.json exclude to fix jest & cypress conflict
  packages/ui/tsconfig.json
Due: none

remove node orb
  .circleci/config.yml
Due: circleci-changes

update path
  .circleci/scripts/ui-scripts/build-ui.sh
Due: circleci-changes

use 'source' to change directory in build-ui script
  .circleci/scripts/ui-scripts/build-ui.sh
Due: circleci-changes

add pwd to find path to directory
  .circleci/scripts/ui-scripts/build-ui.sh
Due: circleci-changes

comment out jobs for testing purposes
  .circleci/continue_config.yml
Due: circleci-changes

update cd path in build-ui.sh
  .circleci/continue_config.yml
  .circleci/scripts/ui-scripts/build-ui.sh
Due: circleci-changes

uncomment out lint_and_build
  .circleci/continue_config.yml
Due: circleci-changes

update cd path in run-component-tests.sh and run-cypress-e2e-tests.sh
  .circleci/scripts/ui-scripts/run-component-tests.sh
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Add HO200104
  packages/core/phase2/exceptions/HO200104.test.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/checkResultClassExceptions.test.ts
  packages/core/phase2/exceptions/checkResultClassExceptions.ts
  packages/core/phase2/lib/areAllPncResults2007.test.ts
  packages/core/phase2/lib/areAllPncResults2007.ts
  packages/core/phase2/lib/generateOperations/createSubsequentVariationOperation.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

move cd path from run-cypress-e2e-tests.sh
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

make spec arguments a string
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Modify updateErrorListRecord to update trigger_quality_checked column when trigger generated after resubmission
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

WIP
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/createZodProvider.ts
  packages/api/src/server/withTypeProvider.ts
Due: api-changes

useZod
  packages/api/src/app.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/useZod.ts
Due: api-changes

Omit ID from auth user payload
  packages/api/src/routes/me.ts
Due: api-changes

Omit JWT_ID from auth user payload
  packages/api/src/routes/me.ts
Due: api-changes

Tidy up useZod
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/server/useZod.ts
Due: api-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@0c8b3950572ef1fb2b2b3c8166a09096ca688dc9 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove fastify-plugin for now
  package-lock.json
  packages/api/package.json
Due: api-changes

Fix linting error in test
  packages/api/src/server/auth/jwtVerify.unit.test.ts
Due: api-changes

Add a test watcher
  packages/api/package.json
Due: api-changes

Fix /me integration test
  packages/api/src/routes/me.integration.test.ts
Due: api-changes

echo TEST_FILES to see how they are formatted
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
