Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Resolve merge conflict
  .eslintrc.js
  .ncurc.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/conductor/.eslintrc.js
  packages/conductor/package.json
  packages/core/.eslintrc.js
  packages/core/package.json
  packages/e2e-test/helpers/MockPNCHelper.ts
  packages/e2e-test/helpers/PNCTestTool.ts
  packages/e2e-test/helpers/PostgresHelper.ts
  packages/e2e-test/package.json
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/e2e-test/utils/healthCheck.ts
  packages/e2e-test/utils/pnc.ts
  packages/e2e-test/utils/puppeteer-utils.ts
  packages/e2e-test/utils/reports.ts
  packages/message-forwarder/.eslintrc.js
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/uat-data/scripts/insert-uat-data.ts
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Remove tests for forcing the result text on to the PNC with **
  packages/e2e-test/features/083-welsh-language-support/input-message.xml
  packages/e2e-test/features/083-welsh-language-support/mock-pnc-responses.ts
  packages/e2e-test/features/083-welsh-language-support/test.feature
  packages/e2e-test/features/298-result-text-different-updates/input-message.xml
  packages/e2e-test/features/298-result-text-different-updates/mock-pnc-responses.ts
  packages/e2e-test/features/298-result-text-different-updates/test.feature
Due: e2e-test-changes

Update import statements to include JSX
  packages/ui/src/components/IndeterminateCheckbox.tsx
  packages/ui/src/components/SearchFilters/TriggerCheckbox.tsx
  packages/ui/src/components/SearchFilters/TriggerGroup.tsx
  packages/ui/src/components/SearchFilters/TriggerGroups.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/LegacySequencingRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatcherRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/LegacySequencingBadgeTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/LegacySequencingMessageTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/OffenceMatcherTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/OffenceMatchingBadgeTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/ResultQualifier.tsx
  packages/ui/src/features/CourtCaseFilters/ColumnOrderIcons.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipContainer.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/ExtraReasonRow.tsx
  packages/ui/src/utils/exceptions/handleAsnForwardSlashes.ts
Due: none

Downgrade React to 18
  eslint.config.mjs
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: none

Add showSkipLink to show/hide skip link
  packages/ui/src/components/FeedbackHeaderLinks.tsx
Due: none

Refactor SwitchingFeedbackPage to reflect new design and add skip link functionality
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Fix bug in createPncDisposalFromOffence
  packages/core/phase3/lib/createPncDisposalFromOffence.test.ts
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
Due: core-changes

Update config to remove React and React-dom folders from UI node_modules as they conflict with root node_modules
  .circleci/continue_config.yml
Due: circleci-changes

Add missing snapshots
  packages/core/phase3/lib/__snapshots__/createPncDisposalFromOffence.test.ts.snap
Due: core-changes

Remove unused code
  packages/ui/src/components/FeedbackHeaderLinks.tsx
  packages/ui/src/components/SwitchingFeedbackHeader/Links.styles.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Update config
  .circleci/continue_config.yml
Due: circleci-changes

add styling to button container
  packages/ui/src/components/SwitchingFeedbackHeader/Links.styles.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Fix path
  .circleci/continue_config.yml
Due: circleci-changes

Fix correlation ID header when updating PNC
  packages/core/lib/PncGateway.ts
Due: core-changes

Add new correlation ID header for PNC query
  packages/core/lib/PncGateway.ts
Due: core-changes

fix failing tests and refactor
  packages/ui/cypress/component/PncException.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/pnc-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-pnc-exceptions.cy.ts
  packages/ui/src/components/Exception/PncException.tsx
Due: none

Add PHASE3_CORE_CANARY_RATIO to run_test_chunk
  packages/e2e-test/scripts/run_test_chunk.sh
Due: e2e-test-changes

Reinstall react and react-dom
  .circleci/continue_config.yml
  package-lock.json
  packages/ui/package.json
Due: circleci-changes

Update email body and target email address in SwitchingFeedbackPage
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Update email body in SwitchingFeedbackPage to request additional details and screenshots
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Remove testing ** in 142 E2E test
  packages/e2e-test/features/142-trigger-reallocation/mock-pnc-responses.ts
  packages/e2e-test/features/142-trigger-reallocation/test.feature
Due: e2e-test-changes

Add test for remandGenerator/generateCourtNameType
  packages/core/phase3/lib/performOperation.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/index.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Update error_resolved_ts when there are no exceptions
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Update styles in SwitchingFeedbackHeader
  packages/ui/src/components/SwitchingFeedbackHeader/Links.styles.tsx
Due: none

Remove unused code
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Refactor feedback form tests and update email link for feedback submission
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
Due: none

wip
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
Due: none

Bug: PNC exceptions don't always include PNC response (#1177)
  packages/ui/cypress/component/PncException.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/pnc-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-pnc-exceptions.cy.ts
  packages/ui/src/components/Exception/PncException.tsx
Due: none

Add ability to update the CSRF token
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/context/CsrfTokenContext.ts
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/ExceptionsList.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/index.tsx
Due: none

Return new CSRF token in the API update call
  packages/ui/src/pages/api/court-cases/[courtCaseId]/update.ts
Due: none

Update the CSRF token in the AutoSave component
  packages/ui/src/components/EditableFields/AutoSave.tsx
Due: none

Always build the worker in CI
  .circleci/continue_config.yml
Due: circleci-changes

Always build the worker in CI (#1189)
  .circleci/continue_config.yml
Due: circleci-changes

Add new correlation ID header for PNC query (#1186)
  packages/core/lib/PncGateway.ts
Due: core-changes

Update the report for CSRF Token
  packages/ui/src/pages/case-details-report.tsx
Due: none

Fix component tests
  packages/ui/cypress/component/AsnField.cy.tsx
  packages/ui/cypress/component/AutoSave.cy.tsx
  packages/ui/cypress/component/OffenceMatcher/SingleCourtCase.cy.tsx
  packages/ui/cypress/component/OffenceMatcher/TwoCourtCases.cy.tsx
Due: none

Update feedback email handling and redirection logic in SwitchingFeedbackPage
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Add endpoint to get new CSRF token
  packages/ui/src/pages/api/refresh-csrf-token.ts
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
