Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

SimpleTable test fix
  packages/ui/cypress/component/reports/SimpleTable.cy.tsx
Due: ui-changes

Added NestedTable component test
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
Due: ui-changes

createReportCsv fix
  packages/ui/src/services/reports/createReportCsv.ts
Due: ui-changes

UserPerformanceDetailDtoSchema fix
  packages/common/types/reports/UserPerformanceDetail.ts
  packages/ui/src/services/reports/createReportCsv.ts
Due: common-changes, ui-changes

Re-added triggers and exceptions properties
  packages/common/types/reports/UserPerformanceDetail.ts
Due: common-changes

Added triggers/excpetions props to DTO
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
Due: api-changes

Refactor
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/common/types/reports/UserPerformanceDetail.ts
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Changed nested logic
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Removed unused var
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Removed unused columns obj
  packages/ui/src/types/reports/Columns.ts
Due: ui-changes

Typo
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Removed unneeded cast
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Test fix
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
Due: ui-changes

Unnecessary assertions
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Removed more unneeded assertions
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

assertion fix
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Refactored test to use generic section id
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Added extra report config structure test
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
Due: ui-changes

Typo
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Bicaws7 4177 UI add report user performance detail (#1983)
  packages/common/types/reports/ReportType.ts
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
  packages/ui/cypress/component/reports/SimpleTable.cy.tsx
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/components/Reports/SimpleTable.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/services/reports/utils/formatGroupName.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: common-changes, ui-changes

Added expandable row
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
  packages/ui/src/components/Reports/ExpandableCell.tsx
  packages/ui/src/components/Reports/ReportTableRow.tsx
Due: ui-changes

Add more LEDS test data
  packages/e2e-test/features/003-stop-list/police-data.after.json
  packages/e2e-test/features/003-stop-list/police-data.before.json
  packages/e2e-test/features/006-judgement-final-result/police-data.after.json
  packages/e2e-test/features/006-judgement-final-result/police-data.before.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.after.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.before.json
  packages/e2e-test/features/014-no-offences-match/police-data.after.json
  packages/e2e-test/features/014-no-offences-match/police-data.before.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.after.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.before.json
  packages/e2e-test/features/019-identical_results_update/police-data.after.json
  packages/e2e-test/features/019-identical_results_update/police-data.before.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.after.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.before.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.after.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.before.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.after.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.before.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.after.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.before.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.before.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.before.json
  packages/e2e-test/features/036-penalty-points/police-data.after.json
  packages/e2e-test/features/036-penalty-points/police-data.before.json
  packages/e2e-test/features/043-dated-warrant/police-data.after.json
  packages/e2e-test/features/043-dated-warrant/police-data.before.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.after.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.before.json
  packages/e2e-test/features/047-result-text-population/police-data.after.json
  packages/e2e-test/features/047-result-text-population/police-data.before.json
  packages/e2e-test/features/048-sentence-dates/police-data.after.json
  packages/e2e-test/features/048-sentence-dates/police-data.before.json
  packages/e2e-test/features/049-curfew-orders/police-data.after.json
  packages/e2e-test/features/049-curfew-orders/police-data.before.json
  packages/e2e-test/features/050-yz-force/police-data.after.json
  packages/e2e-test/features/050-yz-force/police-data.before.json
Due: e2e-test-changes

Format json files
  packages/e2e-test/features/003-stop-list/police-data.after.json
  packages/e2e-test/features/003-stop-list/police-data.before.json
  packages/e2e-test/features/006-judgement-final-result/police-data.after.json
  packages/e2e-test/features/006-judgement-final-result/police-data.before.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.after.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.before.json
  packages/e2e-test/features/014-no-offences-match/police-data.after.json
  packages/e2e-test/features/014-no-offences-match/police-data.before.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.after.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.before.json
  packages/e2e-test/features/019-identical_results_update/police-data.after.json
  packages/e2e-test/features/019-identical_results_update/police-data.before.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.after.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.before.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.after.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.before.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.after.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.before.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.after.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.before.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.before.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.before.json
  packages/e2e-test/features/036-penalty-points/police-data.after.json
  packages/e2e-test/features/036-penalty-points/police-data.before.json
  packages/e2e-test/features/043-dated-warrant/police-data.after.json
  packages/e2e-test/features/043-dated-warrant/police-data.before.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.after.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.before.json
  packages/e2e-test/features/047-result-text-population/police-data.after.json
  packages/e2e-test/features/047-result-text-population/police-data.before.json
  packages/e2e-test/features/048-sentence-dates/police-data.after.json
  packages/e2e-test/features/048-sentence-dates/police-data.before.json
  packages/e2e-test/features/049-curfew-orders/police-data.after.json
  packages/e2e-test/features/049-curfew-orders/police-data.before.json
  packages/e2e-test/features/050-yz-force/police-data.after.json
  packages/e2e-test/features/050-yz-force/police-data.before.json
Due: e2e-test-changes

Add more LEDS tests
  packages/e2e-test/features/040-user-performance-report/test.feature
  packages/e2e-test/features/054-duration-unit-session/police-data.after.json
  packages/e2e-test/features/054-duration-unit-session/police-data.before.json
  packages/e2e-test/features/057-judgement-with-final-result/police-data.after.json
  packages/e2e-test/features/057-judgement-with-final-result/police-data.before.json
  packages/e2e-test/features/058-next-hearing-court/police-data.after.json
  packages/e2e-test/features/058-next-hearing-court/police-data.before.json
  packages/e2e-test/features/065-rcc-segment/police-data.after.json
  packages/e2e-test/features/065-rcc-segment/police-data.before.json
  packages/e2e-test/features/068-three-ccr-groups/test.feature
  packages/e2e-test/features/069-more-than-three-ccr-groups/input-message.xml
  packages/e2e-test/features/069-more-than-three-ccr-groups/mock-pnc-responses.ts
  packages/e2e-test/features/069-more-than-three-ccr-groups/pnc-data.xml
  packages/e2e-test/features/069-more-than-three-ccr-groups/police-data.after.json
  packages/e2e-test/features/069-more-than-three-ccr-groups/police-data.before.json
  packages/e2e-test/features/069-more-than-three-ccr-groups/test.feature
Due: e2e-test-changes

Use court code when mapping spi to court cases
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/mapSpiToCourtCases.ts
Due: e2e-test-changes

Fix test 115 before and after data
  packages/e2e-test/features/115-withdrawn-dismissed-offences/police-data.after.json
  packages/e2e-test/features/115-withdrawn-dismissed-offences/police-data.before.json
Due: e2e-test-changes

Update test features
  packages/e2e-test/features/041-trigger-report/test.feature
  packages/e2e-test/features/142-trigger-reallocation/test.feature
  packages/e2e-test/features/142a-trigger-reallocation/test.feature
Due: e2e-test-changes

Update LEDS tests against mock API to support multiple court cases
  packages/e2e-test/features/069-more-than-three-ccr-groups/mock-pnc-responses.ts
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/types/PncMock.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Update test 149a to use json format
  packages/e2e-test/features/149a-pnc-force-owner/mock-pnc-responses.ts
Due: e2e-test-changes

Added show less test
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
Due: ui-changes

Replace xml with JSON and remove optional expectedRequest field from mockUpdate
  packages/e2e-test/features/113b-1508-pnc-error/mock-pnc-responses.ts
  packages/e2e-test/features/142a-trigger-reallocation/mock-pnc-responses.ts
  packages/e2e-test/features/441-phase-2-resubmission/mock-pnc-responses.ts
  packages/e2e-test/features/442-phase-2-reallocation/mock-pnc-responses.ts
Due: e2e-test-changes

Updated column mapper function name
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Updated csv generation for nested table
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/utils/reports/getMappedColumn.test.ts
  packages/ui/src/utils/reports/getMappedColumns.ts
Due: ui-changes

Fix personUrn
  packages/e2e-test/features/142a-trigger-reallocation/mock-pnc-responses.ts
Due: e2e-test-changes

Updated mapping to use fullName if available
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
Due: api-changes

Fix typo on a tag to exclude running against pnc
  packages/e2e-test/features/142a-trigger-reallocation/test.feature
Due: e2e-test-changes

CSV download refactor
  packages/ui/src/services/reports/createReportCsv.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
