Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@3e97b3568c8ea5d04cb6d6807661d4a24222fc54 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add intentional difference for HO200114 over HO200113
  packages/core/comparison/lib/isIntentionalDifference/ho200114InsteadOfHo200113.ts
  packages/core/comparison/lib/isIntentionalDifference/index.ts
  packages/core/comparison/lib/summariseMatching.ts
Due: core-changes

Add intentional difference for HO200114 over HO200113 (#1037)
  packages/core/comparison/lib/isIntentionalDifference/ho200114InsteadOfHo200113.ts
  packages/core/comparison/lib/isIntentionalDifference/index.ts
  packages/core/comparison/lib/summariseMatching.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@5b9fcedf38b4ed5a1f9c961198d8c5ac910e3f10 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove API Key in auth schema
  packages/api/src/server/schemas/auth.ts
  packages/api/src/server/schemas/auth.unit.test.ts
Due: api-changes

Add common package to Dockerfile
  packages/ui/Dockerfile
Due: none

Refactor import paths for UserGroup in UI code
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/services/entities/User.ts
  packages/ui/src/services/getUser.ts
  packages/ui/src/utils/userPermissions.ts
  packages/ui/test/helpers/hasAccessTo.ts
  packages/ui/test/services/updateLockStatusToLocked.integration.test.ts
  packages/ui/test/services/updateLockStatusToUnlocked.integration.test.ts
  packages/ui/test/services/userPermissions.test.ts
  packages/ui/test/utils/insertLockUsers.ts
Due: none

Remove UserGroup enum from UI code
  packages/ui/src/types/UserGroup.ts
Due: none

Remove esbuild from API
  package-lock.json
  packages/api/Dockerfile
  packages/api/build.ts
  packages/api/package.json
Due: api-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@a691283ef4e463c00a8d808ac0587e6b677b1ca2 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix goss for the new Node version
  packages/api/goss.yaml
  packages/conductor/goss.yaml
Due: api-changes, conductor-changes

wip
  packages/ui/test/services/getUser.integration.test.ts
Due: none

Remove npm script esbuild from API
  packages/api/package.json
Due: api-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@dd52725b4cbdebba02069bd75bf3e0615ae4a69f 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Refactor error handling
  packages/api/src/tests/testGateways/e2ePostgresGateway/insertUser.unit.test.ts
Due: api-changes

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

wip
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/services/getUser.ts
  packages/ui/test/services/getUser.integration.test.ts
  packages/ui/test/utils/manageUsers.ts
Due: none

Add insertCase function
  packages/api/src/tests/testGateways/e2ePostgresGateway.ts
  packages/api/src/tests/testGateways/e2ePostgresGateway/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgresGateway/insertCase.unit.test.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Update standing data dependency (#1043)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ce9841de12d61efb0474d829a8624abf828620d7 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

fix imports and update dockerfile and circle ci config
  .circleci/continue_config.yml
  package.json
  packages/ui/Dockerfile
  packages/ui/src/services/dto/courtCaseDto.ts
  packages/ui/src/services/entities/User.ts
  packages/ui/test/helpers/hasAccessTo.ts
  packages/ui/test/services/updateLockStatusToLocked.integration.test.ts
  packages/ui/test/services/updateLockStatusToUnlocked.integration.test.ts
Due: circleci-changes

fix test
  packages/ui/src/services/getUser.ts
  packages/ui/test/services/getUser.integration.test.ts
Due: none

fix import
  packages/ui/test/services/userPermissions.test.ts
Due: none

WIP
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/src/types/Permission.ts
  packages/ui/src/utils/userPermissions.ts
Due: api-changes

fix imports and permission logic
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/common/types/Permission.ts
  packages/common/utils/userPermissions.ts
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/component/HearingResult.cy.tsx
  packages/ui/cypress/component/PncDetails.cy.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/services/entities/CourtCase.ts
  packages/ui/src/services/entities/User.ts
Due: api-changes, common-changes

add permission for resubmission
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/src/types/Permission.ts
  packages/ui/src/types/UserGroup.ts
  packages/ui/src/utils/userPermissions.ts
Due: api-changes

fix import for permissions
  packages/ui/src/components/Layout.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilter.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntry.tsx
  packages/ui/src/services/entities/User.ts
  packages/ui/src/services/filters/filterByReasonAndResolutionStatus.ts
  packages/ui/src/services/listCourtCases.ts
  packages/ui/src/services/reports/getCourtCasesForCaseDetailsReport.ts
  packages/ui/src/services/updateLockStatusToLocked.ts
  packages/ui/src/services/updateLockStatusToUnlocked.ts
  packages/ui/src/utils/validateQueryParams.ts
Due: none

fix lint error
  packages/ui/test/services/getUser.integration.test.ts
Due: none

Refactor getUser service to sanitise group name
  packages/ui/src/services/getUser.ts
Due: none

Create create case helper
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/testGateways/e2ePostgresGateway/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgresGateway/insertCase.unit.test.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Update query
  packages/ui/src/services/queries/leftJoinAndSelectTriggersQuery.ts
Due: none

Add resubmit e2e test
  packages/api/src/routes/cases/resubmit.e2e.test.ts
Due: api-changes

@typescript-eslint/eslint-plugin supports TypeScript v6
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@58d7b2295fac1c82ce7c5459d42b101f027d6767 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@7c2f18f005be86a79981ed50268cad584ac56fa7 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove crypto package, use node's
  package-lock.json
  packages/api/package.json
Due: api-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@945d97069227e4b12dc1f856186c36747ce18ae5 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove uuid package and use Node's crypto
  package-lock.json
  packages/core/characterisation-tests/helpers/processMessageBichard.ts
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/ui/scripts/utility/resolve-triggers/generateAuditLogEvents.ts
  packages/ui/test/helpers/createAuditLog.ts
  packages/ui/test/helpers/createDummyCase.ts
  packages/ui/test/services/addNote.integration.test.ts
  packages/ui/test/services/reallocateCourtCase/updateCourtCase.integration.test.ts
  packages/ui/test/services/reallocateCourtCase/updateTriggers.integration.test.ts
  packages/ui/test/services/storeAuditLogEvents.integration.test.ts
  packages/ui/test/utils/insertCourtCases.ts
Due: core-changes, e2e-test-changes, characterisation-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
