Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Update renamed types
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.unit.test.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

bypass pagination for download button
  packages/ui/src/components/DownloadButton.tsx
  packages/ui/src/services/listCourtCases.ts
Due: none

disable download button while downloading
  packages/ui/src/components/DownloadButton.tsx
Due: none

move pagination bypass to backend
  packages/ui/src/components/DownloadButton.tsx
  packages/ui/src/pages/api/reports/[reportType]/index.ts
  packages/ui/src/services/listCourtCases.ts
  packages/ui/src/services/listCourtCasesConfig.ts
Due: none

fix test description
  packages/ui/src/utils/reports/createCaseListReportLines.test.ts
Due: none

add court date to test data
  packages/ui/src/utils/reports/createCaseListReportLines.test.ts
Due: none

change listCourtCases config depending on report type
  packages/ui/src/pages/api/reports/[reportType]/index.ts
Due: none

Rename CaseRow to FullCaseRow
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.unit.test.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Rename Case to PartialCaseRow
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/useCases/dto/convertCaseDBToDTO.ts
  packages/api/src/useCases/dto/fetchCaseDTO.unit.test.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.unit.test.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Rename convertCaseDBtoDTO to convertCaseRowToDto
  packages/api/src/useCases/dto/convertCaseDBToDTO.ts
  packages/api/src/useCases/dto/convertCaseRowToDto.ts
  packages/api/src/useCases/dto/fetchCaseDTO.ts
Due: api-changes

Refactor VersionedEndpoints to be simpler
  packages/api/src/endpoints/versionedEndpoints.ts
  packages/api/src/plugins/v1/health/plugin.e2e.test.ts
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/plugins/v1/health/plugin.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
Due: api-changes

Refactor VersionedEndpoints to be simpler (#1243)
  packages/api/src/endpoints/versionedEndpoints.ts
  packages/api/src/plugins/v1/health/plugin.e2e.test.ts
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/plugins/v1/health/plugin.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
Due: api-changes

Generate the errorLockedByUserFullName and triggerLockedByUserFullName from DB (#1231)
  package-lock.json
  packages/api/package.json
  packages/api/src/routes/v1/cases/case.e2e.test.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchFullCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/users/fetchUserByUsername.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertCase.unit.test.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.ts
  packages/api/src/useCases/dto/convertCaseDBToDTO.ts
  packages/api/src/useCases/dto/convertCaseRowToDto.ts
  packages/api/src/useCases/dto/fetchCaseDTO.ts
  packages/api/src/useCases/dto/fetchCaseDTO.unit.test.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.unit.test.ts
  packages/common/types/Case.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

only show download button to supervisors
  packages/ui/cypress/e2e/case-list/downloadReport.cy.ts
  packages/ui/src/components/DownloadButton.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.styles.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

Update characterisation tests to allow custom PNC API errors
  packages/core/characterisation-tests/helpers/mockRecordInPnc.ts
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageBichard.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100301
  packages/core/characterisation-tests/exceptions/HO100301.test.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100313
  packages/core/characterisation-tests/exceptions/HO100313.test.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100302
  packages/core/characterisation-tests/exceptions/HO100302.test.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100314
  packages/core/characterisation-tests/exceptions/HO100314.test.ts
Due: core-changes, characterisation-test-changes

Update characterisation tests to support Phase 3
  package.json
  packages/core/characterisation-tests/helpers/generatePhase2Message.ts
  packages/core/characterisation-tests/helpers/generatePhase3Message.ts
  packages/core/characterisation-tests/helpers/mockRecordInPnc.ts
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageBichard.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/characterisation-tests/jest.d.ts
  packages/core/characterisation-tests/jest.setup.ts
  packages/core/characterisation-tests/test-data/Phase2Message.xml.njk
  packages/core/characterisation-tests/triggers/TRPS0010.test.ts
  packages/core/package.json
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100315
  packages/core/characterisation-tests/exceptions/HO100315.test.ts
Due: core-changes, characterisation-test-changes

Add CircleCI job to run Phase 3 characterisation tests for legacy Bichard
  .circleci/continue_config.yml
Due: circleci-changes

Add characterisation test for HO100401
  packages/core/characterisation-tests/exceptions/HO100401.test.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100404
  packages/core/characterisation-tests/exceptions/HO100404.test.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100403
  packages/core/characterisation-tests/exceptions/HO100403.test.ts
Due: core-changes, characterisation-test-changes

Add characterisation test for HO100402
  packages/core/characterisation-tests/exceptions/HO100402.test.ts
Due: core-changes, characterisation-test-changes

Refactor setup for characterisation tests
  packages/core/characterisation-tests/helpers/generateMessage.ts
  packages/core/characterisation-tests/helpers/generatePhase3Message.ts
  packages/core/characterisation-tests/helpers/mockRecordInPnc.ts
  packages/core/characterisation-tests/helpers/processMessageBichard.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/characterisation-tests/test-data/Phase2Message.xml.njk
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
Due: core-changes, characterisation-test-changes

Add characterisation tests for PNC exceptions (#1244)
  .circleci/continue_config.yml
  package.json
  packages/core/characterisation-tests/exceptions/HO100301.test.ts
  packages/core/characterisation-tests/exceptions/HO100302.test.ts
  packages/core/characterisation-tests/exceptions/HO100313.test.ts
  packages/core/characterisation-tests/exceptions/HO100314.test.ts
  packages/core/characterisation-tests/exceptions/HO100315.test.ts
  packages/core/characterisation-tests/exceptions/HO100401.test.ts
  packages/core/characterisation-tests/exceptions/HO100402.test.ts
  packages/core/characterisation-tests/exceptions/HO100403.test.ts
  packages/core/characterisation-tests/exceptions/HO100404.test.ts
  packages/core/characterisation-tests/helpers/generateMessage.ts
  packages/core/characterisation-tests/helpers/generatePhase2Message.ts
  packages/core/characterisation-tests/helpers/generatePhase3Message.ts
  packages/core/characterisation-tests/helpers/mockRecordInPnc.ts
  packages/core/characterisation-tests/helpers/processMessage.ts
  packages/core/characterisation-tests/helpers/processMessageBichard.ts
  packages/core/characterisation-tests/helpers/processMessageCore.ts
  packages/core/characterisation-tests/jest.d.ts
  packages/core/characterisation-tests/jest.setup.ts
  packages/core/characterisation-tests/test-data/Phase2Message.xml.njk
  packages/core/characterisation-tests/triggers/TRPS0010.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/package.json
Due: circleci-changes, core-changes, characterisation-test-changes

use conditional renders in CourtCaseFilterWrapper
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

Load Notes and Triggers into Case
  packages/api/src/app.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/users/fetchUserByUsername.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/jwtHelper.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.unit.test.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.unit.test.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/src/useCases/dto/convertCaseRowToDto.ts
  packages/api/src/useCases/dto/convertNoteRowToDto.ts
  packages/api/src/useCases/dto/convertTriggerRowToDto.ts
  packages/api/src/useCases/dto/convertUserRowToDto.ts
  packages/api/src/useCases/dto/fetchCaseDTO.ts
  packages/api/src/useCases/dto/fetchCaseDTO.unit.test.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.unit.test.ts
  packages/common/schemas/dateLikeToDate.ts
  packages/common/types/Case.ts
  packages/common/types/Note.ts
  packages/common/types/Trigger.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

Update documentation for characterisation tests
  packages/core/README.md
  packages/e2e-test/README.md
  packages/e2e-test/package.json
Due: core-changes, e2e-test-changes

Fix case sensitive import
  packages/api/src/useCases/dto/convertTriggerRowToDto.ts
Due: api-changes

Update documentation for characterisation tests (#1246)
  packages/core/README.md
  packages/e2e-test/README.md
  packages/e2e-test/package.json
Due: core-changes, e2e-test-changes

Update standing data dependency
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Add court PNCID to defendant details
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/DefendantDetails.tsx
Due: none

Load Notes and Triggers into Case (#1247)
  packages/api/src/app.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/cases/fetchCase.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/users/fetchUserByUsername.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/jwtHelper.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUser.unit.test.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.ts
  packages/api/src/tests/testGateways/e2ePostgres/insertUserIntoGroup.unit.test.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/src/useCases/dto/convertCaseRowToDto.ts
  packages/api/src/useCases/dto/convertNoteRowToDto.ts
  packages/api/src/useCases/dto/convertTriggerRowToDto.ts
  packages/api/src/useCases/dto/convertUserRowToDto.ts
  packages/api/src/useCases/dto/fetchCaseDTO.ts
  packages/api/src/useCases/dto/fetchCaseDTO.unit.test.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.ts
  packages/api/src/useCases/dto/resolutionStatusFromCaseDB.unit.test.ts
  packages/common/schemas/dateLikeToDate.ts
  packages/common/types/Case.ts
  packages/common/types/Note.ts
  packages/common/types/Trigger.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

handle error in report download
  packages/ui/src/components/DownloadButton.tsx
  packages/ui/src/pages/api/reports/[reportType]/index.ts
Due: none

require user to be supervisor to use api route
  packages/ui/cypress/e2e/api/reports/getReports.cy.ts
  packages/ui/src/pages/api/reports/[reportType]/index.ts
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
