Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Remove remaining table-rows (#1500)
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/LegacySequencingRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatcherRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/LegacySequencingBadgeRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/LegacySequencingMessageRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/OffenceMatcherRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/Rows/OffenceMatchingBadgeRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatching.tsx
Due: none

Update README.md
  README.md
Due: none

Update readme instructions (#1501)
  README.md
Due: none

Remove e2etests from boot.sh
  environment/boot.sh
Due: env-changes

Remove e2etests from boot.sh (#1502)
  environment/boot.sh
Due: env-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Update standing data dependency (#1503)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes

Add remove event handler
  packages/ui/src/components/Buttons/RefreshButton.tsx
Due: none

Add a shutdown hook for graceful exit
  packages/ui/src/services/getDataSource.ts
Due: none

Fix pagination
  packages/ui/src/components/Buttons/RefreshButton.tsx
Due: none

Fix Sonar issues
  packages/ui/src/services/getDataSource.ts
Due: none

Fix component test
  packages/ui/src/components/Buttons/RefreshButton.tsx
Due: none

Add a seed script for adding irene to the database
  environment/postgres/liquibase/seeds/base/011_add_irene.sql
Due: env-changes

Increase DB connections
  packages/ui/src/services/getDataSource.ts
Due: none

Add a seed script for adding irene to the database (#1506)
  environment/postgres/liquibase/seeds/base/011_add_irene.sql
Due: env-changes

Set the connections to 1 if in test env
  packages/ui/src/services/getDataSource.ts
Due: none

Match the DB connections in UI to API
  packages/api/src/services/gateways/database/postgresFactory.ts
Due: api-changes

Only have 1 DB connection Cypress
  packages/ui/src/services/getDataSource.ts
Due: none

Update E2E step to clear LEDS mocks
  packages/e2e-test/utils/leds.ts
Due: e2e-test-changes

Add E2E step for stubbing LEDS simulator enquiry API endpoint
  packages/e2e-test/features/000-spike/mock-leds-responses.ts
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/leds.ts
  packages/e2e-test/utils/ledsMocks.ts
  packages/e2e-test/utils/pncMocks.ts
Due: e2e-test-changes

Add E2E test for spike
  packages/e2e-test/features/000-spike/input-message.xml
  packages/e2e-test/features/000-spike/pnc-data.xml
  packages/e2e-test/features/000-spike/test.feature
Due: e2e-test-changes

Add simulator for LEDS using MockServer
  environment/docker-compose.yml
Due: env-changes

Add LEDS gateway for Phase 1
  packages/core/conductor-tasks/bichard_phase_1/processPhase1.ts
  packages/core/lib/leds/LedsGateway.ts
  packages/core/lib/leds/createLedsApiConfig.ts
  packages/core/schemas/ledsApiResult.ts
  packages/core/types/LedsApiConfig.ts
  packages/core/types/LedsApiResult.ts
Due: core-changes

Update mock enquiry for LEDS API response
  packages/e2e-test/utils/ledsMocks.ts
Due: e2e-test-changes

Build Core for building E2E tests
  package.json
Due: none

Update the diagram from PR comments
  docs/architecture/workspace.dsl
  docs/architecture/workspace.json
Due: none

Fix listener
  packages/ui/src/components/Buttons/RefreshButton.tsx
Due: none

Update the Architecture diagrams (#1476)
  docs/architecture/assets/diagrams/HybridBichard.png
  docs/architecture/workspace.dsl
  docs/architecture/workspace.json
Due: none

Remove nextRouterChanged state
  packages/ui/src/components/Buttons/RefreshButton.tsx
Due: none

Check user has psql installed and prompt install
  packages/cli/utils/testDbConnection.ts
Due: none

Update README to instuct on how to update api key
  packages/cli/README.md
Due: none

Use update deps for cli tool
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

Add cli to the array of workspaces
  package.json
  packages/cli/package.json
Due: none

Fix linting issues
  packages/cli/commands/user-comms/index.ts
  packages/cli/commands/user-comms/utils/getUsersFromDb.ts
  packages/cli/commands/user-comms/utils/prepareComms.ts
  packages/cli/commands/user-comms/utils/sendUserComms.ts
  packages/cli/utils/testDbConnection.ts
  packages/e2e-test/helpers/IncomingMessageBucket.ts
Due: e2e-test-changes

Add clean command to package.json in cli
  package-lock.json
  packages/cli/package.json
Due: none

Remove console log
  packages/api/src/services/parseHearingOutcome.unit.test.ts
Due: api-changes

Fix test config
  packages/api/src/tests/helpers/dynamoDbConfig.ts
Due: api-changes

Add missing check
  packages/api/src/useCases/cases/lockExceptions.ts
Due: api-changes

Fix logging attempts
  packages/api/src/useCases/createAuditLogEvents.ts
Due: api-changes
