Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

Remove HO200110 test from checkNoSequenceConditions tests
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.test.ts
Due: core-changes

Get API working docker (with swagger)
  package-lock.json
  packages/api/Dockerfile
  packages/api/build.js
  packages/api/build.ts
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/plugins/health/plugin.ts
Due: api-changes

Enable docker builds; boot up from docker compose
  buildspec.yml
  environment/docker-compose.yml
Due: env-changes

Disable API building as it isn't in ECR
  environment/docker-compose.yml
Due: env-changes

We don't need to have options as a function
  packages/api/src/plugins/health/plugin.ts
Due: api-changes

Fix a HO200110 test
  packages/core/phase2/exceptions/HO200110.test.ts
Due: core-changes

Add HO200110 (#962)
  packages/core/phase2/exceptions/HO200110.test.ts
  packages/core/phase2/exceptions/HO200110.ts
  packages/core/phase2/exceptions/HO200212.ts
  packages/core/phase2/exceptions/generateExceptions.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.test.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@6989f74c4ca5ec5ee1051458f337de3fd15be8f2 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add HO200212
  packages/core/phase2/exceptions/HO200212.test.ts
  packages/core/phase2/exceptions/HO200212.ts
  packages/core/phase2/lib/allPncOffencesContainResults.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Refactor out code that makes reading easier
  packages/api/src/app.ts
  packages/api/src/server/createFastify.ts
  packages/api/src/server/logger.ts
  packages/api/src/server/setupSwagger.ts
Due: api-changes

Add HO200212 (#965)
  packages/core/phase2/exceptions/HO200212.test.ts
  packages/core/phase2/exceptions/HO200212.ts
  packages/core/phase2/lib/allPncOffencesContainResults.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@fea6722a0faa08c8087ca444d245797eee9f03a0 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add tags and description
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/hello/route.ts
  packages/api/src/server/setupSwagger.ts
Due: api-changes

add logic to exception file and remove old logic
  packages/core/phase2/exceptions/HO200116.test.ts
  packages/core/phase2/exceptions/HO200116.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
Due: core-changes

add tests
  packages/core/phase2/exceptions/HO200116.test.ts
Due: core-changes

Remove HO200116 test from checkNoSequenceConditions
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.test.ts
Due: core-changes

Refactor HO200116 tests
  packages/core/phase2/exceptions/HO200116.test.ts
Due: core-changes

Add constant for maximum allowable offences in HO200116
  packages/core/phase2/exceptions/HO200116.ts
Due: core-changes

Add HO200116 exception generator (#964)
  packages/core/phase2/exceptions/HO200116.test.ts
  packages/core/phase2/exceptions/HO200116.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.test.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@e152c6668d3073fee69a4d8399890b156967d7ef 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#963)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@d6a0758e8ad0661c75eaada1f46a062979406985 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add HO200117 exception generator
  packages/core/phase2/exceptions/HO200117.test.ts
  packages/core/phase2/exceptions/HO200117.ts
Due: core-changes

Remove checkNoSequenceConditions function
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.test.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
Due: core-changes

Update test descriptions for HO200116 exception generator
  packages/core/phase2/exceptions/HO200116.test.ts
Due: core-changes

Add HO200117 exception generator (#966)
  packages/core/phase2/exceptions/HO200116.test.ts
  packages/core/phase2/exceptions/HO200117.test.ts
  packages/core/phase2/exceptions/HO200117.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.test.ts
  packages/core/phase2/lib/getOperationSequence/checkNoSequenceConditions.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@14a20b3b3bcc84a2b7b61b493f5721d28e673fb2 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update README
  packages/api/README.md
Due: api-changes

Make Zod errors nicer
  packages/api/src/app.ts
  packages/api/src/server/setupZod.ts
Due: api-changes

Add JWT auth for swagger docs
  packages/api/src/server/setupSwagger.ts
Due: api-changes

Implement the start of JWT Authorization
  packages/api/src/app.ts
  packages/api/src/server/jwtParser.ts
  packages/api/src/server/jwtVerify.ts
Due: api-changes

Add JWT restriction to the example hello route
  packages/api/src/routes/hello/route.ts
Due: api-changes

Add TODOs
  packages/api/src/app.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/server/jwtVerify.ts
  packages/api/src/server/setupSwagger.ts
  packages/api/src/services/DatabaseConfig.ts
Due: api-changes

Update standing data dependency (#969)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@2e7a3c544e09705d87107ad8660efbfe888ba322 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Set up DB access and add user object to request context
  package-lock.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/routes/hello/route.ts
  packages/api/src/server/jwtParser.ts
  packages/api/src/server/jwtVerify.ts
  packages/api/src/services/DatabaseConfig.ts
  packages/api/src/services/fetchUserByUsername.ts
  packages/common/types/JWT.ts
  packages/common/types/User.ts
  packages/common/types/UserGroup.ts
Due: api-changes, common-changes

Update phase2 to use generateOperations
  packages/core/phase2/phase2.ts
Due: core-changes

Add validating operations test for generateOperations
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
Due: core-changes
