Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add User Performance Summary Report to B7 API (#1960)
  packages/api/docker/conf/supervisord.conf
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.ts
  packages/api/src/services/db/checkDbConnectivity.ts
  packages/api/src/tests/helpers/triggerHelper.ts
  packages/api/src/types/reports/UserSummary.ts
  packages/api/src/useCases/cases/reports/usersSummary/generateUserPerformanceSummaryReport.ts
  packages/api/src/useCases/cases/reports/usersSummary/generateUserPerformanceSummaryReport.unit.test.ts
  packages/api/src/useCases/cases/reports/usersSummary/processUserPerformanceSummaryReport.ts
  packages/api/src/useCases/cases/reports/usersSummary/processUserPerformanceSummaryReport.unit.test.ts
  packages/api/src/useCases/checkConnectivity.integration.test.ts
  packages/api/src/useCases/dto/reports/convertRowToUserForPerformanceSummaryDto.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/UserSummaryReportQuery.ts
  packages/common/types/reports/ReportType.ts
  packages/common/types/reports/UserPerformanceSummary.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/types/reports/Config.ts
Due: api-changes, common-changes, ui-changes

update aws-sdk to 3.1041.0
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

Don't include all report types in map
  packages/common/types/reports/ReportType.ts
Due: common-changes

update fast-xml-parser to 5.7.2
  packages/common/package.json
  packages/core/package.json
  packages/e2e-test/package.json
Due: common-changes, core-changes, e2e-test-changes

update package-lock for fast-xml-parser
  package-lock.json
Due: none

Fix Type errors
  packages/api/src/useCases/cases/reports/utils/createReportAuditLog.ts
  packages/common/types/reports/ReportType.ts
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/api/reports/index.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/utils/csvFilename.ts
  packages/ui/src/types/reports/Config.ts
Due: api-changes, common-changes, ui-changes

minor package bumps in user service
  package-lock.json
  packages/user-service/package.json
Due: user-service-changes

bump ui packages
  package-lock.json
  packages/ui/package.json
Due: ui-changes

minor package bumps
  package-lock.json
  packages/common/package.json
  packages/core/package.json
  packages/e2e-test/package.json
Due: common-changes, core-changes, e2e-test-changes

bump zod
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

Don't include all report types in map (#1967)
  packages/api/src/useCases/cases/reports/utils/createReportAuditLog.ts
  packages/common/types/reports/ReportType.ts
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/api/reports/index.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/utils/csvFilename.ts
  packages/ui/src/types/reports/Config.ts
Due: api-changes, common-changes, ui-changes

Update NPM dependencies (Manual ver.) (#1966)
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Add Map for fast access to Codes and Descriptions
  packages/api/src/useCases/data/getExceptionDescriptionMap.ts
  packages/api/src/useCases/data/getTriggerDescriptionMap.ts
Due: api-changes

Fall back to report type if it's present in the map
  packages/api/src/useCases/cases/reports/utils/createReportAuditLog.ts
Due: api-changes

Add User Performance Detail Report
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.ts
  packages/api/src/services/db/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceDetail.ts
  packages/api/src/types/reports/UserDetail.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.unit.test.ts
  packages/api/src/useCases/cases/reports/usersDetail/processUserPerformanceDetail.ts
  packages/api/src/useCases/cases/reports/usersDetail/processUserPerformanceDetail.unit.test.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.unit.test.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/UserPerformanceDetailReportQuery.ts
  packages/common/types/reports/ReportType.ts
  packages/common/types/reports/UserPerformanceDetail.ts
Due: api-changes, common-changes

TypeScript6 compilation requires a rootDir to be specified
  packages/cli/tsconfig.json
Due: none

TypeScript6 compilation requires a rootDir to be specified (#1970)
  packages/cli/tsconfig.json
Due: none

Add User Performance Detail report to API (#1971)
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/routes/v1/cases/reports/userPerformanceDetail.ts
  packages/api/src/services/db/cases/reports/userPerformanceDetail.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceDetail.ts
  packages/api/src/types/reports/UserDetail.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.ts
  packages/api/src/useCases/cases/reports/usersDetail/generateUserPerformanceDetailReport.unit.test.ts
  packages/api/src/useCases/cases/reports/usersDetail/processUserPerformanceDetail.ts
  packages/api/src/useCases/cases/reports/usersDetail/processUserPerformanceDetail.unit.test.ts
  packages/api/src/useCases/cases/reports/utils/createReportAuditLog.ts
  packages/api/src/useCases/data/getExceptionDescriptionMap.ts
  packages/api/src/useCases/data/getTriggerDescriptionMap.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.unit.test.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/UserPerformanceDetailReportQuery.ts
  packages/common/types/reports/ReportType.ts
  packages/common/types/reports/UserPerformanceDetail.ts
Due: api-changes, common-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#1972)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#1973)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Added XLSX download logging
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Refactor
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/reducers/filters.ts
  packages/ui/src/types/reports/ReportSelectionFilter.ts
Due: ui-changes

state fix
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Error messages now cleared when report type changed
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/reducers/filters.ts
Due: ui-changes

Updated test desc
  packages/ui/cypress/e2e/reports/automation-rate.api.cy.ts
  packages/ui/cypress/e2e/reports/top-exceptions.api.cy.ts
Due: ui-changes

Removed redundant call
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Validation fix
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

bump next, react, react-dom
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

test refactor
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/reducers/filters.ts
  packages/ui/src/types/reports/ReportSelectionFilter.ts
Due: ui-changes

Remove type MockAsnQueryResponse from expectedRequest field
  packages/e2e-test/types/PncMock.ts
Due: e2e-test-changes

Change MockAsnQueryParams response type from string to MockAsnQueryResponse and MockAsnQueryErrorResponse
  packages/e2e-test/types/PoliceApi.ts
Due: e2e-test-changes

Update generateAsnQuery function to convert mockJson to ledsJson
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsAsnQueryResponseToXml.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertAsnQueryResponseMockJsonToLeds.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
Due: e2e-test-changes

Remove asnQueryResponse operation as it is not relevant at this level
  packages/e2e-test/utils/converters/convertMockJsonToLeds/index.ts
Due: e2e-test-changes

Update mockAsnQuery function to convert mockJson to xml
  packages/e2e-test/utils/PncApi/PncApi.ts
Due: e2e-test-changes

Updated test var name
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
Due: ui-changes

bump next, react, react-dom (#1974)
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Removed api tag from tests, added href check
  packages/ui/cypress/e2e/reports/automation-rate.cy.ts
  packages/ui/cypress/e2e/reports/top-exceptions.cy.ts
Due: ui-changes

Fix search for locks
  packages/api/src/routes/v1/cases/reports/userPerformanceSummary.integration.test.ts
  packages/api/src/services/db/cases/reports/userPerformanceSummary.ts
Due: api-changes
