Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

More aggressive cache busting
  .circleci/scripts/run-infrastructure.sh
Due: circleci-changes

Added search by org unit to common
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
Due: api-changes, common-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#2012)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Test API in CircleCI without building API image and improve DLC (#2010)
  .circleci/continue_config.yml
  .circleci/scripts/run-infrastructure.sh
Due: circleci-changes

Conductor worker isn't detected by goss as healthy - goss_wait fails to pass.
  scripts/build-core-worker-docker.sh
Due: none

Extract the proxied host from incoming request to determine which domain name users are accessing the system via
  packages/user-service/src/lib/getAuditLogger/getHostFromRequest.ts
  packages/user-service/test/lib/getAuditLogger/getHostFromRequest.test.ts
Due: user-service-changes

Record user's host when logging in
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/useCases/authenticate.ts
  packages/user-service/test/useCases/authenticateUser.integration.test.ts
Due: user-service-changes

tmp
  .husky/pre-commit
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/src/pages/api/organisation-units.ts
  packages/ui/src/services/searchCourtOrganisationUnits.ts
Due: api-changes, ui-changes

husky
  .husky/pre-commit
Due: none

Change log level
  scripts/build-core-worker-docker.sh
Due: none

Move node version check to goss from goss wait
  packages/conductor/goss.yaml
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Add debug command
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Change to simple test (to see if it passes)
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Remove DLC
  .circleci/continue_config.yml
  .circleci/scripts/run-infrastructure.sh
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
Due: circleci-changes

Reinstate node check
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Add process check to normal goss
  packages/conductor/goss.yaml
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Change to node 20 for testing
  packages/conductor/Dockerfile
  scripts/build-core-worker-docker.sh
Due: conductor-changes

Check for node using proc directory
  packages/conductor/Dockerfile
  packages/conductor/goss.yaml
  packages/conductor/goss_wait.yaml
  scripts/build-core-worker-docker.sh
Due: conductor-changes

Renamed
  packages/conductor/goss.yaml
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Made checks codebuild only again
  scripts/build-core-worker-docker.sh
Due: none

Move API goss checks
  buildspec.yml
  packages/api/goss.yaml
  packages/api/goss_wait.yaml
Due: api-changes

Check for supervisord program status over node process running
  packages/api/goss.yaml
  packages/api/goss_wait.yaml
Due: api-changes

Updated seed-data xml to include a next NextResultSourceOrganisation
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/ui/test/test-data/AnnotatedHOTemplate.xml
Due: api-changes, ui-changes

Missing leds
  .circleci/continue_config.yml
Due: circleci-changes

Moved test to common
  packages/common/utils/searchCourtOrganisationUnits.test.ts
Due: common-changes

Check for supervisord program status or cmdline over node process running
  buildspec.yml
  packages/message-forwarder/goss.yaml
  packages/message-forwarder/goss_wait.yaml
  packages/ui/goss.yaml
  packages/ui/goss_wait.yaml
  packages/user-service/goss.yaml
  packages/user-service/goss_wait.yaml
Due: message-forwarder-changes, ui-changes, user-service-changes

Remove unneeded logs
  scripts/build-core-worker-docker.sh
Due: none

Build audit logging images
  .circleci/continue_config.yml
Due: circleci-changes

Fix Core Container Goss Tests (#2014)
  packages/api/goss.yaml
  packages/api/goss_wait.yaml
  packages/conductor/goss.yaml
  packages/conductor/goss_wait.yaml
  packages/message-forwarder/goss.yaml
  packages/message-forwarder/goss_wait.yaml
  packages/ui/goss.yaml
  packages/ui/goss_wait.yaml
  packages/user-service/goss.yaml
  packages/user-service/goss_wait.yaml
  scripts/build-core-worker-docker.sh
Due: api-changes, conductor-changes, message-forwarder-changes, ui-changes, user-service-changes

Fixes dependencies
  .circleci/continue_config.yml
  package.json
Due: circleci-changes

Fix missing image
  .circleci/continue_config.yml
  package.json
Due: circleci-changes

chore: removed .begin(“read write”, …) and kept only .begin( ... as this is a default level.
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
Due: core-changes

Correct typo
  .circleci/continue_config.yml
Due: circleci-changes

Added bails and warrants unit tests to check for full court name
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/utils.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
  packages/ui/test/test-data/NextHearingLocationExceptions.json
Due: ui-changes

Need worker image
  .circleci/continue_config.yml
Due: circleci-changes

Missed images
  .circleci/continue_config.yml
Due: circleci-changes

Stop using CircleCI's DLC (#2016)
  .circleci/continue_config.yml
  .circleci/scripts/run-infrastructure.sh
  environment/docker-compose-worker.yml
  environment/docker-compose.yml
Due: circleci-changes

Add branch tag to conductor worker
  .circleci/continue_config.yml
  environment/docker-compose-worker.yml
Due: circleci-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
