Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add totals to group heading (#1991)
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/api/src/types/reports/Exceptions.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.ts
  packages/api/src/useCases/cases/reports/exceptions/processUsers.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/common/types/reports/Exceptions.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Add totals for Warrants report (#1993)
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Add totals DV & VV report (#1994)
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Updated group/table data structure naming
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/services/reports/csvGeneration/getGroupReportCsvChunks.test.ts
  packages/ui/src/services/reports/csvGeneration/getGroupReportCsvChunks.ts
  packages/ui/src/services/reports/csvGeneration/getNestedReportCsvChunks.test.ts
  packages/ui/src/services/reports/csvGeneration/getNestedReportCsvChunks.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
  packages/ui/src/utils/tables/groupTable.test.ts
  packages/ui/src/utils/tables/groupTable.ts
  packages/ui/src/utils/tables/nestedTable.test.ts
Due: ui-changes

Removed unneeded table config prop
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/types/reports/ReportTable.ts
  packages/ui/src/utils/tables/groupTable.test.ts
  packages/ui/src/utils/tables/groupTable.ts
  packages/ui/src/utils/tables/nestedTable.test.ts
  packages/ui/src/utils/tables/nestedTable.ts
Due: ui-changes

More type renaming
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/services/reports/utils/getMappedColumn.test.ts
  packages/ui/src/services/reports/utils/getMappedColumns.ts
  packages/ui/src/utils/tables/nestedTable.test.ts
  packages/ui/src/utils/tables/nestedTable.ts
Due: ui-changes

Removed table config from chunk tests
  packages/ui/src/services/reports/csvGeneration/getGroupReportCsvChunks.test.ts
  packages/ui/src/services/reports/csvGeneration/getNestedReportCsvChunks.test.ts
Due: ui-changes

console log
  packages/ui/src/utils/tables/groupTable.ts
Due: ui-changes

Add totals to Bails report (#1992)
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Fix the exception/trigger lookup info
  packages/api/src/useCases/data/getExceptionDescriptionMap.ts
  packages/api/src/useCases/data/getTriggerDescriptionMap.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.unit.test.ts
Due: api-changes

Updated createReportCsv to use report data object, added extra csv download button test
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/src/components/Reports/ReportTableBody.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/services/reports/csvGeneration/createReportCsv.ts
Due: ui-changes

Removed report table assertions
  packages/ui/src/services/reports/utils/isRecordArray.ts
  packages/ui/src/utils/tables/groupTable.ts
  packages/ui/src/utils/tables/nestedTable.ts
Due: ui-changes

Use sentence case for the columns of the reports
  packages/ui/src/types/reports/Columns.ts
Due: ui-changes

Use sentence case for the report titles
  packages/common/types/reports/ReportType.ts
Due: common-changes

Removed assertion
  packages/ui/src/utils/tables/groupTable.ts
  packages/ui/src/utils/tables/nestedTable.ts
Due: ui-changes

createReportCsv report data test fix
  packages/ui/src/services/reports/csvGeneration/createReportCsv.test.ts
Due: ui-changes

Use sentence case in totals
  packages/ui/src/types/reports/ReportConfigs.ts
Due: ui-changes

Fix tests
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/common/types/reports/AutomatedReportType.ts
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/cypress/e2e/reports/automation-rate.cy.ts
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/domestic-violence.api.cy.ts
  packages/ui/cypress/e2e/reports/top-exceptions.cy.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
  packages/ui/src/services/reports/auditLogFileDownload.integration.test.ts
  packages/ui/src/services/reports/utils/xlsxFilename.test.ts
  packages/ui/src/services/reports/utils/xlsxFilename.ts
  packages/ui/src/types/reports/Columns.ts
Due: api-changes, common-changes, ui-changes

Fix automation reports
  packages/ui/src/services/reports/utils/xlsxFilename.test.ts
  packages/ui/src/services/reports/utils/xlsxFilename.ts
Due: ui-changes

Couldn't build B7 API
  .circleci/continue_config.yml
Due: circleci-changes

Update dockerfiles
  packages/api/Dockerfile
  packages/conductor/Dockerfile
  packages/message-forwarder/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
  scripts/build-api-docker.sh
  scripts/build-core-worker-docker.sh
  scripts/build-message-forwarder-docker.sh
  scripts/build-ui-docker.sh
  scripts/build-user-service-docker.sh
Due: api-changes, conductor-changes, message-forwarder-changes, ui-changes, user-service-changes

Pull new base images in CI
  .circleci/continue_config.yml
Due: circleci-changes

Update .nvmrc
  .nvmrc
Due: none

Update goss test
  packages/conductor/goss_wait.yaml
Due: conductor-changes

Correct nginx path
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
  packages/user-service/goss.yaml
Due: api-changes, ui-changes, user-service-changes

Couldn't build B7 API (#1997)
  .circleci/continue_config.yml
Due: circleci-changes

Pull in Node 20 images for the audit log API
  .circleci/continue_config.yml
Due: circleci-changes

Give write access to /var/cache/nginx
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, ui-changes, user-service-changes

Fix typos
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
Due: ui-changes

User detail report changes (#1985)
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/GroupTable.cy.tsx
  packages/ui/cypress/component/reports/NestedTable.cy.tsx
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/jest.config.js
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
  packages/ui/src/components/Reports/ReportTableBody.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportTable.tsx
  packages/ui/src/services/reports/createReportCsv.test.ts
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/services/reports/csvGeneration/createReportCsv.test.ts
  packages/ui/src/services/reports/csvGeneration/createReportCsv.ts
  packages/ui/src/services/reports/csvGeneration/getFlatReportCsvChunks.test.ts
  packages/ui/src/services/reports/csvGeneration/getFlatReportCsvChunks.ts
  packages/ui/src/services/reports/csvGeneration/getGroupReportCsvChunks.test.ts
  packages/ui/src/services/reports/csvGeneration/getGroupReportCsvChunks.ts
  packages/ui/src/services/reports/csvGeneration/getNestedReportCsvChunks.test.ts
  packages/ui/src/services/reports/csvGeneration/getNestedReportCsvChunks.ts
  packages/ui/src/services/reports/utils/getMappedColumn.test.ts
  packages/ui/src/services/reports/utils/getMappedColumns.ts
  packages/ui/src/services/reports/utils/isRecordArray.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/Config.ts
  packages/ui/src/types/reports/ReportConfigs.ts
  packages/ui/src/types/reports/ReportTable.ts
  packages/ui/src/types/reports/ReportTableGroup.ts
  packages/ui/src/utils/tables/groupTable.test.ts
  packages/ui/src/utils/tables/groupTable.ts
  packages/ui/src/utils/tables/nestedTable.test.ts
  packages/ui/src/utils/tables/nestedTable.ts
Due: api-changes, ui-changes

Updated test to mount only the expandable cell component
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
Due: ui-changes

Moved abbreviatedText into var
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
Due: ui-changes

Removed magic string
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
Due: ui-changes

Show more/less button id now reflects the action that will be taken when the button is pressed
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
  packages/ui/src/components/Reports/ExpandableCell.tsx
Due: ui-changes

expandable cell should exist check
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
Due: ui-changes

Use branch tags for building docker images in CI
  .circleci/continue_config.yml
  environment/docker-compose.yml
  scripts/build-api-docker.sh
  scripts/build-ui-docker.sh
  scripts/build-user-service-docker.sh
Due: circleci-changes

Pulls down from ECR
  .circleci/continue_config.yml
  scripts/build-api-docker.sh
  scripts/build-ui-docker.sh
  scripts/build-user-service-docker.sh
Due: circleci-changes

Use the correct tag
  environment/docker-compose.yml
Due: none

Add build config for UI
  environment/docker-compose.yml
Due: none

Use param for DLC
  .circleci/continue_config.yml
Due: circleci-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
