Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

use enum in test
  packages/core/phase2/exceptions/HO200106.test.ts
Due: core-changes

update logic
  packages/core/phase2/exceptions/HO200106.ts
Due: core-changes

update test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
Due: core-changes

refactor code to use helper function and expand test coverage
  packages/core/phase2/exceptions/HO200106.test.ts
  packages/core/phase2/exceptions/HO200106.ts
Due: core-changes

put back old test and add missing exception generation logic
  packages/core/phase2/exceptions/HO200106.test.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

WIP
  packages/core/phase2/exceptions/HO200106.test.ts
Due: core-changes

remove unused parameter
  packages/core/phase2/exceptions/HO200106.ts
Due: core-changes

remove old test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
Due: core-changes

Update packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/exceptions/HO200106.ts
Due: core-changes

move logic to exception file and write test
  packages/core/phase2/exceptions/HO200106.test.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

remove unused import statement
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

remove unsused import
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

WIP
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

Add HO200106 (#975)
  packages/core/phase2/exceptions/HO200106.test.ts
  packages/core/phase2/exceptions/HO200106.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

move exception logic and write test
  packages/core/phase2/exceptions/HO200100.test.ts
  packages/core/phase2/exceptions/HO200100.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.ts
Due: core-changes

WIP
  packages/core/phase2/exceptions/HO200100.ts
Due: core-changes

remove redundant test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
Due: core-changes

refactor logic and expand tests
  packages/core/phase2/exceptions/HO200100.test.ts
  packages/core/phase2/exceptions/HO200100.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@fe46438ac0c93ee103ee5c9127fe613cc98c2eae 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add HO200100 (#980)
  packages/core/phase2/exceptions/HO200100.test.ts
  packages/core/phase2/exceptions/HO200100.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@a056cd25125246e0a124a6bf116ce376743c0732 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Bring across PRs #643 and #639 from the tests repo
  packages/e2e-test/features/413-display-triggers-after-resubmission/input-message.xml
  packages/e2e-test/features/413-display-triggers-after-resubmission/mock-pnc-responses.js
  packages/e2e-test/features/413-display-triggers-after-resubmission/pnc-data.xml
  packages/e2e-test/features/413-display-triggers-after-resubmission/test.feature
  packages/e2e-test/features/414-display-resolved-exceptions/input-message.xml
  packages/e2e-test/features/414-display-resolved-exceptions/mock-pnc-responses.js
  packages/e2e-test/features/414-display-resolved-exceptions/pnc-data.xml
  packages/e2e-test/features/414-display-resolved-exceptions/test.feature
  packages/e2e-test/steps/legacy-ui.ts
  packages/e2e-test/steps/next-ui.ts
  packages/e2e-test/utils/actions.legacy-ui.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: none

Bring across PR #640 from the tests repo
  packages/e2e-test/features/603-asn-update-for-HO100301-nextui/input-message.xml
  packages/e2e-test/features/603-asn-update-for-HO100301-nextui/mock-pnc-responses.js
  packages/e2e-test/features/603-asn-update-for-HO100301-nextui/test.feature
  packages/e2e-test/features/604-display-only-unresolved-cases-when-filtering/input-message.xml
  packages/e2e-test/features/604-display-only-unresolved-cases-when-filtering/mock-pnc-responses.ts
  packages/e2e-test/features/604-display-only-unresolved-cases-when-filtering/pnc-data.xml
  packages/e2e-test/features/604-display-only-unresolved-cases-when-filtering/test.feature
Due: none

Convert js files to ts
  packages/e2e-test/features/413-display-triggers-after-resubmission/mock-pnc-responses.ts
  packages/e2e-test/features/414-display-resolved-exceptions/mock-pnc-responses.ts
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@f93b58067034c04b423b82eb0ca97fb02bffc098 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Remove the need to postgres in CI
  .circleci/continue_config.yml
Due: circleci-changes

Large refactor
  packages/api/src/app.ts
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.integration.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtParser.unit.test.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/services/formatForceNumbers.ts
  packages/api/src/services/formatForceNumbers.unit.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/interfaces/gateway.ts
  packages/api/src/services/gateways/postgres/fetchUserByUsername.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.ts
  packages/api/src/services/gateways/postgresGateway.ts
Due: api-changes

Try and fix the CI pipeline
  package-lock.json
Due: none

Don't use DLC for test_api
  .circleci/continue_config.yml
Due: circleci-changes

Location has moved
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
Due: core-changes

Update standing data dependency (#984)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@0882ff100094f0c11bc9824414dcc7be9014742e 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

move exception logic
  packages/core/phase2/exceptions/HO200103.test.ts
  packages/core/phase2/exceptions/HO200103.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.ts
Due: core-changes

write test
  packages/core/phase2/exceptions/HO200103.test.ts
Due: core-changes

edit test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
Due: core-changes

WIP
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
