Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

remove HO200121 exception logic from generateOperations (#990)
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b48d543b3944356a87968e0017032af0430850d5 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update package and enable fast tests
  package-lock.json
  package.json
  packages/ui/.swcrc
  packages/ui/jest.config.js
  packages/ui/package.json
Due: none

Update UI packages to match from UI repo
  packages/ui/package.json
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@9a32058d55c7563e3160865b6125a234d8338175 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Temp fix for building API docker image
  packages/api/Dockerfile
Due: api-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@5ebecdaf8afacefee48d704b0cd880a566aa144e 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove API docker build
  buildspec.yml
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@801131ddf4298d62cb387ef528297f750b22f637 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

remove more unused imports
  packages/core/phase2/exceptions/HO200124.ts
Due: core-changes

move exception logic
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

add new test file, remove old imports
  packages/core/phase2/exceptions/HO200124.test.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

remove unused import
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
Due: core-changes

refactor test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
Due: core-changes

remove old tests, refactor exception logic
  packages/core/phase2/exceptions/HO200124.test.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
Due: core-changes

refactor handleAdjournementWithJudgement test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
Due: core-changes

Update packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/HO200124.ts
Due: core-changes

remove test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
Due: core-changes

refactor test
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
Due: core-changes

Add HO200124 (#999)
  packages/core/phase2/exceptions/HO200124.test.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@84351511aff8eabc553820969ef44d837bddbf6d 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove named paths
  packages/api/jest.config.js
  packages/api/nodemon.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/plugins/health/plugin.integration.test.ts
  packages/api/src/plugins/health/plugin.ts
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/routes/me.integration.test.ts
  packages/api/src/routes/me.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtParser.unit.test.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/server/createFastify.ts
  packages/api/src/server/logger.unit.test.ts
  packages/api/src/server/schemas/auth.unit.test.ts
  packages/api/src/services/formatForceNumbers.unit.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.test.ts
  packages/api/src/services/gateways/postgresGateway.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/tsconfig.json
Due: api-changes

Make API Dockerfile work
  environment/docker-compose.yml
  package-lock.json
  packages/api/Dockerfile
  packages/api/package.json
  packages/common/package.json
  packages/common/tsconfig.build.api.json
Due: env-changes, api-changes, common-changes

Don't pull all packages in
  packages/api/Dockerfile
Due: api-changes

Install dev packages
  packages/api/Dockerfile
  packages/api/package.json
  packages/common/package.json
Due: api-changes, common-changes

Common was missing Jest types
  package-lock.json
  packages/api/Dockerfile
  packages/common/package.json
  packages/common/tsconfig.build.api.json
Due: api-changes, common-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@fb3f188d8118a06c42e0c9564d8b43fd4f85882e 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Refactor variable namings
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200124.ts
Due: core-changes

Refactor result class handlers and generate operations
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/ResultClassHandler.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/tests/helpers/generateResultClassHandlerParams.ts
Due: core-changes

Remove redundant variable
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Add check for unresolved cases
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/interfaces/gateway.ts
  packages/api/src/services/gateways/postgres/caseCanBeResubmitted.ts
  packages/api/src/services/gateways/postgres/caseCanBeResubmitted.unit.test.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.test.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.ts
  packages/api/src/services/gateways/postgresGateway.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
Due: api-changes

Add checkOperationsException function
  packages/core/phase2/exceptions/checkOperationsException.test.ts
  packages/core/phase2/exceptions/checkOperationsException.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Add HO200113 exception generator
  packages/core/phase2/exceptions/HO200113.test.ts
  packages/core/phase2/exceptions/HO200113.ts
Due: core-changes

Update validateOperations and generateOperations
  packages/core/phase2/lib/generateOperations/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Rename gateway function per PR feedback
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/interfaces/gateway.ts
  packages/api/src/services/gateways/postgres/canCaseBeResubmitted.ts
  packages/api/src/services/gateways/postgres/canCaseBeResubmitted.unit.test.ts
  packages/api/src/services/gateways/postgresGateway.ts
  packages/api/src/useCases/canUserResubmitCase.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
Due: api-changes

Add HO200113 exception generator (#1005)
  packages/core/phase2/exceptions/HO200113.test.ts
  packages/core/phase2/exceptions/HO200113.ts
  packages/core/phase2/exceptions/checkOperationsException.test.ts
  packages/core/phase2/exceptions/checkOperationsException.ts
  packages/core/phase2/lib/generateOperations/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Rename generationOperationsFromResults to generateOperationsFromOffenceResults
  packages/core/phase2/exceptions/checkOperationsException.test.ts
  packages/core/phase2/exceptions/checkOperationsException.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Refactor generateOperations (#1004)
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/checkOperationsException.test.ts
  packages/core/phase2/exceptions/checkOperationsException.ts
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/ResultClassHandler.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/tests/helpers/generateResultClassHandlerParams.ts
Due: core-changes

Update MOJ Code Formatter GitHub Action version
  .github/workflows/format-code.yml
Due: none
