Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

update ncu script in ui
  packages/ui/package.json
Due: ui-changes

update ncu script in e2e test
  packages/e2e-test/package.json
Due: e2e-test-changes

update ncu script in uat data
  packages/uat-data/package.json
Due: none

update ncu script in cli
  packages/cli/package.json
Due: none

update ncu script in user service
  packages/user-service/package.json
Due: user-service-changes

tidying
  package.json
Due: none

ncu script cooldown (#1892)
  package.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Fix 000 padding with empty string (#1896)
  packages/ui/src/utils/forceNormalisation.test.ts
  packages/ui/src/utils/forceNormalisation.ts
Due: ui-changes

Bicaws7 4099 fixing the bookmarking ux issue (#1895)
  packages/user-service/cypress/e2e/redirectLoginWithNewBichardFlag.cy.js
  packages/user-service/src/lib/getRedirectPath.ts
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/test/lib/getRedirectPath.test.ts
Due: user-service-changes

Use working reporter
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: user-service-changes

Need a new tsconfig
  packages/conductor/deploy/tsconfig.deploy.json
  packages/conductor/package.json
Due: conductor-changes

Update package lock
  package-lock.json
Due: none

Update User Service for TS 6
  packages/user-service/jest.config.js
  packages/user-service/src/global.d.ts
  packages/user-service/src/pages/account/change-password/index.tsx
  packages/user-service/src/pages/feedback/confirmation.tsx
  packages/user-service/src/pages/feedback/index.tsx
  packages/user-service/src/pages/index.tsx
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/src/pages/logout/index.tsx
  packages/user-service/src/pages/users/[username]/delete.tsx
  packages/user-service/src/pages/users/[username]/edit.tsx
  packages/user-service/src/pages/users/[username]/index.tsx
  packages/user-service/src/pages/users/index.tsx
  packages/user-service/src/pages/users/new-user.tsx
  packages/user-service/tsconfig.json
Due: user-service-changes

Ingore jest config
  eslint.config.mjs
Due: none

Fix UI for TS 6
  packages/ui/src/global.d.ts
  packages/ui/src/pages/audit/[auditId]/index.tsx
  packages/ui/src/pages/audit/search.tsx
  packages/ui/src/pages/case-details-report.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/switching-feedback.tsx
  packages/ui/tsconfig.json
Due: ui-changes

Update and fix cypress, support TS 6
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/cypress/support/e2e.ts
  packages/ui/cypress/tsconfig.json
  packages/ui/package.json
  packages/ui/src/services/entities/CourtCase.ts
  packages/ui/src/services/entities/Note.ts
  packages/ui/src/services/entities/SurveyFeedback.ts
  packages/ui/src/services/entities/Trigger.ts
  packages/ui/src/services/entities/User.ts
  packages/ui/tsconfig.json
Due: ui-changes

Fix Jest
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/message-forwarder/package.json
Due: api-changes, conductor-changes, core-changes, message-forwarder-changes

Fix integration tests
  packages/ui/src/services/entities/Trigger.ts
  packages/ui/src/services/entities/transformers/varcharToNumberTransformer.test.ts
  packages/ui/src/services/entities/transformers/varcharToNumberTransformer.ts
Due: ui-changes

Fix cypress tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/tabs.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-summary-box.cy.ts
  packages/ui/cypress/e2e/case-list/relevantResolvedCases.cy.ts
  packages/ui/cypress/e2e/generalFeedback.cy.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
Due: ui-changes

Updated has-run folder with applied script
  scripts/rollout/has-run/20260401/1.sql
Due: none

Added switchoff and rollback script in prep (#1891)
  scripts/rollout/has-run/20260401/1.sql
  scripts/rollout/prep/20260401/1.sql
Due: none

Correct transformer
  packages/ui/src/services/entities/transformers/varcharToNumberTransformer.test.ts
  packages/ui/src/services/entities/transformers/varcharToNumberTransformer.ts
Due: ui-changes

Add paths
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/tabs.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-summary-box.cy.ts
  packages/ui/cypress/e2e/case-list/relevantResolvedCases.cy.ts
  packages/ui/cypress/e2e/generalFeedback.cy.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
  packages/ui/cypress/tsconfig.json
Due: ui-changes

Allow index to work
  packages/ui/src/pages/audit/[auditId]/index.tsx
  packages/ui/src/pages/audit/search.tsx
  packages/ui/src/pages/case-details-report.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/pages/feedback.tsx
  packages/ui/src/pages/index.tsx
  packages/ui/src/pages/switching-feedback.tsx
  packages/ui/tsconfig.json
Due: ui-changes

Update paths to allow index file to work
  packages/user-service/src/pages/account/change-password/index.tsx
  packages/user-service/src/pages/feedback/confirmation.tsx
  packages/user-service/src/pages/feedback/index.tsx
  packages/user-service/src/pages/index.tsx
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/src/pages/logout/index.tsx
  packages/user-service/src/pages/users/[username]/delete.tsx
  packages/user-service/src/pages/users/[username]/edit.tsx
  packages/user-service/src/pages/users/[username]/index.tsx
  packages/user-service/src/pages/users/index.tsx
  packages/user-service/src/pages/users/new-user.tsx
  packages/user-service/tsconfig.json
Due: user-service-changes

Revert "Add paths"
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/tabs.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-summary-box.cy.ts
  packages/ui/cypress/e2e/case-list/relevantResolvedCases.cy.ts
  packages/ui/cypress/e2e/generalFeedback.cy.ts
  packages/ui/cypress/e2e/switchingFeedback.cy.ts
  packages/ui/cypress/tsconfig.json
Due: ui-changes

Removed NewUI user group from USerGroup enum, added migration to remove NewUI group from db
  environment/postgres/liquibase/migrations/base/040_remove_new_ui_group.sql
  packages/common/types/UserGroup.ts
  packages/common/utils/userPermissions.test.ts
Due: common-changes

Amen ASR segment generator
  packages/e2e-test/utils/converters/convertJsonToXml/convertLedsRemandRequestToXml.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/asrSegmentGenerator.ts
Due: e2e-test-changes

Include ASR segment to additionalArrestOffences
  packages/e2e-test/types/MockAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
Due: e2e-test-changes

Updated seed migrations to be compatible
  environment/postgres/liquibase/seeds/base/003_assign_ui_group_to_users.sql
  environment/postgres/liquibase/seeds/base/006_add_all_users_to_new_ui_group.sql
  environment/postgres/liquibase/seeds/base/009_update_e2e_users_to_access_new_ui.sql
  environment/postgres/liquibase/seeds/base/010_add_emma_joyce.sql
  environment/postgres/liquibase/seeds/base/011_add_irene.sql
Due: none

Removed NewUI references
  packages/api/src/routes/v1/cases/[caseId]/resubmit.integration.test.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
  packages/api/src/useCases/cases/resubmit/canUserResubmitCase.integration.test.ts
  packages/ui/cypress/e2e/audit/search.api.cy.ts
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/utils/userPermissions.test.ts
  packages/ui/test/services/getCourtCaseByOrganisationUnit.integration.test.ts
  packages/ui/test/utils/insertLockUsers.ts
  packages/ui/test/utils/insertNoteUser.ts
  scripts/analytics/usage-report/generateReportData.ts
Due: api-changes, ui-changes

Refactor offenceSegmentsCXU02
  packages/e2e-test/utils/converters/convertJsonToXml/generators/offenceSegmentsCXU02.ts
Due: e2e-test-changes

Removed logic/references to NewUI group in user service
  packages/user-service/cypress/e2e/home.cy.js
  packages/user-service/cypress/e2e/user-management/editUser.cy.js
  packages/user-service/src/pages/users/[username]/edit.tsx
  packages/user-service/testFixtures/database/data/groups.js
  scripts/analytics/usage-report/findUsersWithAccessToNewUi.ts
  scripts/analytics/usage-report/index.ts
Due: user-service-changes

add SHA to format code workflow
  .github/workflows/format-code.yml
Due: none

add SHA to sonarqube workflow
  .github/workflows/sonarqube.yml
Due: none

add SHA to test-help-pages workflow
  .github/workflows/test-help-pages.yml
Due: none

add SHA to publish architecture workflow
  .github/workflows/publish-architecture.yml
Due: none

add SHA to update npm deps workflow, disable slack notifs
  .github/workflows/update-npm-deps.yml
Due: none

BICAWS7-4122 Pin workflows to SHA (#1901)
  .github/workflows/format-code.yml
  .github/workflows/publish-architecture.yml
  .github/workflows/sonarqube.yml
  .github/workflows/test-help-pages.yml
  .github/workflows/update-npm-deps.yml
Due: none
