Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add retry
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

Fetch image to ensure it is available
  .circleci/continue_config.yml
Due: circleci-changes

Fix deadlock in test
  packages/conductor/e2e-test/resubmit.e2e.test.ts
Due: conductor-changes

update snapshots
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: user-service-changes

Refactor resubmission (#1663)
  .circleci/continue_config.yml
  packages/api/src/useCases/cases/resubmit/resubmitCase.integration.test.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/conductor/e2e-test/resubmit.e2e.test.ts
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/e2e-test/utils/actions.next-ui.ts
Due: circleci-changes, api-changes, conductor-changes, core-changes, e2e-test-changes

resolve should be a .ts file instead of a .tsx file
  packages/user-service/src/lib/handleResetSecurityCodeStage.ts
  packages/user-service/src/lib/handleValidateCodeStage.ts
Due: user-service-changes

amend to bichard7
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

move the RememberForm component out of the index page
  packages/user-service/src/components/Login/RememberForm.tsx
  packages/user-service/src/components/Login/ValidateCodeForm.tsx
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

removed '?' specifier from ResetPasswordFormGroup.tsx as redundant
  packages/user-service/src/components/Login/ResetPasswordFormGroup.tsx
Due: user-service-changes

update snapshots
  packages/user-service/test/components/__snapshots__/ValidateCodeForm.test.tsx.snap
Due: user-service-changes

BICAWS7-3778 Update feedback page in user service (#1661)
  packages/user-service/cypress/e2e/feedback.cy.js
  packages/user-service/src/components/Layout.tsx
  packages/user-service/src/components/PhaseBanner/PhaseBanner.tsx
  packages/user-service/src/components/RadioItem.tsx
  packages/user-service/src/components/TextAreaWithCharCount.tsx
  packages/user-service/src/pages/feedback/confirmation.tsx
  packages/user-service/src/pages/feedback/index.tsx
  packages/user-service/src/useCases/postFeedback.ts
  packages/user-service/test/components/RadioItem.test.tsx
  packages/user-service/test/components/TextAreaWithCharCount.test.tsx
  packages/user-service/test/components/__snapshots__/RadioItem.test.tsx.snap
  packages/user-service/test/components/__snapshots__/TextAreaWithCharCount.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: user-service-changes

refactor faq to help page
  packages/user-service/cypress/e2e/help.cy.js
  packages/user-service/src/components/ContactLink.tsx
  packages/user-service/src/components/Footer.tsx
  packages/user-service/src/pages/feedback/index.tsx
  packages/user-service/src/pages/help.tsx
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: user-service-changes

Add --no-audit flag
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, ui-changes, user-service-changes

Update LedsGateway to handle updating remand
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/types/RemandPncUpdateRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/types/leds/RemandRequest.ts
Due: common-changes, core-changes

Add LEDS update support to e2e tests
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Add reportId to police query result mapper
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/types/RemandPncUpdateRequest.ts
Due: common-changes, core-changes

Fix LEDS update error message
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Fix map CXE01 function to only map LEDS fields when they have value
  packages/common/aho/parseAhoXml/mapXmlCxe01ToAho.ts
Due: common-changes

Add test for parseAhoXml
  packages/common/aho/parseAhoXml/__snapshots__/parseAhoXml.test.ts.snap
  packages/common/aho/parseAhoXml/fixtures/AnnotatedHO3-LEDS.xml
  packages/common/aho/parseAhoXml/parseAhoXml.test.ts
Due: common-changes

Fix mapToPoliceQueryResult test
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
Due: core-changes

Add test for AHO serialiseToXml
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/lib/serialise/ahoXml/serialiseToXml.test.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-leds-fields.xml
Due: core-changes

remove crown and resolve link path issues
  packages/user-service/src/components/Footer.tsx
Due: user-service-changes

BICAWS7-3845 Remove FAQ page and replace with help page (#1667)
  packages/user-service/cypress/e2e/faq.cy.js
  packages/user-service/cypress/e2e/help.cy.js
  packages/user-service/src/components/BulletList.tsx
  packages/user-service/src/components/ContactLink.tsx
  packages/user-service/src/components/Footer.tsx
  packages/user-service/src/faqs.json
  packages/user-service/src/pages/faq.tsx
  packages/user-service/src/pages/feedback/index.tsx
  packages/user-service/src/pages/help.tsx
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: user-service-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

BICAWS7-3858 - Improve Docker layer caching (#1666)
  .circleci/continue_config.yml
  .dockerignore
  packages/api/.dockerignore
  packages/api/Dockerfile
  packages/ui/.dockerignore
  packages/ui/Dockerfile
  packages/ui/tsconfig.build.json
  packages/user-service/.dockerignore
  packages/user-service/Dockerfile
  scripts/build-user-service-docker.sh
Due: circleci-changes, api-changes, ui-changes, user-service-changes

Fix tests
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
Due: core-changes

Remove MS Edge in CI
  .circleci/continue_config.yml
  .circleci/scripts/install-ms-edge-on-linux.sh
Due: circleci-changes

Add user account for me
  environment/postgres/liquibase/seeds/base/014_add_tom_watkins.sql
Due: env-changes

Exclude seed files from duplicate code checks
  sonar-project.properties
Due: none

Build user service if we have environment changes
  .circleci/continue_config.yml
Due: circleci-changes

Increase machine size
  .circleci/continue_config.yml
Due: circleci-changes

Use version before update to cover in seperate PR
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Fix git sync issues
  .circleci/continue_config.yml
Due: circleci-changes

Use BUILD_IMAGE arg
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, ui-changes, user-service-changes

Use BUILD_IMAGE arg (#1674)
  packages/api/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
Due: api-changes, ui-changes, user-service-changes

resolve validate code form comments
  packages/user-service/src/components/Login/ValidateCodeForm.tsx
Due: user-service-changes

update resetPasswordFormGroupProps to capitalise
  packages/user-service/src/components/Login/ResetPasswordFormGroup.tsx
Due: user-service-changes

Increase machine size (#1671)
  .circleci/continue_config.yml
Due: circleci-changes

Remove names from docker image build jobs in circleCI workflow
  .circleci/continue_config.yml
Due: circleci-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
