Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add latest version of @swc/core@latest
  package-lock.json
  packages/user-service/package.json
Due: user-service-changes

WIP
  packages/e2e-test/features/441-phase-2-resubmission/mock-pnc-responses.ts
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/convertPncResponseToLeds.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Fix date generation loop by updating currentDate correctly
  scripts/analytics/usage-report/fetchEvents.ts
Due: none

Update HttpStatusCode according to openApiSpec
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Revert changes
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Bump React to fix CVE
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Update @swc/core to the latest
  package-lock.json
  packages/ui/package.json
Due: ui-changes

Fix date generation loop by updating currentDate correctly (#1741)
  scripts/analytics/usage-report/fetchEvents.ts
Due: none

Increase max DB connections to 10
  packages/ui/src/services/getDataSource.ts
Due: ui-changes

Remove unneeded code from tests
  packages/ui/test/services/courtCasesByVisibleForcesQuery.integration.test.ts
  packages/ui/test/services/getCountOfCasesByCaseAge.integration.test.ts
  packages/ui/test/services/listCourtCases/listCourtCases.integration.test.ts
Due: ui-changes

Use await over promise
  packages/ui/test/utils/insertCourtCases.ts
  packages/ui/test/utils/insertLockUsers.ts
  packages/ui/test/utils/manageUsers.ts
Due: ui-changes

Ignore error in tests
  packages/ui/test/utils/manageUsers.ts
Due: ui-changes

Ignore race condition in tests
  packages/ui/test/utils/manageUsers.ts
Due: ui-changes

await closing db connections
  packages/ui/test/services/listCourtCases/listCourtCases.integration.test.ts
Due: ui-changes

Increase DB connections in UI (#1743)
  packages/ui/src/services/getDataSource.ts
  packages/ui/test/services/courtCasesByVisibleForcesQuery.integration.test.ts
  packages/ui/test/services/getCountOfCasesByCaseAge.integration.test.ts
  packages/ui/test/services/listCourtCases/listCourtCases.integration.test.ts
  packages/ui/test/utils/insertCourtCases.ts
  packages/ui/test/utils/insertLockUsers.ts
  packages/ui/test/utils/manageUsers.ts
Due: ui-changes

Add LEDS mock API server
  environment/docker-compose.yml
  environment/local-conductor-worker.env
  environment/mock-server/Dockerfile
  environment/mock-server/mock-server.sh
  environment/mock-server/mock-server.ts
  packages/core/lib/policeGateway/leds/createLedsApiConfig.ts
  packages/e2e-test/utils/config.ts
Due: core-changes, e2e-test-changes

Add PNC json to LEDS asn query json onverter
  packages/e2e-test/utils/LedsApi/mockGenerators/createMockRequest.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/createMockResponse.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
  packages/e2e-test/utils/convertPncXmlToJson/extractSegments.ts
Due: e2e-test-changes

Add LEDS mock server client
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: e2e-test-changes

Update tests and schemas
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalDuration.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/toTitleCase.test.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
Due: core-changes

Add polling for selector
  packages/ui/cypress/support/commands.ts
Due: ui-changes

Fix cypress tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-resolved-message.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100310.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100332.cy.ts
Due: ui-changes

Fix cypress API tests (#1744)
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-resolved-message.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100310.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100332.cy.ts
  packages/ui/cypress/support/commands.ts
Due: ui-changes

Fix tests
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
Due: core-changes

Use Promises
  packages/ui/test/utils/insertCourtCases.ts
  packages/ui/test/utils/insertLockUsers.ts
  packages/ui/test/utils/manageUsers.ts
Due: ui-changes

Update entity types to include the new hearing outcome json columns
  packages/core/types/ErrorListRecord.ts
  packages/ui/src/services/entities/CourtCase.ts
Due: core-changes, ui-changes

Fix comparison tests to compare all db records
  packages/core/tests/helpers/comparison/checkDatabaseMatches.ts
Due: core-changes

Fix tests
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/ui/test/helpers/jest-extensions.ts
  packages/ui/test/services/__snapshots__/amendCourtCase.integration.test.ts.snap
  packages/ui/test/services/getCourtCase.integration.test.ts
  packages/ui/test/services/getCourtCaseByOrganisationUnit.integration.test.ts
  packages/ui/test/services/updateLockStatusToLocked.integration.test.ts
  packages/ui/test/utils/DummyCourtCase.ts
  packages/ui/test/utils/insertCourtCases.ts
Due: core-changes, ui-changes

Update core and ui to update new hearing outcome json columns
  packages/core/lib/database/__snapshots__/convertResultToErrorListRecord.test.ts.snap
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/database/convertResultToErrorListRecord.ts
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/core/lib/database/updateErrorListRecord.ts
  packages/ui/src/services/amendCourtCase/amendCourtCase.ts
  packages/ui/src/services/updateCourtCaseAho.ts
  packages/ui/test/services/__snapshots__/amendCourtCase.integration.test.ts.snap
  packages/ui/test/services/__snapshots__/updateCourtCaseAho.integration.test.ts.snap
  packages/ui/test/services/updateCourtCaseAho.integration.test.ts
Due: core-changes, ui-changes

Use Promises (#1745)
  packages/ui/test/utils/insertCourtCases.ts
  packages/ui/test/utils/insertLockUsers.ts
  packages/ui/test/utils/manageUsers.ts
Due: ui-changes

Fix addMockToLedsMockApi
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: e2e-test-changes

Use methods to avoid flakiness
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/exceptions.cy.ts
Due: ui-changes

Use simpler method
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Fix tests
  packages/ui/src/services/api/canUseEndpoint.test.ts
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Undo rename
  packages/ui/src/services/api/canUseEndpoint.test.ts
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

BICAWS7-3906 - Fix visible forces check in canUseApiEndpoint (#1706)
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/exceptions.cy.ts
  packages/ui/src/services/api/canUseEndpoint.test.ts
  packages/ui/src/services/api/canUseEndpoint.ts
Due: ui-changes

Alter description
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Add tests to test desired behaviour
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Make filters work for single case
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/filters/exceptionsAndTriggers.ts
Due: api-changes

Test for exception handler and trigger handler
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
Due: api-changes
