Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Remove feature flags from test helpers
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/exception-permissions.cy.ts
  packages/ui/cypress/fixtures/canManuallyResolveAndSubmitTestData.json
Due: none

Add refresh CSRF token to offences
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offences.tsx
Due: none

PR feedback
  packages/ui/cypress/component/AutoSave.cy.tsx
Due: none

Update CSRF token with interaction with React (#1197)
  packages/ui/cypress/component/AsnField.cy.tsx
  packages/ui/cypress/component/AutoSave.cy.tsx
  packages/ui/cypress/component/OffenceMatcher/SingleCourtCase.cy.tsx
  packages/ui/cypress/component/OffenceMatcher/TwoCourtCases.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/triggers-and-exceptions-tabs.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/tabs.cy.ts
  packages/ui/src/components/EditableFields/AutoSave.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/context/CourtCaseContext.ts
  packages/ui/src/context/CsrfTokenContext.ts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Header.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/ExceptionsList.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/TriggersList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Notes/AddNoteForm.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offences.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.tsx
  packages/ui/src/hooks/useFirstLoad.ts
  packages/ui/src/hooks/useRefreshCsrfToken.ts
  packages/ui/src/pages/api/court-cases/[courtCaseId]/update.ts
  packages/ui/src/pages/api/refresh-csrf-token.ts
  packages/ui/src/pages/case-details-report.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/pages/index.tsx
Due: none

Pin @types/react and @types/react-dom
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: none

Add why the types are pinned
  packages/ui/.ncurc.js
Due: none

Remove feature flags (#1194)
  environment/postgres/liquibase/seeds/base/004_update_default_feature_flag_format.sql
  environment/postgres/liquibase/seeds/base/007_update_feature_flag_with_exceptions_enabled.sql
  environment/postgres/liquibase/seeds/base/008_update_feature_flag_correct_json_format.sql
  environment/postgres/liquibase/seeds/base/010_add_offence_matching_feature_flag_to_users.sql
  packages/common/utils/userPermissions.test.ts
  packages/e2e-test/helpers/PostgresHelper.ts
  packages/ui/cypress/component/AsnField.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-location.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/offences-exceptions-icons.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/exception-permissions.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/feature-flags.cy.ts
  packages/ui/cypress/fixtures/canManuallyResolveAndSubmitTestData.json
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsTabs.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingDateField.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingLocationField.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatching.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatching.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
  packages/ui/src/services/entities/CourtCase.ts
  packages/ui/src/utils/offenceMatcher/isEnabled.test.ts
  packages/ui/src/utils/offenceMatcher/isEnabled.ts
  packages/ui/src/utils/tabDetails/getTabDetails.test.ts
  packages/ui/src/utils/tabDetails/getTabDetails.ts
  packages/ui/test/utils/manageUsers.ts
Due: env-changes, common-changes, e2e-test-changes

WIP: First go at Case endpoint
  packages/api/src/routes/cases/case.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres/fetchFullCase.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/common/types/Case.ts
Due: api-changes, common-changes

Remove qualifiers check in isFailedToAppearWarrantIssued
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.ts
Due: core-changes

Ignore exceptions and triggers generated audit log events in comparePhase2
  packages/core/comparison/lib/comparePhase2.ts
Due: core-changes

Fix isFailedToAppearWarrantIssued for Phase 3 (#1199)
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/getDisposalTextFromResult.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.test.ts
  packages/core/phase2/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.ts
Due: core-changes

Fix not removing multiple spaces for generated PNC filename in Phase 3
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
Due: core-changes

Fix not removing multiple spaces for generated PNC filename in Phase 3 (#1200)
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
Due: core-changes

Add a useCase and change how the handler works
  packages/api/src/routes/cases/case.ts
  packages/api/src/useCases/fetchFullCase.ts
Due: api-changes

Add descriptions too the schema
  packages/common/types/Case.ts
Due: common-changes

Remove redundant correlation ID headers in PNC gateway
  packages/core/lib/PncGateway.ts
Due: core-changes

Remove redundant correlation ID headers in PNC gateway (#1201)
  packages/core/lib/PncGateway.ts
Due: core-changes

Use normal SSL port for healthcheck for now
  environment/docker-compose.yml
Due: env-changes

Set UI domain back to 443
  environment/docker-compose.yml
Due: env-changes

Add test for remandGenerator/generateCourtNameType
  packages/core/phase3/lib/performOperation.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/index.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Add tests for getResultsForRemand
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Refactor remandGenerator and generateCourtNameTypes
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameTypes.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameTypes.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getCourtHouseName.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getCourtHouseName.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getPsaCourtCode.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getPsaCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getRemandCourtCode.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getRemandCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Move logic out of the remandGenerator
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getCourtHouseName.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getCourtHouseName.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getPsaCourtCode.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getPsaCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getRemandLocationCourtCode.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getRemandLocationCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Add tests for remandGenerator
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameType.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Update packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
Due: core-changes

Add test for remandGenerator (#1185)
  packages/core/phase3/lib/performOperation.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameTypes.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/generateCourtNameTypes.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getCourtHouseName.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getCourtHouseName.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getPsaCourtCode.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getPsaCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getRemandCourtCode.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getRemandCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/getResultsForRemand.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/index.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
Due: core-changes

Add tests for generateHearingsAdjudicationsAndDisposals
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.test.ts
Due: core-changes

Add tests for generateHearingsAndDisposals
  packages/core/lib/getAdjustedRecordableOffencesForCourtCase.test.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.test.ts
Due: core-changes

Add tests for createArrestHearingFromOffence
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
Due: core-changes

Add tests for generateArrestHearingsAdjudicationsAndDisposals
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.test.ts
Due: core-changes

Remove duplicated code in createPncDisposalFromOffence
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Sort NON_DATE_DISPOSALS in createPncAdjudication
  packages/core/phase2/lib/createPncAdjudication.ts
Due: core-changes

Improve test in createAdjudicationFromOffence
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.test.ts
Due: core-changes

HTTPS listener on port 9443 for UI (#1192)
  environment/docker-compose.yml
  packages/ui/Dockerfile
  packages/ui/docker/conf/nginx.conf
Due: env-changes

Add tests for hearing details functions (#1202)
  packages/core/lib/getAdjustedRecordableOffencesForCourtCase.test.ts
  packages/core/phase2/lib/createPncAdjudication.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.test.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.test.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.test.ts
Due: core-changes

Add an ADR for the API design
  docs/architecture/adrs/0008-api-design.md
Due: none

Add an ADR for the API design (#1203)
  docs/architecture/adrs/0008-api-design.md
Due: none

Add endpoints and versions
  packages/api/src/endpoints/endpoints.ts
  packages/api/src/endpoints/versionedEndpoints.ts
  packages/api/src/endpoints/versions.ts
Due: api-changes

Add versioning
  packages/api/src/plugins/health/routes.ts
  packages/api/src/plugins/v1/health/handlers.ts
  packages/api/src/plugins/v1/health/plugin.e2e.test.ts
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/plugins/v1/health/plugin.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/routes/v2/me.e2e.test.ts
  packages/api/src/routes/v2/me.integration.test.ts
  packages/api/src/routes/v2/me.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/server/openapi/setupSwagger.ts
Due: api-changes
