Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Remove tests covering exceptionsEnabled feature flag
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-location.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/offences-exceptions-icons.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/feature-flags.cy.ts
  packages/ui/cypress/fixtures/canManuallyResolveAndSubmitTestData.json
  packages/ui/cypress/fixtures/users.ts
Due: none

Remove tests covering feature flag
  packages/ui/src/utils/tabDetails/getTabDetails.test.ts
Due: none

Remove exceptionsEnabled feature flag
  packages/common/utils/userPermissions.test.ts
  packages/e2e-test/helpers/PostgresHelper.ts
  packages/ui/cypress/component/AsnField.cy.tsx
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatching.tsx
  packages/ui/src/services/entities/CourtCase.ts
  packages/ui/test/utils/manageUsers.ts
Due: common-changes, e2e-test-changes

Update standing data dependency
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Update standing data dependency (#1195)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Remove offenceMatchingException feature flag
  packages/e2e-test/helpers/PostgresHelper.ts
  packages/ui/cypress/e2e/case-details/offence-matching/feature-flags.cy.ts
  packages/ui/cypress/fixtures/users.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatching.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatching.tsx
  packages/ui/src/utils/offenceMatcher/isEnabled.test.ts
  packages/ui/src/utils/offenceMatcher/isEnabled.ts
  packages/ui/test/utils/manageUsers.ts
Due: e2e-test-changes

Move exception-definitions.json from standing data to UI package (#1193)
  packages/ui/src/components/Exception/DefaultException.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatching.tsx
  packages/ui/src/types/ExceptionDefinition.ts
  packages/ui/src/utils/exceptionDefinition/exception-definitions.json
  packages/ui/src/utils/exceptionDefinition/getExceptionDefinition.test.ts
  packages/ui/src/utils/exceptionDefinition/getExceptionDefinition.ts
  packages/ui/src/utils/offenceMatcher/getExceptionMessage.ts
Due: none

Resolve merge conflict
  .eslintrc.js
  .ncurc.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/conductor/.eslintrc.js
  packages/conductor/package.json
  packages/core/.eslintrc.js
  packages/core/package.json
  packages/e2e-test/helpers/MockPNCHelper.ts
  packages/e2e-test/helpers/PNCTestTool.ts
  packages/e2e-test/helpers/PostgresHelper.ts
  packages/e2e-test/package.json
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/e2e-test/utils/healthCheck.ts
  packages/e2e-test/utils/pnc.ts
  packages/e2e-test/utils/puppeteer-utils.ts
  packages/e2e-test/utils/reports.ts
  packages/message-forwarder/.eslintrc.js
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/uat-data/scripts/insert-uat-data.ts
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Update import statements to include JSX
  packages/ui/src/components/IndeterminateCheckbox.tsx
  packages/ui/src/components/SearchFilters/TriggerCheckbox.tsx
  packages/ui/src/components/SearchFilters/TriggerGroup.tsx
  packages/ui/src/components/SearchFilters/TriggerGroups.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/LegacySequencingRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatcherRenderer.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/LegacySequencingBadgeTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/LegacySequencingMessageTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/OffenceMatcherTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/TableRows/OffenceMatchingBadgeTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/ResultQualifier.tsx
  packages/ui/src/features/CourtCaseFilters/ColumnOrderIcons.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipContainer.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/ExtraReasonRow.tsx
  packages/ui/src/utils/exceptions/handleAsnForwardSlashes.ts
Due: none

Downgrade React to 18
  eslint.config.mjs
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: none

Update config to remove React and React-dom folders from UI node_modules as they conflict with root node_modules
  .circleci/continue_config.yml
Due: circleci-changes

Update config
  .circleci/continue_config.yml
Due: circleci-changes

Fix path
  .circleci/continue_config.yml
Due: circleci-changes

Reinstall react and react-dom
  .circleci/continue_config.yml
  package-lock.json
  packages/ui/package.json
Due: circleci-changes

Update to strict rules
  eslint.config.mjs
Due: none

Update code the reflects stricter rules
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/common/AuditLogApiClient/HttpStatusCode.ts
  packages/ui/src/components/FilterChip.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipRow.tsx
  packages/ui/src/features/CourtCaseFilters/FilterChipSection.tsx
Due: api-changes, common-changes

Remove Sonar issue
  packages/ui/src/context/CourtCaseContext.ts
  packages/ui/src/context/CsrfTokenContext.ts
Due: none

Remove setting up feature flags from postgresHelper
  packages/e2e-test/helpers/PostgresHelper.ts
Due: e2e-test-changes

Move hearing detail functions into their own files
  packages/core/phase3/lib/hearingDetails.ts
  packages/core/phase3/lib/hearingDetails/convertHoOffenceCodeToPncFormat.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/preProcessOffenceReasonSequence.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Add tests for convertHoOffenceCodeToPncFormat
  packages/core/phase3/lib/hearingDetails/convertHoOffenceCodeToPncFormat.test.ts
Due: core-changes

Simplify convertHoOffenceCodeToPncFormat
  packages/core/phase3/lib/hearingDetails/convertHoOffenceCodeToPncFormat.ts
Due: core-changes

Remove unnecessary empty string default in createArrestHearingFromOffence
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
Due: core-changes

Add tests for preProcessOffenceReasonSequence
  packages/core/phase3/lib/hearingDetails/preProcessOffenceReasonSequence.test.ts
Due: core-changes

Refactor getOffenceCode
  packages/core/phase1/lib/offence/getOffenceCode.ts
Due: core-changes

Add tests for createCourtHearingFromOffence
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.test.ts
Due: core-changes

Move getOffenceCode to root lib folder
  packages/core/comparison/lib/hoOffencesAreEqual.ts
  packages/core/comparison/lib/isIntentionalDifference/ho100332NotHo100304.ts
  packages/core/comparison/lib/summariseMatching.ts
  packages/core/lib/getOffenceCode.test.ts
  packages/core/lib/getOffenceCode.ts
  packages/core/phase1/comparison/lib/hoOffencesAreEqual.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichOffences/index.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/generateCandidate.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/offenceIsBreach.ts
  packages/core/phase1/exceptions/HO100306.ts
  packages/core/phase1/lib/auditLog/getIncomingMessageLog.ts
  packages/core/phase1/lib/isReopenedOrStatutoryDeclarationCase.ts
  packages/core/phase1/lib/offence/isOffenceIgnored.ts
  packages/core/phase1/scripts/extendedSummary.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.ts
  packages/core/scripts/summariseRecord.ts
Due: core-changes

Remove convertHoOffenceCodeToPncFormat and use getOffenceCode instead
  packages/core/phase3/lib/hearingDetails/convertHoOffenceCodeToPncFormat.test.ts
  packages/core/phase3/lib/hearingDetails/convertHoOffenceCodeToPncFormat.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.ts
Due: core-changes

Refactor to use getOffenceCode from Core in UI
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
  packages/ui/src/utils/getOffenceCode.ts
Due: none

Add tests for getOffenceCode
  packages/core/phase1/lib/offence/getOffenceCode.test.ts
Due: core-changes

Add tests for createAdjudicationFromOffence
  packages/core/phase2/lib/createPncAdjudicationFromAho.test.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.test.ts
Due: core-changes

Move createPncDisposalFromOffence into createDisposalsFromOffence
  packages/core/phase3/lib/__snapshots__/createPncDisposalFromOffence.test.ts.snap
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
  packages/core/phase3/lib/hearingDetails/__snapshots__/createDisposalsFromOffence.test.ts.snap
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.ts
Due: core-changes

Remove unnecessary nullish coalescing assignment in createAdjudicationFromOffence
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
Due: core-changes

Remove scripts that used to add feature flags
  environment/postgres/liquibase/seeds/base/004_update_default_feature_flag_format.sql
  environment/postgres/liquibase/seeds/base/007_update_feature_flag_with_exceptions_enabled.sql
  environment/postgres/liquibase/seeds/base/008_update_feature_flag_correct_json_format.sql
  environment/postgres/liquibase/seeds/base/010_add_offence_matching_feature_flag_to_users.sql
Due: env-changes

Remove unused hoOffencesAreEqual function
  packages/core/phase1/comparison/lib/hoOffencesAreEqual.ts
Due: core-changes

Use a hook to control refreshing the CSRF token
  packages/ui/src/hooks/useRefreshCsrfToken.ts
  packages/ui/src/utils/csrf/refreshCsrfToken.ts
Due: none

Refactor hearing details functions (#1196)
  packages/core/comparison/lib/hoOffencesAreEqual.ts
  packages/core/comparison/lib/isIntentionalDifference/ho100332NotHo100304.ts
  packages/core/comparison/lib/summariseMatching.ts
  packages/core/lib/getOffenceCode.test.ts
  packages/core/lib/getOffenceCode.ts
  packages/core/phase1/comparison/lib/hoOffencesAreEqual.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichOffences/index.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/generateCandidate.ts
  packages/core/phase1/enrichAho/enrichFunctions/matchOffencesToPnc/offenceIsBreach.ts
  packages/core/phase1/exceptions/HO100306.ts
  packages/core/phase1/lib/auditLog/getIncomingMessageLog.ts
  packages/core/phase1/lib/isReopenedOrStatutoryDeclarationCase.ts
  packages/core/phase1/lib/offence/getOffenceCode.ts
  packages/core/phase1/lib/offence/isOffenceIgnored.ts
  packages/core/phase1/scripts/extendedSummary.ts
  packages/core/phase2/lib/createPncAdjudicationFromAho.test.ts
  packages/core/phase3/lib/__snapshots__/createPncDisposalFromOffence.test.ts.snap
  packages/core/phase3/lib/hearingDetails.ts
  packages/core/phase3/lib/hearingDetails/__snapshots__/createDisposalsFromOffence.test.ts.snap
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/preProcessOffenceReasonSequence.test.ts
  packages/core/phase3/lib/hearingDetails/preProcessOffenceReasonSequence.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
  packages/core/scripts/summariseRecord.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesList.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
  packages/ui/src/utils/getOffenceCode.ts
Due: core-changes

Add new hook and tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/triggers-and-exceptions-tabs.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/tabs.cy.ts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Sidebar.tsx
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
