Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Abstract cookie name logic
  packages/user-service/src/useCases/getEmailAddressCookieConfig.ts
  packages/user-service/src/useCases/getEmailAddressFromCookie.ts
  packages/user-service/src/useCases/removeEmailAddressCookie.ts
  packages/user-service/src/useCases/storeEmailAddressInCookie.ts
  packages/user-service/test/useCases/getEmailAddressFromCookie.test.ts
  packages/user-service/test/useCases/removeEmailAddressCookie.test.ts
  packages/user-service/test/useCases/storeEmailAddressInCookie.test.ts
Due: user-service-changes

Add missing integration tests
  packages/user-service/src/useCases/validateUserVerificationCode.ts
  packages/user-service/test/useCases/validateUserVerificationCode.integration.test.ts
Due: user-service-changes

Fix e2e tests
  packages/api/src/useCases/cases/resubmit/resubmitCase.integration.test.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
Due: api-changes, core-changes

Add e2e tests for feedback page in user service
  packages/user-service/cypress/e2e/feedback.cy.js
  packages/user-service/src/pages/feedback/index.tsx
Due: user-service-changes

rework error messaging
  packages/user-service/src/components/Login/ResetPasswordFormGroup.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/src/useCases/checkPasswordIsBanned.ts
  packages/user-service/src/useCases/passwordDoesNotContainSensitive.ts
  packages/user-service/src/useCases/passwordSecurityCheck.ts
  packages/user-service/src/useCases/resetPassword.ts
  packages/user-service/test/components/PasswordInput.test.tsx
  packages/user-service/test/components/ResetPasswordFormGroup.test.tsx
Due: user-service-changes

add snapshots
  packages/user-service/test/components/__snapshots__/PasswordInput.test.tsx.snap
  packages/user-service/test/components/__snapshots__/ResetPasswordFormGroup.test.tsx.snap
Due: user-service-changes

correct to bichard7
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

remove comment; change text input to password input to enable show/hide
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

Remove unneeded DB operation
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
Due: api-changes

correct change password test
  packages/user-service/cypress/e2e/changePassword.cy.js
Due: user-service-changes

update resetPassword tests
  packages/user-service/cypress/e2e/resetPassword.cy.js
Due: user-service-changes

Remove unneeded filtering
  packages/api/src/services/db/cases/fetchCasesForAutoResubmit.ts
  packages/api/src/useCases/cases/resubmit/hasPncConnectionException.integration.test.ts
  packages/api/src/useCases/cases/resubmit/hasPncConnectionException.ts
  packages/api/src/useCases/cases/resubmit/resubmitCases.ts
Due: api-changes

update success page
  packages/user-service/cypress/e2e/resetPassword.cy.js
  packages/user-service/src/pages/login/reset-password.tsx
Due: user-service-changes

update integration tests
  packages/user-service/test/useCases/resetPassword.integration.test.ts
Due: user-service-changes

Resubmit many Cases via Conductor (#1655)
  packages/api/src/routes/v1/cases/[caseId]/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmitCases.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmitCases.integration.test.ts
  packages/api/src/routes/v1/cases/resubmitCases.ts
  packages/api/src/server/auth/verifyJwt.ts
  packages/api/src/server/openapi/jsonResponse.ts
  packages/api/src/services/db/cases/canCaseBeResubmitted.ts
  packages/api/src/services/db/cases/fetchCasesForAutoResubmit.integration.test.ts
  packages/api/src/services/db/cases/fetchCasesForAutoResubmit.ts
  packages/api/src/services/db/cases/incrementPncFailureResubmissions.ts
  packages/api/src/services/db/cases/selectMessageId.ts
  packages/api/src/services/db/cases/unlockException.ts
  packages/api/src/services/db/organisationUnitSql.ts
  packages/api/src/tests/fixtures/HO100314.json
  packages/api/src/tests/fixtures/HO100404.json
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.integration.test.ts
  packages/api/src/useCases/cases/getCase/unlockExceptions.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.integration.test.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/api/src/useCases/cases/resubmit/resubmitCases.integration.test.ts
  packages/api/src/useCases/cases/resubmit/resubmitCases.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/utils/userPermissions.ts
  packages/conductor/e2e-test/resubmit.e2e.test.ts
  packages/conductor/tasks/check_db.json
  packages/conductor/workflows/resubmit.json
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.integration.test.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
  packages/user-service/testFixtures/database/data/groups.js
Due: api-changes, common-changes, conductor-changes, core-changes, user-service-changes

Add text area with character count component
  packages/user-service/src/components/TextAreaWithCharCount.tsx
  packages/user-service/test/components/TextAreaWithCharCount.test.tsx
  packages/user-service/test/components/__snapshots__/TextAreaWithCharCount.test.tsx.snap
Due: user-service-changes

Add character counter to text area on feedback page
  packages/user-service/src/pages/feedback/index.tsx
Due: user-service-changes

Update user service ports (Part 2) (#1653)
  packages/user-service/Dockerfile
  packages/user-service/docker/conf/nginx.conf
  packages/user-service/docker/conf/supervisord.conf
  packages/user-service/goss_wait.yaml
Due: user-service-changes

refactor validateCode section on login journey and reset password journey to use the new ValidateCodeForm component
  packages/user-service/cypress/e2e/login.cy.js
  packages/user-service/src/components/Login/ValidateCodeForm.tsx
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/test/components/ValidateCodeForm.test.tsx
  packages/user-service/test/components/__snapshots__/ValidateCodeForm.test.tsx.snap
Due: user-service-changes

refactor resend a security code section on login journey and reset password journey to use the new ResendSecurityCodeForm component
  packages/user-service/src/components/Login/ResendSecurityCodeForm.tsx
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/test/components/ResendSecurityCodeForm.test.tsx
  packages/user-service/test/components/__snapshots__/ResendSecurityCodeForm.test.tsx.snap
Due: user-service-changes

Fix broken e2e test for feedback page
  packages/user-service/cypress/e2e/feedback.cy.js
Due: user-service-changes

Refactor where the case gets updated error status
  packages/api/src/useCases/cases/resubmit/resubmitCase.integration.test.ts
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/conductor/e2e-test/resubmit.e2e.test.ts
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
Due: api-changes, conductor-changes, core-changes

Add missing port
  packages/user-service/goss_wait.yaml
Due: user-service-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

BICAWS7-3738 Amend User Login Flow (#1647)
  packages/e2e-test/utils/auth.ts
  packages/ui/cypress/support/commands.ts
  packages/user-service/cypress/e2e/api/auth.cy.js
  packages/user-service/cypress/e2e/changePassword.cy.js
  packages/user-service/cypress/e2e/forgotPassword.cy.js
  packages/user-service/cypress/e2e/login.cy.js
  packages/user-service/cypress/e2e/redirect-login.cy.js
  packages/user-service/cypress/e2e/redirectLogin.cy.js
  packages/user-service/cypress/e2e/resetPassword.cy.js
  packages/user-service/cypress/support/commands.js
  packages/user-service/src/components/Login/LoginCredentialsFormGroup.tsx
  packages/user-service/src/components/Login/PasswordInput.tsx
  packages/user-service/src/components/NotReceivedEmail.tsx
  packages/user-service/src/components/TextInput.tsx
  packages/user-service/src/lib/config.ts
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/types/EmailAddressCookieType.ts
  packages/user-service/src/useCases/authenticate.ts
  packages/user-service/src/useCases/getEmailAddressCookieConfig.ts
  packages/user-service/src/useCases/getEmailAddressFromCookie.ts
  packages/user-service/src/useCases/index.ts
  packages/user-service/src/useCases/removeEmailAddressCookie.ts
  packages/user-service/src/useCases/storeEmailAddressInCookie.ts
  packages/user-service/src/useCases/validateUserVerificationCode.ts
  packages/user-service/test/components/TextInput.test.tsx
  packages/user-service/test/components/__snapshots__/NotReceivedEmail.test.tsx.snap
  packages/user-service/test/components/__snapshots__/TextInput.test.tsx.snap
  packages/user-service/test/useCases/getEmailAddressFromCookie.test.ts
  packages/user-service/test/useCases/removeEmailAddressCookie.test.ts
  packages/user-service/test/useCases/storeEmailAddressInCookie.test.ts
  packages/user-service/test/useCases/validateUserVerificationCode.integration.test.ts
Due: e2e-test-changes, ui-changes, user-service-changes

update reset-password to use reusable cookie components
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/src/useCases/getInProgressEmailAddressFromCookie.ts
  packages/user-service/src/useCases/removeInProgressEmailAddressCookie.ts
  packages/user-service/src/useCases/storeInProgressEmailAddressInCookie.ts
Due: user-service-changes

Fix aria-describedby on TextAreaWithCharCOunt
  packages/user-service/src/components/TextAreaWithCharCount.tsx
Due: user-service-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Parameterise charLimit in errormessage
  packages/user-service/src/components/TextAreaWithCharCount.tsx
Due: user-service-changes

Simplify error handling in TextAreaWithCharCount
  packages/user-service/src/components/TextAreaWithCharCount.tsx
  packages/user-service/src/pages/feedback/index.tsx
Due: user-service-changes

Update TextAreaWithCharCount to extend textArea props
  packages/user-service/src/components/TextAreaWithCharCount.tsx
Due: user-service-changes

Add missing port (#1664)
  packages/user-service/goss_wait.yaml
Due: user-service-changes

Update snapshots
  packages/user-service/test/components/__snapshots__/TextAreaWithCharCount.test.tsx.snap
Due: user-service-changes

Rename build-ui to build_ui_docker_image
  .circleci/continue_config.yml
Due: circleci-changes

Move load image steps into commands
  .circleci/continue_config.yml
Due: circleci-changes

Shorten job names
  .circleci/continue_config.yml
Due: circleci-changes

Fix indentation
  .circleci/continue_config.yml
Due: circleci-changes

Corrected name
  .circleci/continue_config.yml
Due: circleci-changes

Removed unneeded line breaks
  .circleci/continue_config.yml
Due: circleci-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
