Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

chore: changed string to number in test
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
Due: api-changes

Make the sidebar sticky (#2053)
  packages/ui/cypress/e2e/case-details/audit/audit-case.api.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/mark-as-complete.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/select-all.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/status.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/triggers-and-exceptions-tabs.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/sidebar.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/support/commands.ts
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
Due: ui-changes

noResultsFound nullable
  packages/ui/src/components/Typeaheads/Typeahead.styles.tsx
Due: ui-changes

Test fix
  packages/ui/cypress/component/Reallocation/ForceOwnerTypeahead.cy.tsx
Due: ui-changes

Update standing data dependency (#2049)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Fixed no results found flash
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
Due: ui-changes

chore: implemented parsing in 3 more files
  packages/api/src/services/db/users/fetchUserById.ts
  packages/api/src/services/db/users/fetchUserByUsername.ts
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

refactor: lint
  packages/api/src/services/db/users/fetchUserByUsername.ts
Due: api-changes

fix: correct schema to parse raw DB rows in fetchUserByUsername
  packages/api/src/services/db/users/fetchUserByUsername.ts
Due: api-changes

When no force selected, submission prevented and error message shown
  packages/ui/cypress/component/Typeaheads/GenericTypeahead.cy.tsx
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/src/components/EditableFields/NewForceOwnerField.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/components/Typeaheads/ForceOwnerTypeahead.tsx
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
Due: ui-changes

Removed unnecessary wrapper component
  packages/ui/src/components/EditableFields/NewForceOwnerField.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
Due: ui-changes

fix: added deleted_at field as this was added to sql
  packages/api/src/services/db/users/fetchUserByUsername.ts
Due: api-changes

chore: added deleted_at to group by
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

made true condition first
  packages/ui/src/components/ReallocationNotesForm.tsx
Due: ui-changes

chore: fixed syntax errors
  packages/api/src/services/db/users/fetchUserByUsername.ts
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

Test fix
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
Due: ui-changes

Added user minimal and minimal row schema
  packages/api/src/services/db/users/fetchUserById.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

chore: added missing deleted_at
  packages/api/src/services/db/users/fetchUserById.ts
Due: api-changes

Cucumber test fix attempt
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
Due: ui-changes

chore: corrected format to number
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
Due: api-changes

Cucumber test fix attempt try removing prevent default
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
Due: ui-changes

Tmp removed commented code
  packages/ui/src/components/ReallocationNotesForm.tsx
Due: ui-changes

chore: fixing test will show the case ages correctly
  packages/api/src/services/db/cases/fetchCaseAges.ts
Due: api-changes

chore: additional wrong format fixed
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
Due: api-changes

chore: more format issues fixed with numbers/strings
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
  packages/api/src/services/db/users/fetchUserById.ts
Due: api-changes

Updated cucumber test to blur input field
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/src/components/ReallocationNotesForm.tsx
Due: e2e-test-changes, ui-changes

Added explicit dropdown selection
  packages/e2e-test/utils/actions.next-ui.ts
Due: e2e-test-changes

chore: pasted part of UserMinimalSchema in
  packages/api/src/services/db/users/fetchUserById.ts
Due: api-changes

refactor: undoing changes
  packages/api/src/services/db/users/fetchUserById.ts
Due: api-changes

Bicaws7 4248 show an error state when a user doesnt enter a valid string in the new force owner field in the case reallocation journey (#2056)
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/cypress/component/Reallocation/ForceOwnerTypeahead.cy.tsx
  packages/ui/cypress/component/Typeaheads/GenericTypeahead.cy.tsx
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/src/components/EditableFields/NewForceOwnerField.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/components/Typeaheads/ForceOwnerTypeahead.tsx
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
  packages/ui/src/components/Typeaheads/Typeahead.styles.tsx
Due: e2e-test-changes, ui-changes

Updated fetchUserById to parse using UserMinimalRowSchema
  packages/api/src/services/db/users/fetchUserById.ts
Due: api-changes

Redirect for any non-https request
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

Add additional host to redirect list, moved redirect into useEffect due to globalThis side effect. globalThis required over use of window.
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

Fix missing ]
  packages/user-service/cypress/e2e/logout.cy.js
Due: user-service-changes

Extract redirect requirement check to separate function
  packages/user-service/src/pages/login/index.tsx
Due: user-service-changes

Added tests
  packages/ui/src/services/searchForceOwners.ts
  packages/ui/test/services/searchForceOwners.test.ts
Due: ui-changes

WIP: debugging failing cypress
  packages/api/src/services/db/cases/fetchCasesForAutoResubmit.ts
Due: api-changes

Fix typo in PR creation for npm dependencies workflow
  .github/workflows/update-npm-deps.yml
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

WIP: debugging
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
