Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@3c321df055bea5af90404ce301f5782e71690445 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix layout of applied filters
  packages/ui/src/features/CourtCaseFilters/AppliedFilters.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.styles.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

Use typeof for parameter rather than unknown return type (#1136)
  packages/common/axiosDateTransformer.ts
  packages/common/zod/toDate.ts
Due: common-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@4f891d22bc94c894bab9ec4a87f1edac44253ab7 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Filter out all test directories from Sonar
  sonar-project.properties
Due: none

Filter out all test directories from Sonar (#1158)
  sonar-project.properties
Due: none

Only build the worker if specified
  environment/boot.sh
  package.json
Due: env-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@6bd431a8ed2da10476a039402ba2ab835edaedaa 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@195801b161db62006f24bc69c4e21e39a2688e2d 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

WIP
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
  packages/ui/src/utils/exceptions/hasPNCException.ts
  packages/ui/src/utils/getOffenceAlertsDetails.ts
Due: none

WIP
  packages/ui/cypress/downloads/downloads.html
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/OffencesList/OffencesListRow.tsx
Due: none

rename files and refactor
  packages/ui/src/utils/exceptions/hasOffenceMatchingExceptions.test.ts
  packages/ui/src/utils/exceptions/hasOffenceMatchingExceptions.ts
  packages/ui/src/utils/exceptions/hasPNCException.ts
  packages/ui/src/utils/getOffenceAlertsDetails.ts
Due: none

change incorrect names
  packages/ui/src/utils/exceptions/hasOffenceMatchingExceptions.test.ts
  packages/ui/src/utils/exceptions/hasOffenceMatchingExceptions.ts
Due: none

fix bug and write tests
  packages/ui/cypress/e2e/case-details/offence-matching/HO100310.cy.ts
  packages/ui/src/utils/exceptions/hasPNCExceptions.test.ts
  packages/ui/src/utils/getOffenceAlertsDetails.ts
Due: none

expand tests
  packages/ui/cypress/downloads/downloads.html
  packages/ui/cypress/e2e/case-details/offence-matching/HO100310.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100332.cy.ts
Due: none

Update package-lock
  package-lock.json
Due: none

Add test for getRecordableOffencesForCourtCase
  packages/core/lib/getRecordableOffencesForCourtCase.test.ts
Due: core-changes

Add test for the function getForceStationCode
  packages/core/phase3/lib/getForceStationCode.test.ts
Due: core-changes

Refactor adjournment existence check in createPncDisposalFromOffence
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
Due: core-changes

Add tests for getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
  packages/core/phase3/lib/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.test.ts
  packages/core/phase3/lib/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.ts
Due: core-changes

Add tests for function getPncCheckName
  packages/core/phase3/lib/getPncCheckname.test.ts
Due: core-changes

Bug: A checkmark doesn't appear before offences when offence matching exceptions are resolved (#1157)
  packages/ui/cypress/e2e/case-details/offence-matching/HO100310.cy.ts
  packages/ui/cypress/e2e/case-details/offence-matching/HO100332.cy.ts
  packages/ui/src/utils/exceptions/hasOffenceMatchingExceptions.test.ts
  packages/ui/src/utils/exceptions/hasOffenceMatchingExceptions.ts
  packages/ui/src/utils/getOffenceAlertsDetails.ts
Due: none

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@622dc8b846ea07f056c1bf4c097b5fdbdee581ae 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data (#1151)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@17ad34034f78b7170a7c335a250025465877279f 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Disable sonar for lines where default sort is used
  packages/core/phase2/exceptions/checkClashingCourtCaseOperationsException.ts
  packages/ui/src/utils/logging.ts
Due: core-changes

Fix remaining sonar issues
  packages/ui/cypress/support/component-index.html
  packages/ui/src/utils/updateQueryString.ts
Due: none

Fix/mitigate sonar reliability rating issues (#1160)
  packages/core/phase2/exceptions/checkClashingCourtCaseOperationsException.ts
  packages/ui/cypress/support/component-index.html
  packages/ui/src/utils/logging.ts
  packages/ui/src/utils/updateQueryString.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@2982afaf0442c50960c30a6bd03fbe56030710ba 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Refactor TabDetails
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsSingleTab.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsTabs.tsx
  packages/ui/src/utils/getTabDetails.test.ts
  packages/ui/src/utils/getTabDetails.ts
  packages/ui/src/utils/tabDetails/getAsnExceptionDetails.test.ts
  packages/ui/src/utils/tabDetails/getAsnExceptionDetails.ts
  packages/ui/src/utils/tabDetails/getNextHearingDateExceptionsDetails.test.ts
  packages/ui/src/utils/tabDetails/getNextHearingDateExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getNextHearingLocationExceptionsDetails.test.ts
  packages/ui/src/utils/tabDetails/getNextHearingLocationExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getOffencesMatchedExceptionsDetails.test.ts
  packages/ui/src/utils/tabDetails/getOffencesMatchedExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getTabDetails.test.ts
  packages/ui/src/utils/tabDetails/getTabDetails.ts
Due: none

Split cypress test files
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/mupltiple-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-location.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/offences-exceptions-icons.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exceptions-icons.cy.ts
Due: none

Make SonarLint happy
  packages/ui/src/utils/tabDetails/getNextHearingDateExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getNextHearingLocationExceptionsDetails.ts
Due: none

Only build the worker if specified (#1159)
  environment/boot.sh
  package.json
Due: env-changes

Initial commit of HO200200 exception for core phase 3
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByThirdDuration.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalsFromResult.ts
  packages/core/phase3/exceptions/HO200200.ts
  packages/core/phase3/exceptions/exceptionsForOperation.ts
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
  packages/core/phase3/phase3.ts
  packages/core/schemas/pncQueryResult.ts
Due: core-changes

Use the existing HO200200 exception from phase 2
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByThirdDuration.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalsFromResult.ts
  packages/core/phase3/exceptions/HO200200.ts
  packages/core/phase3/exceptions/exceptionsForOperation.ts
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
  packages/core/schemas/pncQueryResult.ts
Due: core-changes

Bring back a separate exception for phase 3 HO200200 as it's different from the phase 2 version
  packages/core/phase3/exceptions/HO200200.test.ts
  packages/core/phase3/exceptions/HO200200.ts
  packages/core/phase3/exceptions/generateExceptionsForOperation.ts
  packages/core/phase3/phase3.ts
Due: core-changes

Refactor exceptions icons (#1162)
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/asn.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/mupltiple-exceptions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/next-hearing-location.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exception-icons/offences-exceptions-icons.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/exceptions-icons.cy.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsSingleTab.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/CourtCaseDetailsTabs.tsx
  packages/ui/src/utils/getTabDetails.test.ts
  packages/ui/src/utils/getTabDetails.ts
  packages/ui/src/utils/tabDetails/getAsnExceptionDetails.test.ts
  packages/ui/src/utils/tabDetails/getAsnExceptionDetails.ts
  packages/ui/src/utils/tabDetails/getNextHearingDateExceptionsDetails.test.ts
  packages/ui/src/utils/tabDetails/getNextHearingDateExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getNextHearingLocationExceptionsDetails.test.ts
  packages/ui/src/utils/tabDetails/getNextHearingLocationExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getOffencesMatchedExceptionsDetails.test.ts
  packages/ui/src/utils/tabDetails/getOffencesMatchedExceptionsDetails.ts
  packages/ui/src/utils/tabDetails/getTabDetails.test.ts
  packages/ui/src/utils/tabDetails/getTabDetails.ts
Due: none

Initial commit of HO200200 exception for core phase 3 (#1161)
  packages/core/phase3/exceptions/HO200200.test.ts
  packages/core/phase3/exceptions/HO200200.ts
  packages/core/phase3/exceptions/generateExceptionsForOperation.ts
  packages/core/phase3/phase3.ts
Due: core-changes
