Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

update config-file path
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Fix sonarlint warning
  packages/api/src/services/gateways/postgresGateway.ts
Due: api-changes

Remove db type
  packages/common/db/createDbConfig.ts
Due: common-changes

WIP
  packages/core/phase2/exceptions/HO200103.test.ts
  packages/core/phase2/exceptions/HO200103.ts
Due: core-changes

Be more explicit about the tests we run
  .circleci/continue_config.yml
Due: circleci-changes

Add HO200103 (#985)
  packages/core/phase2/exceptions/HO200103.test.ts
  packages/core/phase2/exceptions/HO200103.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@7c215acda219f019ef08e4d00bbbac0f7dbb2bbf 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

update path to cypress-circleci-reporter
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

remove config-file
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
Due: circleci-changes

Fix disposal typo in generateAhoMatchingPncAdjudicationAndDisposals
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.test.ts
  packages/core/phase2/tests/helpers/generateAhoMatchingPncAdjudicationAndDisposals.ts
Due: core-changes

Rename exceptionCheckFn to checkExceptionFn
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.test.ts
Due: core-changes

add conditions to ui jobs
  .circleci/continue_config.yml
Due: circleci-changes

Fix checkResultsMatchingPncDisposalsExceptions function
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.test.ts
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.ts
  packages/core/phase2/tests/helpers/generateAhoMatchingPncAdjudicationAndDisposals.ts
Due: core-changes

Fix checkResultsMatchingPncDisposalsExceptions function (#988)
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.test.ts
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.ts
  packages/core/phase2/tests/helpers/generateAhoMatchingPncAdjudicationAndDisposals.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@063e31dfaeab44a9b10dee908b93bfc45fbb4310 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Fix issue with generating subvar operation
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Add HO200118
  packages/core/phase2/exceptions/HO200118.test.ts
  packages/core/phase2/exceptions/HO200118.ts
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Fix HO200118 issue with checking recordable offences
  packages/core/phase2/exceptions/HO200118.test.ts
  packages/core/phase2/exceptions/HO200118.ts
Due: core-changes

add tests
  packages/core/phase2/exceptions/HO200100.test.ts
  packages/core/phase2/exceptions/HO200121.test.ts
Due: core-changes

move exception logic
  packages/core/phase2/exceptions/HO200121.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Add HO200118 (#986)
  packages/core/phase2/exceptions/HO200118.test.ts
  packages/core/phase2/exceptions/HO200118.ts
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@08147c6172197d94158686fc206d5d5fb90a02b0 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add HO200121 (#989)
  packages/core/phase2/exceptions/HO200100.test.ts
  packages/core/phase2/exceptions/HO200121.test.ts
  packages/core/phase2/exceptions/HO200121.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@8359c6f934e90564375a8bf3e0b81d34ba9a6586 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

remove eslint-config-airbnb-typescript
  package-lock.json
  package.json
Due: none

Add tests for valid user roles for resubmission endpoint
  packages/api/src/routes/cases/resubmit.integration.test.ts
Due: api-changes

Refactor filtering for force code and lock user
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/services/gateways/fakeGateway.ts
  packages/api/src/services/gateways/interfaces/gateway.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.test.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.ts
  packages/api/src/services/gateways/postgresGateway.ts
Due: api-changes

Refactor createRemandOperation
  packages/core/phase2/lib/areNewremTypesEqual.test.ts
  packages/core/phase2/lib/areRemandOperationsEqual.ts
  packages/core/phase2/lib/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/types/PncUpdateDataset.ts
Due: core-changes

Refactor checkCaseRequiresRccButHasNoReportableOffences
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/phase2/lib/areNewremTypesEqual.test.ts
  packages/core/phase2/lib/generateOperations/checkCaseRequiresRccButHasNoReportableOffences.ts
  packages/core/phase2/lib/generateOperations/deduplicateOperations.test.ts
Due: core-changes

Add a missing test
  packages/api/src/services/formatForceNumbers.unit.test.ts
Due: api-changes

Refactor createRemandOperation (#993)
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/phase2/lib/areNewremTypesEqual.test.ts
  packages/core/phase2/lib/areRemandOperationsEqual.ts
  packages/core/phase2/lib/generateOperations/checkCaseRequiresRccButHasNoReportableOffences.ts
  packages/core/phase2/lib/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournment.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/types/PncUpdateDataset.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@14a609a1da5ebd08f88fe5c8312fa33074ef7e86 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

update reference to e2e-test
  .circleci/continue_config.yml
Due: circleci-changes

Onward refactoring for resubmission
  packages/api/src/routes/cases/resubmit.integration.test.ts
  packages/api/src/routes/cases/resubmit.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.test.ts
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.ts
Due: api-changes

remove eslint-config-airbnb-typescript
  .circleci/continue_config.yml
  package-lock.json
  packages/e2e-test/package.json
  packages/ui/.eslintrc.js
Due: circleci-changes

update packages
  .ncurc.js
  packages/ui/.ncurc.js
Due: none

update dependencies
  package-lock.json
  package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: common-changes, conductor-changes, core-changes

update package-lock.json
  package-lock.json
Due: none

Refactor operation types
  packages/core/phase2/lib/areRemandOperationsEqual.ts
  packages/core/phase2/lib/generateOperations/createOperation.ts
  packages/core/phase2/lib/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/generateOperations/operationCourtCaseReference.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/phase2.ts
  packages/core/types/PncUpdateDataset.ts
Due: core-changes
