Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

Remove workerThreads option
  packages/message-forwarder/package.json
Due: message-forwarder-changes

We can't use @swc/jest on message-forwarder
  packages/message-forwarder/jest.config.js
Due: message-forwarder-changes

Add @swc/jest to core (#939)
  .circleci/continue_config.yml
  .dockerignore
  .gitignore
  .swcrc
  package-lock.json
  package.json
  packages/api/.swcrc
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/tests/court-cases.integration.test.ts
  packages/common/jest.config.js
  packages/common/package.json
  packages/conductor/jest.config.js
  packages/conductor/package.json
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.ts
  packages/core/jest.config.js
  packages/core/lib/parse/transformSpiToAho/populateDefendant.test.ts
  packages/core/package.json
Due: circleci-changes, api-changes, common-changes, conductor-changes, core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b1f8b0598185aae81f2d28eba10e9fb41faaf729 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add phase2CanaryRatio to send to phase 2 input
  packages/common/conductor/middleware/s3TaskDataFetcher.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.ts
Due: common-changes, core-changes

Add phase2CanaryRatio to send to phase 2 input (#940)
  packages/common/conductor/middleware/s3TaskDataFetcher.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.ts
Due: common-changes, core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@34af2c8f9959e74367e4f34c9829f945c4e7e5cb 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/message-forwarder/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@db3dd77f0bdc08ef70ad7626a1ddadfd87f9441a 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#942)
  package-lock.json
  packages/core/package.json
Due: core-changes

Add trigger_reason to error_list along with trigger_count and trigger_status
  packages/core/lib/database/saveErrorListRecord.integration.test.ts
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Fix updating trigger_status and trigger_count even when no exceptions are raised
  packages/core/lib/database/saveErrorListRecord.ts
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Add test to verify trigger count and status gets updated on error_list table even when no exception is raised after resubmission
  packages/core/lib/database/saveErrorListRecord.integration.test.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@ff8522ad2247ab80ba4589c32a1924726e89c1f6 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

WIP
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/serialise/pnc-update-dataset-xml/serialiseToXml.ts
  packages/core/phase2/types/operationCodes.ts
Due: core-changes

Remove some of the CI test runs because they're not needed here
  .circleci/continue_config.yml
Due: circleci-changes

Extract the system ID from the correct field in the XML
  packages/core/lib/parse/transformSpiToAho/extractIncomingMessageData.ts
  packages/core/schemas/incomingMessage.ts
Due: core-changes

Update message forwarder to take in Conductor workflow name (#929)
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
Due: message-forwarder-changes

Update comparison tests to validate Phase 2 audit log events (#930)
  packages/core/comparison/cli/getComparisonStatistics.test.ts
  packages/core/comparison/cli/printResult.ts
  packages/core/comparison/cli/skippedFile.ts
  packages/core/comparison/lib/DynamoGateway.integration.test.ts
  packages/core/comparison/lib/compareFile.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/extractAuditLogEventCodes.ts
  packages/core/comparison/lib/isPass.ts
  packages/core/comparison/lib/recordResultInDynamo.integration.test.ts
  packages/core/comparison/lib/recordResultInDynamo.ts
  packages/core/comparison/lib/recordResultsInDynamo.ts
  packages/core/comparison/types/ComparisonLog.ts
  packages/core/comparison/types/ComparisonResultDetail.ts
Due: core-changes

Update Phase 2 condition to only check for AINT case for AHO (#928)
  packages/core/phase2/phase2.test.ts
  packages/core/phase2/phase2.ts
Due: core-changes

Update Docker Compose with Phase 2 message forwarder (#936)
  .circleci/scripts/build-message-forwarder.sh
  environment/docker-compose.yml
  package.json
Due: circleci-changes, env-changes

Update standing data dependency (#927)
  package-lock.json
  packages/core/package.json
Due: core-changes

Add a script to revert S3 files to their initial version
  packages/conductor/scripts/revert-conductor-s3-task-file.sh
Due: conductor-changes

Update Docker Compose for legacy Bichard with Phase 2 message forwarder (#937)
  environment/docker-compose-bichard.yml
Due: env-changes

Update message forwarder to parse PncUpdateDataset as well (#934)
  packages/message-forwarder/src/forwardMessage/forwardMessage.auto.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.conductor.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.unit.test.ts
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.ts
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.unit.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.ts
  packages/message-forwarder/src/test/fixtures/pnc-update-dataset.xml
Due: message-forwarder-changes

Update standing data dependency (#935)
  package-lock.json
  packages/core/package.json
Due: core-changes

Persist phase 2 (#917)
  .circleci/continue_config.yml
  packages/conductor/workflows/bichard_phase_2.json
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/processPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/processPhase2.ts
  packages/core/lib/database/__snapshots__/convertResultToErrorListRecord.test.ts.snap
  packages/core/lib/database/__snapshots__/updateErrorListRecord.integration.test.ts.snap
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/database/convertResultToErrorListRecord.ts
  packages/core/lib/database/saveErrorListRecord.ts
  packages/core/lib/database/updateErrorListRecord.integration.test.ts
  packages/core/lib/database/updateErrorListRecord.ts
  packages/core/phase2/lib/getOperationSequence/areAllResultsAlreadyPresentOnPnc/isMatchToPncAdjAndDis/isPncDisposalMatch.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/ExceptionsAndOperations.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
  packages/core/phase2/phase2.ts
  packages/core/phase2/schemas/phase2Result.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/phase2/tests/fixtures/helpers/generateFakePncUpdateDataset.ts
  packages/core/phase2/tests/helpers/PartialPncUpdateDataset.ts
  packages/core/phase2/tests/helpers/generateMockPhase2Result.ts
Due: circleci-changes, conductor-changes, core-changes

Annotated PNC update dataset serialiser (#924)
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.ts
  packages/core/lib/parse/parseAhoXml/extractExceptionsFromXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/annotatedPncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getAnnotatedDatasetFromDataset.test.ts
  packages/core/phase2/lib/getAnnotatedDatasetFromDataset.ts
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/__snapshots__/parseAnnotatedPncUpdateDatasetXml.test.ts.snap
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.test.ts
  packages/core/phase2/parse/parseAnnotatedPncUpdateDatasetXml/parseAnnotatedPncUpdateDatasetXml.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/persist/getRecordID.ts
  packages/core/phase2/persist/insertPncUpdateError.ts
  packages/core/phase2/persist/markErrorAsResolved.ts
  packages/core/phase2/persist/putPncUpdateError.ts
  packages/core/phase2/persist/putTriggerEvent.ts
  packages/core/phase2/persist/revisePncUpdateError.ts
  packages/core/phase2/schemas/annotatedPncUpdateDataset.ts
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset-with-exception.xml
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset-without-exception.xml
  packages/core/phase2/tests/fixtures/AnnotatedPncUpdateDataset.xml
  packages/core/phase2/types/AnnotatedPNCUpdateDatasetXml.ts
  packages/core/phase2/types/AnnotatedPncUpdateDatasetParsedXml.ts
  packages/core/phase2/types/PncUpdateDatasetParsedXml.ts
  packages/core/schemas/annotatedPNCUpdateDataset.ts
  packages/core/schemas/annotatedPncUpdateDataset.ts
  packages/core/types/AnnotatedPNCUpdateDataset.ts
  packages/core/types/AnnotatedPncUpdateDataset.ts
  packages/core/types/AnnotatedPncUpdateDatasetXml.ts
  packages/core/types/PncUpdateDatasetXml.ts
Due: core-changes

update newrem
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/triggers/TRPS0004.test.ts
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/extractRemandCcrs.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update disarr
  packages/core/lib/triggers/TRPS0010.test.ts
  packages/core/lib/triggers/TRPS0011.test.ts
  packages/core/lib/triggers/TRPS0013.test.ts
  packages/core/lib/triggers/hasCompletedDisarr.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
Due: core-changes

update sendef
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

update penhrg
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
Due: core-changes

move operation codes enum out of phase 2 folder
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/triggers/TRPS0004.test.ts
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/lib/triggers/TRPS0010.test.ts
  packages/core/lib/triggers/TRPS0011.test.ts
  packages/core/lib/triggers/TRPS0013.test.ts
  packages/core/lib/triggers/hasCompletedDisarr.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/extractRemandCcrs.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/types/operationCodes.ts
Due: core-changes

Tweak script to not download docker images in CI if they already exist
  environment/boot.sh
Due: env-changes

Update ESLint and TS configs to work
  .eslintrc.js
  packages/ui/.eslintrc.js
  packages/ui/cypress.config.ts
  packages/ui/cypress/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: none
