Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Install undici to handle rejectUnauthorized
  package-lock.json
  packages/api/package.json
  packages/api/src/services/checkLedsConnectivity.ts
  packages/api/src/services/checkLedsConnectivity.unit.test.ts
Due: api-changes

BICAWS7-4360-fetch-userby-username (#2072)
  package-lock.json
  packages/api/src/services/db/users/fetchUserByUsername.integration.test.ts
  packages/api/src/services/db/users/fetchUserByUsername.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: api-changes, ui-changes

chore: initial commit, implementing zod parsing to fetchUsers database
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#2064)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

chore: initial commit, implementing zod parsing to fetchUsers database (#2076)
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

Add audit logger to LEDSGateway
  packages/core/conductor-tasks/bichard_phase_1/processPhase1.ts
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.ts
  packages/core/lib/policeGateway/createPoliceGateway.ts
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/pnc/PncGateway.test.ts
  packages/core/lib/policeGateway/pnc/PncGateway.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.test.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/phase1/enrichAho/index.ts
  packages/core/phase1/phase1.ts
  packages/core/tests/fixtures/leds-asn-query-response-001.json
Due: core-changes

chore: initial commit
  packages/api/src/services/db/users/fetchUserLookups.ts
Due: api-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

WIP: added z.pick for user
  packages/common/types/User.ts
Due: common-changes

WIP: working on failing tests
  packages/api/src/services/db/users/fetchUserLookups.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

Fix sonar issues
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/pnc/PncGateway.ts
Due: core-changes

Upgrade govuk-frontend to v6, MoJ frontend to v9
  package-lock.json
  packages/ui/package.json
  packages/user-service/package.json
Due: ui-changes, user-service-changes

Update colours and font size
  packages/help/site/_sass/govuk/components/tag/_index.scss
  packages/help/site/_sass/govuk/settings/_colours-palette.scss
  packages/ui/src/components/Buttons/RefreshButton.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/ExceptionsList.styles.tsx
  packages/ui/src/utils/colours.ts
  packages/ui/styles/globals.scss
  packages/ui/styles/variables.scss
  packages/user-service/src/components/ServiceMessages.tsx
  packages/user-service/src/emails/EmailLayout.tsx
  packages/user-service/src/emails/EmailValidationLayout.tsx
  packages/user-service/src/styles/globals.scss
  packages/user-service/src/styles/variables.scss
  packages/user-service/src/utils/colours.ts
Due: ui-changes, user-service-changes

Refactor to consistently use colour variables
  packages/ui/src/components/Buttons/RefreshButton.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/ExceptionsList.styles.tsx
  packages/ui/src/utils/colours.ts
  packages/user-service/src/emails/EmailLayout.tsx
  packages/user-service/src/emails/EmailValidationLayout.tsx
  packages/user-service/src/utils/colours.ts
Due: ui-changes, user-service-changes

Update snapshots for user-service
  packages/user-service/test/components/__snapshots__/ServiceMessages.test.tsx.snap
  packages/user-service/test/useCases/__snapshots__/createPasswordChangedEmail.test.ts.snap
Due: user-service-changes

Update integration test snapshot in ui
  packages/user-service/test/useCases/__snapshots__/createNewUserEmail.integration.test.ts.snap
Due: user-service-changes

Update light grey to be colour to original
  packages/ui/styles/variables.scss
  packages/user-service/src/styles/variables.scss
Due: ui-changes, user-service-changes

Remove MoJ frontend from pinned packages
  packages/ui/.ncurc.js
  packages/user-service/.ncurc.js
Due: ui-changes, user-service-changes

Fix import and update user service snapshots with colour changes
  packages/user-service/src/emails/EmailLayout.tsx
  packages/user-service/test/useCases/__snapshots__/createPasswordChangedEmail.test.ts.snap
Due: user-service-changes

Update frontend imports in sass
  packages/ui/styles/globals.scss
  packages/user-service/src/styles/globals.scss
Due: ui-changes, user-service-changes

Update snapshots for footer changes
  packages/user-service/test/pages/__snapshots__/403.test.tsx.snap
  packages/user-service/test/pages/__snapshots__/500.test.tsx.snap
Due: user-service-changes

Update light grey to be accessible with new link colour
  packages/ui/styles/variables.scss
  packages/user-service/src/styles/variables.scss
Due: ui-changes, user-service-changes

Update footer tags
  packages/help/site/_layouts/default.html
  packages/ui/src/components/Layout.tsx
  packages/user-service/src/components/Footer.tsx
Due: ui-changes, user-service-changes

Add audit logger to LedsGateway (#2077)
  packages/core/conductor-tasks/bichard_phase_1/processPhase1.ts
  packages/core/conductor-tasks/bichard_phase_3/processPhase3.ts
  packages/core/lib/policeGateway/createPoliceGateway.ts
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/pnc/PncGateway.test.ts
  packages/core/lib/policeGateway/pnc/PncGateway.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.test.ts
  packages/core/phase1/enrichAho/enrichFunctions/enrichWithPncQuery.ts
  packages/core/phase1/enrichAho/index.ts
  packages/core/phase1/phase1.ts
  packages/core/tests/fixtures/leds-asn-query-response-001.json
Due: core-changes

chore: introduced userLookupRowSchema, removed userminimalSchema as unused
  packages/api/src/services/db/mapUserRowToUser.ts
  packages/api/src/services/db/users/fetchUserLookups.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

chore: fixed lint formatting
  packages/api/src/services/db/mapUserRowToUser.ts
  packages/api/src/services/db/users/fetchUserLookups.ts
Due: api-changes

Add Dispatcher via dependancy injection to isolate it for unit tests
  packages/api/src/services/checkLedsConnectivity.ts
  packages/api/src/services/checkLedsConnectivity.unit.test.ts
  packages/api/src/useCases/checkConnectivity.ts
Due: api-changes

Update to latest Gov frontend version and remove from pinned
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: ui-changes, user-service-changes

chore: clean up the code, moved UserLookupRowschema to user.ts and added userRow to translate from user row schema
  package-lock.json
  packages/api/src/services/db/mapUserRowToUser.ts
  packages/api/src/services/db/users/fetchUserLookups.ts
  packages/common/package.json
  packages/common/types/User.ts
Due: api-changes, common-changes

chore: added .loose for zod
  packages/common/types/User.ts
Due: common-changes

chore: reverting
  packages/common/types/User.ts
Due: common-changes

Remove LEDS API check in e2e test Codebuild job
  packages/e2e-test/e2eTestBuildspec.yml
  packages/e2e-test/scripts/check-leds-api-status.sh
Due: e2e-test-changes

chore: he argument type is updated to accept the new UserLookupRow
  packages/api/src/useCases/dto/convertUserToDto.ts
Due: api-changes

Remove LEDS API check in e2e test Codebuild job (#2079)
  packages/e2e-test/e2eTestBuildspec.yml
  packages/e2e-test/scripts/check-leds-api-status.sh
Due: e2e-test-changes

Update packages/api/src/services/db/users/fetchUserLookups.ts
  packages/api/src/services/db/users/fetchUserLookups.ts
Due: api-changes

Bicaws7 4368 add parsing to fetch user lookups (#2078)
  package-lock.json
  packages/api/src/services/db/users/fetchUserLookups.ts
  packages/api/src/useCases/dto/convertUserToDto.ts
  packages/common/package.json
  packages/common/types/User.ts
Due: api-changes, common-changes

Bicaws7 3538 add resolved by user filter to the filter panel for reports for resolved exceptions and triggers (#2075)
  packages/api/src/services/db/cases/reports/exceptions.ts
  packages/common/contracts/ExceptionReport.ts
  packages/ui/cypress/component/SearchFilters/ResolvedByFilter.cy.tsx
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/cypress/component/reports/ReportSelectionFilter.cy.tsx
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/features/ReportSelectionFilter/reducers/filters.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.ts
  packages/ui/src/pages/api/reports/index.ts
  packages/ui/src/pages/report-selection/index.tsx
  packages/ui/src/types/reports/ReportSelectionFilter.ts
  packages/ui/src/utils/reports/validateResolvedBy.test.ts
  packages/ui/src/utils/reports/validateResolvedBy.ts
Due: api-changes, common-changes, ui-changes

Update cypress test
  packages/ui/cypress/e2e/api/connectivity.api.cy.ts
Due: ui-changes

Update integration test
  packages/api/src/useCases/checkConnectivity.integration.test.ts
Due: api-changes
