Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Fix handling of phase input in rerun-all task
  packages/core/comparison/conductor-tasks/rerunPeriod.ts
Due: core-changes

Don't compare triggers or exceptions if we don't have the outgoing message
  packages/core/comparison/lib/comparePhase3.ts
Due: core-changes

Add --ignore-scripts to npm ci for core worker docker build
  packages/conductor/Dockerfile
Due: conductor-changes

Add --ignore-scripts to npm ci for message forwarder docker build
  packages/message-forwarder/Dockerfile
Due: message-forwarder-changes

Add --ignore-scripts to npm ci for ui docker build
  packages/ui/Dockerfile
Due: none

Add Result Qualifiers
  packages/ui/cypress/e2e/case-details/view-case-details/result-qualifiers.cy.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/ResultQualifier.tsx
  packages/ui/test/test-data/resultQualifiers.json
Due: none

Update command to print steps
  packages/e2e-test/package.json
Due: e2e-test-changes

Don't compare triggers or exceptions if we don't have the outgoing message (#1173)
  packages/core/comparison/lib/comparePhase3.ts
Due: core-changes

Offence results show qualifiers (#1175)
  packages/e2e-test/package.json
  packages/ui/cypress/e2e/case-details/view-case-details/result-qualifiers.cy.ts
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceDetails.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/ResultQualifier.tsx
  packages/ui/test/test-data/resultQualifiers.json
Due: e2e-test-changes

Send message to the relevant queue (#1152)
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/submit.tsx
  packages/ui/src/services/amendCourtCase/amendCourtCase.ts
  packages/ui/src/services/mq/sendToQueue.ts
  packages/ui/src/services/resubmitCourtCase.ts
  packages/ui/test/services/__snapshots__/resubmitCourtCase.integration.test.ts.snap
  packages/ui/test/services/resubmitCourtCase.integration.test.ts
Due: none

Fix linting issues
  packages/core/lib/triggers/TRPS0003.test.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200202.test.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200203.test.ts
  packages/core/phase2/exceptions/HO200203.ts
  packages/core/phase2/exceptions/HO200205.ts
Due: core-changes

Remove HO200200 and HO200201 characterisation tests
  packages/core/characterisation-tests/exceptions/HO200200.test.ts
  packages/core/characterisation-tests/exceptions/HO200201.test.ts
Due: core-changes, characterisation-test-changes

Remove an unused exception (HO200201) that refers to data that we never set
  packages/core/phase2/exceptions/HO200201.test.ts
  packages/core/phase2/exceptions/HO200201.ts
  packages/core/phase2/exceptions/generateExceptions.ts
  packages/core/schemas/unvalidatedHearingOutcome.ts
Due: core-changes

Re-work exception HO200202 to apply to all recordable results, not just ones with matching PNC adjudication
  packages/core/phase2/exceptions/HO200202.test.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200203.test.ts
Due: core-changes

Remove HO200200 exceptions and move the logic into the TRPS0003 trigger since that's the only place they were used
  packages/core/lib/triggers/TRPS0003.test.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200200.test.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/exceptions/generateExceptions.ts
  packages/core/phase2/phase2.ts
  packages/core/phase3/exceptions/HO200200.test.ts
  packages/core/phase3/exceptions/HO200200.ts
  packages/core/phase3/exceptions/generateExceptionsForOperation.ts
  packages/core/phase3/phase3.ts
Due: core-changes

Remove the `checkResultsMatchingPncDisposalsExceptions` function as it's no longer used
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.test.ts
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.ts
Due: core-changes

Add exception HO200203 for bail conditions
  packages/core/lib/exceptions/errorPaths.ts
  packages/core/phase2/exceptions/HO200203.test.ts
  packages/core/phase2/exceptions/HO200203.ts
  packages/core/phase2/exceptions/generateExceptions.ts
Due: core-changes

Make HO200205 operate on all recordable results
  packages/core/phase2/exceptions/HO200205.ts
Due: core-changes

Filter out HO200200 exceptions from the comparison
  packages/core/comparison/lib/comparePhase3.ts
Due: core-changes

Make sure TRPS0003 runs in phase 3
  packages/core/lib/triggers/TRPS0003.ts
Due: core-changes

Refactor to extract a function to loop over recordable results
  packages/core/lib/forEachRecordableResult.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200205.ts
Due: core-changes

Fix linting errors
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/lib/forEachRecordableResult.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200202.ts
Due: core-changes

Re-work phase 3 exceptions into phase 2 (#1176)
  packages/core/characterisation-tests/exceptions/HO200200.test.ts
  packages/core/characterisation-tests/exceptions/HO200201.test.ts
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/lib/exceptions/errorPaths.ts
  packages/core/lib/forEachRecordableResult.ts
  packages/core/lib/triggers/TRPS0003.test.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200200.test.ts
  packages/core/phase2/exceptions/HO200200.ts
  packages/core/phase2/exceptions/HO200201.test.ts
  packages/core/phase2/exceptions/HO200201.ts
  packages/core/phase2/exceptions/HO200202.test.ts
  packages/core/phase2/exceptions/HO200202.ts
  packages/core/phase2/exceptions/HO200203.test.ts
  packages/core/phase2/exceptions/HO200203.ts
  packages/core/phase2/exceptions/HO200205.ts
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.test.ts
  packages/core/phase2/exceptions/checkResultsMatchingPncDisposalsExceptions.ts
  packages/core/phase2/exceptions/generateExceptions.ts
  packages/core/phase2/phase2.ts
  packages/core/phase3/exceptions/HO200200.test.ts
  packages/core/phase3/exceptions/HO200200.ts
  packages/core/phase3/exceptions/generateExceptionsForOperation.ts
  packages/core/phase3/phase3.ts
  packages/core/schemas/unvalidatedHearingOutcome.ts
Due: core-changes, characterisation-test-changes

Refactor request generators to use generateBasePncUpdateRequest
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Add generateBasePncUpdateRequest function
  packages/core/phase3/lib/generateBasePncUpdateRequest.test.ts
  packages/core/phase3/lib/generateBasePncUpdateRequest.ts
Due: core-changes

WIP
  packages/ui/cypress/e2e/case-details/view-case-details/view-pnc-error-message.cy.ts
Due: none

refactor message rendering
  packages/ui/src/components/Exception/PncException.tsx
Due: none

Move logic of dispatch into performOperation function
  packages/core/phase3/lib/dispatch.ts
  packages/core/phase3/lib/performOperation.ts
Due: core-changes

Remove unnecessary pncOperations output from phase3 function
  packages/core/phase3/phase3.ts
Due: core-changes

WIP Co-Authored-By: Richard Race <richard.race@madetech.com>
  .eslintrc.js
  .ncurc.js
  eslint.config.mjs
  package-lock.json
  package.json
  packages/api/.eslintrc.js
  packages/api/package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/conductor/.eslintrc.js
  packages/conductor/package.json
  packages/core/.eslintrc.js
  packages/core/package.json
  packages/e2e-test/helpers/MockPNCHelper.ts
  packages/e2e-test/helpers/PNCTestTool.ts
  packages/e2e-test/helpers/PostgresHelper.ts
  packages/e2e-test/package.json
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/actions.next-ui.ts
  packages/e2e-test/utils/healthCheck.ts
  packages/e2e-test/utils/pnc.ts
  packages/e2e-test/utils/puppeteer-utils.ts
  packages/e2e-test/utils/reports.ts
  packages/message-forwarder/.eslintrc.js
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/uat-data/scripts/insert-uat-data.ts
  packages/ui/.eslintignore
  packages/ui/.eslintrc.js
  packages/ui/.ncurc.js
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Move hearingDetails.ts to root of lib directory
  packages/core/phase3/lib/hearingDetails.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Add non-root user for running processes in UI container
  packages/ui/Dockerfile
  packages/ui/docker/conf/supervisord.conf
Due: none

Merge consecutive run instructions
  packages/ui/Dockerfile
Due: none

Add non-root user directive to core worker docker image
  packages/conductor/Dockerfile
Due: conductor-changes

Add non-root user directive to API dockerfile
  packages/api/Dockerfile
Due: api-changes

Add non-root user directive to message forwarder image
  packages/message-forwarder/Dockerfile
Due: message-forwarder-changes

Resolve sonarcloud security hotspot warnings (#1174)
  packages/api/Dockerfile
  packages/conductor/Dockerfile
  packages/message-forwarder/Dockerfile
  packages/ui/Dockerfile
  packages/ui/docker/conf/supervisord.conf
Due: api-changes, conductor-changes, message-forwarder-changes

server.key now owned by supervisor user, not root
  packages/ui/goss.yaml
Due: none

Add test for getRecordableOffencesForCourtCase
  packages/core/lib/getRecordableOffencesForCourtCase.test.ts
Due: core-changes

Add tests for getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie
  packages/core/phase3/lib/createPncDisposalFromOffence.ts
  packages/core/phase3/lib/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.test.ts
  packages/core/phase3/lib/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.ts
Due: core-changes
