Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

BICAWS7-4391 Use the API logger in the UI before we use it (#2107)
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/pages/index.tsx
Due: ui-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Order the names in allocation alphabetically (#2108)
  packages/api/src/server/createFastify.ts
  packages/api/src/services/db/users/fetchUserLookups.integration.test.ts
  packages/api/src/services/db/users/fetchUserLookups.ts
Due: api-changes

Put active users checkboxes in details summary component
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

add status page code
  packages/status-page/Dockerfile
  packages/status-page/Justfile
  packages/status-page/cloudwatch_export.py
  packages/status-page/requirements.txt
Due: none

Fix Organisation Unit showing in Reports
  packages/api/src/useCases/cases/reports/utils/findNextHearing.ts
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/utils/findNextHearing.ts
Due: api-changes

Typeahead search for next hearing location
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
Due: common-changes

add readme
  packages/status-page/README.md
Due: none

Fix test data
  packages/ui/test/test-data/NextHearingLocationExceptions.json
Due: ui-changes

Fix sonar issue
  packages/common/utils/searchCourtOrganisationUnits.ts
Due: common-changes

Initial refactor of active and deleted user checkbox details
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

Fix typing on resolver
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

Remove additional offence from test 500
  packages/e2e-test/features/500-carry-forward-for-existing-offence/input-message.xml
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.before.json
Due: e2e-test-changes

Updated test 28 for 4047 result text
  packages/e2e-test/features/028-driver-disqualification/input-message-1.xml
  packages/e2e-test/features/028-driver-disqualification/police-data.after.json
  packages/e2e-test/features/028-driver-disqualification/police-data.before.json
Due: e2e-test-changes

Update duration to match the result text
  packages/e2e-test/features/500-carry-forward-for-existing-offence/input-message.xml
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.before.json
Due: e2e-test-changes

Refactor function props to string prefixes
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

Refactor Details into its own component
  packages/ui/src/components/Details/Details.styles.tsx
  packages/ui/src/components/Details/Details.tsx
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

Update e2e test 028 and 500 (#2115)
  packages/e2e-test/features/028-driver-disqualification/input-message-1.xml
  packages/e2e-test/features/028-driver-disqualification/police-data.after.json
  packages/e2e-test/features/028-driver-disqualification/police-data.before.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/input-message.xml
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.after.json
  packages/e2e-test/features/500-carry-forward-for-existing-offence/police-data.before.json
Due: e2e-test-changes

The report are not showing the court codes correctly (#2113)
  packages/api/src/useCases/cases/reports/utils/findNextHearing.ts
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/utils/findNextHearing.ts
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
  packages/ui/test/test-data/NextHearingLocationExceptions.json
Due: api-changes, common-changes, ui-changes

Move ResolverDetails component outside of component
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

Add id field to Details component
  packages/ui/cypress/e2e/audit/search.api.cy.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/src/components/Details/Details.tsx
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

Update component tests
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/cypress/component/SearchFilters/ResolvedByFilter.cy.tsx
Due: ui-changes

Refactor ResolverDetails into its own file
  packages/ui/src/components/Details/ResolverDetails.tsx
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

BICAWS7-4392 Show/hide active users on the Resolved exception and triggers report (#2112)
  packages/ui/cypress/component/Audit/AuditSearch.cy.tsx
  packages/ui/cypress/component/SearchFilters/ResolvedByFilter.cy.tsx
  packages/ui/cypress/e2e/audit/search.api.cy.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/src/components/Details/Details.styles.tsx
  packages/ui/src/components/Details/Details.tsx
  packages/ui/src/components/Details/ResolverDetails.tsx
  packages/ui/src/components/SearchFilters/ResolvedByFilter.tsx
Due: ui-changes

chore: initial commit, added s3 web proxy directory
  S3_Web_Proxy/Dockerfile
  S3_Web_Proxy/Makefile
  S3_Web_Proxy/build.sh
  S3_Web_Proxy/buildspec.yml
  S3_Web_Proxy/conf/config
  S3_Web_Proxy/conf/crontab
  S3_Web_Proxy/conf/nginx.conf
  S3_Web_Proxy/conf/supervisord.conf
  S3_Web_Proxy/goss.yaml
  S3_Web_Proxy/goss_wait.yaml
  S3_Web_Proxy/s3-server/Dockerfile
  S3_Web_Proxy/s3-server/LICENSE-APACHE2
  S3_Web_Proxy/s3-server/README.md
  S3_Web_Proxy/s3-server/bin/server.js
  S3_Web_Proxy/s3-server/bin/start.sh
  S3_Web_Proxy/s3-server/lib/list.html
  S3_Web_Proxy/s3-server/package-lock.json
  S3_Web_Proxy/s3-server/package.json
  S3_Web_Proxy/scripts/build_docker.sh
  S3_Web_Proxy/scripts/credentials.sh
  S3_Web_Proxy/scripts/run_nginx.sh
Due: none

Add Show/Hide to the Details component
  packages/ui/cypress/component/Details/Details.cy.tsx
  packages/ui/src/components/Details/Details.styles.tsx
  packages/ui/src/components/Details/Details.tsx
Due: ui-changes

Add Show/Hide to the Details component (#2116)
  packages/ui/cypress/component/Details/Details.cy.tsx
  packages/ui/src/components/Details/Details.styles.tsx
  packages/ui/src/components/Details/Details.tsx
Due: ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

chore: updated package.json after npm install
  S3_Web_Proxy/s3-server/package.json
  package-lock.json
  package.json
Due: none

fix: add lint script placeholder for s3-server workspace
  S3_Web_Proxy/s3-server/package.json
Due: none

refactor to enable tracking of multiple metrics
  .gitignore
  packages/status-page/.python-version
  packages/status-page/README.md
  packages/status-page/cloudwatch_export.py
  packages/status-page/pyproject.toml
  packages/status-page/uv.lock
Due: none

tidy error handling
  packages/status-page/cloudwatch_export.py
Due: none

replace justfile with makefile
  packages/status-page/Justfile
  packages/status-page/Makefile
  packages/status-page/cloudwatch_export.py
Due: none

chore: moved s3 web proxy to packages and ran npm install
  package-lock.json
  package.json
  packages/s3_web_proxy/Dockerfile
  packages/s3_web_proxy/Makefile
  packages/s3_web_proxy/build.sh
  packages/s3_web_proxy/buildspec.yml
  packages/s3_web_proxy/conf/config
  packages/s3_web_proxy/conf/crontab
  packages/s3_web_proxy/conf/nginx.conf
  packages/s3_web_proxy/conf/supervisord.conf
  packages/s3_web_proxy/goss.yaml
  packages/s3_web_proxy/goss_wait.yaml
  packages/s3_web_proxy/s3-server/Dockerfile
  packages/s3_web_proxy/s3-server/LICENSE-APACHE2
  packages/s3_web_proxy/s3-server/README.md
  packages/s3_web_proxy/s3-server/bin/server.js
  packages/s3_web_proxy/s3-server/bin/start.sh
  packages/s3_web_proxy/s3-server/lib/list.html
  packages/s3_web_proxy/s3-server/package-lock.json
  packages/s3_web_proxy/s3-server/package.json
  packages/s3_web_proxy/scripts/build_docker.sh
  packages/s3_web_proxy/scripts/credentials.sh
  packages/s3_web_proxy/scripts/run_nginx.sh
Due: none

refactor: lint fix
  packages/s3_web_proxy/s3-server/bin/server.js
Due: none

refactor: based on sonarqube
  packages/s3_web_proxy/build.sh
  packages/s3_web_proxy/s3-server/bin/server.js
Due: none

refactor: more sonarqube changes
  packages/s3_web_proxy/s3-server/bin/server.js
  packages/s3_web_proxy/s3-server/lib/list.html
Due: none

chore: few more fixes
  packages/s3_web_proxy/s3-server/bin/server.js
Due: none

refactor: double brackets
  packages/s3_web_proxy/scripts/run_nginx.sh
Due: none
