Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set-params:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>

      - run:
          name: Scan parameters and enable DLC
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "api-changes|env-changes|common-changes|circleci-changes" << pipeline.parameters.output-path >>; then
              echo "A job that uses DLC has been found, adding the DLC parameter to the parameters file"
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"dlc"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "no jobs that need DLC were found, continuing"
            fi
      - continuation/continue:
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete. In this case, we are using the parent dynamic
          # configuration itself.
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  # the always-run workflow is always triggered, regardless of the pipeline parameters.
  always-run:
    jobs:
      - set-params

Extract repeated npm packages across packages
  package-lock.json
  package.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes

Add eslint plugin for mocha to highlight when in Cypress tests using 'only'
  package-lock.json
  package.json
  packages/conductor/package.json
  packages/ui/.eslintrc.js
Due: conductor-changes

Remove backup file for eslint
  packages/ui/.eslintrc.json.bak
Due: none

Enable Husky at the top level of the monorepo
  package-lock.json
  package.json
  packages/core/package.json
  packages/ui/.husky/pre-commit
  packages/ui/package.json
  scripts/install-git-hooks.sh
Due: core-changes

Get UI package to build and Docker to build
  packages/ui/Dockerfile
  packages/ui/next.config.js
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
Due: none

Update path filtering Orb
  .circleci/config.yml
Due: circleci-changes

Update CircleCI Config
  .circleci/continue_config.yml
Due: circleci-changes

Add UI to mapping list
  .circleci/config.yml
Due: circleci-changes

Fix ESLint after rebase
  .ncurc.js
  package-lock.json
  package.json
  packages/ui/package.json
Due: none

remove redundant file and update name of enum
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/triggers/TRPS0004.test.ts
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/lib/triggers/TRPS0010.test.ts
  packages/core/lib/triggers/TRPS0011.test.ts
  packages/core/lib/triggers/TRPS0013.test.ts
  packages/core/lib/triggers/hasCompletedDisarr.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/extractRemandCcrs.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/types/PncOperation.ts
  packages/core/types/PncOperationCodes.ts
Due: core-changes

Set destination type to MQ for Phase 2 message forwarder
  environment/docker-compose.yml
Due: env-changes

Set legacy Bichard to use Phase 2 message forwarder
  environment/docker-compose.yml
Due: env-changes

Update Docker Compose to use Phase 2 message forwarder (#946)
  environment/docker-compose.yml
Due: env-changes

Update trigger_status, trigger_count and trigger_reason on error_list table from error_list_triggers
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.integration.test.ts
  packages/core/lib/database/saveErrorListRecord.ts
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Update packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
Due: core-changes

modify test title
  packages/core/conductor-tasks/bichard_phase_2/persistPhase2.integration.test.ts
Due: core-changes

create PncOperation enum
  packages/core/types/PncOperation.ts
Due: core-changes

update newrem references
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/triggers/TRPS0004.test.ts
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/extractRemandCcrs.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update APPHRD references
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update COMSEN references
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update DISARR references
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/triggers/TRPS0010.test.ts
  packages/core/lib/triggers/TRPS0011.test.ts
  packages/core/lib/triggers/TRPS0013.test.ts
  packages/core/lib/triggers/hasCompletedDisarr.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update SENDEF references
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update "SUBVAR" references
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

update PENHRG references
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
Due: core-changes

Update serialiseToXml.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
Due: core-changes

Use an enum for PNC operation codes (#948)
  packages/core/lib/database/convertResultToErrorListRecord.test.ts
  packages/core/lib/serialise/pncUpdateDatasetXml/serialiseToXml.ts
  packages/core/lib/triggers/TRPS0004.test.ts
  packages/core/lib/triggers/TRPS0004.ts
  packages/core/lib/triggers/TRPS0010.test.ts
  packages/core/lib/triggers/TRPS0011.test.ts
  packages/core/lib/triggers/TRPS0013.test.ts
  packages/core/lib/triggers/hasCompletedDisarr.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createRemandOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/createSubsequentVariationOperation.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/deduplicateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/extractRemandCcrs.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/filterDisposalsAddedInCourt.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournment.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPostJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentPreJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAdjournmentWithJudgement.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleAppealOutcome.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/getOperationSequence/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/lib/getOperationSequence/getOperationSequence.ts
  packages/core/phase2/lib/getOperationSequence/operationCourtCaseReference.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/sortOperations.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.test.ts
  packages/core/phase2/lib/getOperationSequence/validateOperations.ts
  packages/core/phase2/lib/refreshOperationSequence.test.ts
  packages/core/phase2/lib/refreshOperationSequence.ts
  packages/core/phase2/parse/parsePncUpdateDataSetXml/parsePncUpdateDataSetXml.ts
  packages/core/phase2/schemas/pncUpdateDataset.ts
  packages/core/types/PncOperation.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@575d5d43e85e11bb4dd91d70661fe306a8ca90c0 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Remove courtCases route and TypeORM
  package-lock.json
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/controllers/courtCases.ts
  packages/api/src/routes/courtCases.ts
  packages/api/tests/getCourtCases.unit.test.ts
Due: api-changes

Exclude the test directory from the build process
  packages/api/tsconfig.build.json
Due: api-changes

Create ADR0006
  docs/architecture/adrs/0006-use-fastify-api-framework.md
Due: none

Update ADR0006
  docs/architecture/adrs/0006-use-fastify-api-framework.md
Due: none

Remove catching error as if there is any exception with query, it will throw error anyways
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Update ADR0006 title to # 6
  docs/architecture/adrs/0006-use-fastify-api-framework.md
Due: none

Formatting
  docs/architecture/adrs/0006-use-fastify-api-framework.md
Due: none

Add links to ADR0006
  docs/architecture/adrs/0006-use-fastify-api-framework.md
Due: none

Remove court-cases integration tests
  packages/api/tests/court-cases.integration.test.ts
Due: api-changes

Remove error_resolve_by and error_resolved_ts from the update query
  packages/core/lib/database/updateErrorListRecord.ts
Due: core-changes

Remove all code and tests related to TypeORM or unused endpoints
  packages/api/src/app.ts
  packages/api/src/middleware/auth.ts
  packages/api/src/middleware/queryParser.ts
  packages/api/src/middleware/validate.ts
  packages/api/src/services/entities/BaseEntity.ts
  packages/api/src/services/entities/CourtCase.ts
  packages/api/src/services/entities/Note.ts
  packages/api/src/services/entities/Trigger.ts
  packages/api/src/services/entities/User.ts
  packages/api/src/services/entities/transformers/booleanIntTransformer.ts
  packages/api/src/services/entities/transformers/dateTransformer.ts
  packages/api/src/services/entities/transformers/delimitedPrefixedString.ts
  packages/api/src/services/entities/transformers/featureFlagTransformer.ts
  packages/api/src/services/entities/transformers/resolutionStatusTransformer.ts
  packages/api/src/services/entities/transformers/resolveFindOperator.ts
  packages/api/src/services/getDataSource.ts
  packages/api/src/services/listCourtCases.ts
  packages/api/src/services/queries/courtCasesByVisibleForcesQuery.ts
  packages/api/src/types/CaseListQueryParams.ts
  packages/api/src/types/CaseListQueryRequest.ts
  packages/api/src/types/GroupName.ts
  packages/api/src/types/ListCourtCasesResult.ts
  packages/api/src/types/PromiseResult.ts
  packages/api/src/types/ResolutionStatus.ts
  packages/api/src/types/Result.ts
  packages/api/src/utils/bailCodes.ts
  packages/api/tests/middleware/auth.unit.test.ts
  packages/api/tests/middleware/queryParser.unit.test.ts
  packages/api/tests/middleware/validate.unit.test.ts
  packages/api/tests/services/entities/CourtCase.unit.test.ts
  packages/api/tests/services/entities/User.unit.test.ts
  packages/api/tests/services/entities/transformers/delimiterPrefixedString.test.ts
  packages/api/tests/services/listCourtCases.integration.test.ts
  packages/api/tests/test-data/HO100102_1.xml
  packages/api/tests/utils/DummyCourtCase.ts
  packages/api/tests/utils/deleteFromEntity.ts
  packages/api/tests/utils/insertCourtCases.ts
  packages/api/tests/utils/manageExceptions.ts
  packages/api/tests/utils/manageTriggers.ts
Due: api-changes
