Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Extract out checkMocksForLedsMockApi function
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

Add convertPncToLeds function
  packages/e2e-test/utils/converters/convertPncToLeds.ts
Due: e2e-test-changes

Rename type to include Input
  packages/api/src/routes/v1/audit/index.e2e.test.ts
  packages/api/src/routes/v1/audit/index.integration.test.ts
  packages/api/src/routes/v1/audit/index.ts
  packages/api/src/services/db/audit/getPotentialCasesToAudit.integration.test.ts
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
  packages/api/src/services/db/audit/insertAudit.integration.test.ts
  packages/api/src/services/db/audit/insertAudit.ts
  packages/api/src/useCases/audit/createAudit.ts
  packages/api/src/useCases/audit/createAudit.unit.test.ts
  packages/common/contracts/CreateAuditInput.ts
Due: api-changes, common-changes

Check cases in integration
  packages/api/src/routes/v1/audit/index.integration.test.ts
Due: api-changes

Simplify e2e tests
  packages/api/src/routes/v1/audit/index.e2e.test.ts
Due: api-changes

Finish basic screen, no responsiveness
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

BICAWS7-4002 - Add POST /audit endpoint to the API (#1779)
  package-lock.json
  packages/api/src/routes/v1/audit/index.e2e.test.ts
  packages/api/src/routes/v1/audit/index.integration.test.ts
  packages/api/src/routes/v1/audit/index.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/services/db/audit/getPotentialCasesToAudit.integration.test.ts
  packages/api/src/services/db/audit/getPotentialCasesToAudit.ts
  packages/api/src/services/db/audit/insertAudit.integration.test.ts
  packages/api/src/services/db/audit/insertAudit.ts
  packages/api/src/services/db/audit/insertAuditCases.integration.test.ts
  packages/api/src/services/db/audit/insertAuditCases.ts
  packages/api/src/tests/helpers/triggerHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/clearAllTables.ts
  packages/api/src/tests/testGateways/e2ePostgres/updateCaseWithTriggers.ts
  packages/api/src/types/CasesToAuditByUser.ts
  packages/api/src/useCases/audit/createAudit.ts
  packages/api/src/useCases/audit/createAudit.unit.test.ts
  packages/api/src/useCases/audit/getVolumeOfCasesToAudit.ts
  packages/api/src/useCases/audit/getVolumeOfCasesToAudit.unit.test.ts
  packages/api/src/useCases/dto/convertAuditToDto.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/CreateAuditInput.ts
  packages/common/types/Audit.ts
  packages/common/types/Permission.ts
  packages/common/utils/userPermissions.ts
Due: api-changes, common-changes

Add responsiveness
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

WIP: Get Warrant report data
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/dateOfBirth.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/defendantAddress.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/findNextHearing.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/formatDate.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/gender.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/hearingTime.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/index.ts
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/pncIdentifier.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrants.ts
  packages/api/src/useCases/cases/reports/warrants/processCases.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/analyzeResult.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateBailStatus.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateWarrantType.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/hearingOutcomeDetails.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/processResults.ts
  packages/api/src/useCases/cases/reports/warrants/warrantConfiguration.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/reports/BaseQuery.ts
  packages/common/types/reports/ExceptionReport.ts
  packages/common/types/reports/WarrantsReport.ts
Due: api-changes, common-changes

Format ASN
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
Due: api-changes

Update LedsGateway to set the auth token in the requests
  packages/core/lib/policeGateway/createPoliceGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/createLedsApiConfig.ts
Due: core-changes

Add logic to generate NIAM authentication
  package-lock.json
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateX5t.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateX5t.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/index.ts
  packages/core/package.json
  packages/core/tests/helpers/generateTestPrivateKeyAndCertificate.ts
  packages/core/tests/helpers/setLedsEnvironmentVariables.ts
Due: core-changes

Add types for LEDS authentication
  packages/core/types/leds/LedsApiConfig.ts
  packages/core/types/leds/LedsAuthentication.ts
  packages/core/types/leds/NiamAuthenticationOptions.ts
Due: core-changes

Update generateBearerToken to use axios
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.ts
  packages/core/tests/helpers/setLedsEnvironmentVariables.ts
  packages/core/types/leds/NiamAuthenticationOptions.ts
Due: core-changes

Update e2e test to mock auth endpoint
  packages/e2e-test/utils/LedsApi/addAuthMock.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: e2e-test-changes

Fix a typo in e2e-test 122
  packages/e2e-test/features/122-force-calculation-from-asn/test.feature
Due: e2e-test-changes

Add leds-environment-variable script
  environment/boot.sh
  environment/leds-environment-variable.sh
  packages/conductor/package.json
Due: conductor-changes

Update docker compose to set LEDS env vars
  environment/docker-compose-worker.yml
Due: none

Rename file
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.ts
Due: api-changes

Rename schema/type
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/useCases/cases/reports/warrants/processCases.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/types/reports/WarrantsReport.ts
Due: api-changes, common-changes

Fix lint errors
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateX5t.ts
  packages/core/lib/policeGateway/leds/createLedsApiConfig.ts
  packages/core/tests/helpers/setLedsEnvironmentVariables.ts
  packages/core/types/leds/LedsApiConfig.ts
  packages/e2e-test/utils/LedsApi/addAuthMock.ts
Due: core-changes, e2e-test-changes

Implement checkMocksForLedsMockApi function
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

Expand convertPncToLeds function to handle conversion from xml to json
  packages/e2e-test/utils/converters/convertPncToLeds.ts
Due: e2e-test-changes

Add unit tests for warrant report
  packages/api/src/useCases/cases/reports/reportStream.ts
  packages/api/src/useCases/cases/reports/reportStream.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/analyzeResult.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateBailStatus.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/calculateWarrantType.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/hearingOutcomeDetails.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/processResults.ts
Due: api-changes

Move helper
  packages/api/src/routes/v1/cases/reports/exceptions.e2e.test.ts
  packages/api/src/tests/helpers/streamToJson.ts
Due: api-changes

Fix test
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
Due: api-changes

End database connection on event
  packages/api/src/app.ts
Due: api-changes

Remove switch statement from convertPncToLeds function
  packages/e2e-test/utils/converters/convertPncToLeds.ts
Due: e2e-test-changes

Add tests and fixes
  packages/api/src/routes/v1/cases/reports/warrants.e2e.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/tests/helpers/triggerHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
  packages/api/src/tests/testGateways/e2ePostgres/fetchCase.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/types/reports/WarrantsReport.ts
Due: api-changes, common-changes

Remove Sonar issues
  packages/api/src/useCases/cases/reports/warrants/extractionUtils/index.ts
  packages/api/src/useCases/cases/reports/warrants/transformers/aggregateOutcome.ts
Due: api-changes

Refactor generateBearerToken
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.ts
Due: core-changes

Adjust field widths WIP
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

Use GOVUK pagination
  packages/ui/src/components/Pagination/PaginationNavigation.styles.tsx
  packages/ui/src/components/Pagination/PaginationNavigation.tsx
Due: ui-changes

Fix cypress tests
  packages/ui/cypress/e2e/case-list/filter-cases/persistAppliedFilters.cy.ts
  packages/ui/cypress/e2e/case-list/pagination.cy.ts
Due: ui-changes

Force the pagination to hug the right
  packages/ui/src/components/Pagination/PaginationNavigation.styles.tsx
Due: ui-changes

Fix pagination (#1802)
  packages/ui/cypress/e2e/case-list/filter-cases/persistAppliedFilters.cy.ts
  packages/ui/cypress/e2e/case-list/pagination.cy.ts
  packages/ui/src/components/Pagination/PaginationNavigation.styles.tsx
  packages/ui/src/components/Pagination/PaginationNavigation.tsx
Due: ui-changes

BICAWS7-4037 - Leds Gateway Authentication (#1801)
  environment/boot.sh
  environment/docker-compose-worker.yml
  environment/leds-environment-variable.sh
  package-lock.json
  packages/conductor/package.json
  packages/core/lib/policeGateway/createPoliceGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/NiamLedsAuthentication.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateBearerToken.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateX5t.test.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/generateX5t.ts
  packages/core/lib/policeGateway/leds/NiamLedsAuthentication/index.ts
  packages/core/lib/policeGateway/leds/createLedsApiConfig.ts
  packages/core/package.json
  packages/core/tests/helpers/generateTestPrivateKeyAndCertificate.ts
  packages/core/tests/helpers/setLedsEnvironmentVariables.ts
  packages/core/types/leds/LedsApiConfig.ts
  packages/core/types/leds/LedsAuthentication.ts
  packages/core/types/leds/NiamAuthenticationOptions.ts
  packages/e2e-test/features/122-force-calculation-from-asn/test.feature
  packages/e2e-test/utils/LedsApi/addAuthMock.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: conductor-changes, core-changes, e2e-test-changes

Reduced spacing between checkboxes
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

retrieve users with matching force
  packages/ui/src/services/getSupervisedUsers.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

add integration test for supervised users
  packages/ui/src/services/getSupervisedUser.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
