Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

BICAWS7-3787 Amend forgotten password journey (#1662)
  packages/user-service/cypress/e2e/changePassword.cy.js
  packages/user-service/cypress/e2e/forgotPassword.cy.js
  packages/user-service/cypress/e2e/login.cy.js
  packages/user-service/cypress/e2e/resetPassword.cy.js
  packages/user-service/src/components/Login/RememberForm.tsx
  packages/user-service/src/components/Login/ResendSecurityCodeForm.tsx
  packages/user-service/src/components/Login/ResetPasswordFormGroup.tsx
  packages/user-service/src/components/Login/ValidateCodeForm.tsx
  packages/user-service/src/lib/handleResetSecurityCodeStage.ts
  packages/user-service/src/lib/handleValidateCodeStage.ts
  packages/user-service/src/pages/login/index.tsx
  packages/user-service/src/pages/login/reset-password.tsx
  packages/user-service/src/useCases/authenticate.ts
  packages/user-service/src/useCases/checkPasswordIsBanned.ts
  packages/user-service/src/useCases/passwordDoesNotContainSensitive.ts
  packages/user-service/src/useCases/passwordSecurityCheck.ts
  packages/user-service/src/useCases/resetPassword.ts
  packages/user-service/src/useCases/sendVerificationCodeEmail.ts
  packages/user-service/test/components/BulletList.test.tsx
  packages/user-service/test/components/PasswordInput.test.tsx
  packages/user-service/test/components/ResendSecurityCodeForm.test.tsx
  packages/user-service/test/components/ResetPasswordFormGroup.test.tsx
  packages/user-service/test/components/ValidateCodeForm.test.tsx
  packages/user-service/test/components/__snapshots__/BulletList.test.tsx.snap
  packages/user-service/test/components/__snapshots__/PasswordInput.test.tsx.snap
  packages/user-service/test/components/__snapshots__/ResendSecurityCodeForm.test.tsx.snap
  packages/user-service/test/components/__snapshots__/ResetPasswordFormGroup.test.tsx.snap
  packages/user-service/test/components/__snapshots__/ValidateCodeForm.test.tsx.snap
  packages/user-service/test/useCases/resetPassword.integration.test.ts
Due: user-service-changes

Remove MS Edge related code
  .circleci/scripts/ui-scripts/run-component-tests.sh
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
  packages/e2e-test/README.md
  packages/e2e-test/helpers/BrowserHelperEdge.ts
  packages/e2e-test/scripts/run_test_chunk.sh
  packages/e2e-test/utils/world.ts
Due: circleci-changes, e2e-test-changes

Move jobs
  .circleci/continue_config.yml
Due: circleci-changes

Remove unneeded step
  .circleci/continue_config.yml
Due: circleci-changes

Build docker images at the same time as non e2e tests in circleCI (#1673)
  .circleci/continue_config.yml
Due: circleci-changes

Remove MS Edge in CI (#1670)
  .circleci/continue_config.yml
  .circleci/scripts/install-ms-edge-on-linux.sh
  .circleci/scripts/ui-scripts/run-component-tests.sh
  .circleci/scripts/ui-scripts/run-cypress-e2e-tests.sh
  .circleci/scripts/user-service/run-cypress-e2e-tests.sh
  packages/e2e-test/README.md
  packages/e2e-test/helpers/BrowserHelperEdge.ts
  packages/e2e-test/scripts/run_test_chunk.sh
  packages/e2e-test/utils/world.ts
Due: circleci-changes, e2e-test-changes

Remove lint_and_build dep
  .circleci/continue_config.yml
Due: circleci-changes

Rename
  .circleci/continue_config.yml
Due: circleci-changes

Run component tests straight away
  .circleci/continue_config.yml
Due: circleci-changes

Remove setup_ui as only 1 step
  .circleci/continue_config.yml
Due: circleci-changes

Remove unused node orb
  .circleci/continue_config.yml
Due: circleci-changes

Use node image with pinned version
  .circleci/continue_config.yml
Due: circleci-changes

Correct syntax
  .circleci/continue_config.yml
Due: circleci-changes

Move params to the top
  .circleci/continue_config.yml
Due: circleci-changes

Change to be pipeline param
  .circleci/continue_config.yml
Due: circleci-changes

Use on test with docker layer caching
  .circleci/continue_config.yml
Due: circleci-changes

Use docker images on non-e2e tests
  .circleci/continue_config.yml
Due: circleci-changes

Remove node install
  .circleci/continue_config.yml
Due: circleci-changes

Add OffenceId and DisposalId attributes to serialised XML output
  packages/common/schemas/policeQueryResult.ts
  packages/common/types/AhoXml.ts
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/serialise/ahoXml/serialiseToXml.ts
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-pnc-errors.xml
  packages/core/schemas/ledsPoliceOffence.ts
  packages/core/types/LedsPoliceOffence.ts
Due: common-changes, core-changes

Update snpashots
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
  packages/core/lib/serialise/ahoXml/__snapshots__/serialiseToXml.test.ts.snap
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-exceptions.xml
  packages/core/phase1/tests/fixtures/AnnotatedHO1-with-pnc-errors.xml
Due: core-changes

Rename remand request types and schemas
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/types/leds/RemandRequest.ts
Due: core-changes

Add test for mapToRemandRequest
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
Due: core-changes

Use aws container and install node
  .circleci/continue_config.yml
Due: circleci-changes

Remove unused steps
  .circleci/continue_config.yml
Due: circleci-changes

Install node
  .circleci/continue_config.yml
Due: circleci-changes

Fixes
  .circleci/continue_config.yml
Due: circleci-changes

Add missing hyphen
  .circleci/continue_config.yml
Due: circleci-changes

Remove version (defaults to .nvmrc)
  .circleci/continue_config.yml
Due: circleci-changes

Use aws base images
  .circleci/continue_config.yml
Due: circleci-changes

Infra improvements
  .circleci/continue_config.yml
  environment/boot.sh
  environment/docker-compose.ci.yml
  environment/docker-compose.yml
Due: circleci-changes, env-changes

Fix jobs
  .circleci/continue_config.yml
Due: circleci-changes

Try fixing line endings
  .circleci/continue_config.yml
Due: circleci-changes

Use node/install as this does the same as command we've created
  .circleci/continue_config.yml
Due: circleci-changes

Revert
  .circleci/continue_config.yml
Due: circleci-changes

Try using node/install
  .circleci/continue_config.yml
Due: circleci-changes

Remove cache key
  .circleci/continue_config.yml
Due: circleci-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
