Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Fix tests
  packages/e2e-test/features/158-breach-results/mock-pnc-responses.ts
  packages/e2e-test/features/438-HO100310-two-pairs-two-ccrs/mock-pnc-responses.ts
  packages/e2e-test/features/440-HO100332-one-court-offence-three-pnc-ccrs/mock-pnc-responses.ts
  packages/e2e-test/features/442-phase-2-reallocation/mock-pnc-responses.ts
Due: e2e-test-changes

Fix generateUpdate in PncApi
  packages/e2e-test/types/PncMock.ts
  packages/e2e-test/utils/PncApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Update LEDS mock-server to limit number of hits using count
  environment/mock-server/mock-server.ts
Due: none

Fix tests
  packages/e2e-test/features/078-invalid-offence-codes/mock-pnc-responses.ts
  packages/e2e-test/features/439-HO100332-two-court-offences-two-pnc-ccrs/mock-pnc-responses.ts
Due: e2e-test-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Add LEDS CI job
  .circleci/continue_config.yml
Due: circleci-changes

Update trigger help docs to include offence 3327
  packages/help/site/bichard-functionality/triggers/list/index.md
Due: none

Add temporary log to check Leds base url on circle ci
  packages/e2e-test/utils/config.ts
Due: e2e-test-changes

Add logs
  packages/e2e-test/scripts/run_test_chunk.sh
  packages/e2e-test/utils/LedsApi/LedsApi.ts
Due: e2e-test-changes

add LEDS_API_URL to docker-compose-worker.yml
  environment/docker-compose-worker.yml
Due: none

Add LEDS_API_URL to continue_config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Remove LEDS_API_URL to continue_config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Gracefully handle cases with locked or not unresolved error status
  packages/conductor/e2e-test/resubmit.e2e.test.ts
  packages/conductor/tasks/check_db.json
  packages/conductor/workflows/resubmit.json
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
Due: conductor-changes, core-changes

Add better logs/output
  packages/conductor/e2e-test/helpers/javaMapToJson.ts
  packages/conductor/e2e-test/resubmit.e2e.test.ts
  packages/conductor/tasks/check_db.json
  packages/conductor/workflows/resubmit.json
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
Due: conductor-changes, core-changes

Update standing data dependency (#1759)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Improve main readme
  README.md
Due: none

Check mock hits rather than request existence
  .circleci/scripts/run-infrastructure.sh
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: circleci-changes, e2e-test-changes

Remove old link
  README.md
Due: none

Adjust assertions
  packages/api/goss.yaml
  packages/conductor/goss.yaml
  packages/ui/goss.yaml
  packages/user-service/goss.yaml
Due: api-changes, conductor-changes, ui-changes, user-service-changes

Adjust assertions (#1764)
  packages/api/goss.yaml
  packages/conductor/goss.yaml
  packages/ui/goss.yaml
  packages/user-service/goss.yaml
Due: api-changes, conductor-changes, ui-changes, user-service-changes

Remove uid/gid checks
  packages/api/goss.yaml
  packages/ui/goss.yaml
  packages/user-service/goss.yaml
Due: api-changes, ui-changes, user-service-changes

Remove uid/gid checks (#1765)
  packages/api/goss.yaml
  packages/ui/goss.yaml
  packages/user-service/goss.yaml
Due: api-changes, ui-changes, user-service-changes

Address PR comments
  README.md
Due: none

Adjust ownership checks
  packages/user-service/goss.yaml
Due: user-service-changes

Adjust ownership checks (#1766)
  packages/user-service/goss.yaml
Due: user-service-changes

Improve core readme (#1763)
  README.md
Due: none

Add ccr to relevant offences, fix mappings and handle undefined dates
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/e2e-test/utils/convertPncJsonToLeds/convertPncJsonToLedsAsnQueryResponse.ts
  packages/e2e-test/utils/convertPncXmlToJson/convertPncXmlToJson.ts
Due: core-changes, e2e-test-changes

Update standing data dependency (#1767)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Handle cases locked or not unresolved in Auto Resubmission (#1762)
  packages/conductor/e2e-test/helpers/javaMapToJson.ts
  packages/conductor/e2e-test/resubmit.e2e.test.ts
  packages/conductor/tasks/check_db.json
  packages/conductor/workflows/resubmit.json
  packages/core/conductor-tasks/resubmit/check_db.integration.test.ts
  packages/core/conductor-tasks/resubmit/check_db.ts
Due: conductor-changes, core-changes

Fix mock server and leds gateway
  environment/mock-server/mock-server.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/e2e-test/features/178-partial-match-result-text/mock-pnc-responses.ts
  packages/e2e-test/utils/LedsApi/MockServer.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: core-changes, e2e-test-changes

Add Audit NavLink item
  packages/ui/src/components/Layout.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/types/NavLinks.ts
Due: ui-changes

Fix disposalQualifiers mapping
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
Due: core-changes

Disable DLC
  .circleci/continue_config.yml
Due: circleci-changes

Add mock server UI
  environment/mock-server/Dockerfile
  environment/mock-server/mock-server.html
  environment/mock-server/mock-server.ts
Due: none

Update mocks to match request body
  packages/e2e-test/utils/LedsApi/MockServer.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsMockApi.ts
Due: e2e-test-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
