Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Remove Force requirement
  environment/docker-compose.yml
  packages/ui/scripts/run-dev-with-api.sh
  packages/ui/src/config.ts
  packages/ui/src/features/flags/canUseAllocation.test.ts
  packages/ui/src/features/flags/canUseAllocation.ts
Due: ui-changes

refactor: removed serializable and implemented inline logic for lockCourCase
  packages/ui/src/services/lockCourtCase.ts
Due: ui-changes

Fix API swagger
  packages/api/Dockerfile
  packages/api/package.json
Due: api-changes

Removed getUser endpoint, test updates
  packages/api/src/routes/v1/cases/[caseId]/allocate.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
  packages/api/src/routes/v1/users/getUser.e2e.test.ts
  packages/api/src/routes/v1/users/getUser.integration.test.ts
  packages/api/src/routes/v1/users/getUser.ts
  packages/api/src/services/db/mapUserMinimalRowToMinimalUser.ts
  packages/api/src/services/db/mapUserRowToUser.ts
  packages/api/src/services/db/users/fetchUserById.integration.test.ts
  packages/api/src/services/db/users/fetchUserById.ts
  packages/api/src/useCases/cases/getCase/allocate.ts
  packages/api/src/useCases/users/fetchUser.integration.test.ts
  packages/api/src/useCases/users/fetchUser.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

Updated allocate endpoint to use body rather than query params
  packages/api/src/routes/v1/cases/[caseId]/allocate.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
  packages/api/src/useCases/cases/getCase/allocate.integration.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
Due: api-changes, ui-changes

bichard api test fix
  packages/ui/src/services/api/BichardApiV1.test.ts
Due: ui-changes

feat WIP: added lockErrorListRow to UI
  packages/ui/src/services/lockCourtCase.ts
  packages/ui/src/services/lockErrorListRow.ts
Due: ui-changes

refactor: modified file to frontend
  packages/ui/src/services/lockErrorListRow.ts
Due: ui-changes

Fixed allocation endpoint return
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
Due: api-changes

refactor: adjusted to Typeorm syntax
  packages/ui/src/services/lockErrorListRow.ts
Due: ui-changes

Renamed allocation query
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
  packages/api/src/useCases/cases/getCase/allocate.integration.test.ts
  packages/api/src/useCases/cases/getCase/allocate.ts
  packages/common/contracts/AllocationBody.ts
  packages/ui/src/pages/api/court-cases/[courtCaseId]/allocate.ts
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: api-changes, common-changes, ui-changes

refactor: change naming to be more consistent, adjusted code flow
  packages/ui/src/services/lockCourtCase.ts
  packages/ui/src/services/lockCourtCaseRow.ts
  packages/ui/src/services/lockErrorListRow.ts
Due: ui-changes

Added prep script
  scripts/rollout/prep/20260616/1.sql
Due: none

Added has-run script
  scripts/rollout/has-run/20260616/1.sql
Due: none

Bicaws7 4198 create an endpoint to lock a case with a user (#2038)
  packages/api/src/routes/v1/cases/[caseId]/allocate.e2e.test.ts
  packages/api/src/routes/v1/cases/[caseId]/allocate.ts
  packages/api/src/services/db/mapUserMinimalRowToMinimalUser.ts
  packages/api/src/services/db/mapUserRowToUser.ts
  packages/api/src/services/db/users/fetchUserById.integration.test.ts
  packages/api/src/services/db/users/fetchUserById.ts
  packages/api/src/useCases/cases/getCase/allocate.integration.test.ts
  packages/api/src/useCases/cases/getCase/allocate.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.integration.test.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/contracts/AllocationBody.ts
  packages/common/types/User.ts
  packages/ui/src/pages/api/court-cases/[courtCaseId]/allocate.ts
  packages/ui/src/services/api/ApiClient.test.ts
  packages/ui/src/services/api/ApiClient.ts
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: api-changes, common-changes, ui-changes

BICAWS7-4171-Remove SERIALIZABLE from `lockCourtCase` (#2034)
  packages/api/src/services/db/cases/lockErrorListRow.ts
  packages/api/src/useCases/cases/getCase/lockAndAuditLog.ts
  packages/ui/src/services/lockCourtCase.ts
  packages/ui/src/services/lockCourtCaseRow.ts
Due: api-changes, ui-changes

Add feature flag to allow per user access to Allocation (#2041)
  environment/docker-compose.yml
  packages/ui/cypress/component/CaseListRow/AllocateUser.cy.tsx
  packages/ui/cypress/component/CaseListRow/generators/generateAllocationComponent.cy.tsx
  packages/ui/scripts/run-dev-with-api.sh
  packages/ui/src/config.ts
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntry.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CourtCaseListEntryCells/generateAllocationComponent.tsx
  packages/ui/src/features/CourtCaseList/tags/Allocate/AllocateUser.tsx
  packages/ui/src/features/flags/canUseAllocation.test.ts
  packages/ui/src/features/flags/canUseAllocation.ts
Due: ui-changes

Use TEST_COMMAND env var to run LEDS tests
  packages/e2e-test/scripts/run-pipeline-tests.sh
Due: e2e-test-changes

Fix test 418 and 419
  packages/e2e-test/features/418-sign-out-remembers-case-list/mock-pnc-responses.ts
  packages/e2e-test/features/418-sign-out-remembers-case-list/pnc-data.xml
  packages/e2e-test/features/418-sign-out-remembers-case-list/test.feature
  packages/e2e-test/features/419-sign-out-remembers-case-details/mock-pnc-responses.ts
  packages/e2e-test/features/419-sign-out-remembers-case-details/pnc-data.xml
  packages/e2e-test/features/419-sign-out-remembers-case-details/test.feature
Due: e2e-test-changes

DEBUG - Disable build locking
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Switch off 16 06 2026 (#2043)
  scripts/rollout/has-run/20260616/1.sql
  scripts/rollout/prep/20260616/1.sql
Due: none

Added generic typeahead
  packages/ui/src/components/Typeaheads/AllocateUserTypeahead.tsx
  packages/ui/src/components/Typeaheads/ForceOwnerTypeahead.tsx
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/features/flags/canUseAllocation.ts
Due: ui-changes

Removed allocationEnabled true
  packages/ui/src/features/flags/canUseAllocation.ts
Due: ui-changes

refactor: changed to meet consistency
  packages/api/src/services/db/audit/fetchAudit.ts
Due: api-changes

Fix formatting
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/retryRequest.ts
Due: e2e-test-changes

chore: removed obsolete file and its integration tests
  packages/ui/src/services/retryTransaction.ts
  packages/ui/test/services/retryTransaction.integration.test.ts
Due: ui-changes

Revert "DEBUG - Disable build locking"
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

chore: removed unused imports
  package-lock.json
  packages/api/src/services/db/audit/fetchAudit.ts
Due: api-changes

Use TEST_COMMAND env var to run LEDS tests and fix tests (#2042)
  packages/e2e-test/features/418-sign-out-remembers-case-list/mock-pnc-responses.ts
  packages/e2e-test/features/418-sign-out-remembers-case-list/pnc-data.xml
  packages/e2e-test/features/418-sign-out-remembers-case-list/test.feature
  packages/e2e-test/features/419-sign-out-remembers-case-details/mock-pnc-responses.ts
  packages/e2e-test/features/419-sign-out-remembers-case-details/pnc-data.xml
  packages/e2e-test/features/419-sign-out-remembers-case-details/test.feature
  packages/e2e-test/scripts/run-pipeline-tests.sh
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/retryRequest.ts
Due: e2e-test-changes

feat: add Zod validation to fetchAudit (#2037)
  package-lock.json
  packages/api/src/services/db/audit/fetchAudit.ts
Due: api-changes

chore: removed obsolete file and its integration tests (#2044)
  packages/ui/src/services/retryTransaction.ts
  packages/ui/test/services/retryTransaction.integration.test.ts
Due: ui-changes

Update e2e-test readme for running LEDS tests against real API
  packages/e2e-test/README.md
Due: e2e-test-changes

chore: implemented zod parsing to Audit Cases
  packages/api/src/services/db/audit/fetchAuditCases.ts
Due: api-changes

Added generic and orgunit typeahead tests
  packages/ui/cypress/component/Typeaheads/GenericTypeahead.cy.tsx
  packages/ui/cypress/component/Typeaheads/OrganisationUnitTypeahead.cy.tsx
Due: ui-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Readonly generic typeahead props
  packages/ui/src/components/Typeaheads/GenericTypeahead.tsx
Due: ui-changes

Updated lookup search to match better
  packages/api/src/services/db/users/fetchUserLookups.ts
Due: api-changes

Updated orgunit typeahead url
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
Due: ui-changes

fix: correct audit cases schema validation and map logic
  packages/api/src/services/db/audit/fetchAuditCases.ts
Due: api-changes

Need column for tests
  packages/ui/src/services/entities/User.ts
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
