Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Use th for table headers to ensure association with value
  packages/ui/cypress/component/BailConditions.cy.tsx
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/component/HearingResult.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-location.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/result-qualifiers.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-offence-matching-exceptions.cy.ts
  packages/ui/src/components/EditableFields/EditableFieldTableRow.styles.tsx
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
  packages/ui/src/components/EditableFields/LabelField.tsx
  packages/ui/src/components/ExceptionFieldTableRow.styles.tsx
  packages/ui/src/components/ExceptionFieldTableRow.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/TableRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.styles.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
Due: none

Fix grey bar caused by overflow on case list page
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.styles.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

Fix HTML inconsistencies in UI (#1279)
  packages/ui/cypress/component/BailConditions.cy.tsx
  packages/ui/cypress/component/DefendantDetails.cy.tsx
  packages/ui/cypress/component/HearingResult.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-location.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/view-exception-handler-prompt.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/result-qualifiers.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-offence-matching-exceptions.cy.ts
  packages/ui/src/components/EditableFields/EditableFieldTableRow.styles.tsx
  packages/ui/src/components/EditableFields/EditableFieldTableRow.tsx
  packages/ui/src/components/EditableFields/InputField.tsx
  packages/ui/src/components/EditableFields/LabelField.tsx
  packages/ui/src/components/ErrorIcon.tsx
  packages/ui/src/components/ExceptionFieldTableRow.styles.tsx
  packages/ui/src/components/ExceptionFieldTableRow.tsx
  packages/ui/src/components/Radios/RadioGroup.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/AsnField.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingDateField.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingLocationField.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/TableRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.styles.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
  packages/ui/src/pages/feedback.tsx
Due: none

Fix grey bar caused by overflow on case list page (#1281)
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.styles.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
Due: none

Add userservice to command to search by user email
  packages/cli/commands/cloudwatch/index.ts
  packages/cli/commands/cloudwatch/userService.ts
Due: none

Just use command group instead for cloudwatch
  packages/cli/index.ts
Due: none

Formatting of query
  packages/cli/commands/cloudwatch/postfix.ts
Due: none

Update standing data dependency (#1251)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Add retrying for PNC lock errors in Phase 3 (#1256)
  packages/core/comparison/lib/comparePhase3.ts
  packages/core/jest.config.js
  packages/core/jest.setup.ts
  packages/core/lib/exceptions/generatePncExceptionFromMessage.ts
  packages/core/package.json
  packages/core/phase1/tests/jest.d.ts
  packages/core/phase1/tests/jest.setup.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.test.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
  packages/core/phase3/lib/performOperations.test.ts
  packages/core/phase3/lib/performOperations.ts
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/message.ts
  packages/e2e-test/utils/world.ts
Due: core-changes, e2e-test-changes

Remove logic to check and throw error when third-level PSA code is not a number (#1255)
  packages/core/phase3/lib/getPncCourtCode.test.ts
  packages/core/phase3/lib/getPncCourtCode.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Fix correlation IDs output for failed E2E tests (#1259)
  packages/e2e-test/steps/hooks.ts
  packages/e2e-test/utils/auditLogging.ts
  packages/e2e-test/utils/message.ts
Due: e2e-test-changes

Update standing data dependency (#1248)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Port across 'create audit log events' code (#1264)
  packages/api/src/routes/v1/audit-logs/createAuditLog.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvent.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvents.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvents.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.integration.test.ts
  packages/api/src/services/gateways/dynamo/DynamoGateway/DynamoGateway.ts
  packages/api/src/tests/testGateways/TestDynamoGateway/TestDynamoGateway.ts
  packages/api/src/types/AuditLog.ts
  packages/api/src/types/AuditLogEvent.ts
  packages/api/src/types/errors/NotFoundError.ts
  packages/api/src/useCases/createAuditLog.integration.test.ts
  packages/api/src/useCases/createAuditLogEvents.ts
  packages/api/src/useCases/createAuditLogEvents/calculateAuditLogEventIndices.test.ts
  packages/api/src/useCases/createAuditLogEvents/calculateAuditLogEventIndices.ts
  packages/api/src/useCases/createAuditLogEvents/calculateErrorRecordArchivalDate.test.ts
  packages/api/src/useCases/createAuditLogEvents/calculateErrorRecordArchivalDate.ts
  packages/api/src/useCases/createAuditLogEvents/calculateForceOwner.test.ts
  packages/api/src/useCases/createAuditLogEvents/calculateForceOwner.ts
  packages/api/src/useCases/createAuditLogEvents/calculateRetryCount.test.ts
  packages/api/src/useCases/createAuditLogEvents/calculateRetryCount.ts
  packages/api/src/useCases/createAuditLogEvents/calculateSanitisation.test.ts
  packages/api/src/useCases/createAuditLogEvents/calculateSanitisation.ts
  packages/api/src/useCases/createAuditLogEvents/calculateStatuses.ts
  packages/api/src/useCases/createAuditLogEvents/getForceOwner.test.ts
  packages/api/src/useCases/createAuditLogEvents/getForceOwner.ts
Due: api-changes

Update standing data dependency (#1257)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Update styled-components (#1265)
  package-lock.json
  packages/ui/.ncurc.js
  packages/ui/package.json
  packages/ui/src/components/LockedTag.tsx
  packages/ui/src/components/Pagination/CasesPerPage.tsx
  packages/ui/src/components/ResolutionStatusTag.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.styles.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Trigger.tsx
Due: none

Update CSS to align correctly (#1266)
  packages/ui/src/components/Header/Header.styles.tsx
Due: none

Update reallocate page to conditionally show user notes (#1269)
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
Due: none

Ensure GDS font is used in UI (#1268)
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/ActionLink.tsx
  packages/ui/src/components/Pagination/CasesPerPage.styles.tsx
  packages/ui/src/components/Pagination/CasesPerPage.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.styles.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.tsx
Due: none

Refactor styling for court name in court case summary box (#1275)
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBox.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBoxField.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetailsSummaryBoxField.tsx
Due: none

Fix styling of manually resolved (#1267)
  packages/e2e-test/utils/actions.next-ui.ts
  packages/ui/src/components/ResolutionStatusTag.styles.tsx
  packages/ui/src/components/ResolutionStatusTag.tsx
Due: e2e-test-changes

Fix random grey bars caused by overflow in UI (#1271)
  packages/ui/src/components/SearchFilters/TriggerGroups.styles.tsx
  packages/ui/src/features/CourtCaseDetails/CourtCaseDetails.styles.tsx
Due: none

Refactor reallocate page to use CSS to handle responsiveness (#1274)
  packages/ui/src/components/ReallocationNotesForm.styles.tsx
  packages/ui/src/components/ReallocationNotesForm.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/reallocate.tsx
  packages/ui/src/styles/reallocate.styles.tsx
Due: none

Firebreak: Add buildspec to run uat data script (#1261)
  packages/uat-data/buildspec.yml
  packages/uat-data/scripts/insert-uat-data.ts
Due: none

UI fixes (#1273)
  packages/ui/src/components/ButtonsGroup.styles.tsx
  packages/ui/src/components/ButtonsGroup.tsx
  packages/ui/src/components/Header/Header.tsx
  packages/ui/src/features/CourtCaseList/tags/LockedByTag/LockedByButton.tsx
  packages/ui/src/pages/switching-feedback.tsx
Due: none

Bicaws7-3316: Add download report button (#1242)
  packages/ui/cypress/e2e/api/reports/getReports.cy.ts
  packages/ui/cypress/e2e/case-list/downloadReport.cy.ts
  packages/ui/src/components/DownloadButton.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.styles.tsx
  packages/ui/src/features/CourtCaseFilters/CourtCaseFilterWrapper.tsx
  packages/ui/src/pages/api/reports/[reportType]/index.ts
  packages/ui/src/services/listCourtCases.ts
  packages/ui/src/services/listCourtCasesConfig.ts
  packages/ui/src/utils/reports/Report.ts
  packages/ui/src/utils/reports/ReportTypes.ts
  packages/ui/src/utils/reports/createCaseListReportLines.test.ts
  packages/ui/src/utils/reports/createCaseListReportLines.ts
  packages/ui/src/utils/reports/createReport.ts
  packages/ui/src/utils/reports/createReportCsv.ts
  packages/ui/src/utils/reports/createResolvedExceptionsReportLines.ts
Due: none

Update standing data dependency (#1276)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Remove decision (#1252)
  docs/architecture/adrs/0009-naming-of-types-schemas.md
Due: none

Fix common tsconfig (#1278)
  packages/common/utils/userPermissions.test.ts
  packages/ui/src/utils/userPermissions.test.ts
Due: common-changes

Fix incorrect audit log event source in phase3 function unit tests
  packages/core/phase3/phase3.test.ts
Due: core-changes

Add escape to stop subshell from invoking
  packages/cli/commands/cloudwatch/postfix.ts
  packages/cli/commands/cloudwatch/userService.ts
Due: none

Refactor database references to use 'dataStore' instead of 'db' across the application
  packages/api/src/app.ts
  packages/api/src/index.ts
  packages/api/src/routes/v1/audit-logs/createAuditLog.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvents.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/getAuditLog.e2e.test.ts
  packages/api/src/routes/v1/audit-logs/searchAuditLogs.e2e.test.ts
  packages/api/src/routes/v1/cases/case.e2e.test.ts
  packages/api/src/routes/v1/cases/case.ts
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.e2e.test.ts
  packages/api/src/server/auth/authenticate.e2e.test.ts
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtVerify.ts
  packages/api/src/services/gateways/dataStoreGateways/postgres.ts
  packages/api/src/services/gateways/interfaces/dataStoreGateway.ts
  packages/api/src/tests/helpers/caseHelper.ts
  packages/api/src/tests/helpers/setupAppEnd2EndHelper.ts
  packages/api/src/tests/helpers/userHelper.ts
  packages/api/src/tests/testGateways/e2ePostgres.ts
Due: api-changes

Refactor authentication and data handling to use 'fakeDataStore' instead of 'db'
  packages/api/src/server/auth/authenticate.ts
  packages/api/src/server/auth/jwtVerify.unit.test.ts
  packages/api/src/services/gateways/dataStoreGateways/fakeDataStore.ts
  packages/api/src/useCases/canUserResubmitCase.unit.test.ts
  packages/api/src/useCases/fetchCaseDto.ts
  packages/api/src/useCases/fetchCaseDto.unit.test.ts
Due: api-changes

Refactor integration tests to use 'fakeDataStore' and implement 'AuditLogDynamoGateway'
  packages/api/src/plugins/v1/health/plugin.integration.test.ts
  packages/api/src/routes/v1/cases/case.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/me.integration.test.ts
  packages/api/src/server/auth/authenticate.integration.test.ts
  packages/api/src/useCases/canUserResubmitCase.ts
Due: api-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
