Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Remove use of deprecated taskResource
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
Due: conductor-changes

Remove unneeded sort
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Increase size of workflow ID results
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Handle termination of worklows in a loop
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Use fixed delay and retry for a longer period. Also handle type safety
  packages/e2e-test/helpers/ConductorHelper.ts
Due: e2e-test-changes

Extract out type LedsOperation and PncToLedsOperation
  packages/core/types/LedsOperation.ts
Due: core-changes

Modify logApiMetric function with test coverage
  packages/core/lib/policeGateway/leds/logApiMetric.test.ts
  packages/core/lib/policeGateway/leds/logApiMetric.ts
Due: core-changes

Update leds gateway to utilise extracted types
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Remove redundant type LogEvents
  packages/common/types/LogEvents.ts
Due: common-changes

Make a correction to import statement
  packages/core/lib/policeGateway/leds/LedsGateway.ts
Due: core-changes

Increase pool size
  environment/docker-compose.yml
Due: none

Increase pool size
  environment/conductor/files/config.properties
  environment/docker-compose.yml
Due: none

Update ledsGateway logging (#2188)
  packages/common/types/LogEvents.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/logApiMetric.test.ts
  packages/core/lib/policeGateway/leds/logApiMetric.ts
  packages/core/types/LedsOperation.ts
Due: common-changes, core-changes

Check if branch exists on remote branch before trying to delete it in CPR action
  .github/actions/create-pull-request/action.yml
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

BICAWS7-3895 - Update conductor (#2179)
  .ncurc.js
  environment/conductor/Dockerfile
  environment/conductor/files/config.properties
  environment/conductor/goss.yaml
  package-lock.json
  package.json
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/common/conductor/createConductorClient.ts
  packages/common/package.json
  packages/common/test/conductor/waitForWorkflows.ts
  packages/conductor/deploy/Workflow.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/startWorkflow.ts
  packages/conductor/e2e-test/incomingMessageHandler.e2e.test.ts
  packages/conductor/package.json
  packages/conductor/src/worker.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.ts
  packages/core/package.json
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/message-forwarder/src/MessageForwarder.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.auto.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.conductor.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.mq.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.unit.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.unit.test.ts
  packages/message-forwarder/src/server.e2e.auto.test.ts
  packages/message-forwarder/src/server.e2e.conductor.test.ts
  packages/message-forwarder/src/server.e2e.mq.test.ts
  packages/message-forwarder/src/server.ts
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Add new function
  packages/common/conductor/createWorkflowExecutor.ts
Due: common-changes

Make arrow func consistent
  packages/common/conductor/createWorkflowExecutor.ts
Due: common-changes

Use new function
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/common/test/conductor/waitForWorkflows.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/startWorkflow.ts
  packages/conductor/e2e-test/incomingMessageHandler.e2e.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.integration.test.ts
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.auto.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.conductor.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.mq.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.unit.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.unit.test.ts
  packages/message-forwarder/src/server.e2e.auto.test.ts
  packages/message-forwarder/src/server.e2e.conductor.test.ts
  packages/message-forwarder/src/server.e2e.mq.test.ts
  packages/message-forwarder/src/server.ts
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Refactor user-service email logic to use common package files
  packages/common/email/getSmtpConfig.ts
  packages/user-service/src/emails/emailChanged.tsx
  packages/user-service/src/emails/login.tsx
  packages/user-service/src/emails/newUser.tsx
  packages/user-service/src/emails/passwordChanged.tsx
  packages/user-service/src/emails/passwordReset.tsx
  packages/user-service/src/lib/getEmailer.ts
  packages/user-service/src/types/Email.ts
  packages/user-service/src/types/EmailContent.ts
  packages/user-service/src/types/Emailer.ts
  packages/user-service/src/useCases/createNewUserEmail.ts
  packages/user-service/src/useCases/createPasswordChangedEmail.ts
  packages/user-service/src/utils/getFormattedDateForEmailHeader.ts
  packages/user-service/test/useCases/createNewUserEmail.integration.test.ts
  packages/user-service/test/utils/getFormattedDateForEmailHeader.test.ts
Due: common-changes, user-service-changes

Update imports for EmailContent
  packages/user-service/src/emails/UserCreatedNotification.tsx
  packages/user-service/src/emails/resetPassword.tsx
Due: user-service-changes

Update Dockerfile to copy common package
  packages/user-service/Dockerfile
Due: user-service-changes

Updated dockerfile with core
  package.json
  packages/user-service/Dockerfile
Due: user-service-changes

Remove nodemailer from user-service as it is no longer used
  package-lock.json
  packages/user-service/package.json
Due: user-service-changes

Update script for user-service
  package.json
Due: none

Remove core build and build common in tests
  .circleci/continue_config.yml
  package-lock.json
  package.json
  packages/common/package.json
  packages/user-service/Dockerfile
Due: circleci-changes, common-changes, user-service-changes

Run user service tests if common package changes
  .circleci/continue_config.yml
Due: circleci-changes

Check if branch exists on remote branch before trying to delete it in CPR action (#2189)
  .github/actions/create-pull-request/action.yml
Due: none

BICAWS7-4455 Refactor user-service email logic to use common package files (#2187)
  .circleci/continue_config.yml
  package-lock.json
  package.json
  packages/common/email/getSmtpConfig.ts
  packages/common/package.json
  packages/user-service/Dockerfile
  packages/user-service/package.json
  packages/user-service/src/emails/UserCreatedNotification.tsx
  packages/user-service/src/emails/emailChanged.tsx
  packages/user-service/src/emails/login.tsx
  packages/user-service/src/emails/newUser.tsx
  packages/user-service/src/emails/passwordChanged.tsx
  packages/user-service/src/emails/passwordReset.tsx
  packages/user-service/src/emails/resetPassword.tsx
  packages/user-service/src/lib/getEmailer.ts
  packages/user-service/src/types/Email.ts
  packages/user-service/src/types/EmailContent.ts
  packages/user-service/src/types/Emailer.ts
  packages/user-service/src/useCases/createNewUserEmail.ts
  packages/user-service/src/useCases/createPasswordChangedEmail.ts
  packages/user-service/src/utils/getFormattedDateForEmailHeader.ts
  packages/user-service/test/useCases/createNewUserEmail.integration.test.ts
  packages/user-service/test/utils/getFormattedDateForEmailHeader.test.ts
Due: circleci-changes, common-changes, user-service-changes

Refactor to use workflow executor over raw access to the conductor client (#2191)
  packages/api/src/useCases/cases/resubmit/resubmitCase.ts
  packages/common/conductor/createWorkflowExecutor.ts
  packages/common/test/conductor/waitForWorkflows.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/startWorkflow.ts
  packages/conductor/e2e-test/incomingMessageHandler.e2e.test.ts
  packages/core/conductor-tasks/bichard_phase_1/sendToPhase2.integration.test.ts
  packages/core/conductor-tasks/bichard_phase_2/sendToPhase3.integration.test.ts
  packages/e2e-test/helpers/ConductorHelper.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.auto.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.conductor.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.mq.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.unit.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.unit.test.ts
  packages/message-forwarder/src/server.e2e.auto.test.ts
  packages/message-forwarder/src/server.e2e.conductor.test.ts
  packages/message-forwarder/src/server.e2e.mq.test.ts
  packages/message-forwarder/src/server.ts
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Add content type to generateRequestHeaders
  packages/core/lib/policeGateway/leds/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.ts
  packages/core/schemas/leds/requestHeaders.ts
Due: core-changes

Add generateNiamAuthToken and findDisposalsByAsn functions for LEDS cutover
  scripts/leds-cutover/check-leds-api-connectivity.sh
  scripts/leds-cutover/find-disposals-by-asn.sh
  scripts/leds-cutover/generate-niam-token.sh
  scripts/leds-cutover/lib/common.sh
  scripts/leds-cutover/lib/findDisposalsByAsn.ts
  scripts/leds-cutover/lib/generateNiamAuthToken.ts
Due: none

Use ci to use package lock and ignore scripts
  environment/conductor/Dockerfile
Due: none

Use node 24
  environment/conductor/Dockerfile
Due: none

Pin JDK image
  environment/conductor/Dockerfile
Due: none

Revery install to ci
  environment/conductor/Dockerfile
Due: none

Use digest only over tags + digest
  environment/conductor/Dockerfile
Due: none

Pin supervisor version
  environment/conductor/Dockerfile
  environment/conductor/goss.yaml
Due: none

Fix typo
  environment/conductor/Dockerfile
Due: none

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
