Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

fix circleci step formatting for goss execution
  .circleci/continue_config.yml
Due: circleci-changes

fix: last try
  .circleci/continue_config.yml
Due: circleci-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Update standing data dependency (#2141)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Only have NPM packages in the workspaces
  package.json
Due: none

create github actions workflow for lint and build
  .github/actions/lint_and_build.yml
Due: none

remove circleci lint and build job
  .circleci/continue_config.yml
Due: circleci-changes

Update display value to show - Unknown when code is invalid
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingLocationField.tsx
Due: ui-changes

package-lock.json
  package-lock.json
Due: none

BICAWS7-4069 Extract announcer and sorting status into hooks (#2140)
  packages/ui/src/features/AuditCaseList/AuditCaseList.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseList.tsx
  packages/ui/src/hooks/useAnnouncer.ts
  packages/ui/src/hooks/useSortOrder.ts
Due: ui-changes

Only have NPM packages in the workspaces (#2142)
  package.json
Due: none

remove lint and build from circleci config workflow
  .circleci/continue_config.yml
Due: circleci-changes

move lint and build yml into workflow folder
  .github/workflows/lint_and_build.yml
Due: none

Re-added network request trigger test, removed setOrganisation check
  packages/ui/cypress/component/Typeaheads/OrganisationUnitTypeahead.cy.tsx
Due: ui-changes

feature: run batch transform between start and end dates
  packages/spi-transform/Makefile
  packages/spi-transform/src/spi_transform/batch_transform.py
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

add security patch package exclusion for SLSA Supply Chain Security
  .github/workflows/lint_and_build.yml
Due: none

Update the API Dockerfile
  packages/api/Dockerfile
Due: api-changes

implement retry logic for delta lake write
  packages/spi-transform/src/spi_transform/spi_xml_to_delta_table.py
Due: none

Added displayName to OrganisationUnitsContext
  packages/ui/src/context/OrganisationUnitsContext.tsx
Due: ui-changes

readme
  packages/spi-transform/README.md
Due: none

BICAWS7-4402 Use next hearing location instead of code (#2123)
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
  packages/e2e-test/features/433-next-hearing-location-nextui/test.feature
  packages/ui/cypress/component/Typeaheads/OrganisationUnitTypeahead.cy.tsx
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-location.cy.ts
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/context/OrganisationUnitsContext.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/EditableFields/NextHearingLocationField.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: common-changes, e2e-test-changes, ui-changes

Refactor buttons that use formStatus to use shared component
  packages/ui/src/components/Buttons/FormSubmitButton.tsx
  packages/ui/src/features/AuditSearch/AuditSearch.tsx
  packages/ui/src/features/AuditSearch/AuditSearchSubmitButton.tsx
  packages/ui/src/features/CourtCaseDetails/Sidebar/Audit/QualityStatusForm.tsx
Due: ui-changes

Add component tests
  packages/ui/cypress/component/Buttons/FormSubmitButton.cy.tsx
  packages/ui/src/components/Buttons/FormSubmitButton.tsx
Due: ui-changes

Supervisor switch-off scripts
  scripts/rollout/prep/20260804/1.sql
  scripts/rollout/prep/20260804/2.sql
  scripts/rollout/prep/20260804/3.sql
  scripts/rollout/prep/20260804/4.sql
Due: none

Supervisor switch-off scripts (#2149)
  scripts/rollout/prep/20260804/1.sql
  scripts/rollout/prep/20260804/2.sql
  scripts/rollout/prep/20260804/3.sql
  scripts/rollout/prep/20260804/4.sql
Due: none

write files in batches
  packages/spi-transform/pyproject.toml
  packages/spi-transform/src/spi_transform/batch_transform.py
  packages/spi-transform/src/spi_transform/spi_xml_to_delta_table.py
  packages/spi-transform/uv.lock
Due: none

bugfixes
  packages/spi-transform/src/spi_transform/batch_transform.py
Due: none

preinstall duckdb exts in dockerfile to avoid issues when deployed to ecs
  packages/spi-transform/Dockerfile
Due: none

Add ADR
  docs/architecture/adrs/0013-database-query-parsing.md
Due: none

Add ADR for database query parsing (#2151)
  docs/architecture/adrs/0013-database-query-parsing.md
Due: none

Renamed type
  packages/ui/cypress/component/Typeaheads/OrganisationUnitTypeahead.cy.tsx
  packages/ui/cypress/e2e/api/organisation-units/searchOrganisationUnits.cy.ts
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/context/OrganisationUnitsContext.tsx
  packages/ui/src/pages/api/organisation-units.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/types/OrganisationUnitApiResponse.ts
  packages/ui/src/types/OrganisationUnitNameAndCode.ts
  packages/ui/src/utils/validators/isValidNextHearingLocation.ts
Due: ui-changes

Added formatter and test
  packages/ui/src/utils/formatUnitOrganisationNameAndCode/formatUnitOrganisationNameAndCode.test.ts
  packages/ui/src/utils/formatUnitOrganisationNameAndCode/formatUnitOrganisationNameAndCode.ts
Due: ui-changes

Removed org-units endpoint
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/pages/api/organisation-units.ts
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
Due: ui-changes

Update standing data dependency (#2150)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Removed common searchOrg functionality, moved into utils
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
  packages/ui/cypress/component/Typeaheads/OrganisationUnitTypeahead.cy.tsx
  packages/ui/cypress/e2e/api/organisation-units/searchOrganisationUnits.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-location.cy.ts
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/index.tsx
  packages/ui/src/utils/organisationUnitTransformation/formatOrganisationUnitNameAndCode.test.ts
  packages/ui/src/utils/organisationUnitTransformation/formatOrganisationUnitNameAndCode.ts
  packages/ui/src/utils/organisationUnitTransformation/searchOrganisationUnitNameAndCode.test.ts
  packages/ui/src/utils/organisationUnitTransformation/searchOrganisationUnitNameAndCode.ts
Due: common-changes, ui-changes

Sonar fix, re-added searchOrganisation logic
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
  packages/ui/src/components/Typeaheads/OrganisationUnitTypeahead.tsx
Due: common-changes, ui-changes

Test fix
  packages/ui/src/utils/organisationUnitTransformation/formatOrganisationUnitNameAndCode.test.ts
Due: ui-changes

Renamed common files, removed redundant search functionality
  packages/api/src/useCases/cases/reports/utils/findNextHearing.ts
  packages/common/utils/getCourtOrganisationUnitNames.test.ts
  packages/common/utils/getCourtOrganisationUnitNames.ts
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
  packages/ui/src/utils/organisationUnitTransformation/formatOrganisationUnitNameAndCode.ts
  packages/ui/src/utils/organisationUnitTransformation/searchOrganisationUnitNameAndCode.test.ts
  packages/ui/src/utils/organisationUnitTransformation/searchOrganisationUnitNameAndCode.ts
Due: api-changes, common-changes, ui-changes
