Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0
  continuation: circleci/continuation@1.0.0

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            environment/.* env-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
          base-revision: << pipeline.parameters.base-revision >>
          output-path: << pipeline.parameters.output-path >>
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it. 
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|env-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add logs for PNC mocks
  packages/e2e-test/utils/PncApi/fetchMocks.ts
  packages/e2e-test/utils/PncApi/pncHelpers/MockPNCHelper.ts
Due: e2e-test-changes

Rename createPncDisposal
  packages/core/lib/results/createPoliceDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPncDisposalByThirdDuration.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPncDisposalByThirdDuration.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPncDisposalsFromResult.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposal.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposal.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/formatDateSpecifiedInResult.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/formatDateSpecifiedInResult.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/getFirstDateSpecifiedInResult.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/getFirstDateSpecifiedInResult.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/index.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/isAmountSpecifiedInResultValid.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/isAmountSpecifiedInResultValid.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/isDriverDisqualificationResult.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/isDriverDisqualificationResult.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200205.ts
  packages/core/phase2/lib/isResultMatchingAPncDisposal.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Rename createPncAdjudicationFromAho
  packages/core/lib/createPoliceAdjudicationFromAho/createPoliceAdjudication.test.ts
  packages/core/lib/createPoliceAdjudicationFromAho/createPoliceAdjudication.ts
  packages/core/lib/createPoliceAdjudicationFromAho/createPoliceAdjudicationFromAho.test.ts
  packages/core/lib/createPoliceAdjudicationFromAho/createPoliceAdjudicationFromAho.ts
  packages/core/phase2/lib/areResultsMatchingPncAdjudication.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
Due: core-changes

Rename createPoliceDisposalsFromResult functions
  packages/core/lib/results/createPoliceDisposalsFromResult/createPncDisposalsFromResult.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposalByFirstAndSecondDurations.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposalByFirstAndSecondDurations.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposalByThirdDuration.test.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposalByThirdDuration.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/createPoliceDisposalsFromResult.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/index.ts
  packages/core/lib/results/createPoliceDisposalsFromResult/isDriverDisqualificationResult.test.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/lib/isResultMatchingAPncDisposal.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename isResultMatchingAPncDisposal and areResultsMatchingAPncDisposal
  packages/core/phase2/lib/areResultsMatchingAPoliceDisposal.test.ts
  packages/core/phase2/lib/areResultsMatchingAPoliceDisposal.ts
  packages/core/phase2/lib/areResultsMatchingPncAdjudicationAndDisposals.ts
  packages/core/phase2/lib/isResultMatchingAPoliceDisposal.test.ts
  packages/core/phase2/lib/isResultMatchingAPoliceDisposal.ts
Due: core-changes

Rename areAllPncDisposalsWithType
  packages/core/phase2/exceptions/HO200101.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/HO200108.test.ts
  packages/core/phase2/lib/areAllPncDisposalsWithType.ts
  packages/core/phase2/lib/areAllPoliceDisposalsWithType.test.ts
  packages/core/phase2/lib/areAllPoliceDisposalsWithType.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
Due: core-changes

Rename areResultsMatchingPncAdjudicationAndDisposals
  packages/core/phase2/lib/areAllResultsOnPnc.ts
  packages/core/phase2/lib/areResultsMatchingAPoliceDisposal.ts
  packages/core/phase2/lib/areResultsMatchingPoliceAdjudicationAndDisposals.test.ts
  packages/core/phase2/lib/areResultsMatchingPoliceAdjudicationAndDisposals.ts
Due: core-changes

Rename areResultsMatchingPncAdjudication
  packages/core/phase2/lib/areResultsMatchingPncAdjudication.ts
  packages/core/phase2/lib/areResultsMatchingPoliceAdjudication.test.ts
  packages/core/phase2/lib/areResultsMatchingPoliceAdjudication.ts
  packages/core/phase2/lib/areResultsMatchingPoliceAdjudicationAndDisposals.ts
Due: core-changes

Rename hasUnmatchedPncOffences
  packages/core/phase2/exceptions/HO200108.test.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200124.test.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/hasUnmatchedPncOffences.ts
  packages/core/phase2/lib/hasUnmatchedPoliceOffences.test.ts
  packages/core/phase2/lib/hasUnmatchedPoliceOffences.ts
Due: core-changes

Rename pnc in isAncillaryInterimCase
  packages/core/phase2/lib/isAncillaryInterimCase.test.ts
  packages/core/phase2/lib/isAncillaryInterimCase.ts
Due: core-changes

Rename pnc in refreshOperations test
  packages/core/phase2/lib/refreshOperations.test.ts
Due: core-changes

Rename areAllResultsOnPnc and areAnyPncDisposalsWithType
  packages/core/phase2/exceptions/HO200101.test.ts
  packages/core/phase2/exceptions/HO200101.ts
  packages/core/phase2/exceptions/HO200104.test.ts
  packages/core/phase2/exceptions/HO200104.ts
  packages/core/phase2/exceptions/HO200108.test.ts
  packages/core/phase2/exceptions/HO200108.ts
  packages/core/phase2/exceptions/HO200112.test.ts
  packages/core/phase2/exceptions/HO200113.ts
  packages/core/phase2/exceptions/HO200114.test.ts
  packages/core/phase2/exceptions/HO200115.test.ts
  packages/core/phase2/exceptions/HO200124.test.ts
  packages/core/phase2/exceptions/HO200124.ts
  packages/core/phase2/exceptions/checkClashingCourtCaseOperationsException.test.ts
  packages/core/phase2/exceptions/checkClashingCourtCaseOperationsException.ts
  packages/core/phase2/lib/areAllResultsInPoliceCourtCase.test.ts
  packages/core/phase2/lib/areAllResultsInPoliceCourtCase.ts
  packages/core/phase2/lib/areAnyPoliceDisposalsWithType.test.ts
  packages/core/phase2/lib/areAnyPoliceDisposalsWithType.ts
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
  packages/core/phase2/lib/generateOperations/generateOperations.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/ResultClassHandler.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleJudgementWithFinalResult.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.test.ts
  packages/core/phase2/lib/generateOperations/resultClassHandlers/handleSentence.ts
  packages/core/phase2/phase2.test.ts
  packages/core/phase2/phase2.ts
  packages/core/phase2/tests/helpers/generateResultClassHandlerParams.ts
Due: core-changes

Add logs for PNC mocks (#1589)
  packages/e2e-test/utils/PncApi/fetchMocks.ts
  packages/e2e-test/utils/PncApi/pncHelpers/MockPNCHelper.ts
Due: e2e-test-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes

add user and force level feature flag plus relevant config
  .circleci/continue_config.yml
  environment/docker-compose.yml
  packages/ui/src/config.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.test.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.ts
Due: circleci-changes, env-changes

add missing the definition for the FORCES_WITH_TRIGGER_AND_EXCEPTION_QUALITY_AUDITING_ENABLED param in the start_bichard7_legacy task
  .circleci/continue_config.yml
Due: circleci-changes

BICAWS7-3686 Add user level and force level feature flags for trigger and exception quality auditing (#1593)
  .circleci/continue_config.yml
  environment/docker-compose.yml
  packages/ui/src/config.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.test.ts
  packages/ui/src/features/flags/canUseTriggerAndExceptionQualityAuditing.ts
Due: circleci-changes, env-changes

add checkbox component
  packages/ui/src/components/Checkbox/Checkbox.tsx
Due: none

add checkboxes component
  packages/ui/src/components/Checkbox/Checkboxes.tsx
Due: none

Do not show 'Default Response' in Swagger docs
  packages/api/src/routes/v1/audit-logs/createAuditLog.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvents.ts
  packages/api/src/routes/v1/audit-logs/getAuditLog.ts
  packages/api/src/routes/v1/audit-logs/searchAuditLogs.ts
  packages/api/src/routes/v1/cases/getCase.ts
  packages/api/src/routes/v1/cases/getCases.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/openapi/jsonResponse.ts
  packages/api/src/server/schemas/errorReasons.ts
Due: api-changes

simplify checkbox implementation; need to resolve on change action on checkbox
  packages/ui/src/components/Checkbox/Checkbox.tsx
  packages/ui/src/components/Checkbox/Checkboxes.tsx
  packages/ui/src/components/SearchFilters/CourtDateFilter.tsx
  packages/ui/src/components/SearchFilters/CourtDateReceivedDateMismatchCheckbox.styles.tsx
  packages/ui/src/components/SearchFilters/CourtDateReceivedDateMismatchCheckbox.tsx
Due: none

Update Error handling
  packages/api/src/routes/v1/cases/resubmit.e2e.test.ts
  packages/api/src/routes/v1/cases/resubmit.integration.test.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/services/db/cases/canCaseBeResubmitted.ts
  packages/api/src/services/db/handleDisconnectedError.ts
  packages/api/tsconfig.json
Due: api-changes

Add auditCase service to save error_quality_checked and trigger_quality_checked in db
  packages/api/src/services/db/cases/auditCase.integration.test.ts
  packages/api/src/services/db/cases/auditCase.ts
Due: api-changes

Add feature flag update migration file
  environment/postgres/liquibase/migrations/base/037_update_audit_feature_flag.sql
Due: env-changes

Do not show 'Default Response' in Swagger docs (#1594)
  packages/api/src/routes/v1/audit-logs/createAuditLog.ts
  packages/api/src/routes/v1/audit-logs/events/createAuditLogEvents.ts
  packages/api/src/routes/v1/audit-logs/getAuditLog.ts
  packages/api/src/routes/v1/audit-logs/searchAuditLogs.ts
  packages/api/src/routes/v1/cases/getCase.ts
  packages/api/src/routes/v1/cases/getCases.ts
  packages/api/src/routes/v1/cases/resubmit.ts
  packages/api/src/routes/v1/me.ts
  packages/api/src/server/openapi/jsonResponse.ts
  packages/api/src/server/schemas/errorReasons.ts
Due: api-changes

Remove commented out file
  packages/api/src/services/db/mapCaseDataForIndexRowToDto.ts
Due: api-changes

Add new select component
  packages/ui/cypress/component/Select.cy.tsx
  packages/ui/src/components/Select.tsx
Due: none

Update types to include errorQualityChecked and triggerQualityChecked
  packages/common/types/Case.ts
Due: common-changes

Fetch error_quality_checked and trigger_quality_checked from db and map to dto
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/fetchCases.ts
  packages/api/src/types/Case.ts
  packages/api/src/useCases/dto/convertCaseToDto.ts
Due: api-changes

Update tests to verify correct values are saved in db
  packages/api/src/services/db/cases/auditCase.integration.test.ts
Due: api-changes

Add onChange test
  packages/ui/cypress/component/Select.cy.tsx
Due: none

Add an initial value to this reduce() call
  packages/api/src/services/db/cases/auditCase.ts
Due: api-changes

Add placeholder
  packages/ui/cypress/component/Select.cy.tsx
  packages/ui/src/components/Select.tsx
Due: none

Use select component
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/Matcher/OffenceMatcher.tsx
  packages/ui/src/features/CourtCaseDetails/Tabs/Panels/Offences/Offence/OffenceMatcher.tsx
  packages/ui/src/pages/court-cases/[courtCaseId]/resolve.tsx
Due: none

Update the expected test objects
  packages/api/src/routes/v1/cases/getCase.integration.test.ts
  packages/api/src/useCases/cases/lockAndFetchCaseDto.integration.test.ts
Due: api-changes

Add error state
  packages/ui/cypress/component/Select.cy.tsx
  packages/ui/src/components/Select.tsx
Due: none

Add FormGroup component
  packages/ui/cypress/component/FormGroup.cy.tsx
  packages/ui/src/components/FormGroup.tsx
Due: none
