Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

update casing on test
  packages/ui/src/services/getSupervisedUser.ts
  packages/ui/src/services/getSupervisedUsers.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

move integration tests into api
  packages/api/src/services/db/users/fetchUsers.integration.test.ts
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

show supervised users in audit UI
  packages/ui/src/pages/audit/search.tsx
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

update string formatting for sonarqube
  packages/user-service/src/useCases/getFilteredUsers.ts
Due: user-service-changes

test supervised users with multiple forces
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: ui-changes

add typeorm query for fetching users by visible force
  packages/ui/src/services/getSupervisedUsers.ts
Due: ui-changes

add fetchUsers
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

refactor supervised user query
  packages/ui/src/services/getSupervisedUsers.ts
Due: ui-changes

add skeleton route and use case for user list
  packages/api/src/routes/v1/users/getUsers.ts
  packages/api/src/types/Users.ts
  packages/api/src/useCases/users/fetchUserList.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/User.ts
Due: api-changes, common-changes

fix local api command
  packages/api/README.md
Due: api-changes

fix fetch, revert search
  packages/api/src/services/db/users/fetchUsers.integration.test.ts
  packages/api/src/services/db/users/fetchUsers.ts
  packages/ui/src/pages/audit/search.tsx
  packages/ui/src/services/getSupervisedUsers.ts
  packages/ui/test/services/getSupervisedUsers.integration.test.ts
Due: api-changes, ui-changes

refactor for sonarqube
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

Fix responsiveness and off pixels
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

add integration test for user list
  packages/api/src/services/db/users/fetchUsers.ts
  packages/api/src/useCases/users/fetchUserList.integration.test.ts
  packages/api/src/useCases/users/fetchUserList.ts
Due: api-changes

fix typo
  packages/api/src/useCases/users/fetchUserList.integration.test.ts
Due: api-changes

Clean up
  packages/ui/src/pages/report-selection-fields.styles.tsx
  packages/ui/src/pages/report-selection.tsx
Due: ui-changes

add database query. dto mapping for users
  packages/api/src/useCases/users/fetchUserList.integration.test.ts
  packages/api/src/useCases/users/fetchUserList.ts
Due: api-changes

add error handling for user list
  packages/api/src/useCases/users/fetchUserList.integration.test.ts
  packages/api/src/useCases/users/fetchUserList.ts
  packages/common/types/Permission.ts
  packages/common/utils/userPermissions.ts
Due: api-changes, common-changes

fix failing integration test for new permission
  packages/api/src/routes/v1/me.integration.test.ts
Due: api-changes

add assertion to integration test
  packages/api/src/useCases/users/fetchUserList.integration.test.ts
Due: api-changes

Refactor/restructure
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/report-selection.tsx
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

update e2e test for permissions
  packages/api/src/routes/v1/me.e2e.test.ts
Due: api-changes

add failing test for fetchUsers
  packages/api/src/types/Users.ts
  packages/ui/src/services/api/BichardApiV1.test.ts
Due: api-changes, ui-changes

add fetchUsers to interface, api
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: ui-changes

add test for error handling
  packages/ui/src/services/api/BichardApiV1.test.ts
Due: ui-changes

add e2e test for getUsers
  packages/api/src/routes/v1/users/getUsers.e2e.test.ts
Due: api-changes

Remove csrf
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

connect fetching users to UI
  packages/api/README.md
  packages/ui/src/pages/audit/search.tsx
Due: api-changes, ui-changes

PR feedback
  packages/api/src/tests/helpers/triggerHelper.ts
Due: api-changes

Add ADR for API contract types
  docs/architecture/adrs/0010-api-contract-naming-conventions.md
Due: none

Add ADR for API testing strategies
  docs/architecture/adrs/0011-define-use-of-e2e-and-integration-tests-on-api-routes.md
Due: none

Correct number
  docs/architecture/adrs/0010-api-contract-naming-conventions.md
Due: none

remove console logs
  packages/ui/src/pages/audit/search.tsx
Due: ui-changes

add defensive handling for empty user list
  packages/api/src/services/db/users/fetchUsers.integration.test.ts
  packages/api/src/services/db/users/fetchUsers.ts
Due: api-changes

update readme
  packages/api/README.md
Due: api-changes

Fix Search reports button styles
  packages/ui/src/components/SearchFilters/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Remove back link
  packages/ui/src/pages/report-selection/index.tsx
Due: ui-changes

Changes following review
  docs/architecture/adrs/0011-define-use-of-e2e-and-integration-tests-on-api-routes.md
Due: none

Refactor Warrants Report
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.ts
  packages/api/src/services/db/cases/reports/warrants.ts
  packages/api/src/types/reports/Warrants.ts
  packages/api/src/useCases/cases/reports/createReportHandler.ts
  packages/api/src/useCases/cases/reports/createReportHandler.unit.test.ts
  packages/api/src/useCases/cases/reports/reportStream.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.ts
  packages/api/src/useCases/cases/reports/warrants/generateWarrantsReport.unit.test.ts
  packages/api/src/useCases/cases/reports/warrants/processCases.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/contracts/WarrantsReport.ts
Due: api-changes, common-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
