Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@7da01574d916c3f01edc64b6e0ef81c32ab7f6a2 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update comparison code to compare audit log events
  packages/core/comparison/cli/getComparisonStatistics.test.ts
  packages/core/comparison/cli/printResult.ts
  packages/core/comparison/cli/skippedFile.ts
  packages/core/comparison/lib/DynamoGateway.integration.test.ts
  packages/core/comparison/lib/compareFile.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/extractAuditLogEventCodes.ts
  packages/core/comparison/lib/isPass.ts
  packages/core/comparison/lib/recordResultInDynamo.integration.test.ts
  packages/core/comparison/lib/recordResultInDynamo.ts
  packages/core/comparison/lib/recordResultsInDynamo.ts
  packages/core/comparison/types/ComparisonLog.ts
  packages/core/comparison/types/ComparisonResultDetail.ts
Due: core-changes

Ignore events for core and bichard
  packages/core/comparison/lib/comparePhase2.ts
Due: core-changes

Update comparison tests to validate Phase 2 audit log events (#930)
  packages/core/comparison/cli/getComparisonStatistics.test.ts
  packages/core/comparison/cli/printResult.ts
  packages/core/comparison/cli/skippedFile.ts
  packages/core/comparison/lib/DynamoGateway.integration.test.ts
  packages/core/comparison/lib/compareFile.ts
  packages/core/comparison/lib/comparePhase1.ts
  packages/core/comparison/lib/comparePhase2.ts
  packages/core/comparison/lib/extractAuditLogEventCodes.ts
  packages/core/comparison/lib/isPass.ts
  packages/core/comparison/lib/recordResultInDynamo.integration.test.ts
  packages/core/comparison/lib/recordResultInDynamo.ts
  packages/core/comparison/lib/recordResultsInDynamo.ts
  packages/core/comparison/types/ComparisonLog.ts
  packages/core/comparison/types/ComparisonResultDetail.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@5a08cc57e16980511276a799cce229482223b8b8 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add a script to revert S3 files to their initial version
  packages/conductor/scripts/revert-conductor-s3-task-file.sh
Due: conductor-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@a39efcfa5671aa62c891d7a8ecede439e544e8c7 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/message-forwarder/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@985a4177271e0ddf163092314bea9fb578222f9c 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update standing data dependency
  package-lock.json
  packages/core/package.json
Due: core-changes

Update standing data dependency (#935)
  package-lock.json
  packages/core/package.json
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@fa49800af5e2fabed8ebdc6c251cc27576170171 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update startBichardProcess to take in AHO or PncUpdateDataset
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.ts
Due: message-forwarder-changes

Rename ignoredAHOFixture to ahoFixture in integration test
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
Due: message-forwarder-changes

Update forwardMessage to parse PncUpdateDataset as well
  packages/message-forwarder/src/forwardMessage/forwardMessage.auto.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.conductor.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.unit.test.ts
  packages/message-forwarder/src/test/fixtures/pnc-update-dataset.xml
Due: message-forwarder-changes

Refactor to use ConductorWorkflow enum in forwardMessage
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
Due: message-forwarder-changes

Update startBichardProcess to log the phase
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.ts
Due: message-forwarder-changes

Update sendToResubmissionQueue test descriptions
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.unit.test.ts
Due: message-forwarder-changes

Update sendToResubmissionQueue to log the phase
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.ts
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.unit.test.ts
Due: message-forwarder-changes

Refactor handling of different Conductor workflows
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
Due: message-forwarder-changes

Update startBichardProcess to take in phase instead
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.ts
Due: message-forwarder-changes

Update message forwarder to parse PncUpdateDataset as well (#934)
  packages/message-forwarder/src/forwardMessage/forwardMessage.auto.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.conductor.integration.test.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.ts
  packages/message-forwarder/src/forwardMessage/forwardMessage.unit.test.ts
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.ts
  packages/message-forwarder/src/forwardMessage/sendToResubmissionQueue/sendToResubmissionQueue.unit.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.integration.test.ts
  packages/message-forwarder/src/forwardMessage/startBichardProcess/startBichardProcess.ts
  packages/message-forwarder/src/test/fixtures/pnc-update-dataset.xml
Due: message-forwarder-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@8021dd9e701456aba82a92eda727be0eafcec976 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update build-message-forwarder.sh to build Phase 2 message forwarder
  .circleci/scripts/build-message-forwarder.sh
Due: circleci-changes

Add Phase 2 message forwarder to Docker Compose
  environment/docker-compose.yml
Due: env-changes

Update build-message-forwarder scripts in package.json
  package.json
Due: none

Update Docker Compose with Phase 2 message forwarder (#936)
  .circleci/scripts/build-message-forwarder.sh
  environment/docker-compose.yml
  package.json
Due: circleci-changes, env-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@b83dfd051a50c7e74aef6579eeec04e67c8a1a97 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Update Docker Compose for legacy Bichard with Phase 2 message forwarder
  environment/docker-compose-bichard.yml
Due: env-changes

Update Docker Compose for legacy Bichard with Phase 2 message forwarder (#937)
  environment/docker-compose-bichard.yml
Due: env-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@40bd0fa7a81cdd084a65fd324c4674f1773887aa 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Add @swc/jest to core
  .dockerignore
  .gitignore
  .swcrc
  package-lock.json
  package.json
  packages/core/jest.config.js
  packages/core/lib/parse/transformSpiToAho/populateDefendant.test.ts
  packages/core/package.json
Due: core-changes

Use DLC to speed up CI
  .circleci/continue_config.yml
Due: circleci-changes

Move setting/reading of ENV variables
  packages/core/conductor-tasks/common/storeAuditLogEvents.integration.test.ts
  packages/core/conductor-tasks/common/storeAuditLogEvents.ts
Due: core-changes

Improve test speed of api
  packages/api/.swcrc
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/tests/court-cases.integration.test.ts
Due: api-changes

Improve test speed of common
  packages/common/jest.config.js
  packages/common/package.json
Due: common-changes

Improve test speed of conductor
  packages/conductor/jest.config.js
  packages/conductor/package.json
Due: conductor-changes

Improve test speed of message-forwarder
  packages/message-forwarder/jest.config.js
  packages/message-forwarder/package.json
Due: message-forwarder-changes

Enable DLC for caching docker layers
  .circleci/continue_config.yml
Due: circleci-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
