Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Refactor to remove createPncDisposalFromOffence function
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Update disposal text to be null when 3027 disposal
  packages/core/phase3/lib/hearingDetails/__snapshots__/createDisposalsFromOffence.test.ts.snap
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/types/HearingDetails.ts
Due: core-changes

Refactor hasConverted2060Result to remove nested if statement
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename hasConverted2060Result to isConverted2060Result
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename has3027Disposal to has3027Result
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename isConverted2060Result to isConverted2060To2063Result
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Combine if statements for setting disposalsFor2060Result
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Use destructuring for disposalCode and resultCode
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Rename disposalsFor2060Result to pncDisposalsFor2060Result
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Refactor createDisposalsFromOffence function (#1206)
  packages/core/phase3/lib/hearingDetails/__snapshots__/createDisposalsFromOffence.test.ts.snap
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.test.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/types/HearingDetails.ts
Due: core-changes

Update standing data dependency
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Update standing data dependency (#1207)
  package-lock.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: core-changes, e2e-test-changes

Inline qtyDuration
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
Due: core-changes

Refactor adding included qualifiers
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
Due: core-changes

Move getDisposalTextFromResult into root lib folder
  packages/core/comparison/lib/isIntentionalDifference/ho200200AndMultilineResultVariableText.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.test.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/lib/getDisposalTextFromResult/disqualifiedFromKeepingDisposalText.test.ts
  packages/core/lib/getDisposalTextFromResult/disqualifiedFromKeepingDisposalText.ts
  packages/core/lib/getDisposalTextFromResult/exclusionOrderDisposalText.test.ts
  packages/core/lib/getDisposalTextFromResult/exclusionOrderDisposalText.ts
  packages/core/lib/getDisposalTextFromResult/exclusionRequirementsDisposalText.test.ts
  packages/core/lib/getDisposalTextFromResult/exclusionRequirementsDisposalText.ts
  packages/core/lib/getDisposalTextFromResult/getDisposalTextFromResult.test.ts
  packages/core/lib/getDisposalTextFromResult/getDisposalTextFromResult.ts
  packages/core/lib/getDisposalTextFromResult/index.ts
  packages/core/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.test.ts
  packages/core/lib/getDisposalTextFromResult/isFailedToAppearWarrantIssued.ts
  packages/core/lib/getDisposalTextFromResult/licencedPremisesExclusionOrderDisposalText.test.ts
  packages/core/lib/getDisposalTextFromResult/licencedPremisesExclusionOrderDisposalText.ts
  packages/core/lib/getDisposalTextFromResult/penaltyPointsDisposalText.test.ts
  packages/core/lib/getDisposalTextFromResult/penaltyPointsDisposalText.ts
  packages/core/lib/getDisposalTextFromResult/untilFurtherOrderDisposalText.test.ts
  packages/core/lib/getDisposalTextFromResult/untilFurtherOrderDisposalText.ts
  packages/core/lib/triggers/TRPS0003.ts
Due: core-changes

Simplify return for preProcessDisposalQualifiers
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
Due: core-changes

Refactor createPncDisposal parameters to be an object instead
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.test.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposalByThirdDuration.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
Due: core-changes

Move createPncDisposalsFromResult into root lib folder
  packages/core/comparison/lib/isIntentionalDifference/ho200200AndMultilineResultVariableText.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposal.test.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposal.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.test.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalByFirstAndSecondDurations.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalByThirdDuration.test.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalByThirdDuration.ts
  packages/core/lib/createPncDisposalsFromResult/createPncDisposalsFromResult.ts
  packages/core/lib/createPncDisposalsFromResult/formatDateSpecifiedInResult.test.ts
  packages/core/lib/createPncDisposalsFromResult/formatDateSpecifiedInResult.ts
  packages/core/lib/createPncDisposalsFromResult/getFirstDateSpecifiedInResult.test.ts
  packages/core/lib/createPncDisposalsFromResult/getFirstDateSpecifiedInResult.ts
  packages/core/lib/createPncDisposalsFromResult/index.ts
  packages/core/lib/createPncDisposalsFromResult/isAmountSpecifiedInResultValid.test.ts
  packages/core/lib/createPncDisposalsFromResult/isAmountSpecifiedInResultValid.ts
  packages/core/lib/createPncDisposalsFromResult/isDriverDisqualificationResult.test.ts
  packages/core/lib/createPncDisposalsFromResult/isDriverDisqualificationResult.ts
  packages/core/lib/triggers/TRPS0003.ts
  packages/core/phase2/exceptions/HO200205.ts
  packages/core/phase2/lib/isResultMatchingAPncDisposal.ts
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/penaltyHearingGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/remandGenerator/remandGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
Due: core-changes

Simplify return for createPncDisposal
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.ts
Due: core-changes

Add tests covering empty strings for preProcessDisposalQualifiers
  packages/core/phase2/lib/createPncDisposalsFromResult/createPncDisposal.test.ts
Due: core-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, common-changes, conductor-changes, e2e-test-changes

Change SonarCloud GitHub Action and version
  .github/workflows/sonarqube.yml
Due: none

Change SonarCloud GitHub Action and version (#1212)
  .github/workflows/sonarqube.yml
Due: none

Rename variable and type names
  packages/core/lib/exceptions/getPncExceptionFromMessage.test.ts
  packages/core/lib/exceptions/getPncExceptionFromMessage.ts
  packages/core/phase1/exceptions/generatePncEnquiryExceptionFromMessage.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
Due: core-changes

Move getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.test.ts
  packages/core/phase3/lib/hearingDetails/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.ts
Due: core-changes

Rename function to generatePncExceptionFromMessage
  packages/core/lib/exceptions/generatePncExceptionFromMessage.test.ts
  packages/core/lib/exceptions/generatePncExceptionFromMessage.ts
  packages/core/phase1/exceptions/generatePncEnquiryExceptionFromMessage.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
Due: core-changes

Extract getPncExceptionFromMessage function
  packages/core/lib/exceptions/getPncExceptionFromMessage.test.ts
  packages/core/lib/exceptions/getPncExceptionFromMessage.ts
  packages/core/phase1/exceptions/generatePncEnquiryExceptionFromMessage.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
Due: core-changes

Refactor generating a PNC exception from a PNC error message (#1211)
  packages/core/lib/exceptions/generatePncExceptionFromMessage.test.ts
  packages/core/lib/exceptions/generatePncExceptionFromMessage.ts
  packages/core/phase1/exceptions/generatePncEnquiryExceptionFromMessage.ts
  packages/core/phase3/exceptions/generatePncUpdateExceptionFromMessage.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.test.ts
  packages/core/phase3/lib/hearingDetails/getConvictionDateFromPncAdjudicationIfOffenceIsAdjournedSineDie.ts
Due: core-changes

Refactor and write tests for normal disposal generator
  packages/core/phase3/lib/getPncCourtCode.test.ts
  packages/core/phase3/lib/getPncCourtCode.ts
  packages/core/phase3/lib/performOperation.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/disposalUpdatedGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/__snapshots__/normalDisposalGenerator.test.ts.snap
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/deriveGeneratedPNCFilename.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/deriveGeneratedPncFilename.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/getNextHearingDateFromOffencesList.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/getNextHearingDateFromOffencesList.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/getNextResultSourceOrganisationFromOffences.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/getNextResultSourceOrganisationFromOffences.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/index.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/normalDisposalGenerator.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/preProcessCourtCaseReferenceNumber.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/preProcessCourtCaseReferenceNumber.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/preProcessPreTrialIssuesUniqueReferenceNumber.test.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/preProcessPreTrialIssuesUniqueReferenceNumber.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/sentenceDeferredGenerator.ts
  packages/core/types/AnnotatedHearingOutcome.ts
Due: core-changes

Rename types for hearing details in Phase 3
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/types/DisposalUpdatedPncUpdateRequest.ts
  packages/core/phase3/types/HearingDetails.ts
  packages/core/phase3/types/NormalDisposalPncUpdateRequest.ts
  packages/core/phase3/types/PenaltyHearingPncUpdateRequest.ts
  packages/core/phase3/types/SentenceDeferredPncUpdateRequest.ts
Due: core-changes

Merge branch 'main' into refactor-normal-disposal
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator/deriveGeneratedPncFilename.test.ts
Due: core-changes

Rename types for hearing details in Phase 3 (#1213)
  packages/core/phase3/lib/hearingDetails/createAdjudicationFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createArrestHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createCourtHearingFromOffence.ts
  packages/core/phase3/lib/hearingDetails/createDisposalsFromOffence.ts
  packages/core/phase3/lib/hearingDetails/generateArrestHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAdjudicationsAndDisposals.ts
  packages/core/phase3/lib/hearingDetails/generateHearingsAndDisposals.ts
  packages/core/phase3/lib/pncUpdateRequestGenerators/normalDisposalGenerator.ts
  packages/core/phase3/types/DisposalUpdatedPncUpdateRequest.ts
  packages/core/phase3/types/HearingDetails.ts
  packages/core/phase3/types/NormalDisposalPncUpdateRequest.ts
  packages/core/phase3/types/PenaltyHearingPncUpdateRequest.ts
  packages/core/phase3/types/SentenceDeferredPncUpdateRequest.ts
Due: core-changes

Extract getAuditLogs test helper for Conductor E2E tests
  packages/conductor/e2e-test/bichardPhase1.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase2.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/getAuditLogs.ts
Due: conductor-changes

Extract getFixture test helper for Conductor E2E tests
  packages/conductor/e2e-test/bichardPhase1.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase2.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/getFixture.ts
Due: conductor-changes

Fix all-phase3-core script command
  package.json
Due: none

Enable skipped E2E tests for Conductor workflows
  packages/conductor/e2e-test/bichardPhase1.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase2.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
Due: conductor-changes

Update LocalStack image version to 4.0.3 (latest)
  environment/docker-compose.yml
Due: env-changes

Fix all-phase2-core script command
  package.json
Due: none

Enable skipped E2E tests for Conductor workflows (#1215)
  environment/docker-compose.yml
  package.json
  packages/conductor/e2e-test/bichardPhase1.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase2.e2e.test.ts
  packages/conductor/e2e-test/bichardPhase3.e2e.test.ts
  packages/conductor/e2e-test/helpers/getAuditLogs.ts
  packages/conductor/e2e-test/helpers/getFixture.ts
Due: env-changes, conductor-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
