Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Test for progress
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
Due: ui-changes

Add pagination
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
  packages/ui/src/pages/audit/[auditId]/index.tsx
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: ui-changes

Add ordering
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
  packages/ui/src/pages/audit/[auditId]/index.tsx
Due: ui-changes

commit files to reopen branch
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Add functions to take snapshot of LEDS API
  packages/e2e-test/types/LedsTestApiHelper/CaseData.ts
  packages/e2e-test/types/LedsTestApiHelper/DisposalHistoryResponse.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/snapshotLedsApiData.ts
  packages/e2e-test/utils/LedsApi/verifyRealLedsApiData.ts
  packages/e2e-test/utils/config.ts
Due: e2e-test-changes

Fix bailConditions mapping
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsRemandRequest.ts
Due: e2e-test-changes

Encode and test querystring
  packages/ui/cypress/component/AuditCaseList/AuditCaseRow.cy.tsx
  packages/ui/cypress/e2e/audit/auditId.api.cy.ts
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Add Clear Filters tests
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
Due: ui-changes

Fixed punctuation and triggers/exceptions validation issue
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Validation message tests
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Moved date error messages to constants
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Add functions to take snapshot of LEDS API
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchDisposalHistory.ts
  packages/e2e-test/utils/LedsApi/snapshotLedsApiData.ts
  packages/e2e-test/utils/LedsApi/verifyRealLedsApiData.ts
Due: e2e-test-changes

Resolve typescript build errors and type mismatches
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsAddDisposalRequest.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncJsonToLedsSubsequentDisposalRequest.ts
  packages/e2e-test/utils/mormaliseForComparison.ts
Due: core-changes, e2e-test-changes

add leading slash to asnQuery endpoint to match mock expectations
  packages/core/lib/policeGateway/leds/endpoints.ts
Due: core-changes

Disable DLC temporarily
  .circleci/continue_config.yml
Due: circleci-changes

Update standing data dependency
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Re-enable DLC and fix failing test
  .circleci/continue_config.yml
  packages/core/lib/policeGateway/leds/endpoints.test.ts
Due: circleci-changes, core-changes

Add AuditLog User events support for internal use in B7 API
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.integration.test.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  packages/api/src/useCases/createAuditLogUserEvents.integration.test.ts
  packages/api/src/useCases/createAuditLogUserEvents.ts
Due: api-changes

Store before and after snapshots of LEDS API data (#1841)
  packages/e2e-test/types/LedsTestApiHelper/CaseData.ts
  packages/e2e-test/types/LedsTestApiHelper/DisposalHistoryResponse.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchDisposalHistory.ts
  packages/e2e-test/utils/LedsApi/snapshotLedsApiData.ts
  packages/e2e-test/utils/LedsApi/verifyRealLedsApiData.ts
  packages/e2e-test/utils/config.ts
Due: e2e-test-changes

Refactor the ReportType into Common
  packages/common/types/reports/ReportType.ts
  packages/ui/cypress/component/reports/ReportResults.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportResults.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
  packages/ui/src/pages/api/reports/index.ts
  packages/ui/src/services/api/BichardV1Report.ts
  packages/ui/src/services/api/interfaces/BichardReportGateway.ts
  packages/ui/src/services/reports/createReportCsv.test.ts
  packages/ui/src/services/reports/createReportCsv.ts
  packages/ui/src/services/reports/downloadReport.test.ts
  packages/ui/src/services/reports/downloadReport.ts
  packages/ui/src/services/reports/utils/csvFilename.test.ts
  packages/ui/src/services/reports/utils/csvFilename.ts
  packages/ui/src/services/reports/utils/csvMetadata.test.ts
  packages/ui/src/services/reports/utils/csvMetadata.ts
  packages/ui/src/types/reports/Config.ts
Due: common-changes, ui-changes

Update standing data dependency (#1844)
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes

Moved date range inputs into separate component
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Added API call check to triggers/exceptions tests
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
Due: ui-changes

Changed report selection filter to react component
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Tidied up else if block
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Updated test descriptions
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Correct format of User Event and allow 0 values
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.integration.test.ts
  packages/api/src/services/gateways/dynamo/AuditLogDynamoGateway/AuditLogDynamoGateway.ts
  packages/api/src/useCases/auditLog/buildAuditLogUserEvent.ts
  packages/api/src/useCases/createAuditLogUserEvents.integration.test.ts
Due: api-changes

Updated date validation message
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Refactored date validation
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Updated date range tests
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
Due: ui-changes

Add leading slashes to endpoints in tests
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
Due: core-changes

Add delays for the server mock to be populated for assertion
  packages/e2e-test/utils/LedsApi/checkMocksForLedsMockApi.ts
Due: e2e-test-changes

DateTo empty check
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Removed unnecessary null checks
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
Due: ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Bicaws7 4068 report selection filter validation (#1840)
  packages/ui/cypress/component/reports/ActionBar.cy.tsx
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/cypress/component/reports/ReportSelectionFilter.cy.tsx
  packages/ui/src/components/CustomDateInput/DateInput.tsx
  packages/ui/src/features/ReportSelectionFilter/ActionBar.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Do not use Math.random
  packages/api/src/useCases/createAuditLogUserEvents.ts
Due: api-changes

Remove console.logs
  packages/api/src/services/db/cases/fetchCaseAges.e2e.test.ts
  packages/api/src/services/db/cases/insertNote.integration.test.ts
Due: api-changes
