Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, env-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes

Fix e2eTestBuildspec (#997)
  packages/e2e-test/e2eTestBuildspec.yml
Due: e2e-test-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@84572dbf83f8c29ca812f4dba0321ef2a65f804c 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

Move DISARR and SENDEF out of for loop
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Move SENDEF and SUBVAR out of for loop
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Update boolean condition names for invalid operations
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Ensure consistent variable names
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Move remand CCRs and SENDEF out of for loop
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Move PENHRG and court case specific operations out of for loop
  packages/core/phase2/lib/generateOperations/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor same court case specific operation with same CCR
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Inline checkForClashingCourtCaseOperations checks
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor checkForClashingCourtCaseOperations to use tuple type
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Rename checkForClashingCourtCaseOperations
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor SENDEF and SUBVAR to use checkForClashingCourtCaseOperations
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Move check for PENHRG and SENDEF out of for loop
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor DISARR and SENDEF to use checkForClashingCourtCaseOperations
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Move check for NEWREM, remand CCRs and SENDEF out of for loop
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Move DISARR and SUBVAR out of for loop
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor to add findClashingCourtCaseOperation
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor DISARR and SUBVAR to use checkForClashingCourtCaseOperations
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor PENHRG checks to remove nested if statements
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Fix tests so only invalid if court case operations with same CCR
  packages/core/phase2/lib/generateOperations/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/generateOperations/validateOperations.test.ts
Due: core-changes

Export courtCaseSpecificOperations from operationCourtCaseReference
  packages/core/phase2/lib/generateOperations/operationCourtCaseReference.ts
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Rename hasSameCourtCaseOperationWithSameCcr
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Combine HO200113 checks for new remand and sentencing
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Refactor validateOperations function (#995)
  packages/core/phase2/lib/generateOperations/__snapshots__/validateOperations.test.ts.snap
  packages/core/phase2/lib/generateOperations/operationCourtCaseReference.ts
  packages/core/phase2/lib/generateOperations/validateOperations.test.ts
  packages/core/phase2/lib/generateOperations/validateOperations.ts
Due: core-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@c092ee4cb54b3b9165b7a35ad429eb0924a21435 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

comment out URLSearchParams import
  packages/ui/src/utils/deleteQueryParam/removeBlankQueryParams.test.ts
Due: none

comment out jobs in workflow
  .circleci/continue_config.yml
Due: circleci-changes

Fix import
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.test.ts
Due: api-changes

We don't need the sql.array function
  packages/api/src/services/gateways/postgres/filterUserHasSameForceAsCaseAndLockedByUser.ts
Due: api-changes

Update CircleCI to dynamically set Docker layer caching
  .circleci/config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Update CircleCI to dynamically set Docker layer caching (#998)
  .circleci/config.yml
  .circleci/continue_config.yml
Due: circleci-changes

Deploying to gh-pages from @ ministryofjustice/bichard7-next-core@6e0f472baaca0e5a415552a45150c1e7356216b1 🚀
  main/workspace.json
  schema/aho/index.html
  schema/spi/index.html
Due: none

fix test
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
Due: core-changes

remove another test
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
Due: core-changes

add test
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
Due: core-changes

remove test
  packages/core/phase2/lib/generateOperations/generateOperations.test.ts
Due: core-changes

WIP
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

remove exception logic
  packages/core/phase2/lib/generateOperations/generateOperations.ts
Due: core-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  env-changes: any of: environment/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
