Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Add missing branch tags
  .circleci/continue_config.yml
Due: circleci-changes

Booting all means the API, UI etc boots
  .circleci/continue_config.yml
Due: circleci-changes

Try to DLC working
  environment/boot.sh
Due: none

Remove building step
  environment/boot.sh
Due: none

Remove builds for ui, user-service and api
  environment/docker-compose.yml
Due: none

Load new Docker images
  .circleci/continue_config.yml
Due: circleci-changes

Update the requires
  .circleci/continue_config.yml
Due: circleci-changes

Do not need UI or user service images
  .circleci/continue_config.yml
Due: circleci-changes

Missed api
  .circleci/continue_config.yml
Due: circleci-changes

All images are needed
  .circleci/continue_config.yml
Due: circleci-changes

Add missing triggers
  .circleci/continue_config.yml
Due: circleci-changes

Do not use scripts to build UI, API and user service docker images in CI
  .circleci/continue_config.yml
  scripts/build-api-docker.sh
  scripts/build-ui-docker.sh
  scripts/build-user-service-docker.sh
Due: circleci-changes

Ignore CI folders
  .dockerignore
Due: none

Rename test
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
Due: ui-changes

Add jest types to fix type resolution errors in editor
  packages/user-service/tsconfig.json
Due: user-service-changes

Add jest types to fix type resolution errors in editor (#2000)
  packages/user-service/tsconfig.json
Due: user-service-changes

Use branch tags for building docker images in CI (#1999)
  .circleci/continue_config.yml
  .dockerignore
  environment/docker-compose.yml
  scripts/build-ui-docker.sh
Due: circleci-changes

Use Node 24 images in CI
  .circleci/continue_config.yml
Due: circleci-changes

Add totals to the User Performace Detail report (#1995)
  packages/api/src/useCases/data/getExceptionDescriptionMap.ts
  packages/api/src/useCases/data/getTriggerDescriptionMap.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.ts
  packages/api/src/useCases/dto/reports/mapToUserPerformanceDetailDtoDay.unit.test.ts
  packages/common/types/reports/UserPerformanceDetail.ts
  packages/ui/src/components/Reports/NestedTable.tsx
Due: api-changes, common-changes, ui-changes

BICAWS7-4219 - Use Node.js 24 (#1998)
  .circleci/continue_config.yml
  .nvmrc
  packages/api/Dockerfile
  packages/conductor/Dockerfile
  packages/conductor/goss_wait.yaml
  packages/message-forwarder/Dockerfile
  packages/ui/Dockerfile
  packages/user-service/Dockerfile
  packages/user-service/goss.yaml
  scripts/build-api-docker.sh
  scripts/build-core-worker-docker.sh
  scripts/build-message-forwarder-docker.sh
  scripts/build-ui-docker.sh
  scripts/build-user-service-docker.sh
Due: circleci-changes, api-changes, conductor-changes, message-forwarder-changes, ui-changes, user-service-changes

Bicaws7 4261 UI collapsible cells for offence titles wordings and notes (#1984)
  packages/ui/cypress/component/reports/ExpandableCell.cy.tsx
  packages/ui/src/components/Reports/ExpandableCell.tsx
  packages/ui/src/components/Reports/ReportTableRow.tsx
Due: ui-changes

Added initial collapsible table
  packages/ui/src/components/Reports/CollapsibleTable.styles.tsx
  packages/ui/src/components/Reports/CollapsibleTable.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
Due: ui-changes

Add flag
  scripts/build-core-worker-docker.sh
Due: none

Use localhost
  scripts/build-core-worker-docker.sh
Due: none

Use sentence case for reports (#1996)
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/exceptions.integration.test.ts
  packages/common/types/reports/AutomatedReportType.ts
  packages/common/types/reports/ReportType.ts
  packages/ui/cypress/component/reports/FilterSelectReportSection.cy.tsx
  packages/ui/cypress/component/reports/FilterTriggersExceptionsSection.cy.tsx
  packages/ui/cypress/e2e/reports/automation-rate.cy.ts
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/domestic-violence.api.cy.ts
  packages/ui/cypress/e2e/reports/top-exceptions.cy.ts
  packages/ui/cypress/e2e/reports/triggers-and-exceptions.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/cypress/e2e/reports/user-performance-summary.api.cy.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
  packages/ui/src/services/reports/auditLogFileDownload.integration.test.ts
  packages/ui/src/services/reports/utils/xlsxFilename.ts
  packages/ui/src/types/reports/Columns.ts
  packages/ui/src/types/reports/ReportConfigs.ts
Due: api-changes, common-changes, ui-changes

Use IP over localhost
  scripts/build-core-worker-docker.sh
Due: none

Replace mq
  scripts/build-core-worker-docker.sh
Due: none

Change log level
  scripts/build-core-worker-docker.sh
Due: none

Added rollout/rollback script
  scripts/rollout/prep/20260527/1.sql
Due: none

Use python 3.11 in core artifacts codebuild job
  buildspec.yml
Due: none

Added applied script to has-run folder
  scripts/rollout/has-run/20260527/1.sql
Due: none

folder date fix
  scripts/rollout/has-run/20260526/1.sql
  scripts/rollout/prep/20260526/1.sql
Due: none

Fix Conductor worker goss tests (#2001)
  scripts/build-core-worker-docker.sh
Due: none

New UI rollout 20260526 (#2005)
  scripts/rollout/has-run/20260526/1.sql
  scripts/rollout/prep/20260526/1.sql
Due: none

Show/hide fix
  packages/ui/src/components/Reports/CollapsibleTable.tsx
Due: ui-changes

Updated styling
  packages/ui/src/components/Reports/CollapsibleTable.styles.tsx
  packages/ui/src/components/Reports/CollapsibleTable.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
Due: ui-changes

Rename to collapsible group
  packages/ui/cypress/e2e/reports/user-performance-detail.api.cy.ts
  packages/ui/src/components/Reports/CollapsibleGroup.styles.tsx
  packages/ui/src/components/Reports/CollapsibleGroup.tsx
  packages/ui/src/components/Reports/CollapsibleTable.tsx
  packages/ui/src/components/Reports/GroupTable.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Added component tests
  packages/ui/cypress/component/reports/CollapsibleGroup.cy.tsx
  packages/ui/src/components/Reports/CollapsibleGroup.tsx
Due: ui-changes

Updated styling and key names
  packages/ui/cypress/component/reports/CollapsibleGroup.cy.tsx
  packages/ui/src/components/Reports/CollapsibleGroup.styles.tsx
  packages/ui/src/components/Reports/CollapsibleGroup.tsx
  packages/ui/src/components/Reports/NestedTable.tsx
Due: ui-changes

Path conditions:
  circleci-changes: any of: .circleci/.*
  api-changes: any of: packages/api/.*
  common-changes: any of: packages/common/.*
  conductor-changes: any of: packages/conductor/.*
  core-changes: any of: packages/core/.*
  e2e-test-changes: any of: packages/e2e-test/.*
  characterisation-test-changes: any of: packages/core/characterisation-tests.*
  message-forwarder-changes: any of: packages/message-forwarder/.*
  ui-changes: any of: packages/ui/.*
  user-service-changes: any of: packages/user-service/.*
