Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

BICAWS7-4005 - Add /v1/audit/:auditId endpoint to the API (#1823)
  packages/api/src/routes/v1/audit/[auditId]/_auditId.e2e.test.ts
  packages/api/src/routes/v1/audit/[auditId]/_auditId.integration.test.ts
  packages/api/src/routes/v1/audit/[auditId]/_auditId.ts
  packages/api/src/services/db/audit/fetchAuditWithProgress.integration.test.ts
  packages/api/src/services/db/audit/fetchAuditWithProgress.ts
  packages/api/src/useCases/audit/getAuditWithProgress.ts
  packages/api/src/useCases/audit/getAuditWithProgress.unit.test.ts
  packages/api/src/useCases/dto/convertAuditToDto.ts
  packages/common/apiEndpoints/endpoints.ts
  packages/common/apiEndpoints/versionedEndpoints.ts
  packages/common/types/Audit.ts
Due: api-changes, common-changes

Add link to case via Defendant Name
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/types/reports/Exceptions.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/types/reports/Bails.ts
  packages/common/types/reports/DomesticViolence.ts
  packages/common/types/reports/Exceptions.ts
  packages/common/types/reports/Warrants.ts
  packages/ui/cypress/component/reports/ReportTableCell.cy.tsx
  packages/ui/cypress/component/reports/ReportTableRow.cy.tsx
  packages/ui/src/components/Reports/ReportTableCell.tsx
  packages/ui/src/components/Reports/ReportTableRow.tsx
Due: api-changes, common-changes, ui-changes

Exclude auth requsts from mock verifications
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: e2e-test-changes

Pin @ministryofjustice/frontend to v8 (#1834)
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/uat-data/package.json
  packages/ui/.ncurc.js
  packages/ui/package.json
  packages/user-service/.ncurc.js
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Add comment to explain rowSpan
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
Due: ui-changes

Added date range validation
  packages/ui/src/components/CustomDateInput/DateInput.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

merge fix
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.styles.tsx
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Add link to case via Defendant Name (#1835)
  packages/api/src/routes/v1/cases/reports/bails.integration.test.ts
  packages/api/src/routes/v1/cases/reports/domesticViolence.integration.test.ts
  packages/api/src/routes/v1/cases/reports/warrants.integration.test.ts
  packages/api/src/types/reports/Exceptions.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToBailsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.ts
  packages/api/src/useCases/dto/reports/caseToDomesticViolenceReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.ts
  packages/api/src/useCases/dto/reports/caseToExceptionsReportDto.unit.test.ts
  packages/api/src/useCases/dto/reports/caseToWarrantsReportDto.ts
  packages/common/types/reports/Bails.ts
  packages/common/types/reports/DomesticViolence.ts
  packages/common/types/reports/Exceptions.ts
  packages/common/types/reports/Warrants.ts
  packages/ui/cypress/component/reports/ReportTableCell.cy.tsx
  packages/ui/cypress/component/reports/ReportTableRow.cy.tsx
  packages/ui/src/components/Reports/ReportTableCell.tsx
  packages/ui/src/components/Reports/ReportTableRow.tsx
Due: api-changes, common-changes, ui-changes

BICAWS7-4007 - Add audit case list (#1825)
  packages/api/src/services/db/audit/fetchAuditCases.ts
  packages/api/src/useCases/dto/convertAuditCaseToDto.ts
  packages/common/types/AuditCase.ts
  packages/ui/cypress/component/AuditCaseList/AuditCaseList.cy.tsx
  packages/ui/cypress/component/AuditCaseList/AuditCaseListTableHeader.cy.tsx
  packages/ui/cypress/component/AuditCaseList/AuditCaseRow.cy.tsx
  packages/ui/cypress/component/NotePreview.cy.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseList.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseListTableHeader.styles.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseListTableHeader.tsx
  packages/ui/src/features/AuditCaseList/AuditCaseRow.tsx
  packages/ui/src/features/CaseList/CaseListRow/AuditQualityCell.tsx
  packages/ui/src/features/CaseList/CaseListRow/NotePreviewButton.styles.tsx
  packages/ui/src/features/CaseList/CaseListRow/NotePreviewButton.tsx
  packages/ui/src/features/CaseList/CaseListRow/NotePreviewRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListEntry/CaseDetailsRow/CaseDetailsRow.tsx
  packages/ui/src/features/CourtCaseList/CourtCaseListTableHeader.tsx
  packages/ui/src/hooks/useColumnSorting.ts
Due: api-changes, common-changes, ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, conductor-changes, core-changes, e2e-test-changes, ui-changes, user-service-changes

Added test error message
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes

Add methods to API client
  packages/ui/src/services/api/BichardApiV1.test.ts
  packages/ui/src/services/api/BichardApiV1.ts
  packages/ui/src/services/api/interfaces/BichardApiGateway.ts
Due: ui-changes

WIP
  packages/core/lib/policeGateway/leds/mapToPoliceQueryResult.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/core/types/leds/AddDisposalRequest.ts
  packages/e2e-test/types/LedsTestApi/CourtCase.ts
  packages/e2e-test/types/LedsTestApi/OffenceDetails.ts
  packages/e2e-test/types/LedsTestApi/PersonDetails.ts
  packages/e2e-test/types/ParsedNcm.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToAddDisposalResult.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToCreateDisposalRequest.ts
Due: core-changes, e2e-test-changes

WIP
  packages/e2e-test/types/LedsTestApi/CourtCase.ts
  packages/e2e-test/types/LedsTestApi/LedsAsyncRequest.ts
  packages/e2e-test/types/LedsTestApi/OffenceDetails.ts
  packages/e2e-test/types/LedsTestApi/OffenceIdAndVersion.ts
  packages/e2e-test/types/LedsTestApi/PersonDetails.ts
  packages/e2e-test/types/LedsTestApi/Requests/AddOffenceRequest.ts
  packages/e2e-test/types/LedsTestApi/Requests/CreateArrestedPersonRequest.ts
  packages/e2e-test/types/LedsTestApi/Requests/Disposals.ts
  packages/e2e-test/types/ParsedNcm.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToAddOffenceRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToCreateArrestedPersonRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/mapToDisposalRequest.ts
Due: e2e-test-changes

WIP
  environment/mock-server/mock-server.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/convertLongAsnToLedsFormat.ts
  packages/core/lib/policeGateway/leds/endpoints.ts
  packages/core/phase3/lib/preProcessPncIdentifier.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/PncApi/PncApi.ts
  packages/e2e-test/utils/message.ts
Due: core-changes, e2e-test-changes

Refactor LedsTestApiHelper
  packages/e2e-test/types/LedsTestApiHelper/CourtCase.ts
  packages/e2e-test/types/LedsTestApiHelper/LedsAsyncRequest.ts
  packages/e2e-test/types/LedsTestApiHelper/OffenceDetails.ts
  packages/e2e-test/types/LedsTestApiHelper/OffenceIdAndVersion.ts
  packages/e2e-test/types/LedsTestApiHelper/PersonDetails.ts
  packages/e2e-test/types/LedsTestApiHelper/RequestOptions.ts
  packages/e2e-test/types/LedsTestApiHelper/Requests/AddOffenceRequest.ts
  packages/e2e-test/types/LedsTestApiHelper/Requests/CreateArrestedPersonRequest.ts
  packages/e2e-test/types/LedsTestApiHelper/Requests/Disposals.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/ApiError.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/addDisposalResults.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/mapToAddDisposalResult.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addOffence/addOffence.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addOffence/mapToAddOffenceRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/asyncRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/initiateRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/mapToResult.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/waitForResponse.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/createArrestedPerson/createArrestedPerson.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/createArrestedPerson/mapToCreateArrestedPersonRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/createDisposal/createDisposal.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/createDisposal/mapToCreateDisposalRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchArrestSummaries.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchFirstOffenceDetails.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchOffenceVersion.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/findDisposalsByAsn.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/generateHeaders.ts
Due: e2e-test-changes

Update LedsTestApiHelper to add fetch arrest summaries and disposals functions
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchArrestSummaries.ts
Due: e2e-test-changes

Update LEDS schemas and mappings
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/generateOffenceGroups.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/asnQueryResponse.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/core/types/leds/AddDisposalRequest.ts
  packages/core/types/leds/DisposalRequest.ts
  packages/e2e-test/types/LedsTestApiHelper/DisposalHistoryResponse.ts
  packages/e2e-test/types/LedsTestApiHelper/Requests/AddOffenceRequest.ts
  packages/e2e-test/types/LedsTestApiHelper/Requests/LedsAsyncRequest.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addOffence/mapToAddOffenceRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/initiateRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/mapToResult.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/waitForResponse.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchArrestSummaries.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchDisposalHistory.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/generateHeaders.ts
Due: core-changes, e2e-test-changes

Fix tests 500 and 502
  packages/e2e-test/features/500-carry-forward-for-existing-offence/input-message.xml
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/input-message.xml
  packages/e2e-test/features/502-carry-forward-for-both-existing-and-additional-offences/pnc-data.xml
Due: e2e-test-changes

Add preProcessOffenceCode
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/preProcessOffenceCode.test.ts
  packages/core/lib/policeGateway/leds/preProcessOffenceCode.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addOffence/mapToAddOffenceRequest.ts
Due: core-changes, e2e-test-changes

Refactor addMocksToLedsApi
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/addMockToLedsApi.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/index.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/mapNcmToArrestedPerson.ts
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/mapNcmToCourtCases.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/asyncRequest/initiateRequest.ts
Due: e2e-test-changes

Refactor mock-server for URL path comparison
  environment/mock-server/mock-server.ts
Due: none

Remove NODE_TLS_REJECT_UNAUTHORIZED
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: e2e-test-changes

Update types
  packages/e2e-test/types/LedsTestApiHelper/ArrestSummariesResponse.ts
  packages/e2e-test/types/PoliceData.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/LedsTestApiHelper.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/fetchArrestSummaries.ts
Due: e2e-test-changes

Update arresting officer name
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/createArrestedPerson/mapToCreateArrestedPersonRequest.ts
Due: e2e-test-changes

Fix mock data to use the correct ASN format
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
Due: e2e-test-changes

Remove checkname from LEDS schema
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/schemas/leds/addDisposalRequest.ts
  packages/core/schemas/leds/common.ts
  packages/core/schemas/leds/remandRequest.ts
  packages/core/schemas/leds/subsequentDisposalResultsRequest.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/addDisposalResults.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/addDisposalResults/mapToAddDisposalResult.ts
Due: core-changes, e2e-test-changes

Update Reason in LEDS request headers
  packages/core/lib/policeGateway/leds/generateRequestHeaders.ts
  packages/e2e-test/utils/LedsApi/helpers/LedsTestApiHelper/generateHeaders.ts
Due: core-changes, e2e-test-changes

Rename function to mergeOffenceDetails
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mergeOffenceDetails.ts
Due: core-changes

Add mergeOffenceDetails test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mergeOffenceDetails.test.ts
Due: core-changes

Add mapDisposalResult test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.ts
Due: core-changes

Update map offences to exclude plea and verdict if carried forward or referred to court case
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/shouldExcludePleaAndAdjudication.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
Due: core-changes

Tidy up ParsedNcm
  packages/e2e-test/types/ParsedNcm.ts
Due: e2e-test-changes

Add tests for carried forward and referred to court case
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
Due: core-changes

Add shouldExcludePleaAndAdjudication test
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/shouldExcludePleaAndAdjudication.test.ts
Due: core-changes

Add preProcessPersonUrn
  packages/core/lib/policeGateway/leds/preProcessPersonUrn.test.ts
  packages/core/lib/policeGateway/leds/preProcessPersonUrn.ts
  packages/core/phase3/lib/preProcessPncIdentifier.ts
Due: core-changes

Fix tests
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/__snapshots__/LedsGateway.test.ts.snap
  packages/core/lib/policeGateway/leds/__snapshots__/mapToPoliceQueryResult.test.ts.snap
  packages/core/lib/policeGateway/leds/convertAsnToLedsFormat.test.ts
  packages/core/lib/policeGateway/leds/convertAsnToLedsFormat.ts
  packages/core/lib/policeGateway/leds/convertLongAsnToLedsFormat.ts
  packages/core/lib/policeGateway/leds/endpoints.test.ts
  packages/core/lib/policeGateway/leds/generateRequestHeaders.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapAdditionalArrestOffences.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapOffences.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/parseDisposalQuantity.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
  packages/core/tests/fixtures/buildUpdatedRequest.ts
  packages/core/tests/fixtures/leds-asn-query-response-001.json
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQuery.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
Due: core-changes, e2e-test-changes

Update tests to use preProcessPersonUrn
  packages/core/lib/policeGateway/leds/LedsGateway.test.ts
  packages/core/lib/policeGateway/leds/LedsGateway.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.test.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapDisposalResult.ts
  packages/core/lib/policeGateway/leds/mapToAddDisposalRequest/mapToAddDisposalRequest.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToRemandRequest.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.test.ts
  packages/core/lib/policeGateway/leds/mapToSubsequentDisposalRequest/mapToSubsequentDisposalRequest.ts
  packages/core/lib/policeGateway/leds/processors/normalDisposal.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.test.ts
  packages/core/lib/policeGateway/leds/processors/remand.ts
  packages/core/lib/policeGateway/leds/processors/subsequentDisposal.test.ts
  packages/core/tests/fixtures/buildLedsNormalDisposalRequest.ts
  packages/core/tests/fixtures/buildPncUpdateDataset.ts
Due: core-changes

Update MockServer to exclude auth mocks and requests
  packages/e2e-test/utils/LedsApi/MockServer.ts
Due: e2e-test-changes

Add validation for the select dropdown
  packages/ui/src/features/ReportSelectionFilter/ReportSelectionFilter.tsx
Due: ui-changes
