Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Add tests for restricting cases by resolved status
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
Due: api-changes

Check user can access case
  packages/api/src/services/db/cases/checkUserCanAccessCase.ts
  packages/api/src/services/db/cases/fetchCase.ts
Due: api-changes

Fix typo
  packages/api/src/services/db/cases/checkUserCanAccessCase.ts
Due: api-changes

Added extra tests for roles
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
Due: api-changes

Added describe block
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
Due: api-changes

Add additional e2e tests
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Adjust tests
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Uncomment tests
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Fix format
  packages/api/src/services/db/cases/filters/exceptionsAndTriggers.ts
Due: api-changes

Add additional tests
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Correct tests
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Adjust API tests
  packages/api/src/useCases/cases/getCase/lockAndFetchCaseDto.integration.test.ts
Due: api-changes

Add supervisor test
  packages/api/src/services/db/cases/fetchCase.integration.test.ts
Due: api-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/audit/audit-case.api.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/view-case-details/view-pnc-details.cy.ts
Due: ui-changes

Move code into checkUserCanAccessCase.ts
  packages/api/src/services/db/cases/checkUserCanAccessCase.ts
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/filters/exceptionsAndTriggers.ts
Due: api-changes

Remove console.log
  packages/api/src/services/db/cases/fetchCase.ts
Due: api-changes

Remove errors to not confuse the test
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
Due: ui-changes

Fix e2e tests
  packages/api/src/routes/v1/cases/[caseId]/_caseId.e2e.test.ts
Due: api-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/exception-permissions.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/triggers/triggers-and-exceptions-tabs.cy.ts
  packages/ui/cypress/fixtures/canManuallyResolveAndSubmitTestData.json
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-location.cy.ts
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-asn/general.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-case-details.cy.ts
  packages/ui/cypress/e2e/case-details/view-case-details/view-headers.cy.ts
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/view-case-details/sidebar.cy.ts
  packages/ui/cypress/fixtures/users.ts
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/reallocate-case.cy.ts
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/view-case-details/result-qualifiers.cy.ts
Due: ui-changes

Fix e2e tests
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-date.cy.ts
  packages/ui/cypress/e2e/case-details/handle-triggers-and-exceptions/edit-fields-with-exceptions/edit-next-hearing-location.cy.ts
Due: ui-changes

Update npm dependencies
  package-lock.json
  packages/api/package.json
  packages/cli/package.json
  packages/common/package.json
  packages/conductor/package.json
  packages/core/package.json
  packages/e2e-test/package.json
  packages/message-forwarder/package.json
  packages/uat-data/package.json
  packages/ui/package.json
  packages/user-service/package.json
Due: api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, message-forwarder-changes, ui-changes, user-service-changes

Filter for trigger handlers
  packages/ui/src/services/filters/filterByUserAccess.ts
  packages/ui/src/services/getCourtCaseByOrganisationUnit.ts
Due: ui-changes

Remove console logs
  packages/ui/src/services/getCourtCaseByOrganisationUnit.ts
Due: ui-changes

Fix exception handler filtering
  packages/ui/src/services/filters/filterByUserAccess.ts
Due: ui-changes

Add tests for user roles
  packages/ui/test/services/getCourtCaseByOrganisationUnit.integration.test.ts
Due: ui-changes

Fix existing tests
  packages/ui/test/services/getCourtCaseByOrganisationUnit.integration.test.ts
Due: ui-changes

Correct inputs
  packages/ui/src/services/filters/filterByUserAccess.ts
Due: ui-changes

Correct tests
  packages/ui/test/services/resolveTriggers.integration.test.ts
Due: ui-changes

Remove timeout
  packages/ui/test/services/resolveTriggers.integration.test.ts
Due: ui-changes

Correct tests
  packages/ui/test/services/reallocateCourtCase/reallocateCourtCaseToForce.integration.test.ts
Due: ui-changes

Correct tests
  packages/ui/test/services/lockCourtCase.integration.test.ts
  packages/ui/test/services/resolveCourtCase.integration.test.ts
  packages/ui/test/services/resubmitCourtCase.integration.test.ts
  packages/ui/test/services/unlockCourtCase.integration.test.ts
Due: ui-changes

Rename function
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/filterByUserAccess.ts
Due: api-changes

Rename function
  packages/api/src/services/db/cases/fetchCase.ts
  packages/api/src/services/db/cases/filters/userAccess.ts
Due: api-changes

Wrap beforeEach promises in Promise.all to avoid timeouts
  packages/ui/test/services/resolveTriggers.integration.test.ts
Due: ui-changes
