Repository ministryofjustice/bichard7-next-core: changes, and which CircleCI parameters are due for each by the changed paths.
All: circleci-changes, api-changes, common-changes, conductor-changes, core-changes, e2e-test-changes, characterisation-test-changes, message-forwarder-changes, ui-changes, user-service-changes

.circleci/config.yml:

version: 2.1

# This allows you to use CircleCI's dynamic configuration feature.
setup: true

orbs:
  path-filtering: circleci/path-filtering@3.0.0
  continuation: circleci/continuation@2.0.1

parameters:
  base-revision:
    type: string
    default: "main"
  output-path:
    type: string
    default: "/tmp/pipeline-parameters.json"

jobs:
  set_parameters:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - path-filtering/set-parameters:
          mapping: |
            .circleci/.* circleci-changes true
            packages/api/.* api-changes true
            packages/common/.* common-changes true
            packages/conductor/.* conductor-changes true
            packages/core/.* core-changes true
            packages/e2e-test/.* e2e-test-changes true
            packages/core/characterisation-tests.* characterisation-test-changes true
            packages/message-forwarder/.* message-forwarder-changes true
            packages/ui/.* ui-changes true
            packages/user-service/.* user-service-changes true
      - run:
          name: Scan parameters and enable Docker layer caching (DLC)
          command: |
            # To reduce DLC costs, DLC parameter is only set when the job requiring it actually needs it.
            # This reduces the cost of the no-op jobs
            if grep -E "circleci-changes|api-changes|conductor-changes|core-changes|e2e-test-changes|message-forwarder-changes|ui-changes|user-service-changes" << pipeline.parameters.output-path >>; then
              echo "Changes that use DLC has been found, adding the docker-layer-caching parameter to the parameters file..."
              params=$(cat << pipeline.parameters.output-path >> )
              updated_param_file=$(jq -n --argjson a "$params" --argjson b '{"'"docker-layer-caching"'":true}' '$a + $b')
              echo "$updated_param_file" > << pipeline.parameters.output-path >>
            else
              echo "No changes that need DLC were found, continuing..."
            fi
      - continuation/continue:
          configuration_path: .circleci/continue_config.yml
          parameters: << pipeline.parameters.output-path >>

workflows:
  always-run:
    jobs:
      - set_parameters

Boot up flaky containers first
  .circleci/scripts/run-infrastructure.sh
Due: circleci-changes

Shorter timeout for PNC in CI
  environment/docker-compose.ci.yml
Due: none

Be more aggressive with the healthcheck
  environment/docker-compose.ci.yml
Due: none

Do the same with beanconnect
  environment/docker-compose.ci.yml
Due: none

Add branch tag to conductor worker (#2017)
  .circleci/continue_config.yml
  environment/docker-compose-worker.yml
Due: circleci-changes

Boot up flaky PNC and Beanconnect in CI first (#2018)
  .circleci/scripts/run-infrastructure.sh
  environment/docker-compose.ci.yml
Due: circleci-changes

Fallback to org code when no court name can be found, date range fix
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/utils.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
  packages/ui/src/utils/reports/dateRange.ts
  packages/ui/test/test-data/NextHearingLocationExceptions.json
Due: api-changes, ui-changes

Updated date range test to include 1st of last month and 1st of historic month cases
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
Due: ui-changes

Reverted date changes, fixed 1st of month test edge case
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/utils/reports/dateRange.ts
Due: ui-changes

mid-month date range test fix
  packages/ui/src/utils/reports/validateDateRange.test.ts
Due: ui-changes

chore(fix ui): resolve flaky date range test caused by month boundary math
  packages/ui/src/utils/reports/validateDateRange.test.ts
Due: ui-changes

Date range test updated to use current date rather than fixed date
  packages/ui/src/utils/reports/validateDateRange.test.ts
Due: ui-changes

Bicaws7 4280 api the next court appearance is just the code (#2015)
  packages/api/src/useCases/cases/reports/utils/formatOffenceData.ts
  packages/common/utils/searchCourtOrganisationUnits.test.ts
  packages/common/utils/searchCourtOrganisationUnits.ts
  packages/ui/cypress/component/reports/FilterDateRangeSection.cy.tsx
  packages/ui/cypress/e2e/reports/bails.api.cy.ts
  packages/ui/cypress/e2e/reports/utils.ts
  packages/ui/cypress/e2e/reports/warrants.api.cy.ts
  packages/ui/src/features/ReportSelectionFilter/DateRange.tsx
  packages/ui/src/pages/api/organisation-units.ts
  packages/ui/src/utils/reports/dateRange.ts
  packages/ui/src/utils/reports/validateDateRange.test.ts
  packages/ui/test/test-data/AnnotatedHOTemplate.xml
  packages/ui/test/test-data/NextHearingLocationExceptions.json
Due: api-changes, common-changes, ui-changes

refactor: Removed "SERIALIZABLE" isolation level from the database transaction
  package-lock.json
  packages/ui/src/services/reallocateCourtCase/reallocateCourtCaseToForce.ts
Due: ui-changes

refactor: Remove SERIALIZABLE from resolveTriggers as this is too strict
  packages/ui/src/services/resolveTriggers.ts
Due: ui-changes

refactor: removed retryTransaction function to call the function directly
  packages/ui/src/services/resolveCourtCase.ts
Due: ui-changes

Update base images for audit log api in CI
  .circleci/continue_config.yml
Due: circleci-changes

Update base images for audit log api in CI (#2021)
  .circleci/continue_config.yml
Due: circleci-changes

BICAWS7-4181 - [API] Refactor transaction isolation level (#2019)
  packages/core/conductor-tasks/resubmit/check_db.ts
  packages/core/conductor-tasks/resubmit/process_resubmit.ts
Due: core-changes

Add more LEDS test data
  packages/e2e-test/features/003-stop-list/police-data.after.json
  packages/e2e-test/features/003-stop-list/police-data.before.json
  packages/e2e-test/features/006-judgement-final-result/police-data.after.json
  packages/e2e-test/features/006-judgement-final-result/police-data.before.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.after.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.before.json
  packages/e2e-test/features/014-no-offences-match/police-data.after.json
  packages/e2e-test/features/014-no-offences-match/police-data.before.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.after.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.before.json
  packages/e2e-test/features/019-identical_results_update/police-data.after.json
  packages/e2e-test/features/019-identical_results_update/police-data.before.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.after.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.before.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.after.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.before.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.after.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.before.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.after.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.before.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.before.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.before.json
  packages/e2e-test/features/036-penalty-points/police-data.after.json
  packages/e2e-test/features/036-penalty-points/police-data.before.json
  packages/e2e-test/features/043-dated-warrant/police-data.after.json
  packages/e2e-test/features/043-dated-warrant/police-data.before.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.after.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.before.json
  packages/e2e-test/features/047-result-text-population/police-data.after.json
  packages/e2e-test/features/047-result-text-population/police-data.before.json
  packages/e2e-test/features/048-sentence-dates/police-data.after.json
  packages/e2e-test/features/048-sentence-dates/police-data.before.json
  packages/e2e-test/features/049-curfew-orders/police-data.after.json
  packages/e2e-test/features/049-curfew-orders/police-data.before.json
  packages/e2e-test/features/050-yz-force/police-data.after.json
  packages/e2e-test/features/050-yz-force/police-data.before.json
Due: e2e-test-changes

Add more LEDS tests
  packages/e2e-test/features/040-user-performance-report/test.feature
  packages/e2e-test/features/054-duration-unit-session/police-data.after.json
  packages/e2e-test/features/054-duration-unit-session/police-data.before.json
  packages/e2e-test/features/057-judgement-with-final-result/police-data.after.json
  packages/e2e-test/features/057-judgement-with-final-result/police-data.before.json
  packages/e2e-test/features/058-next-hearing-court/police-data.after.json
  packages/e2e-test/features/058-next-hearing-court/police-data.before.json
  packages/e2e-test/features/065-rcc-segment/police-data.after.json
  packages/e2e-test/features/065-rcc-segment/police-data.before.json
  packages/e2e-test/features/068-three-ccr-groups/test.feature
  packages/e2e-test/features/069-more-than-three-ccr-groups/input-message.xml
  packages/e2e-test/features/069-more-than-three-ccr-groups/mock-pnc-responses.ts
  packages/e2e-test/features/069-more-than-three-ccr-groups/pnc-data.xml
  packages/e2e-test/features/069-more-than-three-ccr-groups/police-data.after.json
  packages/e2e-test/features/069-more-than-three-ccr-groups/police-data.before.json
  packages/e2e-test/features/069-more-than-three-ccr-groups/test.feature
Due: e2e-test-changes

Format json files
  packages/e2e-test/features/003-stop-list/police-data.after.json
  packages/e2e-test/features/003-stop-list/police-data.before.json
  packages/e2e-test/features/006-judgement-final-result/police-data.after.json
  packages/e2e-test/features/006-judgement-final-result/police-data.before.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.after.json
  packages/e2e-test/features/013-extra-offence-on-pnc/police-data.before.json
  packages/e2e-test/features/014-no-offences-match/police-data.after.json
  packages/e2e-test/features/014-no-offences-match/police-data.before.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.after.json
  packages/e2e-test/features/018-results-already-on-pnc/police-data.before.json
  packages/e2e-test/features/019-identical_results_update/police-data.after.json
  packages/e2e-test/features/019-identical_results_update/police-data.before.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.after.json
  packages/e2e-test/features/021-mismatch-between-offences/police-data.before.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.after.json
  packages/e2e-test/features/027-orphaned-non-recordable/police-data.before.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.after.json
  packages/e2e-test/features/029-drive-disqualification-duration-only/police-data.before.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.after.json
  packages/e2e-test/features/032-offences-taken-into-consideration/police-data.before.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034a-valid-asn-format/police-data.before.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.after.json
  packages/e2e-test/features/034b-valid-asn-format/police-data.before.json
  packages/e2e-test/features/036-penalty-points/police-data.after.json
  packages/e2e-test/features/036-penalty-points/police-data.before.json
  packages/e2e-test/features/043-dated-warrant/police-data.after.json
  packages/e2e-test/features/043-dated-warrant/police-data.before.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.after.json
  packages/e2e-test/features/044-fta-undated-warrant/police-data.before.json
  packages/e2e-test/features/047-result-text-population/police-data.after.json
  packages/e2e-test/features/047-result-text-population/police-data.before.json
  packages/e2e-test/features/048-sentence-dates/police-data.after.json
  packages/e2e-test/features/048-sentence-dates/police-data.before.json
  packages/e2e-test/features/049-curfew-orders/police-data.after.json
  packages/e2e-test/features/049-curfew-orders/police-data.before.json
  packages/e2e-test/features/050-yz-force/police-data.after.json
  packages/e2e-test/features/050-yz-force/police-data.before.json
Due: e2e-test-changes

Convert remaining XMLs to JSONs
  packages/e2e-test/features/113b-1508-pnc-error/mock-pnc-responses.ts
  packages/e2e-test/features/441-phase-2-resubmission/mock-pnc-responses.ts
  packages/e2e-test/features/442-phase-2-reallocation/mock-pnc-responses.ts
  packages/e2e-test/types/MockErrorResponse.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
  packages/e2e-test/utils/PncApi/mockGenerators/generateUpdate.ts
  packages/e2e-test/utils/converters/convertMockJsonToLeds/convertMockUpdateResponseToLeds.ts
  packages/e2e-test/utils/converters/convertPncJsonToLeds/convertPncUpdateResponseToLeds.ts
Due: e2e-test-changes

Fix typo on a tag to exclude running against pnc
  packages/e2e-test/features/142a-trigger-reallocation/test.feature
Due: e2e-test-changes

Use court code when mapping spi to court cases
  packages/e2e-test/utils/LedsApi/addMocksToLedsApi/mapSpiToCourtCases.ts
Due: e2e-test-changes

Update LEDS tests against mock API to support multiple court cases
  packages/e2e-test/features/069-more-than-three-ccr-groups/mock-pnc-responses.ts
  packages/e2e-test/types/LedsMock.ts
  packages/e2e-test/types/PncMock.ts
  packages/e2e-test/types/PoliceApi.ts
  packages/e2e-test/utils/LedsApi/LedsApi.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateAsnQueryFromNcm.ts
  packages/e2e-test/utils/LedsApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Fix personUrn
  packages/e2e-test/features/142a-trigger-reallocation/mock-pnc-responses.ts
Due: e2e-test-changes

Fix test 115 before and after data
  packages/e2e-test/features/115-withdrawn-dismissed-offences/police-data.after.json
  packages/e2e-test/features/115-withdrawn-dismissed-offences/police-data.before.json
Due: e2e-test-changes

Update test features
  packages/e2e-test/features/041-trigger-report/test.feature
  packages/e2e-test/features/142-trigger-reallocation/test.feature
  packages/e2e-test/features/142a-trigger-reallocation/test.feature
Due: e2e-test-changes

Remove temporary debug delay from tests
  packages/e2e-test/features/142a-trigger-reallocation/test.feature
Due: e2e-test-changes

Update test 149a to use json format
  packages/e2e-test/features/149a-pnc-force-owner/mock-pnc-responses.ts
Due: e2e-test-changes

Replace xml with JSON and remove optional expectedRequest field from mockUpdate
  packages/e2e-test/features/113b-1508-pnc-error/mock-pnc-responses.ts
  packages/e2e-test/features/142a-trigger-reallocation/mock-pnc-responses.ts
  packages/e2e-test/features/441-phase-2-resubmission/mock-pnc-responses.ts
  packages/e2e-test/features/442-phase-2-reallocation/mock-pnc-responses.ts
Due: e2e-test-changes

Fix GMH and GMT mapping
  packages/e2e-test/utils/PncApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Add temporary logs
  packages/e2e-test/features/209-court-offence-not-added-to-pnc/test.feature
  packages/e2e-test/utils/PncApi/checkMocks.ts
Due: e2e-test-changes

Change wait to 8 seconds to observe circle ci behavior
  packages/e2e-test/features/209-court-offence-not-added-to-pnc/test.feature
Due: e2e-test-changes

Extract out generating response in a separate function
  packages/e2e-test/utils/PncApi/generateResponse.ts
  packages/e2e-test/utils/PncApi/mockGenerators/generateUpdate.ts
Due: e2e-test-changes

Remove waiting
  packages/e2e-test/features/209-court-offence-not-added-to-pnc/test.feature
Due: e2e-test-changes
